.triplet {
  padding: 20px 0;
  &__title {
    max-height: 59px;
  }

  &__title-link {
    color: $color-black;
    font-weight: 700;
    font-size: 15px;
  }
  &__link {
    color: $color-primary;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
  &__item {
    border: 0;
    padding-bottom: 0;
    @media (--only-mobile) {
      flex-direction: row-reverse;
    }
    &--right {
      .triplet__information {
        @media (--only-mobile) {
          padding-right: 0;
        }
      }
    }
  }
  &__multimedia {
    width: 98px;
    height: 98px;
  }
  &__information {
    @media (--only-mobile) {
      padding-left: 10px;
    }
    max-width: calc(100% - 98px);
  }
  &__icon {
    background-image: url(/pf/resources/dist/trome/images/rgba70.png);
    border-radius: 10px;
    top: calc(100% - 141px);
    color: $color-gray-300;
    bottom: inherit;
    right: 10px;
    top: 10px;
    pointer-events: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: inherit;
    transform: none;
  }
}
