.layout__basic {
    display: grid;
    grid-template-areas: 
        'nav nav nav'
        'header header header'
        'zocalo-left content zocalo-right'
        'footer footer footer';
    grid-template-columns: 180px 1fr 180px;
}