// TODO: no se esta usando, borrar
.text-editor-container {
  background-color: #e8f2f7;

  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  li {
    padding: 5px 0;
    margin-left: 20px;
  }

  &__arrow {
    left: 50%;
    margin-left: -21px;
    border-width: 24px 21px 0 21px;
    border-color: $color-white transparent transparent transparent;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18.72px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 13.28px;
  }

  h6 {
    font-size: 12px;
  }
}
