.featured-premium {
  padding: 10px;
  display: flex;
  flex-direction: column;
  &--white {
    background-color: white;
  }
  &--gray {
    background-color: $color-gray-100;
  }
  &--transparent {
    background-color: transparent;
  }
  &__left {
    padding: 20px;
  }
  &__section {
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    a {
      color: $color-gray-200;
    }
  }
  &__title {
    color: $color-gray-300;
    text-align: center;
    font-size: 20px;
    margin-top: 4px;
    font-weight: 600;
    display: block;
  }
  &__detail {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.2;
  }
  &__read {
    text-decoration: underline;
    color: $color-gray-300;
  }
  &__author {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    color: $color-gray-200;
    display: block;
  }
  &__box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  &__section-small {
    display: none;
  }
  &__icon-image {
    width: 55px;
  }
  &__right {
    position: relative;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    pointer-events: none;
  }
  &[class*=' col-1'] {
    flex-direction: column;
  }
  &[class*=' col-2'] {
    flex-direction: column;
    @media (--desktop) {
      flex-direction: row;
    }
    .featured-premium__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (--desktop) {
        width: calc(50% + 10px);
      }
    }
    .featured-premium__right {
      width: 100%;
      @media (--desktop) {
        width: calc(50% - 10px);
      }
    }
    .featured-premium__icon {
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
  &[class*=' row-2'] {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 374px;
    @media (--desktop) {
      height: 768px;
    }
    .featured-premium__left {
      width: 90%;
      margin: 0 auto;
      height: 100%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .featured-premium__right {
      height: 157px;
      width: 100%;
      @media (--desktop) {
        height: 374px;
      }
    }
    .featured-premium__section {
      @media (--desktop) {
        font-size: 38px;
      }
    }
    .featured-premium__title {
      @media (--desktop) {
        font-size: 38px;
      }
    }
    .featured-premium__detail {
      @media (--desktop) {
        font-size: 18px;
        line-height: 1.3;
      }
    }
    .featured-premium__icon {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 55px;
    }
  }

  &--card {
    padding: 0;
    height: 374px;
    flex-direction: column;
    .featured-premium__left {
      padding: 10px;
      padding-bottom: 0;
      height: calc(100% - 157px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .featured-premium__section {
      display: none;
    }
    .featured-premium__title {
      text-align: left;
      font-size: 24px;
    }
    .featured-premium__detail {
      display: none;
    }
    .featured-premium__author {
      text-align: left;
      padding-left: 5px;
    }
    .featured-premium__box-icon {
      justify-content: space-between;
      padding: 10px 5px;
      position: relative;
      border-top: solid 1px $color-base-300;
      margin-top: 10px;
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: -10px;
        width: 10px;
        height: 1px;
        background-color: $color-base-300;
      }
      &::after {
        content: '';
        position: absolute;
        top: -1px;
        right: -10px;
        width: 10px;
        height: 1px;
        background-color: $color-base-300;
      }
    }
    .featured-premium__section-small {
      display: block;
      color: $color-base-300;
    }
    .featured-premium__right {
      height: 157px;
    }
  }
}
