@charset "UTF-8";

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/Roboto-Regular.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/Roboto-Regular.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/roboto-v20-latin-500.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/roboto-v20-latin-500.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/Roboto-Bold.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/Roboto-Bold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

// @font-face {
//   font-family: "Encode Sans";
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
//   src: local("Encode Sans"), local("Encode-Sans"),
//     url("https://cdna.trome.pe/resources/dist/trome/fonts/EncodeSans-Regular.woff2") format("woff2"),
//     url("https://cdna.trome.pe/resources/dist/trome/fonts/EncodeSans-Regular.woff") format("woff");
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
//     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
//     U+FEFF, U+FFFD;
// }

// @font-face {
//   font-family: "Encode Sans";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
//   src: local("Encode Sans"), local("Encode-Sans"),
//     url("https://cdna.trome.pe/resources/dist/trome/fonts/EncodeSans-Bold.woff2") format("woff2"),
//     url("https://cdna.trome.pe/resources/dist/trome/fonts/EncodeSans-Bold.woff") format("woff");
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
//     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
//     U+FEFF, U+FFFD;
// }

// @font-face {
//   font-family: "Encode Sans";
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
//   src: local("Encode Sans"), local("Encode-Sans"),
//     url("https://cdna.trome.pe/resources/dist/trome/fonts/EncodeSans-Light.woff2") format("woff2"),
//     url("https://cdna.trome.pe/resources/dist/trome/fonts/EncodeSans-Light.woff") format("woff");
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
//     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
//     U+FEFF, U+FFFD;
// }

@font-face {
  font-family: "Encode Sans Condensed";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Encode Sans Condensed"), local("Encode Sans Condensed"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/encode-sans-condensed-v5-latin-600.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/encode-sans-condensed-v5-latin-600.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Encode Sans Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Encode Sans Condensed"), local("Encode Sans Condensed"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/encode-sans-condensed-v5-latin-700.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/encode-sans-condensed-v5-latin-700.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Fira Sans"), local("Fira-Sans"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-Regular.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-Regular.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Fira Sans"), local("Fira-Sans"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-Bold.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-Bold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Fira Sans"), local("Fira-Sans"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-ExtraBold.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-ExtraBold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("Fira Sans"), local("Fira-Sans"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-Black.woff2")
      format("woff2"),
    url("https://cdna.trome.pe/resources/dist/trome/fonts/FiraSans-Black.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
