.story-continue {
  &__story-load-link {
    display: block;
    margin-bottom: 30px;
  }
  &__story-load {
  }
  &__story-load-image {
    background-image: url(https://assets.gestion.pe/img/ges_badge2.png);
    width: 32px;
    height: 36px;
    z-index: 9;
    top: 32px;
    left: 34px;
  }

  &__circlePercent {
  }

  &__counter {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  &__progress {
    background: linear-gradient(to bottom, #adadad 0, white 100%);
    transform-origin: 50px 50px;
    width: 50px;
    height: 100px;
    border-radius: 50px 0 0 50px;
  }
  &__story-load-news {
    width: 300px;
    left: 120px;
    top: 27px;
    font-weight: 400;
  }
}
