.story-contents {
  border-bottom: 1px solid $border-color-gray;

  &__blockquote {
    position: relative;
    background-color: #f5f5f5;
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: calc(100% - 40px);
      background-color: #1d75c9;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 24px;
    }
  }
  &__time {
    display: block;
    line-height: 18px;
    width: 100%;
    text-align: right;
    color: #444;
    @media (--only-mobile) {
      text-align: left;
    }
  }
  &__link {
    color: #747a84;
  }
  &__font-paragraph {
    color: #343434;
    & a {
      color: #306d95;
      text-decoration: underline;
    }
    @media (--desktop) {
      font-size: 20px;
    }
    & b {
      font-weight: bold;
    }
  }

  &__tag-link {
    color: $color-gray-200;
  }

  &__visual--image {
    @media print {
      width: 815px;
    }
  }

  &__p-default {
    background-color: #000;
    height: 157px;
    @media (--desktop) {
      height: 345px;
    }
  }

  &__lL-video,
  &__lL-iframe {
    padding-top: 20px;
  }
  & * iframe {
    width: 100%;
  }

  .pquote {
    background: none;

    &__text {
      font-style: italic;
      color: #469bc6;
      padding: 15px;
      font-size: 1.3rem;
    }

    &::first-letter {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  /* Esto es importante definirlo por los scripts de Opta */
  &__content > section {
    width: 100%;
    & > h1 {
      font-size: 2em;
    }
    & > h2 {
      font-size: 24px;
      padding-bottom: 4px;
    }
    & > h3 {
      font-size: 1.601em;
    }
    & > h4 {
      font-size: 1.379em;
    }
    & > h5 {
      font-size: 1.25em;
    }
    & > h6 {
      font-size: 1.188em;
    }
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      font-family: $tertiary-font;
      font-weight: bold;
      line-height: 1.3;
    }
  }

  /* ----------------------------------------------------- */
  &__content {
    // contain: content;
    padding-top: 5px;
  }

  &__font-paragraph,
  &__content {
    word-wrap: break-word;
  }

  &__image {
    & figcaption {
      padding: 14px 0;
      font-size: 13px;
      color: $color-gray-200;
    }
  }

  &__icon-list {
    margin-right: -49px;
  }

  &__caption {
    border-bottom: 1px solid #ddd;
    color: #888;

    & > span {
      display: none;
    }
  }

  /* Para arreglar estilos en o-embed */

  &__embed {
    padding-bottom: 20px;
    .twitter-tweet {
      width: 100% !important;
    }

    .instagram-media {
      min-width: 0 !important;
      max-width: 500px !important;
    }

    [src*="youtube"] {
      width: 100% !important;
      margin: 20px 0;
    }

    .fb-post {
      width: 100% !important;
      max-width: 500px;

      & > span {
        width: 100% !important;

        & > [src*="facebook"] {
          width: 100% !important;

          & > [data-testid*="newsFeedStream"] {
            width: 100% !important;
          }
        }
      }
    }

    & img {
      width: 100%;
    }
  }

  &__link:hover {
    text-decoration: none;
  }

  &__list-more {
    width: 80px;
    right: 50px;
    box-shadow: 2px 6px 7px rgba(25, 57, 22, 0.2);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      border: 0;
      box-shadow: 4px -1px 3px rgba(25, 57, 22, 0.2);
      background-color: $color-white;
      transform: rotate(45deg);
      z-index: -1;
      right: -6px;
      top: calc(50% - 8px);
    }
    .story-contents__item {
      margin-bottom: 0;
    }
  }

  &__tags-link {
    font-size: 14px;
  }

  &__more-link {
    &:hover {
      text-decoration: none;
    }

    .icon-facebook-circle {
      color: #3b5998;
    }

    .icon-twitter-circle {
      color: #00acee;
    }
  }
  & li {
    & a {
      color: #306d95;
      b {
        font-family: $tertiary-font;
      }
    }

    @media (--tablet) {
      font-size: 18px;
    }
    @media (--desktop) {
      font-size: 20px;
    }
  }

  &__paragraph-list {
    & li a {
      color: #306d95;
      text-decoration: underline;
    }
  }

  & ul.story-contents__paragraph-list {
    list-style-type: disc;
  }

  & ol.story-contents__paragraph-list {
    list-style-type: decimal;
  }

  &__alignment-center {
    text-align: center;
  }
  &__alignment-left {
    text-align: left;
  }
  &__alignment-right {
    text-align: right;
  }
  &__social {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    & .st-social__share {
      float: right;
    }
  }
  &__customblock {
    &__backstory {
      font-size: 18px;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &__title {
        display: inline-block;
        background-color: #000;
        font-size: 24px;
        color: #fff;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }
}

.bbc-head {
  padding-top: 1em;
  & img {
    width: 100%;
  }
}

.banner-bbc-footer {
  display: block;
  overflow: hidden;
  img {
    width: auto;
    height: 42px;
  }
}

.story-content {
  &__embed {
    padding-bottom: 20px;
  }

  &__interstitial-link {
    font: 700 $font-md/1.5 "Libre Franklin", sans-serif;
    color: #4a88b1;
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;

    &::before {
      color: #000;
      content: "[";
      margin-right: 4px;
    }
    &::after {
      color: #000;
      content: "]";
      margin-left: 4px;
    }
  }

  &__correction {
    font-size: 0.8rem;
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    font-style: italic;
    padding: 10px 0;
    margin: 10px 0;

    &__title {
      font-weight: 700;
      font-size: 0.9rem;
    }
  }

  &__stamp-trust {
    background: #f3f3f3;
    @media (--only-mobile) {
      text-align: center;
    }

    &__link {
      background: #ededed;
      color: #2e6d9d;
      vertical-align: middle;
      @media (--only-mobile) {
        width: 100%;
      }
    }
  }
  &__link-list {
    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
    position: relative;
    padding: 20px;
    margin: 20px 20px 20px 0;

    &-item {
      display: flex;
      margin-top: 20px;
    }
    &-figure {
      width: 96px;
      height: 64px;
    }
    &-title {
      font-family: $secondary-font;
      font-size: 16px;
      margin-bottom: 20px;
      &-link {
        font-size: 15px;
        font-weight: 700;
        text-decoration: underline;
        overflow: hidden;
        @media (--desktop) {
          font-size: 17px;
        }

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 20px;
        height: 62px;
      }
    }
    &-information {
      padding: 0 0 0 20px;
      @media (--tablet) {
        padding: 0 10px 0 20px;
      }
    }
  }
}
.overflow-hidden {
  overflow: hidden;
}
