.story-continue {
  &__story-load-image {
    background-image: url(/pf/resources/dist/ojo/images/loader.png);
    width: 53px;
    height: 37px;
    background-size: cover;
  }
  &__counter {
    &::after {
      background: $color-white;
    }
  }
  &__progress {
    background: linear-gradient(to bottom, $color-primary 0, $color-white 100%);
  }
  &__story-load-image {
    top: 33px;
    left: 26px;
  }
}
