$img-max-height: 355px;

@mixin topMultimedia() {
  & .extraordinary-story__group-content {
    order: 2;
  }

  & .extraordinary-story__multimedia {
    order: 1;
  }
}

@mixin bottomMultimedia() {
  & .extraordinary-story__group-content {
    order: 1;
  }

  & .extraordinary-story__multimedia {
    order: 2;
  }
}

.extraordinary-story {
  flex-direction: column;

  &--bottom {
    @include bottomMultimedia();
  }

  &--top {
    @include topMultimedia();
  }

  &--left {
    @media (--desktop) {
      & .extraordinary-story__group-content {
        min-width: 60%;
        width: 60%;
      }

      flex-direction: row;
    }

    @include topMultimedia();
  }

  &--right {
    @media (--desktop) {
      & .extraordinary-story__group-content {
        min-width: 60%;
        width: 60%;
      }

      flex-direction: row;
    }

    @include bottomMultimedia();
  }

  /* &__group-content {
  }

  &__section {
  } */

  &__title {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &__subtitle {
    -webkit-line-clamp: 3;
    max-height: 69px;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
  }

  &--oneline {
    -webkit-line-clamp: 1;
    max-height: 45px;
  }

  &--twoline {
    -webkit-line-clamp: 2;
    max-height: 77px;
  }

  &--threeline {
    -webkit-line-clamp: 3;
    max-height: 145px;
  }

  &__multimedia {
    @media (--desktop) {
      height: $img-max-height;
    }

    & .powa {
      @media (--tablet) {
        height: $img-max-height;
        padding-bottom: 0 !important;
      }
    }

    & .embed-multimedia-image {
      max-height: $img-max-height;
    }
    .powa-shot-play-icon,
    .powa-shot-loading-icon {
      font-family: 'icomoon';
      background: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
    .powa-shot-play-icon {
      &::before {
        content: '\e906';
      }
      &:hover {
        color: $color-white;
      }
    }
    .powa-shot-loading-icon {
      &::before {
        content: '\e917';
      }
      &:hover {
        color: $color-white;
      }
    }
  }

  .youtube-iframe {
    height: 50vw;
    max-height: $img-max-height;
  }

  // &__author {}
}
