$img-max-height: 355px;

.extraordinary-story {
  /*   grid-template-columns: 1fr 1fr; */
  flex-direction: column;

  &--bottom {
    & .extraordinary-story__section{
      order: 1;
    }

    & .extraordinary-story__content{
      order: 2;
    }

    & .extraordinary-story__multimedia{
      order: 3;
    }
  }

  &--top {
    & .extraordinary-story__multimedia{
      order: 1;
    }

    & .extraordinary-story__section{
      order: 2;
    }

    & .extraordinary-story__content{
      order: 3;
    }
  }

  &--left {
    // @include topMultimedia();

    /* @media (--desktop) {
      grid-template-areas:
        'extraordinary-story-multimedia extraordinary-story-section'
        'extraordinary-story-multimedia extraordinary-story-content';
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 40%;
    }*/
  }

  &--right {
    // @include bottomMultimedia();

    @media (--desktop) {
      /*grid-template-areas:
        'extraordinary-story-section extraordinary-story-multimedia'
        'extraordinary-story-content extraordinary-story-multimedia';
      grid-template-rows: auto 1fr;
      grid-template-columns: 40% 1fr;*/
    }
  }

  &__section {
    // grid-area: extraordinary-story-section;
  }

  &__title {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &__subtitle {
    -webkit-line-clamp: 3;
    max-height: 70px;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
  }

  &--oneline {
    -webkit-line-clamp: 1;
    max-height: 45px;
  }

  &--twoline {
    -webkit-line-clamp: 2;
    max-height: 77px;
  }

  &--threeline {
    -webkit-line-clamp: 3;
    max-height: 145px;
  }

  &__multimedia {
    /*grid-area: extraordinary-story-multimedia;
    max-height: $img-max-height;*/

    @media (--desktop) {
      height: $img-max-height;
    }

    & .powa {
      @media (--tablet) {
        height: $img-max-height;
        padding-bottom: 0 !important;
      }
    }
  }

  .youtube-iframe {
    height: 50vw;
    max-height: $img-max-height;
  }

  &__author {
    @media (--desktop) {
      position: absolute;
      bottom: 0;
      left: 20px;
    }
  }
}
