// apertura-extraordinaria
@mixin topMultimedia() {
  grid-template-areas:
    'extraordinary-story-multimedia extraordinary-story-multimedia'
    'extraordinary-story-section extraordinary-story-section'
    'extraordinary-story-content extraordinary-story-content';
}

@mixin bottomMultimedia() {
  grid-template-areas:
    'extraordinary-story-section extraordinary-story-section'
    'extraordinary-story-content extraordinary-story-content'
    'extraordinary-story-multimedia extraordinary-story-multimedia';
}

.extraordinary-story {
  grid-template-columns: 1fr 1fr;
  border-color: $color-gray-200;
  // border-style: solid;
  // border-width: 5px 7px;
  // grid-gap: 10px;

  a {
    color: inherit;
  }

  &--bottom {
    @include bottomMultimedia();
  }

  &--top {
    @include topMultimedia();
  }

  &--left {
    @include topMultimedia();

    @media (--desktop) {
      grid-template-areas:
        'extraordinary-story-multimedia extraordinary-story-section'
        'extraordinary-story-multimedia extraordinary-story-content';
      grid-template-rows: auto 1fr;
    }

    img {
      height: 100%;
    }
  }

  &--right {
    @include bottomMultimedia();

    @media (--desktop) {
      grid-template-areas:
        'extraordinary-story-section extraordinary-story-multimedia'
        'extraordinary-story-content extraordinary-story-multimedia';
      grid-template-rows: auto 1fr;
    }

    img {
      height: 100%;
    }
  }

  &__section {
    padding: 8px;
    grid-area: extraordinary-story-section;
    //height: 15px;
  }

  &__content {
    grid-area: extraordinary-story-content;
    display: inline-grid;
    align-content: space-evenly;
    //vertical center
    //align-items: center;
  }

  &__title {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &-oneline {
    -webkit-line-clamp: 1;
    max-height: 45px;
  }

  &-twoline {
    -webkit-line-clamp: 2;
    max-height: 95px;
  }

  &-threeline {
    -webkit-line-clamp: 3;
    max-height: 145px;
  }

  &__multimedia {
    grid-area: extraordinary-story-multimedia;

    .youtube-iframe {
      min-height: 370px;
    }
  }

  &__icon-gallery-container {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.24);
  }

  /* &__icon-gallery {} */
}