$image-height: 157px;

/** ----------------------------*
*   Mixin que se aplica cuando  *
*  el diseño es a img completa  *
*-------------------------------*/
@mixin img-complete() {
  padding: 0;
  justify-content: flex-end;

  .featured-story__img-link {
    height: 100%;
    width: 100%;
  }

  .featured-story__img-box {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 306px;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(68, 68, 68, 0) 20%,
        rgb(68, 68, 68)
      );
    }
  }

  .featured-story__icon {
    transform: translate(0, 0);
    top: 20px;
    left: 20px;
  }

  .featured-story__detail {
    margin: 0;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 0;
  }

  .featured-story__category {
    &::after {
      border-bottom: 1px solid $color-white;
    }
  }

  .featured-story__author {
    margin-bottom: 0;
  }

  .featured-story__category-link,
  .featured-story__title-link,
  .featured-story__author-link {
    color: $color-white;
  }

  @content;
}

/** ----------------------------*
*          Estilos base         *
*-------------------------------*/
.featured-story {
  @media (--tablet) {
    background-color: $color-white;
    grid-row: span 1;
    height: $row-height;

    &::before,
    &::after {
      border: 0;
    }
  }

  &__detail {
    height: calc(100% - #{$image-height});
    width: 60%;

    @media (--tablet) {
      width: auto;
    }
  }

  &__img-link {
    width: 40%;
    height: 75px;

    @media (--tablet) {
      width: auto;
      height: $image-height;
    }
  }

  &__category {
    @media (--tablet) {
      width: fit-content;
    }

    &::after {
      border-bottom: 1px solid $color-gray-300;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      overflow: hidden;
      position: relative;
      width: 25px;
      bottom: -5px;
    }
  }

  &__title {
    max-width: 260px;
  }

  &__title-link {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: calc(1.333rem * 1.333 * 4);
    /* autoprefixer: on */
  }

  &__author {
    margin-top: auto;
  }

  &--reverse {
    @media (--tablet) {
      flex-direction: column-reverse;
    }
  }

  &--live {
    .featured-story__headband-link {
      background-color: red;
      position: relative;
      left: 0;
      width: 110px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /** ----------------------------*
  * Aplica mixin de img completa  *
  *-------------------------------*/

  &.img-complete {
    @media screen and (--tablet) {
      @include img-complete();
    }

    &.expand {
      @include img-complete();
    }
  }

  /** ----------------------------*
  *   Modifica la vista en móvil  *
  *-------------------------------*/
  &.expand {
    padding: 0;
    background-color: $color-white;
    flex-direction: column;
    grid-row: span 1;
    height: $row-height;

    &::before,
    &::after {
      border: 0;
    }

    &.featured-story--reverse {
      flex-direction: column-reverse;
    }

    .featured-story__img-link {
      height: $image-height;
      width: auto;
      margin-left: 0;
    }

    .featured-story__detail {
      padding: 20px;
      width: auto;
    }

    .featured-story__category {
      font-size: $font-lg;
      display: inline-block;
      width: fit-content;
    }

    .featured-story__author-link {
      color: $color-gray-200;
    }
  }

  &--no-expanded {
    @media (--only-mobile) {
      background-color: $color-white;
      height: 115px;
      padding: 0;
      justify-content: space-between;

      .featured-story__detail {
        height: 100%;
        padding: 12px 5px 12px 20px;
        width: 100%;
      }

      .featured-story__img-link {
        height: 100%;
        min-width: 151px;
      }

      // font-xs
      .featured-story__title-link {
        font-size: 13px;
        max-height: calc(13px * 1.333 * 4);
      }

      .featured-story__title {
        max-width: 100%;
      }
    }
  }
}
