.icon {
  &--facebook {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-image: url($assets_url/resources/assets/social/facebook_icon.png);
  }

  &--twitter {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-image: url($assets_url/resources/assets/social/twitter.png);
  }

  &--margin-right {
    margin-right: 8px;
  }
}
