.icon {
  &--facebook {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-image: url("http://www.sccpre.cat/png/big/101/1016178_facebook-logo-icon-png.jpg");
  }

  &--twitter {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    background-image: url("http://www.stickpng.com/assets/images/58e9196deb97430e819064f6.png");
  }

  &--margin-right {
    margin-right: 8px;
  }
}
