$base-icon-size: 50px;

.m-icon {
  font-size: $base-icon-size;
  width: $base-icon-size;
  height: $base-icon-size;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
