.notify {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  padding: 20px;
  z-index: 999999;
  background-color: tomato;
  &__text {
    color: white;
  }
  &__icon {
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
  }
}
