.pagination-date {
  margin-bottom: 50px;

  &__link {
    padding: 6px 4px;
    color: #7d7d7d;
    font-size: 10px;

    @media (--desktop) {
      padding: 6px 12px;
      font-size: 14px;
    }

    &.active {
      cursor: initial;
      background-color: #383232;
      color: $color-white;
      text-decoration: none;
    }
  }
}
