//$color-page: #777;

.pagination {
  &__page {
    padding: 3px 7px;

    &--current {
      background: $color-black;
      color: $color-white;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }

    &--disabled {
      color: $color-gray-100;
      pointer-events: none;
    }
  }
}
