.stick {
  z-index: 10;
  position: fixed;
  bottom: 55px;
  @media (--tablet) {
    display: none;
  }
  &__content {
    box-shadow: 0 0 24px 0 #969696;
    background-color: $color-white;
    border-radius: 5px;
  }
  &__close-app {
    background: #434343;
    height: 16px;
    width: 16px;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    font-size: 8px;
  }
  &__description {
    font-size: 14px;
    font-family: $primary-font;
    color: #b3b3b3;
  }
  &__button {
    color: $color-white;
    font-size: 13px;
    font-family: $primary-font;
    width: 124px;
  }
}
