.story-table {
  border-collapse: collapse;

  &__cell {
    padding: 10px;
    border-color: $color-gray-300;
  }
  thead {
    border-bottom: 1px solid $color-gray-300;
    th {
      padding: 5px;
      border-right: 1px solid $color-gray-300;
      &:last-child {
        border-right: 0;
      }
    }
  }
}
