.story-item {
  height: 125px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &:nth-child(1) {
    margin-top: 10px;
  }

  @media (--tablet) {
    height: 220px;
  }

  &__top {
    @media (--tablet) {
      align-items: flex-start;
    }
  }

  /* &__section {} */

  &__date {
    @media (--tablet) {}
  }

  &__left {
    flex: 100% 1 1;
  }

  &__title {
    max-height: 42px;

    @media (--tablet) {
      line-height: 1.1;
      max-height: 69px;
    }
  }

  &__subtitle {
    @media (--tablet) {}
  }

  &__right {
    flex: 120px 0 0;

    @media (--tablet) {
      flex: 250px 0 0;
    }

    @media (--desktop) {
      flex: 280px 0 0;
    }
  }

  &__icon {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;

    @media (--tablet) {
      width: 40px;
      height: 40px;
    }
  }

  &--row {
    @media (--tablet) {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
    }

    .story-item__top {
      flex-direction: row;
      margin-top: 10px;
      flex-basis: 110px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .story-item__section {
      display: none;
    }

    .story-item__date {
      margin-top: 0;
    }

    .story-item__bottom {
      flex-direction: row-reverse;
    }

    .story-item__left {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}