.story-table {
  border-color: #e6e6e6;
  border-collapse: collapse;

  &__cell {
    border-color: #e6e6e6;
    padding: 2px 4px 1px;
    font-size: 13px;
    line-height: 140%;
    color: $color-black;
  }

  &__row:nth-child(even) .story-table__cell {
    background-color: #e6e6e6;
  }
}
