.story-item {
  height: 125px;
  padding: 0 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #a9a9a9;
  margin-bottom: 20px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &:nth-child(1) {
    margin-top: 10px;
  }

  @media (--tablet) {
    height: 220px;
  }

  @media (--desktop) {
    padding: 0;
  }

  &__top {
    @media (--tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__section {
    font-size: 10px;
    color: #000;

    @media (--tablet) {
      font-size: 13px;
    }
  }

  &__date {
    color: #a9a9a9;
    margin-left: 5px;
    font-size: 10px;

    @media (--tablet) {
      font-size: 12px;
      margin-top: 3px;
      margin-left: 0;
    }
  }

  &__bottom {
    margin-top: 10px;
  }

  &__left {
    flex: 100% 1 1;
    padding-right: 10px;
  }

  &__title {
    color: #000;
    font-size: 14px;
    font-family: $secondary-font;
    max-height: 42px;

    @media (--tablet) {
      font-size: 16px;
      line-height: 1.1;
      max-height: 69px;
    }

    @media (--desktop) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-family: $secondary-font;
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.2;
    color: #a9a9a9;

    @media (--tablet) {
      display: block;
    }
  }

  &__author {
    font-size: 11px;
    margin-top: 10px;
    color: #a9a9a9;
  }

  &__right {
    flex: 120px 0 0;

    @media (--tablet) {
      flex: 250px 0 0;
    }

    @media (--desktop) {
      flex: 280px 0 0;
    }
  }

  &__icon {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    font-size: 11px;
    z-index: 1;
    border-radius: 50%;

    @media (--tablet) {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }

  &--row {
    @media (--tablet) {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
    }

    .story-item__top {
      flex-direction: row;
      margin-top: 10px;
      flex-basis: 110px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .story-item__section {
      display: none;
    }

    .story-item__date {
      margin-top: 0;
    }

    .story-item__bottom {
      flex-direction: row-reverse;
    }

    .story-item__left {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}
