/** ----------------------------*
*       MARGINS & PADDINGS      *
*-------------------------------*/

.m-5 {
  margin: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.m-5 {
  margin: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.p-10 {
  padding: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.p-15 {
  padding: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.pt-25 {
  padding-top: 25px;
}
.pr-25 {
  padding-right: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pl-25 {
  padding-left: 25px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
