/** ----------------------------*
*            BORDERS            *
*-------------------------------*/

$border-pos-limit: 1;
$border-pos-interval: 1;

$map-border-pos: '', 'top', 'right', 'bottom', 'left';

@for $i from 0 through $border-pos-limit {
  @each $border-pos in $map-border-pos {
    @if $border-pos== '' {
      .border-#{$i * $border-pos-interval} {
        border-width: unquote($i * $border-pos-interval + 'px');
      }
    } @else {
      // hacer que border-pos sea top, right, bottom, left en border-[aqui]-width
      .border-#{str-slice($border-pos, 0, 1)}-#{$i * $border-pos-interval} {
        border-#{$border-pos}-width: unquote($i * $border-pos-interval + 'px');
      }
    }
  }
}

.border-solid {
  border-style: solid;
}
.border-dashed {
  border-style: dashed;
}

/** ----------------------------*
*         BORDERS COLORS        *
*-------------------------------*/

$map-border-color: (
  border-white: $color-white,
  border-gray: $border-color-gray,
  border-black: $border-color-black,
  border-base: $border-color-base,
) !default;

@each $border-color, $border-color-val in $map-border-color {
  .#{$border-color} {
    border-color: $border-color-val;
  }
}
