/** ----------------------------*
*             ÍCONOS            *
*-------------------------------*/

$map-icons: (img: $img,
  video: $video,
  menu: $menu,
  marca: $marca,
  add: $add,
  ribbon: $ribbon,
  facebook: $facebook,
  twitter: $twitter,
  linkedin: $linkedin,
  home: $home,
  user: $user,
  search: $search,
  close: $close,
  close-circle: $close-circle,
  add-circle: $add-circle,
  back: $back,
  linkedin-circle: $linkedin-circle,
  hamburguer: $hamburguer,
  zoom: $zoom,
  link: $link,
  message: $message,
  print: $print,
  left: $left,
  right: $right,
  facebook-circle: $facebook-circle,
  twitter-circle: $twitter-circle,
  whatsapp: $whatsapp,
  loading: $loading,
  share: $share,
) !default;

@mixin generate-icons() {

  @each $icon-name,
  $icon-value in $map-icons {
    .icon-#{$icon-name}:before {
      content: #{'"\\' + #{$icon-value}+'"'
    }

    ;
  }
}

@content;
}

@include generate-icons();