/******* Borders *******/

$limit: 1;
$interval: 1;

$map-position: '',
'top',
'right',
'bottom',
'left';

@for $i from 0 through $limit {
  @each $position in $map-position {
    @if $position=='' {
      .border-#{$i * $interval} {
        border-width: unquote($i * $interval + 'px');
      }
    }

    @else {

      // hacer que position sea top, right, bottom, left en border-[aqui]-width
      .border-#{str-slice($position, 0, 1)}-#{$i * $interval} {
        border-#{$position}-width: unquote($i * $interval + 'px');
      }
    }
  }
}

.border-none {
  border-style: none;
}

.border-solid {
  border-style: solid;
}