/******* Line Heights *******/
$line-base: 1;
$interval: $line-base / 6;

$map-lines: 'none',
'xs',
'sm',
'md',
'lg',
'xl',
'double' !default;

@each $line in $map-lines {
    $i: index($map-lines, $line) - 1;

    .line-h-#{$line} {
        line-height: $line-base + ($interval * $i);
    }
}