$limit: 8;
$interval: 5;

$map-orientation: '',
'top',
'right',
'bottom',
'left';

@for $i from 0 through $limit {
  @each $orientation in $map-orientation {
    @if $orientation=='' {
      .m-#{$i * $interval} {
        margin: unquote($i * $interval + 'px');
      }

      .p-#{$i * $interval} {
        padding: unquote($i * $interval + 'px');
      }
    }

    @else {

      // hacer que orientation sea top, right, bottom, left en margin-[aqui]
      .m#{str-slice($orientation, 0, 1)}-#{$i * $interval} {
        margin-#{$orientation}: unquote($i * $interval + 'px');
      }

      .p#{str-slice($orientation, 0, 1)}-#{$i * $interval} {
        padding-#{$orientation}: unquote($i * $interval + 'px');
      }
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}