/******* Borders *******/

$pos-limit: 1;
$pos-interval: 1;

$map-border-pos: '',
'top',
'right',
'bottom',
'left';

@for $i from 0 through $pos-limit {
  @each $border-pos in $map-border-pos {
    @if $border-pos=='' {
      .border-#{$i * $pos-interval} {
        border-width: unquote($i * $pos-interval + 'px');
      }
    }

    @else {

      // hacer que border-pos sea top, right, bottom, left en border-[aqui]-width
      .border-#{str-slice($border-pos, 0, 1)}-#{$i * $pos-interval} {
        border-#{$border-pos}-width: unquote($i * $pos-interval + 'px');
      }
    }
  }
}

.border-solid {
  border-style: solid;
}