$limit: 6;
$interval: 5;

$map-orientation: 'top', 'right', 'bottom', 'left';

@for $i from 1 through $limit {
  @each $orientation in $map-orientation {
    .mg-#{$orientation}-#{$i * $interval} {
      margin-#{$orientation}: unquote($i * $interval + 'px');
    }
    .pd-#{$orientation}-#{$i * $interval} {
      margin-#{$orientation}: unquote($i * $interval + 'px');
    }
  }
}
