/** ----------------------------*
*       COLORES DE TEXTO        *
*-------------------------------*/

$map-text-color: (text-white: $color-white,
  text-black: $color-black,
  text-gray-300: $color-gray-300,
  text-gray-200: $color-gray-200,
  text-gray-100: $color-gray-100,
  text-primary-color: $color-primary,
) !default;

@each $text-c-class,
$text-c-value in $map-text-color {
  .#{$text-c-class} {
    color: $text-c-value
  }
}