@font-face {
  font-family: "icomoon";
  src: url("https://cdna.elcomercio.pe/resources/dist/elcomerciomag/fonts/default.woff")
      format("woff"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomerciomag/images/default.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
