.custom-title {
  font-family: $secondary-font;
  color: $color-base-300;
  font-weight: 400;
  margin-bottom: 20px;
  @media (--tablet) {
    padding-left: 20px;
  }
  @media (--desktop) {
    padding-left: 20px;
  }
  &.medium,
  &.large {
    font-size: 20px;
    @media (--tablet) {
      font-size: 40px;
    }
  }
}
