$black: #000;
$blackSecondary: #1f1f1f;
$white: #fff;
$primaryColor: #f7c600;
$bluePrimary: #008fff;
$hoverBluePrimary: #199aff;
$gray: #6a6a6a;
$graySecondary: #cbcbcb;
$backgroundMain: #f4f8fa;
$backgroundHeader: #fecd2a;
$resaltPlan: #ff5733;
$resaltBanner: #fe4f25;
$bgBenefist: #141c24;
$greenCheck: #00d090;
$borderContent: #cddae0;
$borderLine: #3e3e3e;
$colorAfter: #919da2;
$headerActive: #fecd2a;
$colorActive: #000;
$titleBenefist: #fff;
$bgHelp: #fff;
$colorSeeMore: #000;
$titleMobile: 0.9em;
$heightTitle: 74px;
$hoverLinkButon: #018efc;
$redAlert: #db0033;
$colorTexts: #2e3a43;
$borderLines: #c7d1d6;
$bgFacebook: #1a77f2;
$bgGoogle: #4385f4;
$grayContent: #8e9599;
$textPlaceholder: #c5c5c5;
$grayBackground: #f4f8fa;
$colorGreen: #009b58;
$bgWarning: #f9d8a7;
$colorWarning: #925700;
$backgroundStep: $white;
$backgroundValid: #faf9dc;
$colorProgress: $black;
$colorBorderProgress: $black;
$headerShopColor: $black;
$headerShopBgColor: $primaryColor;
$bgActiveCheckPlan: #f4f8fa;
$titleResume: $black;

$primaryFont: "Noto Serif", serif;
$secondaryFont: "Roboto", sans-serif;
$logoHeader: "https://cdna.elcomercio.pe/resources/dist/elcomercio/images/landing/logo_header.png";
$logoBenefits: "https://cdna.elcomercio.pe/resources/dist/elcomercio/images/landing/logo_beneficios.png";
$logoFooter: "https://cdna.elcomercio.pe/resources/dist/elcomercio/images/landing/logo_footer.png";
$imgAssets: "https://cdna.elcomercio.pe/resources/dist/elcomercio/images/landing/assets.png";
$GoogleFont: "https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto:wght@300;400;700&display=swap";

$logoHeaderShop: url("https://signwall.e3.pe/images/logo-header-comercio.png");
$widthLogoShop: 152px;
$resumeLogo: url("https://signwall.e3.pe/images/icon-resume-comercio.png");
$sizeSubtitleShop: 24px;
$sizeBenefist: 14px;
$sizeCampaign: 21px;

$bgHeaderShop: $white;
$bgBodyShop: #f4f8fa;
$bgFooterShop: #2e3a43;
$btnFooterShop: #a6bed1;
$borderFormValid: #c7d1d6;
$checkBenefist: #333;
$borderLinesPlan: $borderLines;
$bgPLanSelected: #e8f2f7;
$borderResume: #c7d1d6;
$bgTabPago: #e8f2f7;
$borderTabPago: #707070;
$colorAcordion: #e5f1f8;

$bgCompany: "https://elcomercio.pe/pf/resources/dist/elcomercio/images/img_corporativo.webp?d=2201";
