$black: #000;
$blackSecondary: #1f1f1f;
$white: #fff;
$primaryColor: #f5e9dd;
$bluePrimary: #1781a8;
$hoverBluePrimary: #1793c1;
$gray: #6a6a6a;
$graySecondary: #cbcbcb;
$backgroundMain: #f5e9dd;
$backgroundHeader: #f5e9dd;
$resaltPlan: #008f6a;
$resaltBanner: #e53099;
$bgBenefist: #1c2029;
$greenCheck: #00d090;
$borderContent: #cddae0;
$borderLine: #3e3e3e;
$colorAfter: #919da2;
$headerActive: #1c2029;
$colorActive: #fff;
$titleBenefist: #f5e9dd;
$bgHelp: #f5e9dd;
$colorSeeMore: #1781a8;
$titleMobile: 1.125em;
$heightTitle: 50px;
$hoverLinkButon: #1781a8;
$redAlert: #db0033;
$colorTexts: #2e3a43;
$borderLines: #c7d1d6;
$bgFacebook: #1a77f2;
$bgGoogle: #4385f4;
$grayContent: #8e9599;
$textPlaceholder: #c5c5c5;
$grayBackground: #f4f8fa;
$colorGreen: #009b58;
$bgWarning: #f9d8a7;
$colorWarning: #925700;
$backgroundStep: #fcf0e5;
$backgroundValid: #f8e6d5;
$colorProgress: #444;
$colorBorderProgress: #ad8d76;
$headerShopColor: $white;
$headerShopBgColor: #444;
$bgActiveCheckPlan: #f5f5f5;
$titleResume: #ad8d76;

$primaryFont: "Judson", serif;
$secondaryFont: "Roboto", sans-serif;
$logoHeader: "https://cdna.gestion.pe/resources/dist/gestion/images/landing/logo_header.png";
$logoBenefits: "https://cdna.gestion.pe/resources/dist/gestion/images/landing/logo_beneficios.png";
$logoFooter: "https://cdna.gestion.pe/resources/dist/gestion/images/landing/logo_footer.png";
$imgAssets: "https://cdna.gestion.pe/resources/dist/gestion/images/landing/assets.png";
$GoogleFont: "https://fonts.googleapis.com/css2?family=Judson:wght@400;700&family=Roboto:wght@300;400;700&display=swap";

$logoHeaderShop: url("https://signwall.e3.pe/images/logo-header-gestion.png");
$widthLogoShop: 112px;
$resumeLogo: url("https://signwall.e3.pe/images/icon-resumen-gestion.png");
$sizeSubtitleShop: 26px;
$sizeBenefist: 17px;
$sizeCampaign: 24px;

$bgHeaderShop: $backgroundMain;
$bgBodyShop: #f5f5f5;
$bgFooterShop: #1c2029;
$btnFooterShop: #b4c0c5;
$borderFormValid: #ad8d76;
$checkBenefist: #ad8d76;
$borderLinesPlan: #ad8d76;
$bgPLanSelected: #f8e6d5;
$borderResume: #e2d5c8;
$bgTabPago: $white;
$borderTabPago: #ad8d76;
$colorAcordion: #f3e6e8;

$bgCompany: "https://gestion.pe/pf/resources/dist/gestion/images/img_corporativo.webp?d=2201";
