.tabloid {
  padding: 10px;
  background-color: #222;
  &__header {
    height: auto;
    background-color: transparent;
    padding: 0;
  }
  &__body {
    justify-content: space-between;
  }
  &__header,
  &__body {
    padding: 0;
    background-color: #222;
  }
  &__header {
    margin-bottom: 10px;
  }
  &__header-link {
    font-size: 22px;
    font-family: $tertiary-font;
    color: #ffbf00;
    font-weight: 700;
  }
  &__date {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: block;
    text-align: left;
    padding: 0;
    color: #ff9326;
    font-family: 'Arial';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__face {
    height: 295px;
    width: 293px;
    display: block;
  }
}
