.tabloid {
  padding: 10px;
  background-color: #222;
  &__header {
    height: auto;
    background-color: transparent;
    padding: 0;
  }
  &__body {
    padding-top: 0;
  }
  &__header,
  &__body {
    background-color: #222;
  }
  &__header-link {
    font-size: 22px;
    font-family: $primary-font;
    color: #ffbf00;
  }
  &__date {
    color: #ff9326;
    font-family: 'Arial';
    font-size: 12px;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__face {
    height: 320px;
    width: 282px;
    display: block;
    background-color: #ffbf00;
  }
}
