.stories-list-correction {
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  &__box {
    border-radius: 10px;
    background-color: #f3f5f7;
    box-shadow: 2px 2px 2px 0 rgb(242, 245, 247);
  }

  &__title {
    font-weight: 700;
    font-size: 0.9rem;
  }

  &__content {
    font-size: 0.8rem;
  }

  &__time {
    color: #9d9c9c;
    font-weight: 700;
  }
}
