.error {
  background: $color-gray-100-bg;

  &__icon {
    margin-left: -21px;
    width: 0;
    height: 0;
    border-width: 24px 21px 0 21px;
    border-color: $color-white transparent transparent transparent;
  }

  &__title {
    line-height: 2.4rem;

    @media (--desktop) {
      padding: 0 20px;
    }
  }

  &__content {
    line-height: 1.5;
    max-width: 400px;
  }

  &__link {
    line-height: 1.5;
    color: $color-gray-300;
  }
}
