.extraordinary-l-score {
  &:first-child {
    .extraordinary-l-score__subtitle {
      @media (--only-mobile) {
        display: block;
        color: $color-primary;
      }
    }
  }
  &__title-link {
    font-weight: 900;
    font-size: 29px;
  }

  &__team {
    background-color: $color-white;
    color: $color-primary;
  }
}
