/******* Brand colors *******/
$color-primary: #0C70BF;
$color-secondary: #E8F2F7;
$color-tertiary: #EBC12F;
/*-----------------------*/
$color-base-200: #A4C2D9;
/*-----------------------*/

/******* Other colors *******/
$color-link: #524CFF;
/*-----------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;

/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/
