.post-item {
  background-color: $color-white;
  border-top: 1px solid #999;

  &:nth-child(1) {
    border-top: 0;
  }

  @media (--tablet) {
    flex-direction: column;
  }

  &__date {
    font-size: 12px;
    color: #999;

    @media (--tablet) {
      padding: 5px 0px;
    }
  }

  &__content {
    @media (--tablet) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__image {
    width: 140px;
    height: 80px;

    @media (--tablet) {
      width: 232px;
      height: 140px;
    }
  }

  &__title {
    font-size: 18px;
    color: #444;
    line-height: 24px;

    @media (--tablet) {
      font-size: 24px;
    }
  }

  &__author {
    font-size: 11px;
    color: #999;
    visibility: hidden;

    @media (--tablet) {
      visibility: visible;
      font-size: 10px;
    }
  }
}
