html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

body.fix-modal {
  overflow: hidden;
}

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus {
  outline: none;
}

.layout-paywall {
  min-height: 100%;
  position: relative;
}
