
.contenedor{
    background-color: white;
    width: 100%;
    height: auto;
    
}

.gracias{
    width: 100%;
    height: auto;
    max-width: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gracias > img{
    width: 26%;
    height: auto;
    background: white;
    border-radius: 50%;
    padding: 1em;
    border: .4em solid #7ac043;
    margin: 0 auto 2em;

}
.gracias h3{
    margin:0;
    font-size: 2em;
    font-weight: 300;
}
.gracias p{
    font-size: 1.1em;
    line-height: 1.4em;
}

.gracias .back{
    color: white;
    font-size: .9em;
    border-radius: 2px;
    background-color: #2768b2;
    text-transform: uppercase;
    padding: 1em 0;
    font-weight: 600;
    box-shadow: 0px 1px 2px 1px #2768b261;
}



