.navbar-nm {
  height: 45px;
  display: none;
  @media (--desktop) {
    display: block;
  }
  &__container {
    max-width: 1366px;
    margin: 0 auto;
  }
  &__btn {
    color: $color-gray-100;
    border: solid 1px $color-gray-100;
  }
  &__box-search {
    background-color: $color-gray-200;
    right: 0;
    z-index: 100;
    width: 345px;
  }
  &__input-search {
    width: 100%;
    height: 36px;
    font-size: 14px;
  }
  &__btn-search {
    width: 36px;
    height: 36px;
    background-color: $color-gray-300;
    color: $color-white;
  }
}
