.footer-story.footer-secondary {
  border-top: 0;
  background-color: transparent;

  .footer-secondary__legal-item {
    color: #767676;
    &::after {
      @media (--desktop) {
        background-color: #767676;
      }
    }
  }
}
