@font-face {
  font-family: "icomoon";
  src: url("https://cdna.publimetro.pe/resources/dist/publimetro/fonts/default.woff?o217b7")
      format("woff"),
    url("https://cdna.publimetro.pe/resources/dist/publimetro/fonts/default.svg?o217b7#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("https://cdna.publimetro.pe/resources/dist/publimetro/fonts/publimetro.woff?8j7p8j")
      format("woff"),
    url("https://cdna.publimetro.pe/resources/dist/publimetro/fonts/publimetro.svg?8j7p8j#publimetro")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
