@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.eot');
  src: url('../../icons/fonts/default.eot?3r19g5#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/default.ttf?3r19g5') format('truetype'),
    url('../../icons/fonts/default.woff?3r19g5') format('woff'),
    url('../../icons/fonts/default.svg?3r19g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/publimetro.eot?8j7p8j');
  src: url('../../icons/fonts/publimetro.eot?8j7p8j#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/publimetro.ttf?8j7p8j') format('truetype'),
    url('../../icons/fonts/publimetro.woff?8j7p8j') format('woff'),
    url('../../icons/fonts/publimetro.svg?8j7p8j#publimetro') format('svg');
  font-weight: normal;
  font-style: normal;
}
