.st-foot {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  font-family: $primary-font;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  font-size: 12px;
  line-height: 20px;
  @media (--desktop) {
    flex-direction: row;
    background-color: #fff;
    border-top: 1px solid #111;
    padding: 24px 17px 21px 17px;
  }
  &__img-l {
    @media (--desktop) {
      margin-right: 32px;
    }
  }
  &__img {
    height: 24px;
  }
  &__box {
    padding: 16px 0;
    align-items: center;
    @media (--desktop) {
      padding: 0;
      align-items: flex-start;
    }
  }
  &__b {
    font-weight: 700;
  }
  &__md-cont {
    width: 280px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    @media (--desktop) {
      border: 0;
      align-self: flex-start;
      width: 230px;
      padding: 0 32px;
      margin: 0 32px;
      &::before,
      &::after {
        content: "";
        height: 64px;
        position: absolute;
        border-right: 1px solid #ddd;
        left: 0;
        top: 5px;
      }
      &::after {
        right: 0;
        left: auto;
      }
    }
  }
}
