@import './layout/navbar/nav';
@import './layout/navbar/nav-sidebar';
@import './layout/navbar/nav-story';
@import './layout/header/header';
@import './layout/footer/footer';
@import './layout/footer/footer-story';
@import './breaking-news/breaking-news';
@import './cards/most-read/most-read';
@import './cards/most-read/most-read-item';
@import './cards/tabloid/tabloid';
@import './cards/featured-story-multimedia/featured-multimedia';
@import './story/contents/story-content';
@import './story/contents/story-tags';
@import './story/header/story-header';
@import './story/header/story-gallery-slider';
@import './story/continue/story-continue';
@import './stories-list/cards/stories-list-header';
@import './stories-list/cards/stories-list-item';
@import './separators/basic/separador';
@import './separators/opinion/opinion-separator';
@import './chains/ordered-stories';
@import './search-filter/search-filter';
@import './extraordinary-story/live-score/extraordinary-l-score';
@import './custom-title/custom-title';
@import './archive-calendar/calendar';
