.footer-secction {
  &__item {
    font-weight: 700;
    a {
      font-weight: 400;
    }
  }
  &__item,
  &__link-footer {
    color: $color-gray-300;
  }
  &__item,
  &__link-footer,
  &__list-title,
  &__text,
  &__link-footer,
  &__content-column li {
    font-family: $primary-font;
  }

  &__list-title {
    color: $color-primary;
    &__new-design {
      color: $color-primary;
      font-size: 16px;
      margin-bottom: 10px;
      display: block;
      @media (--only-mobile) {
        text-align: left;
        margin-top: 10px;
      }      
    }
  }
  &__content-column {
    li {
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 2px;
      font-size: 11px;
      @media (--desktop) {
        font-size: 15px;
        height: 17px;
      }
    }
    .footer-secction__item {
      &:first-child {
        a {
          font-weight: 700;
        }
      }
    }
  }
  &__text,
  &__link-footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    @media (--tablet) {
      font-size: 14px;
    }
    &__new-design {
      @media (--desktop) {
        display: none;
      }
      @media (--tablet) {
        display: none;
      }
      @media (--only-mobile) {
        width: 100%;
        text-align: left; 
        border-right: 0;
        display: block;
        padding: 5px;
        font-weight: 600;
        &::before {
          content: "• ";
          font-size: 17px;
          vertical-align: -2px;
          font-weight: 600;
        }
      }
    }
  }
  &__text {
    color: $footer-text;
    @media (--only-mobile) {
      text-align: left;
      margin-bottom: 28px;
    }
  }
  &__link-footer,
  &__site-item {
    &__new-design{
      border-right: 0;
    }
    a {
      color: $color-black;
    }
  }
  &__site-item {
    &__new-design{
      border-right: 0;
      @media (--only-mobile) {
        width: calc(100% - 51%);
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        margin: 5px 0;
        &::before {
          content: "•";
          font-size: 17px;
          vertical-align: -2px;
        }
      }
    }
  }
  &__info {
    padding: 20px;
    ul {
      @media (--only-mobile) {
        display: none;
      }
    }
  }
  &__bold {
    a {
      font-weight: 700;
    }
  }
}
