.footer-secction {
  &__item,
  &__link-footer {
    color: $color-gray-300;
  }
  &__item,
  &__link-footer,
  &__list-title,
  &__text,
  &__link-footer,
  &__content-column li {
    font-family: $primary-font;
  }

  &__list-title {
    color: $color-primary;
  }
  &__content-column {
    li {
      margin-bottom: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 2px;
      font-size: 11px;
      @media (--desktop) {
        font-size: 15px;
        height: 17px;
      }
    }
  }
  &__text,
  &__link-footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    @media (--tablet) {
      font-size: 14px;
    }
  }
  &__text {
    color: $footer-text;
  }
  &__link-footer,
  &__site-item a {
    color: $color-black;
  }
  &__info {
    ul {
      @media (--only-mobile) {
        display: none;
      }
    }
  }
}
