.amp-story-interest {
  &__titleList {
    font-family: $encode-c;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.29px;
    line-height: 24px;
    background-color: #000;
    color: #fff;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}
