@import './partials/Layout';
@import './partials/normalize';

.container-article {
    display: grid;
    grid-template-areas: 
        'main sidebar';
    grid-template-columns: 1fr 318px;
    grid-area: content;
}

main {
    grid-area: main;
} 

sidebar {
    grid-area: sidebar;
}