@import './partials/flex';
@import './partials/general';

.container-article {
    display: grid;
    grid-template-areas: 'main sidebar';
    grid-template-columns: 1fr 318px;
    grid-area: content;
}
