.amp-story-tags {
  &__title {
    font-family: $secondary-font;
  }

  &__link {
    font-family: $secondary-font;
  }
}

/* Clases exclusivas de amp */
.amp-next-page-link {
  display: flex;
  align-items: center;
}

.amp-next-page-image {
  float: none;
}

.amp-next-page-text {
  font-family: $secondary-font;
}

.live-event {
  font-size: 16px;
}
.live-event .live-event-comment {
  display: block;
  position: relative;
  padding: 0 0 10px 65px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
  a {
    color: #4a88b1;
    font-weight: bold;
  }
}
.live-event .live-event-comment .live-event-minute {
  background: #e2e2e2;
  padding: 3px 8px;
  display: block;
  color: #000;
  top: 0;
  position: absolute;
  left: 0;
}
.live-event .live-event-comment p {
  font-size: 18px;
  font-family: "Georgia";
  line-height: 1.5;
}
.live-event .live-event-comment p a {
  color: #4a88c6;
  font-weight: bold;
}
.live-match {
  font-size: 16px;
}
.live-match .live-match-comment {
  display: block;
  position: relative;
  padding: 0 0 10px 40px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
}
.live-match .live-match-comment .live-match-minute {
  background: #e2e2e2;
  padding: 3px 8px;
  display: block;
  color: #000;
  top: 0;
  position: absolute;
  left: 0;
}
.live-match .live-match-comment p {
  font-size: 18px;
  font-family: Georgia;
  line-height: 1.5;
}
.live-match .live-match-comment p a {
  color: #4a88c6;
  font-weight: bold;
}
