.amp-story-tags {
  &__title {
    font-family: $secondary-font;
  }

  &__link {
    font-family: $secondary-font;
  }
}

/* Clases exclusivas de amp */
.amp-next-page-link {
  display: flex;
  align-items: center;
}

.amp-next-page-image {
  float: none;
}

.amp-next-page-text {
  font-family: $secondary-font;
}

.live-event {
  font-size: 16px;
}
.live-event .live-event-comment {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 20px 65px;
  line-height: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.live-event .live-event-comment span {
  background: #e2e2e2;
  padding: 3px 8px;
  display: block;
  color: #000;
  top: 0px;
  position: absolute;
  left: 0;
}
.live-match {
  font-size: 16px;
}
.live-match .live-match-comment {
  display: block;
  position: relative;
  margin-bottom: 10px;
  padding: 0 0 20px 40px;
  line-height: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.live-match .live-match-comment span {
  background: #e2e2e2;
  padding: 3px 8px;
  display: block;
  color: #000;
  top: 0px;
  position: absolute;
  left: 0;
}
