.related-content {
  &__title {
    border-top: 1px solid #585858;
  }

  &__item {
    border-top-width: 2px;
    border-color: #eeeeee;

    @media (--tablet) {
    }
  }

  &__information {
    @media (--tablet) {
      max-width: 56%;
    }
  }

  &__multimedia {
    @media (--tablet) {
      width: 180px;
    }
  }

  &__icon {
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
