.related-content {
  &__title {
    border-top: 1px solid #585858;
  }

  &__item {
    border-top-width: 2px;
    border-color: #eeeeee;

    @media (--tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__information {
    @media (--tablet) {
      max-width: 56%;
      margin-bottom: 0;
    }
  }

  &__author {
    color: $color-gray-200;
  }

  &__multimedia {
    @media (--tablet) {
      width: 180px;
    }
  }

  &__icon {
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
