.related-internal {
  @media (--tablet) {
    float: right;
    background-color: #f5f5f5;
    width: 200px;
  }

  &__information {
    @media (--tablet) {
      background-color: $color-gray-100;
    }
  }

  &__multimedia-icon {
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
