.related-internal {
  &__title {
    font-family: $secondary-font;
    font-size: 16px;
  }

  &__multimedia-icon {
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
