.story-content {
  &__tag-link {
    color: $color-gray-200;
  }

  &__visual--image {
    @media print {
      width: 815px;
    }
  }

  & * iframe {
    width: 100%;
  }

  .pquote {
    background: none;

    /*     &__pull {
      background: url('../images/openquote.svg') top left no-repeat;
    } */

    &__text {
      font-style: italic;
    }

    &:first-letter {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  /* Esto es importante definirlo por los scripts de Opta */
  &__content > section {
    width: 100%;
    & > h1 {
      font-size: 2em;
    }
    & > h2 {
      font-size: 1.81em;
    }
    & > h3 {
      font-size: 1.601em;
    }
    & > h4 {
      font-size: 1.379em;
    }
    & > h5 {
      font-size: 1.25em;
    }
    & > h6 {
      font-size: 1.188em;
    }
  }

  /* ----------------------------------------------------- */

  &__font--secondary,
  &__content {
    word-wrap: break-word;
  }

  &__image {
    & figcaption {
      padding: 14px 0px;
      font-size: 13px;
      color: $color-gray-200;
    }
  }

  /* Para arreglar estilos en o-embed */

  &__embed {
    .twitter-tweet {
      width: 100% !important;
    }

    .instagram-media {
      min-width: 0 !important;
      max-width: 500px !important;
    }

    [src*='youtube'] {
      width: 100% !important;
    }

    .fb-post {
      width: 100% !important;
      max-width: 500px;

      & > span {
        width: 100% !important;

        & > [src*='facebook'] {
          width: 100% !important;

          & > [data-testid*='newsFeedStream'] {
            width: 100% !important;
          }
        }
      }
    }

    & img {
      width: 100%;
    }
  }

  &__icon-list {
    margin-right: -49px;
  }

  &__caption {
    & > span {
      display: none;
    }
  }
  // &__item {}
  // &__link {}

  &__link:hover {
    text-decoration: none;
  }

  &__list-more {
    width: 80px;
    right: 50px;
    box-shadow: 2px 6px 7px rgba(25, 57, 22, 0.2);

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      border: 0;
      box-shadow: 4px -1px 3px rgba(25, 57, 22, 0.2);
      background-color: $color-white;
      transform: rotate(45deg);
      z-index: -1;
      right: -6px;
      top: calc(50% - 8px);
    }
  }

  &__tags-link {
    font-size: 14px;
  }

  &__more-link {
    &:hover {
      text-decoration: none;
    }

    .icon-facebook-circle {
      color: #3b5998;
    }

    .icon-twitter-circle {
      color: #00acee;
    }
  }

  .powa-shot-play-icon,
  .powa-shot-loading-icon {
    font-family: 'icomoon';
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  .powa-shot-play-icon {
    &::before {
      content: '\e906';
    }

    &:hover {
      color: $color-white;
    }
  }

  .powa-shot-loading-icon {
    &::before {
      content: '\e917';
    }

    &:hover {
      color: $color-white;
    }
  }

  &__date {
    order: -1;

    @media (--tablet) {
      order: 0;
    }
  }
}
