.home-footer-top-container {
  display: flex;
  justify-content: center;
}
.home-footer-top {
  display: flex;
  padding: 60px 17px 65px;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  .home-footer-col {
    padding-right: 15px;
    &:nth-child(1) {
      width: 30%
    }
    &:nth-child(2) {
      width: 20%
    }
    &:nth-child(3) {
      width: 20%
    }
    &:nth-child(4) {
      width: 20%;
      padding-right: 0;
    }
    .site-logo {
      margin-bottom: 15px;
      width: 180px;
      display: block;
      img {
        width: 100%;
      }
    }
    .site-legal {
      li {
        font-size: 11px;
      }
    }
    .menus {
      li {
        margin-bottom: 5px;
        line-height: 18px;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: start;
      li {
        margin-bottom: 3px;
        font-size: 15px;
        a {
          text-decoration: none;
          color: black;
          text-transform: capitalize;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .highlight {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}
.home-footer-bot {
  padding: 20px 20px 15px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 775px;
    width: 100%;
    li {
      font-size: 15px;
      line-height: 1;
      margin: 0 3px; 
      padding-right: 8px;
      margin-bottom: 5px;
      border-right: 1px solid #333;
      &:last-child{
        border-right: unset;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}