.story-item {
  border-bottom: dashed 2px $color-base-200;
  &__section {
    color: $color-gray-300;
    font-weight: 700;
    border: 0;
    padding: 0;
    @media (--tablet) {
      margin: 0;
    }
  }
  &__left {
    justify-content: start;
    flex-direction: column-reverse;
  }
  &__top {
    @media (--tablet) {
      margin-top: 20px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__date {
    font-weight: 700;
    color: $color-base-300;
    @media (--tablet) {
      margin: 0;
    }
  }
  &__title {
    font-weight: 700;
    @media (--tablet) {
      margin-top: 0;
    }
  }
  &__subtitle {
    color: $color-gray-300;
    font-weight: 700;
    font-size: $font-sm;
  }
  &__icon {
    color: $color-base-200;
  }
  &__right {
    margin-left: 0;
  }
}
