/******* Brand colors *******/
$color-primary: #00854b;
$color-secondary: #000;
$color-tertiary: #f15a24;
/*-----------------------*/
$color-base-200: #D0E7D9;
$color-base-100: #EBEFEA;
/*-----------------------*/

/******* Other colors *******/
$color-link: #524CFF;
/*-----------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;

/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/
