/******* Brand colors *******/
$color-primary: #00854b;
$color-secondary: #000;
$color-tertiary: #f15a24;
/*-----------------------*/
$color-base-400: #000000;
$color-base-300: #333333;
$color-base-200: #8A8A8A;
$color-base-100: #E8E8E8;
/*-----------------------*/

/******* Other colors *******/
$color-link: #524CFF;
/*-----------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;

/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/
