/******* Row dimensions *******/
$height-row: 374px;
$row-parts: 6;
/*-----------------------*/

/******* Spacing *******/
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
/*-----------------------*/

/******* Nav dimensions *******/
$nav-height: 46px;
/*-----------------------*/

/******* Header dimensions *******/
$header-logo-height: 34px;
/*-----------------------*/