$nav-height-active: 46px;

.header-ec {
  height: $header-ec-height;
  z-index: 20;

  @media print {
    display: none;
  }

  .header__logo {
    height: 36px;
  }

  .nav__mobile-logo {
    top: initial;
    left: initial;
    transform: translateX(0);
  }

  &__btn-search,
  &__btn-menu {
    &:hover {
      text-decoration: none;
    }
  }

  &__btn-search {
    &.active {
      color: $color-base-100;
      border: none;
    }
  }

  &__btn-menu {
    span {
      display: none;

      @media (--tablet) {
        display: inline-block;
      }
    }
  }

  &.active {
    position: fixed; // No borrar, si no reconce sticky deja fixed
    position: sticky;
    background-color: $color-base-100;
    height: $nav-height-active;

    @supports (position: sticky) {
      width: 100%;
    }

    &.nav__loader {
      top: 0;
    }

    .header__logo {
      height: 44px;
    }

    .header-ec__btn-menu,
    .header-ec__btn-search {
      color: $color-white;
    }

    .header-ec__btn-subs {
      display: flex;
    }

    .btn {
      background-color: $color-white;
      color: $color-base-100;
    }

    .story-header__icon {
      font-size: 26px;
    }

    .nav-sidebar {
      top: $nav-height-active;
      height: calc(100vh - #{$nav-height-active});
    }
  }

  /* .nav__wrapper {
      justify-content: space-between;
    }

    .nav__list,
    .nav__container-right {
      display: none;
    }
*/
  /* .nav__logo {
      display: block;
    }

    .nav__search-box {
      display: none;
    }
    .nav__container-menu {
      border-right-color: $color-white;
    } */

  /*   &__wrapper {
    @media (--desktop) {
      display: flex;
    }
  }

  &__container-menu,
  &__search-box {
    height: 20px;

    @media (--desktop) {
      border-right-color: $color-gray-200;
    }
  } */

  /* &__btn {
    color: $color-white;
    outline: 0;
    &--section {
      //padding: 4px;
      & span {
        font-weight: bold;
        display: none;
        font-family: $secondary-font;

        @media (--desktop) {
          display: inline;
          margin-left: 8px;
        }
      }
    }

    &:hover {
      text-decoration: none;
    }

    @media (--desktop) {
      color: $color-primary;
    }

    &--featured {
      color: $color-primary;
      height: inherit;
    }

    &--search {
      //padding: 0 0 0 13px;

      //transition: all .002s;

      //transition: all .002s;

      position: absolute;
      right: 0;
      top: 0;
      padding: 6px;
    }


    &--login-m {
      width: 34px;
      height: 34px;
      padding: 6px;
      i {
        font-style: normal;
      }
    }
  } */

  // &__list { }

  /*  &__list-item {
    &:nth-last-child(1) {
      padding-right: 0;
    }
  }

  &__list-link {
    transition: 0.3s;
    word-break: break-word;

    &:hover {
      color: $color-gray-300;
    }
  }

  &__mobile-logo {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  } */

  /* &__logo {
    height: $header-ec-height;
  } */

  /* &__ads {
    // TODO: Temporal
    width: 100px;
    height: 30px; 
    // --------------
  }*/

  // &__header-sub {  }
  /* &__icon {
    width: 16px;
    height: 16px;
    background-size: cover;
  } */

  // &__icon-menu {}
  // &__icon-search {}

  /* &__input-search {
    background-color: transparent;
    outline: none;
    padding-right: 30px;
    height: 30px;
    text-indent: 0;
    display: initial;
    transition: width 0.25s cubic-bezier(0.49, 0.37, 0.445, 0.715),
      padding-left 0.25s;
    will-change: width;

    &.active {
      padding-right: 40px;
      padding-left: 8px;
      transition: width 0.25s cubic-bezier(0.49, 0.37, 0.445, 0.715);
      width: 200px;
      will-change: width;
      border: solid 1px $color-primary;
    }
  }

  .layer {
    position: absolute;
    top: 45px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    display: none;
  } */

  /*   Estilos para nav loader en notas */
  /*   &__loader {
    left: 0;
    top: 46px;
    height: 5px;
    background-color: #eaeaea;
  }

  &__loader-bar {
    width: 0%;

    transition: width 0.5s;
  }

  &__container-menu,
  &__mobile-logo {
    z-index: 1;
  }

  &__story-title {
    z-index: 1;
    width: 300px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 700;
    display: none;
  } */
}

.nav__btn--section {
  & span {
    @media (--tablet) {
      display: inline;
      margin-left: 8px;
    }
  }
}
