$nav-height-active: 46px;

.header-ec {
  height: $header-ec-height;
  z-index: 20;

  @media print {
    display: none;
  }

  .header__logo {
    height: 36px;
  }

  .nav__mobile-logo {
    top: initial;
    left: initial;
    transform: translateX(0);
  }

  &__btn-search,
  &__btn-menu {
    &:hover {
      text-decoration: none;
    }
  }

  &__btn-search {
    &.active {
      color: $color-base-100;
      border: none;
    }
  }

  &__btn-menu {
    span {
      display: none;

      @media (--tablet) {
        display: inline-block;
      }
    }
  }

  &.active {
    position: fixed; // No borrar, si no reconce sticky deja fixed
    position: sticky;
    background-color: $color-base-100;
    height: $nav-height-active;

    @supports (position: sticky) {
      width: 100%;
    }

    &.nav__loader {
      top: 0;
    }

    .header__logo {
      height: 44px;
    }

    .header-ec__btn-menu,
    .header-ec__btn-search {
      color: $color-white;
    }

    .header-ec__btn-subs {
      display: flex;
    }

    .btn {
      background-color: $color-white;
      color: $color-base-100;
    }

    .story-header__icon {
      font-size: 26px;
    }

    .nav-sidebar {
      top: $nav-height-active;
      height: calc(100vh - #{$nav-height-active});
    }
  }
}

.nav__btn--section {
  & span {
    @media (--tablet) {
      display: inline;
      margin-left: 8px;
    }
  }
}
