.signwall {
  * {
    .benefits {
      padding-bottom: 5%;
      font-family: $primary-font;
      color: black;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media (--desktop) {
        padding: 5%;
      }
      &__title-container {
        width: 83%;
        text-align: center;
        &.organic {
          width: 67%;
        }
      }
      &__title {
        font-size: $signwall-header-title;
        line-height: 30px;
        font-weight: bold;
      }

      .text-panel {
        font-size: 22px !important;
        line-height: 34px;
        margin: 0px;
      }

      &__item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 25px;
      }

      &__item-title {
        font-family: $secondary-font;
        color: $signwall-color-item-title;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
      }
      &__item-text {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 14px;
        margin: 8px 0px;
        color: $color-black;
      }
      &__icon {
        width: 25%;
        display: flex;
        justify-content: center;
      }
      &__info {
        width: 75%;
      }
    }
    .bg-paywall {
      padding: 20px;
      background-color: #8f071f;
      background-image: none;
      background-size: 100%;
      min-height: 150px !important;
      @media (--tablet) {
        min-height: 120px !important;
      }
      @media (--desktop) {
        background-color: none;
        padding: 40px;
      }
      p,
      h3 {
        color: #ffffff;
        text-align: center;
        line-height: 30px;
        text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49);
      }
      p {
        font-size: 18px;
        line-height: 32px;
        @media (--desktop) {
          margin-top: 18%;
        }
      }

      h3 {
        font-size: 40px;
        margin-top: 10px;
        @media (--desktop) {
          margin-top: 30px;
          font-size: 60px;
        }
      }
    }

    .intro-paywall {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      background: #fff6f0;
      color: #444444;
      padding: 20px 20px;
      line-height: 20px;
      position: relative;
      .cont-price-detail {
        margin-top: 20px;
        .price,
        .detail-price {
          display: inline-block;
          vertical-align: initial ;
        }
        .price {
          font-size: 4em;
          font-weight: 600;
          width: 40%;
          text-align: center;
          @media (--desktop) {
            text-align: left;
          }
          letter-spacing: -2px;
          i {
            font-size: 0.5em;
            font-weight: normal;
            letter-spacing: 0px;
            font-style: normal;
          }
        }
        .detail-price {
          width: 60%;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .title-line {
        font-weight: bold;
        // display: table;
        // white-space: nowrap;
        font-size: 14px;
        position: relative;
        text-align: center;
        &:before {
          content: '';
          display: block;
          border-top: solid 1px #a98e7c;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 50%;
          z-index: 0;
        }
        span {
          background: #fff6f0;
          padding: 0 10px;
          position: relative;
          z-index: 1;
        }
      }
      .list-benefits {
        font-size: 14px;
        line-height: 24px;
        li {
          padding-left: 30px;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAYNJREFUOBGFUsFxgzAQBEEDqSDgBuIOogH/43QQXnmGdOBUELsC55mn/Qcjd0AaICqBArDJrgeIkB3nZsSduN3T3kmuY5mUMvB9/wW/Jda0S5fw2yzLFt1+cP4QIYjjeOm6LslO27ZfiLfwNXyAtTGxfez2AcglQHfYb5umSZVSus/ZPoqiJ2Dv8zxPTgWMk98uyTQLkCyEWFPh4XCQbtfzN0DscW6C7dgmQ2UtPM9LCaRsm2DuL5GZF1iScvqeZ7OZZMK0v8jECA4OS3PDduAKzGTNPe0amfnRNVIFCAmHhCK8yr05MPZMEg1KN3APgvIR3PInbbfbfRyPxwSqRtM2ycSBF5DLGSisaScf4W8RAnhVNplYtg6oGq4R4A0exuOpwj+fXj5uLvS01nUYhjeUPJlMnKqq9tf4IC+Qf8aBq6IoPs+eMpVA9itkawAHo2y8mXccNMfP4dENBYg0njS3JYppBiAFcFMsDm+FVlPGtFEB/uhOIkB2gyKJN6WgbGkr+wHP1//N8PmHWQAAAABJRU5ErkJggg==');
          background-repeat: no-repeat;
          background-position: 0px 4px;
          margin-bottom: 10px;
        }
      }
      .message-paywall{
        line-height: 30px;
      }
    }
    .bg-white {
      background: white;
      .title-line span {
        background: white;
      }
    }
  }
}
