.signwall {
  * {
    .btn {
      font-family: $secondary-font;
      font-size: 14px;
      border-radius: 0.4rem;
      padding: 12px 20px;
      margin: 0px;
      width: 100%;
      background-color: $color-white;
      text-transform: uppercase;
      font-weight: bold;
      box-sizing: border-box;
      outline: none;
      cursor: pointer;
      height: 50px;
      -webkit-appearance: none;

      @media (--tablet) {
        padding: 12px 5px;
      }

      &:hover {
        color: white;
        transition: all 0.5s ease-in-out;
      }

      &[disabled] {
        color: white;
        opacity: 0.5;
        animation-name: color;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }

      &--blue {
        color: white;

        &:hover {
          box-shadow: 0rem 0rem 0.5rem #0f8bf7;
          transition: all 0.5s ease-in-out;
        }

        &[disabled] {
          opacity: 0.6;
        }
      }

      &-text {
        margin: 0 8px;
        font-family: $secondary-font;
        @media (--tablet) {
          margin: 0 0px;
        }
      }

      &-facebook,
      &-google {
        position: relative;
        color: white;
        text-transform: inherit;
        border-radius: 0.2rem;
        font-weight: inherit;
        font-size: 17px;
      }

      &-facebook {
        background: #4368ad;
        border: 1px solid #4368ad;

        &:hover {
          box-shadow: 0rem 0rem 0.5rem #949494;
          background: #4368ad;
        }

        &.middle {
          width: 95%;
          margin-right: 5%;
          padding: 0px;
        }

        & svg {
          margin-right: 10px;
        }
      }

      &-google {
        background: #4285f4;
        border: 1px solid #4285f4;

        &:hover {
          box-shadow: 0rem 0rem 0.5rem #949494;
          background: #4285f4;
        }

        &.middle {
          padding: 0px;
        }

        & svg {
          position: absolute;
          left: 1px;
          background: white;
          padding: 0px;
          margin: 0px;
          top: 1px;
        }

        & .btn__text {
          margin-left: 40px;

          @media (--tablet) {
            margin-left: 30px;
          }
        }
      }

      &-email {
        background: white;
        border: 1px solid#C3C3C3;
        color: #c3c3c3;
        text-transform: inherit;
        border-radius: 0.2rem;
        font-weight: inherit;

        @media (--tablet) {
          margin-bottom: 40px;
        }

        &:hover {
          background: white;
          color: #c3c3c3;
          box-shadow: 0rem 0rem 0.2rem #949494;
        }

        & svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
        }
      }

      &-md {
        width: 75%;
      }

      &-signwall {
        padding: 6px 10px;
        font-family: 'corpidbold', system-ui;
        font-size: 14px;
        border-radius: 4px;
        margin: 0 4px;
        line-height: 16px;
      }

      &-close {
        position: absolute;
        background: none;
        cursor: pointer;
        border: 0px;
        right: 20px;
        top: 20px;
        overflow: none;
      }
    }
  }
}

@keyframes color {
  0% {
    color: #dddddd;
  }

  50% {
    color: #ffffff;
  }

  100% {
    color: #dddddd;
  }
}
