.signwall {
  * {
    .check-container {
      font-family: $signwall-secondary-font;
      font-size: 12px;
      text-align: left;
      display: block;
      position: relative;
      padding-left: 40px;
      margin-bottom: 10px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #8b8b8b;
      line-height: 20px;
      @media (--tablet) {
        margin-bottom: 0px;
        padding-left: 35px;
        font-size: 13px;
      }
      &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .check-container__checkmark {
          background-color: #2196f3;
          border: 1px solid #2196f3;
        }
        &:checked ~ .check-container__checkmark:after {
          display: block;
        }
      }
      &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 1px solid #d2d2d2;
        border-radius: 5px;
        &:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid #fff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          content: '';
          position: absolute;
          display: none;
        }
        &--error {
          border: 1px solid red;
        }
      }
    }
  }
}
