.signwall {
  * {
    .form-grid {
      padding: 10px;
      font-size: 14px;
      font-family: $signwall-secondary-font;
      @media (--tablet) {
        padding: 0px;
        min-height: auto;
      }
      &__row {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0rem 0%;
        min-height: 0.125rem;
        &--btw {
          justify-content: space-between;
        }
        &--two {
          .form-group {
            width: 100%;
            @media (--desktop) {
              width: 50%;
            }
          }
        }
        &--three {
          display: flex;
          flex-direction: column;
          @media (--desktop) {
            flex-direction: row;
          }
          .form-group {
            width: 100%;
            margin-bottom: 20px;
            @media (--desktop) {
              width: 33.3%;
              margin: 10px 5px;
            }
          }
        }
      }
      &__group {
        width: 100%;
      }
      &__title {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 20px;
        font-weight: bold;
        color: black;
      }
      &__title-login {
        font-size: 18px;
        line-height: 1.5;
        font-family: $signwall-primary-font;
        color: black;
        @media (--tablet) {
          font-size: 20px;
          font-weight: 600;
          font-size: 18px;
        }
      }
      &__link {
        color: black;
        font-family: $signwall-secondary-font;
        font-weight: normal;
      }
      &__anchor {
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: right;
        width: 50%;
        cursor: pointer;
        &--desactive {
          text-decoration: none;
          color: #bbbbbb;
        }
      }
      &__subtitle {
        font-size: 12px;
        color: #807878;
        @media (--tablet) {
          font-size: 13px;
        }
        &--fb {
          line-height: 20px;
          @media (--desktop) {
            font-size: 0.8em;
          }
        }
      }
      &__label {
        color: black;
        font-size: 0.9em;
        margin: 10px 0px 30px 0px;
        font-family: $signwall-secondary-font;
      }
      &__pass {
        font-size: 0.888em;
        line-height: 20px;
        margin: 5px 0px 0px 0px;
        text-align: right;
      }

      &__required {
        font-size: 10px;
        font-weight: 600;
        color: black;
        @media (--tablet) {
          font-size: 11px;
        }
      }
      &__icon {
        margin: 20px 0px 0px 0px;
        @media (--tablet) {
          margin: 20px 0px 10px 0px;
        }
      }

      &__info {
        font-size: 24px;
        line-height: 1.5;
        font-family: $signwall-primary-font;
        color: black;
        line-height: 36px;
        margin-bottom: 15px;
      }

      &__info-sub {
        font-family: $signwall-secondary-font;
        font-size: 14px;
        line-height: 22px;
        color: gray;
        margin-bottom: 20px;
      }
      &__title-big {
        font-size: 20px;
        line-height: 1.5;
        font-family: $signwall-primary-font;
        line-height: 34px;
        font-weight: 900;
        margin-bottom: 10px;
        color: black;
      }
      &__forgot-pass,
      &__reset-pass,
      &__verify-account {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      & .link-blue {
        text-decoration: underline;
        font-weight: bold;
        font-family: $signwall-secondary-font;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      & .link-gray {
        color: #585858;
        font-weight: normal;
        text-decoration: underline;
        margin: 0 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      & .link-back {
        color: #000000;
        text-decoration: none;
        font-family: $signwall-secondary-font;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        span,
        svg {
          display: inline-block;
          vertical-align: middle;
        }
        span {
          margin: 0px 10px;
        }
      }
      &--error {
        background: #ff2b2b;
        color: white;
        font-family: $signwall-secondary-font;
        font-size: 12px;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
        display: none;
        &.active {
          display: block;
        }
      }
      &__label--information {
        font-size: 15px;
        line-height: 24px;
      }
      &__label--title {
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        line-height: 32px;
      }
    }

    // hide the default arrow from selectbox IE
    select.minimal::-ms-expand {
      display: none;
    }
  }
}
