.signwall {
  * {
    .modal-header {
      height: 50px;
      background: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;

      &__back {
        position: absolute;
        display: flex;
        align-items: center;
        left: 20px;
        top: 16px;
        cursor: pointer;
        font-family: $primary-font;
      }

      &__text {
        margin-left: 20px;
        color: $signwall-header-text-color;
        display: none;
        text-decoration: underline;
        font-size: 14px;

        @media (--desktop) {
          display: inline-block;
        }
      }

      &__close {
        position: absolute;
        right: 20px;
        top: 16px;
        line-height: 0px;
        padding: 2px 5px;
      }

      &__img {
        max-width: 200px;
        height: 32px;
        object-fit: contain;
      }

      &.logo-header-large {
        width: 159px;
        height: 24px;
      }

      .logo-header {
        width: 170px;
      }
    }

    @media (max-width: 23.125em) {
      .modal-header {
        .logo-header {
          width: 170px;
        }
      }
    }
  }
}