.signwall {
  * {
    .modal-header {
      height: 50px;
      background: $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;

      &__back {
        position: absolute;
        display: flex;
        align-items: center;
        left: 20px;
        top: 16px;
        cursor: pointer;
        font-family: $signwall-primary-font;
      }

      &__text {
        margin-left: 20px;
        color: $signwall-header-text-color;
        display: none;
        text-decoration: underline;
        font-size: 14px;

        @media (--desktop) {
          display: inline-block;
        }
      }

      &__close {
        position: absolute;
        right: 20px;
        top: 16px;
        line-height: 0px;
        padding: 2px 5px;
      }

      &__cont {
        background-color: #d5d745;
        -webkit-transform: skew(-13deg);
        transform: skew(-13deg);
        padding: 6px 10px;
      }

      &__cont-trome {
        padding: 0px;
      }

      &__cont-diariocorreo {
        padding: 0px;
      }

      &__cont-ojo {
        padding: 5px 0px;
      }

      &__img {
        max-width: 200px;
        height: 32px;
        object-fit: contain;
      }

      &__img-depor {
        max-width: 150px;
        height: auto;
        -webkit-transform: skew(13deg);
        transform: skew(13deg);
      }

      &__img-trome {
        max-width: 185px;
        height: auto;
      }

      &__img-diariocorreo {
        max-width: 185px;
        height: auto;
      }

      &__img-ojo {
        max-width: 200px;
        height: 42px;
        object-fit: contain;
      }

      &.logo-header-large {
        width: 159px;
        height: 24px;
      }

      .logo-header {
        width: 170px;
      }
    }

    .color-elcomerciomag {
      background: #f7c600 !important;
    }

    .color-elbocon {
      background: #333333 !important;
    }

    .color-trome {
      background: #000000 !important;
    }

    .color-ojo {
      background: #333333 !important;
    }

    .color-diariocorreo {
      background: #000000 !important;
    }

    @media (max-width: 23.125em) {
      .modal-header {
        .logo-header {
          width: 170px;
        }
      }
    }
  }
}
