.signwall {
  * {
    .message {
      margin: 0px;
      font-size: 12px;
      font-weight: bold;
      transition: all 0.5s ease-in-out;
      width: 50%;
      text-align: right;

      @media (--tablet) {
        position: absolute;
        right: 0px;
        top: 5px;
      }
      @media (--desktop) {
        position: absolute;
        right: 0px;
        top: 5px;
      }

      &--success {
        color: #03d213;
      }
      &--error {
        color: #ff2b2b;
      }
      &__error {
        color: #ff2b2b;
        font-family: $signwall-secondary-font;
        font-size: 12px;
        line-height: 16px;
        display: block;
        padding-top: 5px;
      }
    }
  }
}
