.signwall-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 0.25s;
  font-size: 16px;
  will-change: transform;
  animation: modalEnter 0.5s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &.white {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &.black {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.open {
    overflow: hidden;
  }

  @keyframes modalEnter {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .close-modal {
    position: absolute;
    right: 0;
    padding: 20px;
    cursor: pointer;
  }

  .cont-modal {
    display: block;
    height: calc(100% - 50px);
    min-height: 490px;
    & .left-modal,
    & .right-modal {
      display: inline-block;
      vertical-align: top;
    }
    & .left-modal {
      background-color: #f4f4f4;
      height: 100%;
    }
    & .bg-white {
      background-color: white;
    }
    & .right-modal {
      background-color: white;
    }
  }

  .body-modal {
    display: block;
    position: relative;
    pointer-events: auto;
    background: #fff;
    z-index: 0;
    align-self: flex-start;
    box-shadow: 0 0 0.5rem #949494;
    border-radius: 0;

    &.position-middle {
      max-height: 100%;
      overflow-y: auto;
      align-self: center;
    }

    &.position-bottom {
      max-height: 100%;
      overflow-y: auto;
      align-self: flex-end;
    }

    &.position-fit {
      width: 100%;
    }

    &.size-mini {
      width: 80%;
      height: auto;
      padding: 20px;
    }

    &.size-small {
      width: 100%;
      height: 100%;
      padding: 0;
      .left-modal {
        display: none;
      }
      .right-modal {
        width: 100%;
      }
    }

    &.size-medium,
    &.size-medium-large {
      width: 100%;
      .left-modal {
        display: none;
      }
      .right-modal {
        width: 100%;
      }
    }

    &.size-smallbottom {
      width: 90%;
    }

    &.size-smallbottom-large {
      width: 90%;
    }

    &.size-large {
      width: 100%;
      height: 100%;
      .left-modal {
        display: none;
      }
      .right-modal {
        width: 100%;
      }
    }

    &.size-full {
      width: 100%;
      height: 100%;
    }
  }

  @media only screen and (min-width: 640px) {
    .body-modal {
      &.size-large {
        width: 80%;
        height: 555px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .body-modal {
      &.size-mini {
        width: 60%;
        height: auto;
      }
      &.size-small {
        width: 70%;
        height: auto;
      }
      &.size-medium {
        width: 600px;
      }
      &.size-medium-large {
        width: 70%;
      }
      &.size-large {
        width: 70%;
        height: 650px;
      }
      &.size-smallbottom {
        width: 648px;
      }
      &.size-smallbottom-large {
        width: 640px;
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .body-modal {
      &.size-medium {
        width: 680px;
        .left-modal {
          display: inline-block;
          width: 45%;
        }
        .right-modal {
          width: 55%;
        }
      }
      &.size-medium-large {
        width: 864px;
        .left-modal,
        .right-modal {
          width: 50%;
        }
        .left-modal {
          display: inline-block;
        }
      }
      &.size-small {
        width: 50%;
        height: auto;
      }
      &.size-large {
        width: 90%;
        height: 555px;
        .left-modal {
          display: inline-block;
          width: 58%;
        }
        .right-modal {
          width: 42%;
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .body-modal {
      &.size-mini {
        max-width: 380px;
        width: 50%;
      }
      &.size-small {
        max-width: 480px;
        width: 60%;
      }
      &.size-large {
        max-width: 1000px;
        height: 600px;
      }
    }
  }
}
