.signwall {
  * {
    .password-security {
      position: absolute;
      top: 18px;
      right: 10px;
      width: 40px;
      height: 15px;
      &__back {
        position: absolute;
        height: 15px;
        width: 40px;
        color: #000;
        background: repeating-linear-gradient(
          to right,
          #c1c1c1,
          #c1c1c1 5px,
          #fff 5px,
          #fff 10px
        );
      }
      &__front {
        position: absolute;
        height: 15px;
        width: 0;
        color: #000;
        background: repeating-linear-gradient(
          to right,
          #0089ff,
          #0089ff 5px,
          #fff 5px,
          #fff 10px
        );
      }
    }
  }
}
