.signwall {
  * {
    .load {
      &__loader {
        background: transparent;
        position: relative;
      }

      &__cont-loader {
        width: 200px;
        height: 50px;
        margin: 50% auto;
        text-align: center;
        svg {
          margin: 0px 5px;
        }
        svg:nth-child(1) {
          animation: identifier 700ms infinite linear;
        }
        svg:nth-child(2) {
          animation: identifier 700ms infinite linear;
          animation-delay: calc(350ms);
        }
        svg:nth-child(3) {
          animation: identifier 700ms infinite linear;
          animation-delay: calc(350ms * 2);
        }
        @media (--desktop) {
          margin: 20% auto;
        }
      }
    }

    @keyframes identifier {
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }

    .resume {
      &__dates {
        width: 100%;
        position: relative;
        color: black;

        .title-dates {
          display: inline-block;
          vertical-align: top;
          min-height: auto;
          width: 100%;
          @media (--desktop) {
            width: 20%;
          }

          h2 {
            margin: 0px;
          }

          .title {
            font-weight: bold;
            line-height: 26px;
            font-size: 20px;
            margin-bottom: 20px;
          }
        }

        .link {
          font-weight: bold;
          color: #0179af;
          text-decoration: underline;
          padding: 15px 0px;
          font-size: 12px;
          text-transform: uppercase;
          background: none;
          border: 0px;
          outline: none;
          cursor: pointer;
        }

        .cont-note {
          width: 100%;
          display: inline-block;
          vertical-align: top;
          @media (--desktop) {
            width: 75%;
          }
          .note-subs {
            color: #444444;
            font-size: 14px;
            padding: 10px 0px;
            @media (--desktop) {
              font-size: 11px;
            }
          }
        }

        .cont-plan {
          box-sizing: border-box;
          position: relative;
          width: 100%;
          .first-plan,
          .last-plan {
            width: 100%;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            @media (--desktop) {
              width: 50%;
            }
          }
          .first-plan {
            color: #444444;
            padding: 5% 10%;
            text-align: center;
            @media (--desktop) {
              padding: 20% 10%;
            }
            p {
              font-size: 14px;
              line-height: 30px;
            }
            h3 {
              font: 40px/0.8 $primary-font;
              font-weight: bold;
              margin-top: 20px;
            }
          }
          .last-plan {
            @media (--desktop) {
              padding: 0px 20px;
              border-left: 1px solid #bbbbbb;
            }
          }
        }

        .cont-dates,
        .cont-subs {
          background: #e8e8e8;
          padding: 20px 15px;
          box-sizing: border-box;
          border-radius: 8px;
          width: 100%;
          font-size: 14px;
          line-height: 30px;

          display: inline-block;
          vertical-align: top;
          min-height: auto;

          @media (--desktop) {
            width: 80%;
            min-height: 190px;
          }
          .pass {
            font-size: 30px;
            vertical-align: middle;
            letter-spacing: 4px;
          }
          .first-dates,
          .last-dates {
            display: inline-block;
            vertical-align: top;
            p:first-child {
              text-transform: capitalize;
            }
            p {
              margin: 0px;
            }
          }
          .first-dates,
          .last-dates {
            width: 100%;
            @media (--desktop) {
              width: 50%;
            }
          }
        }

        .cont-subs {
          padding: 0px;
          min-height: auto;
          @media (--desktop) {
            min-height: 150px;
          }
          .first-subs,
          .last-subs {
            display: inline-block;
            vertical-align: top;
            p {
              margin: 0px;
            }
          }
          .first-subs {
            background: #444444;
            color: white;
            padding: 40px 25px;
            width: 100%;
            box-sizing: border-box;
            font-size: 12px;
            line-height: 20px;
            min-height: auto;
            border-radius: 8px 8px 0px 0px;
            @media (--desktop) {
              border-radius: 8px 0px 0px 8px;
              min-height: 150px;
              width: 40%;
            }
            h3 {
              font-weight: bold;
              font-family: $primary-font;
              font-size: 30px;
              line-height: 30px;
            }
          }
          .last-subs {
            padding: 30px 40px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            @media (--desktop) {
              min-height: 150px;
              width: 60%;
            }
            .btn-subs {
              background: #0179af;
              color: white;
              padding: 10px;
              border-radius: 5px;
              margin-top: 18px;
              border: 0px;
            }
            h3 {
              font-weight: bold;
              font-size: 16px;
            }
            p {
              color: #444444;
              font-size: 14px;
              text-align: left;
            }
            ul {
              text-align: left;
              font-size: 14px;
              line-height: 24px;
              li {
                padding-left: 30px;
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAYNJREFUOBGFUsFxgzAQBEEDqSDgBuIOogH/43QQXnmGdOBUELsC55mn/Qcjd0AaICqBArDJrgeIkB3nZsSduN3T3kmuY5mUMvB9/wW/Jda0S5fw2yzLFt1+cP4QIYjjeOm6LslO27ZfiLfwNXyAtTGxfez2AcglQHfYb5umSZVSus/ZPoqiJ2Dv8zxPTgWMk98uyTQLkCyEWFPh4XCQbtfzN0DscW6C7dgmQ2UtPM9LCaRsm2DuL5GZF1iScvqeZ7OZZMK0v8jECA4OS3PDduAKzGTNPe0amfnRNVIFCAmHhCK8yr05MPZMEg1KN3APgvIR3PInbbfbfRyPxwSqRtM2ycSBF5DLGSisaScf4W8RAnhVNplYtg6oGq4R4A0exuOpwj+fXj5uLvS01nUYhjeUPJlMnKqq9tf4IC+Qf8aBq6IoPs+eMpVA9itkawAHo2y8mXccNMfP4dENBYg0njS3JYppBiAFcFMsDm+FVlPGtFEB/uhOIkB2gyKJN6WgbGkr+wHP1//N8PmHWQAAAABJRU5ErkJggg==');
                background-repeat: no-repeat;
                background-position: 0px 4px;
                color: #444444;
                font-size: 14px;
              }
            }

            // .mini {
            //   font-size: 10px;
            // }
          }
        }
      }
      &__dates:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
