//$color-page: #777;

.pagination {
  &__page {
    padding: 0 12px;
    background-color: #d8d7d4;
    margin: 4px 2px;
    color: $color-black;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: $primary-font;
    text-transform: capitalize;
    &--current,
    &--disabled {
      color: $color-base-300;
    }
  }
}
