//$color-page: #777;

.pagination {
  &__page {
    padding: 0 15px;
    // background-color: #d8d7d4;
    // color: $color-black;
    // font-family: $primary-font;
    margin: 0 5px;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #999999;
    font-family: "Encode Sans Condensed";
    background-color: #fff;
    font-weight: 700;
    color: #999999;
    &--current,
    &--disabled {
      color: $color-base-300;
    }
    &--current {
      background: #ff8303;
      color: #fff;
      border: none;
    }
    @media (--only-mobile) {
      padding-left: 14px;
    }
  }
  &__left {
    margin-left: 0;
    @media (--tablet) {
      margin-right: 20px;
      svg {
        display: none;
      }
    }
    @media (--only-mobile) {
      padding: 0 14px 0 11px;
    }
  }
  &__right {
    margin-right: 0;
    @media (--tablet) {
      margin-left: 20px;
      svg {
        display: none;
      }
    }
    @media (--only-mobile) {
      padding: 0 11px 0 14px;
    }
  }
}
