.story-item {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px !important;
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 30px;
  @media (--tablet) {
    display: flex;
    justify-content: center;
  }
  &__bottom {
    padding: 0 !important;
    @media (--tablet) {
      width: 678px;
    }
  }

  &__section-left {
    color: $color-secondary;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $primary-font;
    display: inline-block;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    padding: 0;
    order: -1;
    @media (--tablet) {
      padding: 5px 10px;
      background-color: $color-secondary;
      color: $color-white;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  &__left {
    width: 378px;
    padding-right: 0;
    flex: none;
    display: block;
    @media (--only-mobile) {
      max-width: 240px;
    }
  }
  &__right {
    margin-left: 0;
    width: 100px;
    height: 121px;
    @media (--tablet) {
      width: 300px;
      height: 168px;
    }
  }
  &__top {
    // display: none;
    @media (--tablet) {
      // display: none;
    }
  }
  &__section {
    color: #ff8303;
    font-family: $encode-c;
    font-weight: 600;
    letter-spacing: -0.24px;
    margin-bottom: 0 !important;
    padding: 0 !important;
    @media (--tablet) {
      font-size: 24px;
      display: block;
    }
    @media (--only-mobile) {
      font-size: 22px;
      &::after {
        content: "•";
        font-size: 16px;
        padding-left: 2px;
        padding-right: 2px;
        vertical-align: -1px;
      }
    }
  }
  &__wrapper-title {
    display: flex;
    justify-content: center;
    position: relative;

    p {
      background: #ff8303;
      color: #fff;
      font-size: 20px;
      padding: 2px 12px 3px;
      font-family: $encode-c;
      text-transform: uppercase;
      font-weight: 900;
      position: absolute;
      top: -51px;
    }
  }

  &__icon {
    background-color: #ff8303;
    border-radius: 10px;
    color: #fff;
    bottom: inherit;
    left: inherit;
    right: 10px;
    top: 10px;
    pointer-events: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 26px;
    position: absolute;
    transform: none;
    opacity: 0.8;

    @media (--tablet) {
      width: 66px;
      height: 66px;
      line-height: 66px;
      font-size: 30px;
    }
    &::before {
      background-color: transparent;
    }
  }
  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: $primary-font;
    color: $color-black;
    margin-top: 0;
    letter-spacing: -0.24px;
    font-weight: 600;

    @media (--tablet) {
      font-size: 24px;
      margin-top: 0;
      -webkit-line-clamp: 5;
    }
    @media (--only-mobile) {
      font-size: 22px;
      -webkit-line-clamp: 4;
    }
  }
  &__subtitle {
    display: none;
    font-family: $encode-c;
    font-size: 13px;
    -webkit-line-clamp: 3;
    color: $color-base-200;
    line-height: 19.5px;
    @media (--tablet) {
      display: none;
    }
  }

  // &__information-box {
  //   @media (--tablet) {
  //     width: 378px;
  //   }
  //   @media (--only-mobile) {
  //     max-width: 240px;
  //   }
  // }
  &__date {
    color: #a1a1a1;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.2px;
    font-family: $encode-c;
    margin-left: 0;
  }

  &__btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

    a {
      font-family: $encode-c;
      font-size: 14px;
      font-weight: 700;
      color: #999;
      line-height: 17px;
      display: inline-block;
      background-color: #fff;
      width: 120px;
      text-transform: uppercase;
      border: 1px solid #999;
      border-radius: 50px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    a:hover {
      background-color: #ff8303;
      color: #fff;
      border: 1px solid #fff;
      text-decoration: none;
    }
  }

  &__wrapper-item {
    display: flex;
    flex-direction: column;
  }
  &__content-title {
    color: #000;
    font-family: $encode-c;
    font-weight: 600;
    letter-spacing: -0.24px;
    @media (--tablet) {
      font-size: 24px;
    }
    @media (--only-mobile) {
      font-size: 22px;
    }
  }
  &--row {
    .story-item__left {
      padding-left: 0;
    }
  }
  &:nth-child(1) {
    margin-top: 0;
  }
}
