.story-item {
  border-top: 1px solid $color-base-300;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 0;
  @media (--desktop) {
    padding-top: 20px;
  }
  &__bottom {
    flex-direction: row-reverse;
    @media (--desktop) {
      padding-bottom: 0;
    }
  }

  &__section-left {
    color: $color-secondary;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $primary-font;
    display: inline-block;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    padding: 0;
    order: -1;
    @media (--tablet) {
      padding: 5px 10px;
      background-color: $color-secondary;
      color: $color-white;
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  &__left {
    width: calc(100% - 150px);
    padding-right: 0;
    flex: none;
    @media (--tablet) {
      width: calc(100% - 320px);
    }
  }
  &__right {
    width: 160px;
    height: 89.59px;
    margin-left: 0;
    margin-right: 20px;
    @media (--tablet) {
      width: 300px;
      height: 168px;
    }
  }
  &__top {
    display: none;
    @media (--tablet) {
      display: none;
    }
  }
  &__icon {
    background-image: url(/pf/resources/dist/trome/images/rgba70.png);
    border-radius: 10px;
    color: $color-gray-300;
    bottom: inherit;
    left: inherit;
    right: 10px;
    top: 10px;
    pointer-events: none;
    width: 66px;
    height: 66px;
    line-height: 66px;
    font-size: 30px;
    position: absolute;
    transform: none;
    @media (--tablet) {
      width: 66px;
      height: 66px;
      line-height: 66px;
      font-size: 30px;
    }
    &::before {
      background-color: transparent;
    }
  }
  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: $primary-font;
    color: $color-black;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 900;
    max-height: 58px;
    -webkit-line-clamp: 3;

    @media (--tablet) {
      max-height: 58px;
      -webkit-line-clamp: 2;
      font-size: 26px;
      margin-top: 0;
    }
  }
  &__subtitle {
    font-size: 13px;
    color: $color-base-200;
    line-height: 19.5px;
  }

  &__information-box {
    display: flex;
    flex-direction: column;
  }
  &__btn {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    a {
      color: $color-white;
      display: inline-block;
      background-color: #bfbebb;
      width: 405px;
      font-size: 16px;
      font-weight: bold;
      line-height: 35px;
    }
  }
  &__wrapper-item {
    display: flex;
    flex-direction: column;
  }
  &__content-title {
    margin-top: 5px;
  }
  &--row {
    .story-item__left {
      padding-left: 0;
    }
  }
}
