.navbar-nm {
  background-color: #000;
  padding: 0 20px;
  height: 36px;
  display: none;
  @media (--desktop) {
    display: block;
  }
  &__item {
    margin-right: 15px;
  }
  &__link {
    color: #999;
    display: block;
    padding: 5px 0;
    font-size: 13px;
  }
  &__icon-search {
    svg {
      fill: #999;
    }
  }
  &__box-search {
    display: none;
    background-color: #ced11f;
    right: -20px;
    width: 345px;
    z-index: 100;
    padding: 15px;
    font-size: 14px;
    top: 36px;
    &.active {
      display: block;
    }
  }
  &__input-search {
    height: 36px;
    width: 100%;
    padding: 0 8px;
  }
  &__btn-search {
    background-color: #ced11f;
    border: 1px solid #fff;
    color: #006132;
    font-weight: 700;
    height: 36px;
    width: 36px;
  }
  &__n {
    background-color: #333;
    padding: 0 20px;
    margin-right: 20px;
    svg {
      fill: #dddf45;
    }
    span {
      color: #dddf45;
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
