.git*
.vscode/
.fusion/
data/
dist/
node_modules/
src/
config/
jest/
coverage/
gulpfile.js
setupTests.js
.eslintrc
.browserslistrc
.babelrc
.prettierrc
.stylelintrc.json
commitlinterrc.json
__mocks__/
**/__tests__/
*.md
*.test*
**/*.md
**/*.test*
package-lock.json
yarn.lock