.git*
.vscode/
.fusion/
.gitlab/
data/
dist/
node_modules/
src/
config/
jest/
coverage/
types/
gulpfile.js
setupTests.js
.eslintrc.js
.eslintignore
.gitignore
.gitlab-ci.yml
.npmrc
.browserslistrc
.babelrc
.prettierignore
.prettierrc
.stylelintrc.json
jest.config.test
tsconfig.eslint.json
commitlinterrc.json
sonar-project.properties
__mocks__/
**/__tests__/
*.md
*.test*
**/*.md
**/*.test*
package-lock.json
yarn.lock