{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "react",
          "fusion:consumer",
          "fusion:environment",
          "fusion:properties",
          "fusion:content",
          "fusion:context"
        ]
      }
    ],
    "react/prop-types": [
      "enabled",
      {
        "ignore": "ignore",
        "customValidators": "customValidator"
      }
    ],
    "react/require-default-props": ["disabled"],
    "no-underscore-dangle": "off",
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  },
  "globals": {
    "document": true,
    "window": true,
    "location": true,
    "fetch": true
  },
  "parser": "babel-eslint"
}
