{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["react", "fusion:consumer"]
      }
    ],
    "react/prop-types": [
      "enabled",
      {
        "ignore": "ignore",
        "customValidators": "customValidator"
      }
    ],
    "react/require-default-props": ["disabled"],
    "no-underscore-dangle": "off",
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  },
  "globals": {
    "document": true,
    "window": true,
    "location": true,
    "fetch": false
  },
  "parser": "babel-eslint"
}
