**/.DS_Store
**/.env
**/node_modules

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

### Fusion ###
/.fusion
/data/db/
/data/dumps/**
!/data/dumps/.gitkeep
/data/restore/**
!/data/restore/.gitkeep
/resources/dist/
dist/
mocks/user
coverage/

launch.json
/.idea
/.scannerwork

resources/plugins/composer/embeds/custom-ec-blocks