$color-page: #777;

.pagination {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
  @media (--tablet) {
    width: 60%;
    flex-wrap: nowrap;
    max-height: 20px;
  }
  &__page {
    color: $color-gray;
    padding: 3px 5px;
    font-size: 12px;
    text-transform: uppercase;
    height: 100%;
    line-height: 14px;
    &:hover{
      text-decoration: underline;
    }
    &--current{
      background: #000;
      color: #fff;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    &--disabled {
      color: #ddd;
      pointer-events: none;
    }
  }
}