.b-news {
  margin: 5px 0;
  h2 {
    margin: 0 auto;
    overflow: hidden;
  }
  &--color-1 {
    background-color: #fff;
  }
  &__envivo {
    background-color: #ff0537;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    top: 1px;
  }
  &__link {
    display: block;
    text-align: center;
    padding: 0 10px 0 20px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (--desktop) {
      display: block;
      text-align: center;
      width: 948px;
      max-width: 1366px;
      margin-bottom: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__tag {
    font: 900 14px/29px $secondary-font;
    color: #ea3440;
    margin-right: 5px;
    @media (--desktop) {
      font-size: 16px;
    }
  }
  &__hint {
    text-transform: uppercase;
    color: #000;
  }
  &__title {
    font: 400 14px/29px $secondary-font;
    color: #000;
    @media (--desktop) {
      font-size: 16px;
    }
  }
}
