.b-news {
  margin-bottom: 5px;
  // justify-content: center;
  padding-right: 10px;
  padding-left: 20px;
  @media (--only-mobile) {
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @media (--desktop) {
    justify-content: center;
    padding: 0;
  }
  &--color-1 {
    background-color: #fff;
    // box-shadow: 0 4px 8px #00000029;
    // opacity: 0.7;
  }
  &__close {
    display: none;
  }
  &__envivo {
    background-color: #ff0537;
    display: inline-block;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    top: 1px;
  }
  &__link {
    display: block;
    text-align: center;
    //white-space: nowrap;
    @media (--desktop) {
      display: block;
      text-align: center;
      width: 948px;
      max-width: 1366px;
      margin-bottom: 5px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__tag {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 29px;
    font-weight: 900;
    letter-spacing: 0;
    color: #ea3440;
    opacity: 1;
    margin-right: 5px;
    @media (--desktop) {
      font-size: 16px;
    }
  }
  &__hint {
    text-transform: uppercase;
    color: #000;
  }
  &__title {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 29px;
    font-weight: normal;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
    @media (--desktop) {
      font-size: 16px;
    }
  }
}
