.story-gallery-slider {
  background-color: transparent;
  @media (--desktop) {
    padding: 0;
  }
  &__quantity {
    background-color: $color-gray-300;
    color: $color-white;
    font-family: $tertiary-font;
    font-size: 16px;
    font-weight: 700;
  }
  &__caption-image {
    font-family: $tertiary-font;
    font-size: 14.4px;
    font-weight: 500;
    color: $color-gray-300;
  }
  &__arrows {
    height: calc(100% - 50%);
    @media (--desktop) {
      height: calc(100% - 86px);
    }
  }
}
