.section-video {
  &__top {
    display: flex;
    flex-direction: column;
  }
  &__left {
    width: 100%;
  }
  &__frame {
    width: 100%;
    height: 220px;
    @media (--tablet) {
      height: 350px;
    }
    @media (--desktop) {
      height: 500px;
    }
    & .powa {
      height: 0;
      width: 100%;
    }
  }
  &__right {
    width: 100%;
    padding: 30px 30px 15px 30px;
  }
  &__sub {
    a {
      color: #b1b1b1;
    }

    position: relative;
    margin-right: 20px;
    &::after {
      content: ">";
      right: -10px;
      pointer-events: none;
      position: relative;
    }
    &:nth-last-child(1) {
      margin-right: 0;
      &::after {
        content: "";
      }
    }
  }
  &__box-section {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  &__section {
    color: white;
  }
  &__title {
    width: 80%;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
  }
  &__subtitle {
    color: #b1b1b1;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
  }
  &__author {
    margin-top: 10px;
    color: #b1b1b1;
  }
  &__btn {
    border-radius: 50%;
    background-color: #676767;
    color: white;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &__share {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  &__detail {
    width: 100%;
    color: #b1b1b1;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 0;
  }
  &__text {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
  &__wrapper {
    background-color: $color-gray-300;
    color: white;
    padding-bottom: 20px;
    &.fixed {
      @media (--desktop) {
        position: fixed;
        width: 980px;
        top: 46px;
        z-index: 2;
        height: 250px;
        left: 50%;
        transform: translateX(-50%);
      }
      .section-video__top {
        flex-direction: row;
        padding-bottom: 20px;
      }
      .__frame {
        width: 280px;
        height: 180px;
        @media (--desktop) {
          position: relative;
          margin: auto;
          top: 20px;
        }
      }
      .section-video__fixed {
        @media (--desktop) {
          display: none;
        }
      }
      .section-video__subtitle,
      .section-video__detail {
        display: none;
      }
      .section-video__right {
        width: calc(100% - 420px);
        padding: 20px;
      }
      .section-video__left {
        width: 420px;
      }
      .section-video__information {
        width: 70%;
      }
      .section-video__title {
        margin: 10px 0 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-align: left;
      }
      .section-video__box-section {
        justify-content: flex-start;
      }
    }
  }
}
