.section-video {
  background-color: $color-gray-300;
  &__box {
    padding: 10px;
  }
  &__wrapper {
    color: white;
    padding-bottom: 20px;
    &.fixed {
      .section-video__frame {
        position: fixed;
        z-index: 11;
        width: 280px;
        height: 180px;
        left: 300px;
        top: 10px;
      }
      .section-video__fixed {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        z-index: 10;
        top: 0;
        width: 980px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &__fixed {
    width: 100%;
    height: 200px;
    background-color: $color-gray-300;
    display: none;
    transition: all 0.15s ease;
  }
  &__min {
    width: calc(100% - 420px);
    padding: 20px 0;
  }
  &__top {
    display: flex;
    margin-bottom: 20px;
  }
  &__left {
    width: 100%;
    @media (--desktop) {
      width: 60%;
    }
  }
  &__des-title {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__frame {
  }
  &__right {
    width: 100%;
    @media (--desktop) {
      width: 40%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__sub {
    a {
      color: #b1b1b1;
    }
    position: relative;
    margin-right: 20px;
    &::after {
      content: '>';
      right: -10px;
      pointer-events: none;
      position: relative;
    }
    &:nth-last-child(1) {
      margin-right: 0;
      &::after {
        content: '';
      }
    }
  }
  &__title {
    width: 70%;
    margin: 10px 0;
    font-size: 32px;
  }
  &__subtitle {
    font-size: 18px;
    color: #b1b1b1;
    width: 80%;
  }
  &__author {
    margin-top: 10px;
    color: #b1b1b1;
  }
  &__btn {
    border-radius: 50%;
    background-color: #676767;
    color: white;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: solid 1px #757272;
    border-bottom: solid 1px #757272;
  }
  &__share {
    width: 100%;
    @media (--desktop) {
      width: 60%;
    }
  }
  &__detail {
    width: 100%;
    color: #b1b1b1;
    @media (--desktop) {
      width: 40%;
      padding: 0 10px;
    }
  }
  &__text {
    position: relative;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    &::before {
      content: '|';
      position: relative;
      left: -10px;
      font-size: 24px;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
