.video-navbar {
  // background-color: rgb(27, 27, 27);
  background-color: transparent;
  border-top: dashed 1px $color-gray-200;
  border-bottom: dashed 1px $color-gray-200;
  &.fixed {
    position: fixed;
    top: 246px;
    width: 980px;
    z-index: 10;
    background-color: rgb(27, 27, 27);
    border-top: 0;
    border-bottom: 0;
    .video-navbar__link {
      color: white;
    }
  }
  &__list {
    padding: 15px 0;
    display: flex;
    justify-content: center;
  }
  &__item {
  }
  &__link {
    display: block;
    padding: 0 10px;
    color: black;
  }
}
