.video-navbar {
  // background-color: rgb(27, 27, 27);
  background-color: transparent;
  border-top: dashed 1px $color-gray-200;
  border-bottom: dashed 1px $color-gray-200;
  @media (--desktop) {
    &.fixed {
      position: fixed;
      top: 274px;
      width: 980px;
      z-index: 10;
      background-color: rgb(27, 27, 27);
      border-top: 0;
      border-bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      .video-navbar__link {
        color: white;
      }
    }
  }

  &__list {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    @media (max-width: 1023px ) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &__list-none {
    border-top: none;
  }

  &__link {
    display: block;
    padding: 0 3px;
    color: black;
    @media (--desktop) {
      padding: 0 10px;
    }
  }
}
