/******* Brand colors *******/
$color-primary: #262627;
$color-secondary: #ffffff;
$color-tertiary: #ebc12f;
/*-----------------------*/

/* $color-base-400: #c5e2f7;
$color-base-300: #ed1c24;
$color-base-200: #26567f;
$color-base-100: #e8f2f9; */
/*-----------------------*/

/** ----------------------------*
*           GRAYSCALE           *
*-------------------------------*/
$color-black: #000000;
$color-gray-300: $color-primary;
$color-gray-200: #333333;
$color-gray-100: #e8e8e8;
$color-white: #ffffff;
/*------------------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/
/******** border colors *********/
$border-color-base: $color-base-200;

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;

/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/
/*-------------CALENDAR----------------*/
$calendar-background: $color-base-400 !default;
$calendar-title: #19191d !default;
$calendar-bg-icon: #ffffff !default;
$calendar-icon: #ffffff !default;
$calendar-line: #cac4c4 !default;
$calendar-month: #8c8c8c !default;
$calendar-day: #8c8c8c !default;
/*-------------CALENDAR----------------*/
