.saltar-intro-title {
  &__container {
    justify-content: center;
    border-top: 2px solid #646464;
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 10px;
    position: relative;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    line-height: 23px;
    font-weight: 800;
    letter-spacing: 0;
    color: #575757;
    border-left: 1px solid #646464;
    border-right: 1px solid #646464;
    padding: 5px 0;
    top: 6px;
    background-color: #fff;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__box-line {
    width: 100%;
  }
  &__line {
    border-top: 1px dashed #646464;
    margin-bottom: 5px;
  }
}
