.saltar-intro-separator-premiere {
  font-family: $primary-font;
  // display: flex;
  // flex-direction: column-reverse;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  padding-bottom: 20px;
  @media (--desktop) {
    padding-bottom: 0;
  }
  &__box-see-more {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
    position: absolute;
    bottom: -15px;
    transform: translateX(-50%);
    left: 50%;
    @media (--desktop) {
      text-align: right;
      padding-top: 0;
      margin-bottom: 0;
      position: unset;
      bottom: unset;
      transform: unset;
      left: unset;
    }
  }
  &__see-more {
    // font: normal normal medium 10px/17px Bitter;
    font-size: 10px;
    line-height: 17px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: #000;
    text-transform: uppercase;

    svg {
      width: 15px;
      top: 2px;
      position: relative;
    }
  }
  &__title--separator {
    // font: normal normal 800 19px/24px Bitter;
    font-weight: 800;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    color: #000;
    text-transform: uppercase;
    position: relative;
    bottom: 5px;
    @media (--desktop) {
      font-size: 25px;
      bottom: unset;
    }
    &::before {
      content: "";
      border-left: 11.5px solid #917de5;
      -moz-transform: rotate(0deg) skew(0deg, -45deg);
      -webkit-transform: rotate(0deg) skew(0deg, -45deg);
      -o-transform: rotate(0deg) skew(0deg, -45deg);
      -ms-transform: rotate(0deg) skew(0deg, -45deg);
      transform: rotate(0deg) skew(0deg, -45deg);
      height: 24px;
      position: absolute;
      left: -15px;
      top: 7px;
      @media (--desktop) {
        height: 25px;
        top: 7px;
      }
    }
    &::after {
      content: "";
      border-bottom: 15px solid #58097b;
      -moz-transform: rotate(45deg) skew(0deg, -45deg);
      -webkit-transform: rotate(45deg) skew(0deg, -45deg);
      -o-transform: rotate(45deg) skew(0deg, -45deg);
      -ms-transform: rotate(45deg) skew(0deg, -45deg);
      transform: rotate(45deg) skew(0deg, -45deg);
      height: 11px;
      position: absolute;
      width: 200px;
      top: 15px;
      left: 35px;
      @media (--desktop) {
        height: 11px;
        width: 225px;
        left: 41px;
      }
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    background-color: #e8e8e8;
    padding: 20px;
    padding-bottom: 0;
    flex-wrap: wrap;
    @media (--desktop) {
      flex-wrap: unset;
      padding-bottom: 20px;
    }
  }
  &__title {
    // font: normal normal 800 15px/17px Bitter;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0;
    color: #000;
    text-transform: uppercase;
    display: block;
    width: 160px;
    opacity: 1;
    height: 30px;
    overflow: hidden;
    @media (--desktop) {
      font-size: 15px;
      line-height: 17px;
    }
  }
  &__box-title--separator {
    display: flex;
    justify-content: center;
    position: relative;
    @media (--desktop) {
      top: 10px;
    }
  }
  &__date {
    // font: italic normal medium 11px/17px Bitter;
    font-style: italic;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    color: #5f5f5f;
    opacity: 1;
    border-bottom: 1px dotted #818181;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  &__plataform {
    // font: normal normal 600 12px/18px Bitter;
    letter-spacing: 0.17px;
    opacity: 1;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    min-width: 97px;
    padding: 4px 10px 3px;
    text-transform: uppercase;
    position: absolute;
    bottom: -2px;
    left: 10px;
    z-index: 2;
    transform: skew(-10deg);
    &--reversing {
      display: block;
      transform: skew(10deg);
    }
  }
  &__image-box {
    position: relative;
    display: block;
    margin-bottom: 5px;
  }
  &__image {
    width: 159px;
    max-height: 235px;
  }
  &__item {
    margin-bottom: 30px;
    @media (--desktop) {
      margin-bottom: unset;
    }
  }
}
