@keyframes shareIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-40px);
  }
}
@keyframes shareOut {
  0% {
    opacity: 1;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.metro {
  background: linear-gradient(
    to right,
    #ee8f25,
    #f9d320 15%,
    #f9d320 85%,
    #ee8f25
  );
  width: 100%;
  margin: auto;
  padding: 10px;

  @media (--tablet) {
    padding: 20px;
  }
  @media (--desktop) {
    padding: 40px;
  }

  &-header {
    justify-content: space-between;
  }

  &-logometro {
    width: 90px;
    filter: drop-shadow(5px 5px 10px #444);
    @media (--tablet) {
      width: 170px;
    }
  }

  &-logoclubt {
    height: 50px;
    filter: drop-shadow(5px 10px 10px #444);
    @media (--tablet) {
      height: 80px;
    }
  }

  &-logotrome {
    width: 120px;
    filter: drop-shadow(5px 5px 5px #444);
    @media (--tablet) {
      width: 140px;
    }
  }
  &-title {
    color: #e15917;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 25px;
    @media (--tablet) {
      font-size: 40px;
    }
  }

  &-subtitle-bold {
    font-weight: bold;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    @media (--tablet) {
      font-size: 25px;
      padding-bottom: 20px;
    }
  }

  &-subtitle {
    margin: auto;
    text-align: center;
    padding-bottom: 25px;
    font-size: 16px;
    @media (--tablet) {
      font-size: 18px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    grid-gap: 20px;
    margin-bottom: 20px;

    @media (--tablet) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  &-legal {
    text-align: justify;
    line-height: 1.1em;
    margin-bottom: 20px;
  }

  &-footer {
    display: flex;
    align-items: center;
    &__social {
      &.in {
        animation: shareIn 300ms ease-in-out forwards;
      }
      &.out {
        animation: shareOut 300ms ease-in-out forwards;
        // animation-direction: reverse;
        display: none;
      }

      // padding: 30px 0 0 0;
      // display: flex;
      .share-btn {
        border: 1px solid $color-gray-300;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-right: 15px;
        padding: 0;
        line-height: 0;
        fill: $color-gray-300;
        &--stroke {
          fill: transparent;
          stroke: $color-gray-300;
        }
      }

      .f {
        display: flex;
      }

      .f-center {
        justify-content: center;
        align-items: center;
      }
      .s-fb {
        background-color: #21589b;
        border: none;
        svg {
          fill: #fff;
        }
      }
      .s-tw {
        background-color: #00aef0;
        border: none;
        svg {
          fill: #fff;
        }
      }
      .s-lk {
        display: flex;
      }
      .share-btn--ws {
        display: flex;
      }
    }
  }

  &-legal {
    font-size: 10px;
    color: black;
    text-align: left;
    @media (--tablet) {
      font-size: 12px;
    }
  }
}

.coupon {
  background-color: #ffffff;
  border: 1px #ee7325 solid;
  border-radius: 20px;
  box-shadow: 0 2px 1rem #555;
  min-height: min-content;
  padding: 10px 10px;
  width: 100%;

  &-first-column-sf {
    width: 50%;
    padding: 10px;
  }

  &-second-column-sf {
    width: 50%;
    padding-left: 3%;
    border-left: 1.5px #fee6cd solid;
  }

  &-first-column-ec {
    width: 50%;
  }

  &-second-column-ec {
    width: 50%;
    text-align: start;
    padding-left: 3%;
    border-left: 1.5px #fee6cd solid;
  }

  // &-separator {
  //   width: 1%;
  //   border-left: 1px #fee6cd solid;
  //   margin: 10% 0 10%;
  //   display: flex;
  //   height: 100%;
  // }

  &-image {
    width: 90%;
    margin: 0 auto 0;
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: 1rem;
  }
  &-amount-container {
    padding-bottom: 10px;
  }

  &-amount {
    color: #ee7325;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 2px;
    @media (--tablet) {
      font-size: 35px;
    }
    & span {
      font-size: 25px;
      @media (--tablet) {
        font-size: 28px;
      }
    }
  }

  &-amount-percent {
    color: #ee7325;
    font-size: 40px;
    font-weight: bold;
    @media (--tablet) {
      font-size: 45px;
    }
  }

  &-percentage {
    color: #ee7325;
    font-size: 20px;
    @media (--tablet) {
      font-size: 25px;
    }
  }
  &-type {
    color: #ee7325;
    font-size: 75px;

    @media (--tablet) {
      font-size: 80px;
    }
  }
  &-discount {
    color: #ee7325;
    font-size: 6px;
    @media (--tablet) {
      font-size: 10px;
    }
  }

  &-quantity {
    color: #575557;
    font-size: 26px;
    font-weight: 600;
    padding-top: 3px;
  }

  &-cencosud {
    padding-top: 10px;
    &-image {
      width: 30px;
      padding-left: 5px;
      @media (--tablet) {
        width: 40px;
      }
    }
    &-price {
      font-size: 26px;
      font-weight: 550;
      color: #ee7325;
      @media (--tablet) {
        font-size: 28px;
      }
    }
    &-text {
      font-size: 6px;
      color: #2d2d2d;
      @media (--tablet) {
        font-size: 8px;
      }
    }

    &-percentage {
      color: #ee7325;
      font-size: 18px;
      @media (--tablet) {
        font-size: 20px;
      }
    }
    &-discount {
      color: #ee7325;
      font-size: 6px;
      @media (--tablet) {
        font-size: 8px;
      }
    }
  }

  &-bonus {
    padding-top: 10px;

    &-points {
      font-size: 20px;
      color: #e06437;
      @media (--tablet) {
        font-size: 25px;
      }
    }

    &-text {
      font-size: 7px;
      color: #e06437;
      @media (--tablet) {
        font-size: 9px;
      }
    }

    &-image {
      width: 45px;
      @media (--tablet) {
        width: 60px;
      }
    }

    &-price {
      font-size: 13px;
      color: #e06437;
      @media (--tablet) {
        font-size: 17px;
      }
    }
  }

  &-title {
    padding-bottom: 5px;
    color: #2d2d2d;
    line-height: 0.9;
    text-align: center;
    @media (--tablet) {
      margin-top: 12px;
    }
  }

  &-dsctoE {
    color: #ee7325;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 5px;
    @media (--tablet) {
      font-size: 34px;
    }
    & span {
      font-size: 15px;
      @media (--tablet) {
        font-size: 20px;
      }
    }
  }
  &-reason {
    color: #1f1f1f;
    font-size: 12px;
    text-align: center;
    padding-bottom: 5px;
    @media (--tablet) {
      font-size: 15px;
    }
  }
  &-limit {
    color: #ee7325;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    @media (--tablet) {
      font-size: 22px;
    }
    & span {
      font-size: 15px;
      @media (--tablet) {
        font-size: 18px;
      }
    }
  }
  &-local {
    text-align: center;
    color: #1f1f1f;
    font-size: 12px;
    padding-bottom: 5px;
    @media (--tablet) {
      font-size: 15px;
    }
  }
  &-discount-title {
    color: #7b7a7a;
    font-size: 11px;
    padding-top: 1px;

    @media (--tablet) {
      font-size: 15px;
    }
  }
  &-code {
    font-weight: bold;
    color: #7a7979;
    font-size: 22px;
    padding-top: 2px;
    word-break: break-word;
    @media (--tablet) {
      font-size: 24px;
    }
  }

  &-codeEco {
    font-weight: bold;
    color: #7a7979;
    margin-top: 15px;
    font-size: 13px;
    word-break: break-word;
    @media (--tablet) {
      font-size: 17.5px;
    }
  }

  &-restriction-title {
    color: #ee7325;
    padding-bottom: 2px;
  }

  &-restriction-text {
    font-size: 10px;
    list-style-type: disc;
  }

  &-logo-metrope {
    width: 40px;
    height: auto;
    padding-bottom: 20px;
    @media (--tablet) {
      width: 50px;
    }
  }
}
