@import "../../general-styles/framework/variables/index";
@import "../../general-styles/components/features/ads/ads-vgallery";

@import "./scss/variables/index";
@import "./scss/variables/fonts";
@import "./scss/variables/lite";

@import "./scss/lite-components/features/story/gallery/gallery-vertical";
