.subs-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 20;
  top: 0;
  left: 0;
}

.subs-background {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -100px;
  text-align: center;
  svg {
    margin: 0 5px;
  }
  svg:nth-child(1) {
    animation: identifier 700ms infinite linear;
  }
  svg:nth-child(2) {
    animation: identifier 700ms infinite linear;
    animation-delay: calc(350ms);
  }
  svg:nth-child(3) {
    animation: identifier 700ms infinite linear;
    animation-delay: calc(350ms * 2);
  }
}

@keyframes identifier {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
