@import './breaking-news/breaking-news';
@import './layout/navbar/nav';
@import './layout/navbar/nav-sidebar';
@import './layout/navbar/nav-story';
@import './layout/header/header';
@import './separators/basic/separador';
@import './cards/triplet/triplet';
@import './cards/tabloid/tabloid';
@import './stories-list/card/stories-list-card';
@import './stories-list/card/stories-list-header';
@import './stories-list/card/stories-list-item';
@import './stories-list/most-read-premium/most-read-premium-header';
@import './stories-list/most-read-premium/most-read-premium-footer';
@import './stories-list/most-read-premium/most-read-premium-item';
@import './search-filter/search-filter';
@import './cards/most-read/most-read';
@import './cards/most-read/most-read-item';
@import './layout/footer/footer';
@import './story/header/story-header';
@import './story/header/story-gallery-slider';
@import './story/content/story-content';
@import './story/content/related-content';
@import './story/content/story-tags';
@import './statics/info-pages';
@import './story/continue/story-continue';
@import './story/separator/story-separator';
@import './story/story/story';
@import './custom-title/custom-title';
@import './error404/error404';
@import './stories-list/most-read-homologated/most-read-homologated-header';
@import './stories-list/most-read-homologated/most-read-homologated-card';
@import './stories-list/most-read-homologated/most-read-homologated-item';