.story-contents {
  &__content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font: 900 20px/32px $secondary-font;
    }
    a {
      color: #408ec7;
      text-decoration: underline;
    }
    b {
      font: 900 20px/32px $primary-font;
    }
  }
  div[class^="content_gpt"] {
    margin-bottom: 32px;
  }
  p.story-contents__font-paragraph {
    font: 500 20px/32px $primary-font;
    margin-bottom: 32px;
    word-wrap: break-word;
  }
  &__embed,
  &__lL-iframe {
    margin-bottom: 32px;
    overflow: hidden;
  }
  &__blockquote {
    font: 500 20px/32px $primary-font;
    background-color: #f5f5f5;
    position: relative;
    margin: 20px 0 40px 15px;
    padding: 20px 20px 20px 36px;
    &::before {
      background-color: #1d75c9;
      content: "";
      display: block;
      height: calc(100% - 40px);
      left: 24px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
    }
  }
  &__paragraph-list {
    font: 500 20px/32px $primary-font;
    margin: 0 0 0 20px;
    li {
      padding-bottom: 32px;
    }
  }
  .story-content {
    &__stamp-trust {
      border-top: 1px solid #f7c600;
      border-bottom: 1px solid #f7c600;
      margin: 0 0 40px 20px;
      padding: 8px 0;
      &__box-left {
        display: flex;
        align-items: center;
        p {
          font: 500 10px/18px $secondary-font;
          margin-right: 7px;
          color: #454545;
        }
        img {
          height: 16px;
        }
      }
      &__link {
        display: none;
      }
    }
    &__embed {
      .live-event-minute {
        font: 700 14px/24px $secondary-font;
        text-align: left;
        letter-spacing: -0.28px;
        color: #ea3440;
        position: relative;
        &::before {
          content: "__";
          margin-right: 5px;
        }
        &::after {
          content: " ";
          position: absolute;
          background-color: white;
          top: 1px;
          margin-left: 1px;
          width: 10px;
          height: 20px;
        }
      }
      .icon-compartir {
        display: none;
      }
      .live-event2-comment {
        padding: 20px 0;
        border-top: 1px solid #efc843;
        &:first-child {
          border-top: 1px solid #ccc;
        }
        p {
          font: 500 18px/24px $secondary-font;
          text-align: left;
          letter-spacing: -0.36px;
          color: #454545;
          margin-left: 20px;
          a {
            text-decoration: underline;
            color: #408ec7;
          }
        }
        strong {
          visibility: hidden;
        }
      }
      div[class^="content_gpt"] {
        padding: 20px 0;
        border-top: 1px solid #ccc;
        + .live-event2-comment {
          border-top: 1px solid #ccc;
        }
      }
    }
  }
  .s-multimedia__caption,
  &__caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.14px;
    color: #454545;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .jw-display-icon-container.jw-display-icon-display.jw-reset {
    background-color: #ffcb05;
    border: 1px solid #ffcb05;
    border-radius: 50%;
  }
  .pquote {
    margin-left: 50px;
    margin-bottom: 15px;
    @media (--desktop) {
      margin-left: 20px;
    }
    &__text {
      p ~ p {
        color: #917400;
        font: 900 18px/24px $secondary-font;
        letter-spacing: 0;
        text-align: left;
      }
      p:first-child {
        color: #b39004;
        font: 500 24px/32px $primary-font;
        letter-spacing: -0.48px;
        text-align: left;
        @media (--desktop) {
          font: 500 32px/40px $primary-font;
          letter-spacing: -0.64px;
        }
      }
    }
    &__title {
      color: #b39004;
      font: 500 24px/32px $primary-font;
      letter-spacing: -0.48px;
      text-align: left;
      margin-bottom: 10px;
      @media (--desktop) {
        font: 500 32px/40px $primary-font;
        letter-spacing: -0.64px;
      }
    }
    &__author {
      color: #917400;
      font: 900 18px/24px $secondary-font;
      letter-spacing: 0;
      text-align: left;
    }
    &__author-text {
      color: #917400;
      font: 500 18px/24px $secondary-font;
      letter-spacing: 0;
      text-align: left;
    }
    &__img {
      width: 70px;
      height: 70px;
      margin-top: 10px;
    }
  }
  .intertitle {
    margin: 15px 0;
    &__title {
      color: #000;
      font: 900 26px/32px $primary-font;
      letter-spacing: -0.64px;
      text-align: center;
      @media (--desktop) {
        font: 900 32px/40px $primary-font;
        letter-spacing: -0.52px;
      }
    }
  }
  &__social {
    margin: 40px 0 32px 20px;
    .s-buttons {
      padding: 0;
    }
  }
  .bbc-head {
    overflow: hidden;
    margin: 0 0 32px 20px;
  }
}

ul.story-contents__paragraph-list {
  list-style-type: disc;
}
ol.story-contents__paragraph-list {
  list-style-type: decimal;
}

.story-content__correction {
  margin: 0 0 40px 20px;
  font: 400 13px/16px $secondary-font;
  span {
    display: block;
    font: 500 14px/24px $secondary-font;
    letter-spacing: 2.8px;
    color: #070606;
    margin-bottom: 5px;
  }
}
