.story-contents__author {
  &.gv {
    margin: 10px 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px 20px 15px 20px;

    .story-contents__author-email {
      margin-bottom: 5px;
    }
  }
}
