.nav__story-title {
  display: none;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 15px;
  max-height: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.nav__story-social-network {
  display: none;
}
.nav__loader-bar {
  display: none;
}
.nav__load-bg {
  display: none;
}
.story-header__item {
  margin-left: 10px;
  svg {
    width: 32px;
  }
  span {
    color: #888;
    font-size: 12px;
    margin-right: 10px;
    display: none;
    @media (--tablet) {
      display: block;
    }
  }
}

.header-full {
  background-color: #007c31;
  height: 50px;
  z-index: 21;
  &__left {
    padding: 0 10px;
  }
  &__right {
    padding-right: 20px;
  }
  &__btn-menu {
    padding: 10px;
    svg {
      fill: #fff;
    }
  }
  &__box-logo {
    background-color: #d5d745;
    transform: skew(-13deg);
    padding: 5px;
    margin: 0 20px;
  }
  &__logo {
    width: 80px;
    transform: skew(13deg);
    max-width: 150px;
  }
  &__item-nav {
    margin-right: 24px;
  }
  &__link-nav {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.39px;
  }
  &__btn-result {
    display: block;
    background-color: #8116d5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.36px;
    border: 1px solid #ffffffa3;
    border-radius: 5px;
    font-size: 11px;
    padding: 9px 13px;
    @media (--tablet) {
      font-size: 12px;
      padding: 9px 25px;
    }
  }
  &__box-list {
    display: none;
    @media (--desktop) {
      display: block;
    }
  }
  &__megamenu {
    display: none;
  }

  &__edicion {
    background: #006328 0% 0% no-repeat padding-box;
    border-left: 1px solid #008a37;
    padding: 8px 3px 3px 14px;
    width: 72px;
    margin-left: 15px;

    @media (--only-mobile) {
      display: none;
    }
  }
  &__e-title {
    color: #fff9;
    font: normal normal normal 10px/17px $tertiary-font;
  }
  &__e-link {
    font: normal normal normal 14px/17px $tertiary-font;
    color: $color-white;
    display: flex;
    & .svg {
      fill: $color-white;
      margin-top: -2px;
    }
  }
  &__e-mx {
    margin-top: 2px;
  }
  &__e-content {
    position: absolute;
    top: 70px;
    right: 10px;
    &.hidden {
      display: none;
    }
    &.block {
      display: block;
    }
  }
  &__e-body {
    background: #f8f8f8 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    font-size: 13px;
    font-weight: 500;
    font-family: $secondary-font;
    border: 1px solid #ccc;
    width: 220px;
  }
  &__e-name {
    font: normal normal bold 10px/17px $tertiary-font;
    color: #333;
    border: 1px solid #ededed;
    padding: 10px;
  }

  &__e-pais,
  .nav-sidebar__e-pais {
    border: 1px solid #ededed;
    padding: 20px;
    font-size: 0.81rem;
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
    &:hover,
    &.active {
      background: #444 0% 0% no-repeat padding-box;
      color: #ccc;
      text-decoration: none;
    }
  }
  .paisBody {
    .nav-sidebar__e-pais {
      color: #999;
      padding: 10px 0 7px 0;
      margin-left: 10px;
      border: none;
      &:hover,
      & .active {
        border-bottom: 2px solid #fff;
        background: none;
      }
    }
    .nav-sidebar__e-name {
      padding: 10px 0 0 15px;
      color: #ccc;
      font: normal normal normal 10px/17px $tertiary-font;
    }
  }

  &__e-arrow {
    width: 18px;
    height: 18px;
    background: #f8f8f8;
    top: -9px;
    position: absolute;
    transform: translate(182.47px) rotate(45deg);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  &__wrapper-menu {
    background: #222 0% 0% no-repeat padding-box;
  }
  &__item {
    border: 1px solid #333;
  }
  &__submenu-item {
    border-bottom: 1px solid #333;
  }
  &__input-search {
    background: #333 0% 0% no-repeat padding-box;
    border: 1px solid #555 !important;
    border-right: none !important;
    width: 73%;
  }
  &__btn-search {
    background: #333 0% 0% no-repeat padding-box;
    color: #888;
    border: 1px solid #555 !important;
    border-left: none !important;
  }

  .nav-sidebar__e-body {
    margin-top: 10px;
  }

  &.active {
    position: fixed;
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 46px;
    .header-full {
      &__btn-menu {
        svg {
          fill: #666;
        }
      }
      &__box-logo {
        display: none;
        background-color: transparent;
        @media (--tablet) {
          display: block;
        }
      }
      &__btn-container {
        display: none;
      }
      &__box-list {
        display: none;
      }
      &__edicion {
        background: #fff 0% 0% no-repeat padding-box;
        border-left: 1px solid #eaeaea;
      }
      &__e-title {
        color: #000;
      }

      &__e-link {
        color: #000;
        .svg {
          fill: #000;
        }
      }
    }
    .nav__story-social-network {
      display: block;
    }
    .nav__story-title {
      @media (--desktop) {
        display: block;
        display: -webkit-box;
      }
    }
    .nav__loader-bar {
      display: block;
      background-color: #42c64c;
      height: 5px;
      width: 100%;
      top: 46px;
      transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
      will-change: transform;
      transform-origin: left center;
    }
    .nav__load-bg {
      display: block;
      height: 5px;
      width: 100%;
      top: 46px;
      background-color: #eaeaea;
    }
  }
}

//REDISEÑO DEPOR-PLAY
.depor-play {
  .s-multimedia {
    picture {
      display: block;
    }
    img {
      display: block;
    }
  }
  .s-multimedia__caption {
    background-color: #252256;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav-sidebar__item {
    @media (--only-mobile) {
      border: 1px solid #3731a3;
    }
  }
  .nav-sidebar__footer {
    display: none;
  }
  .header-full {
    background: transparent linear-gradient(90deg, #63298a 0%, #1d1a57 100%) 0%
      0% no-repeat padding-box;
    &.active {
      background: #fff;
      & .header-full__newsletter {
        display: none;
      }
      & .header-full__logo {
        filter: none;
      }
      & .header-full__link-logo {
        & svg {
          filter: none;
        }
      }
      & .header-full__link-logo-play img {
        filter: brightness(0) invert(1);
      }
    }
    &__box-logo {
      background-color: transparent;
      @media (--only-mobile) {
        transform: initial;
        width: 100%;
      }
    }
    &__logo-play {
      text-align: center;
      display: block;
      @media (--desktop) {
        display: none;
      }
      & img {
        height: 40px;
        width: 100px;
      }
    }
    &__link-logo {
      display: none;
      @media (--desktop) {
        display: flex;
      }
      & svg {
        width: 15px;
        filter: invert(1);
        transform: skewX(10deg);
        margin-right: 15px;
      }
    }
    &__box-logo-play {
      display: flex;
      height: 100%;
      padding: 15px 25px;
    }
    &__link-logo-play {
      & svg {
        width: 15px;
        filter: invert(1);
        transform: skewX(355deg);
        margin-right: 15px;
      }
      & img {
        height: 70px;
        transform: skew(355deg);
      }
    }
    &__logo {
      filter: brightness(0) invert(1);
    }
    &__btn-menu {
      @media (--desktop) {
        display: none;
      }
      display: block;
      border: 1px solid #ada8f0;
      border-radius: 50%;
      padding: 8px;
      & svg {
        height: 12px;
      }
    }
    &__edicion {
      display: none;
    }
    &__btn-container {
      display: none;
    }
    &__left {
      width: 100%;
    }
    &__box-list {
      width: 100%;
    }
    &__list-nav {
      justify-content: space-evenly;
      padding: 0px 40px;
    }
    &__newsletter {
      @media (--desktop) {
        display: block;
      }
      display: none;
      width: 110px;
      & a {
        padding: 0 5px;
        align-items: center;
        display: flex;
        svg {
          fill: #dddf45;
        }
        span {
          color: #dddf45;
          font-size: 13px;
          margin-left: 10px;
        }
      }
    }
    &__newsletter-li {
      padding: 15px 25px;
      & a {
        align-items: center;
        display: flex;
        svg {
          fill: #dddf45;
        }
        span {
          color: #dddf45;
          font-size: 13px;
          margin-left: 10px;
          text-transform: capitalize;
        }
      }
    }
    &__megamenu {
      background-color: #1d1a57;
    }
    &__dpsearch {
      padding: 15px 20px 0;
    }
    &__dpform {
      display: flex;
      justify-content: flex-end;
      & svg {
        position: absolute;
        height: 18px;
        margin-right: 12px;
        margin-top: 9px;
        opacity: 0.5;
      }
    }
    &__dpforminput {
      width: 100%;
      border-radius: 4px;
      height: 36px;
      padding: 10px 15px;
    }
    &__banner-logo {
      display: none;
      @media (--desktop) {
        display: block;
        margin: 15px 0;
        & a {
          cursor: default;
        }
      }
    }
  }
  .h-continuous {
    background: transparent linear-gradient(90deg, #63298a 0%, #1d1a57 100%) 0%
      0% no-repeat padding-box;
    &__img {
      height: 30px;
      content: url(https://cdna.depor.com/resources/dist/depor/depor-play/Logo_DeporPlay_1.svg);
      @media (--desktop) {
        height: 45px;
      }
    }
  }
}
