.nav__story-title {
  display: none;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 15px;
  max-height: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.nav__story-social-network {
  display: none;
}
.nav__loader-bar {
  display: none;
}
.nav__load-bg {
  display: none;
}
.story-header__item {
  margin-left: 10px;
  svg {
    width: 32px;
  }
  span {
    color: #888;
    font-size: 12px;
    margin-right: 10px;
    display: none;
    @media (--tablet) {
      display: block;
    }
  }
}

.header-full {
  background-color: #007c31;
  height: 50px;
  z-index: 21;
  &__left {
    padding: 0 10px;
  }
  &__right {
    padding-right: 20px;
  }
  &__btn-menu {
    padding: 10px;
    svg {
      fill: #fff;
    }
  }
  &__box-logo {
    background-color: #d5d745;
    transform: skew(-13deg);
    padding: 5px;
    margin: 0 20px;
  }
  &__logo {
    transform: skew(13deg);
    max-width: 150px;
  }
  &__item-nav {
    margin-right: 24px;
  }
  &__link-nav {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.39px;
  }
  &__btn-result {
    display: block;
    background-color: #8116d5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.36px;
    border: 1px solid #ffffffa3;
    border-radius: 5px;
    font-size: 11px;
    padding: 9px 13px;
    @media (--tablet) {
      font-size: 12px;
      padding: 9px 25px;
    }
  }
  &__box-list {
    display: none;
    @media (--desktop) {
      display: block;
    }
  }
  &__megamenu {
    display: none;
  }

  &__edicion {
    background: #006328 0% 0% no-repeat padding-box;
    border-left: 1px solid #008a37;
    padding: 8px 3px 3px 14px;
    width: 72px;
    margin-left: 15px;

    @media (--only-mobile) {
      display: none;
    }
  }
  &__e-title {
    color: #fff9;
    font: normal normal normal 10px/17px $tertiary-font;
  }
  &__e-link {
    font: normal normal normal 14px/17px $tertiary-font;
    color: $color-white;
    display: flex;
    & .svg {
      fill: $color-white;
      margin-top: -2px;
    }
  }
  &__e-mx {
    margin-top: 2px;
  }
  &__e-content {
    position: absolute;
    top: 70px;
    right: 10px;
    &.hidden {
      display: none;
    }
    &.block {
      display: block;
    }
  }
  &__e-body {
    background: #f8f8f8 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    font-size: 13px;
    font-weight: 500;
    font-family: $secondary-font;
    border: 1px solid #ccc;
    width: 220px;
  }
  &__e-name {
    font: normal normal bold 10px/17px $tertiary-font;
    color: #333;
    border: 1px solid #ededed;
    padding: 10px;
  }

  &__e-pais,
  .nav-sidebar__e-pais {
    border: 1px solid #ededed;
    display: block;
    padding: 20px;

    & .cls-1 {
      fill: $color-white;
    }
    & .cls-2 {
      fill: #006847;
    }
    & .cls-4 {
      fill: #bfc2a3;
    }
    & .cls-3 {
      fill: #db161d;
    }
    &:hover,
    &.active {
      background: #444 0% 0% no-repeat padding-box;
      color: #ccc;
      text-decoration: none;
    }
  }
  .paisBody {
    .nav-sidebar__e-pais {
      color: #999;
      padding: 10px 0 7px 0;
      margin-left: 10px;
      border: none;
      &:hover,
      & .active {
        border-bottom: 2px solid #fff;
        background: none;
      }
    }
    .nav-sidebar__e-name {
      padding: 10px 0 0 15px;
      color: #ccc;
      font: normal normal normal 10px/17px $tertiary-font;
    }
  }

  &__e-arrow {
    width: 18px;
    height: 18px;
    background: #f8f8f8;
    top: -9px;
    position: absolute;
    transform: translate(182.47px) rotate(45deg);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  &__wrapper-menu {
    background: #222 0% 0% no-repeat padding-box;
  }
  &__item {
    border: 1px solid #333;
  }
  &__submenu-item {
    border-bottom: 1px solid #333;
  }
  &__input-search {
    background: #333 0% 0% no-repeat padding-box;
    border: 1px solid #555 !important;
    border-right: none !important;
    width: 73%;
  }
  &__btn-search {
    background: #333 0% 0% no-repeat padding-box;
    color: #888;
    border: 1px solid #555 !important;
    border-left: none !important;
  }

  .nav-sidebar__e-body {
    margin-top: 10px;
  }

  &.active {
    position: fixed;
    position: sticky;
    top: 0;
    background-color: #fff;
    height: 46px;
    .header-full {
      &__btn-menu {
        svg {
          fill: #666;
        }
      }
      &__box-logo {
        display: none;
        background-color: transparent;
        @media (--tablet) {
          display: block;
        }
      }
      &__btn-container {
        display: none;
      }
      &__box-list {
        display: none;
      }
      &__edicion {
        background: #fff 0% 0% no-repeat padding-box;
        border-left: 1px solid #eaeaea;
      }
      &__e-title {
        color: #000;
      }

      &__e-link {
        color: #000;
        .svg {
          fill: #000;
        }
      }
    }
    .nav__story-social-network {
      display: block;
    }
    .nav__story-title {
      @media (--desktop) {
        display: block;
        display: -webkit-box;
      }
    }
    .nav__loader-bar {
      display: block;
      background-color: #42c64c;
      height: 5px;
      width: 100%;
      top: 46px;
      transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
      will-change: transform;
      transform-origin: left center;
    }
    .nav__load-bg {
      display: block;
      height: 5px;
      width: 100%;
      top: 46px;
      background-color: #eaeaea;
    }
  }
}
