@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.woff?3r19g5') format('woff'),
    url('../../icons/fonts/default.svg?3r19g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/peru21.woff?37ziu9') format('woff'),
    url('fonts/peru21.svg?37ziu9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
