.footer {
  &__info,
  &__sections,
  &__contact {
    background-color: $color-black;
  }

  &__legal-item,
  &__list-title,
  &__list-link,
  &__social-title,
  &__social-icon {
    color: $color-white;
  }
  &__list-title,
  &__list-link,
  &__social-title,
  &__legal-links,
  &__legal-divider {
    font-family: $fourth-font;
  }

  &__list-link {
    text-transform: none;
  }
  &__logo-container {
    max-width: 100px;
  }
}
