.amp-social {
  &-share-facebook {
    background-size: 20px;
    background-color: #21589b;
  }

  &-share-twitter {
    background-size: 25px;
    background-color: #00aef0;
  }

  &-share-whatsapp {
    background-size: 18px;
  }
}
