.cintillo-u {
  &--bgcolor-1 {
    background-color: $color-primary;
  }

  &--bgcolor-2 {
    background-color: $color-black;
  }

  &__btn-close {
    width: 60px;

    & button:focus {
      outline: 0;
    }
  }
}
