.story-contents__author {
  &.gv {
    margin: 0 20px 20px 20px;
    padding: 20px 0 0 0;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;

    .story-contents__author-link {
      font: 400 1rem/1.33 $primary-font;
      letter-spacing: 0.02rem;
      text-transform: capitalize;
      margin: 0;
    }
    .story-contents__author-email,
    .story-contents__author-date {
      font: 400 0.9rem/1.33 $primary-font;
      color: #8a8a8a;
      margin: 0;
    }
    .story-contents__author-email {
      margin-bottom: 5px;
    }
  }
}
