.separator {
  border-top-color: $color-primary;
  background-color: transparent;
  @media (--tablet) {
    padding: 0;
  }
  &__header-link {
    color: $color-primary;
  }
  &__body {
    width: 100%;
    @media (--tablet) {
      height: auto;
    }
  }
  &__detail {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    @media (--desktop) {
      height: 127px;
    }
  }
  &__title {
    color: $color-gray-300;
    font-weight: 700;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-size: 15px;
    height: 53px;
  }

  &__item {
    background-color: $color-white;
    &::before {
      display: none;
    }
  }
  &__icon {
    bottom: auto;
    top: 90px;
    @media (--tablet) {
      top: auto;
      bottom: 74px;
    }
    @media (--desktop) {
      bottom: 135px;
    }
  }
  &__img {
    @media (--tablet) {
      height: 110px;
    }
    @media (--desktop) {
      height: 166px;
    }
  }
  &.invested {
    margin-top: 0;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e6e6;
    padding: 0 20px 20px;
    border-radius: 5px;
    @media (--only-mobile) {
      background-color: $color-white;
    }
    * .separator__header-link {
      color: $color-tertiary;
      font-family: $secondary-font;
      font-size: 35px;
      text-decoration: none;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
    .separator__item {
      margin-right: 2px;
    }
    * .separator__icon {
      background-color: #d5c5bd;
      border-radius: 10px;
      top: calc(100% - 141px);
      color: $color-gray-300;
      display: block;
      bottom: inherit;
      right: 10px;
      top: 10px;
      pointer-events: none;
      width: 66px;
      height: 66px;
      line-height: 66px;
      font-size: 30px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .separator__button {
      position: relative;
    }
    .separator__title-link,
    .separator__title {
      color: $color-white;
    }
    .separator__detail,
    .separator__article {
      background-color: $color-fourth;
    }
  }
}
