/** ----------------------------*
*          BREAKPOINTS          *
*-------------------------------*/

@custom-media --tablet screen and (min-width: 640px);

// CUSTOM MEDIA QUERYS
@custom-media --only-mobile screen and (max-width: 639px);

$map-breakpoints: 'md';

// Traductor de nombre de breakpoint
// Ejemplo  'md' --> '--tablet'
@function breakpoint-name($breakpoint-id) {
  $breakpoint-res: '';

  @if $breakpoint-id== 'md' {
    $breakpoint-res: '--tablet';
  } @else if $breakpoint-id== 'lg' {
    $breakpoint-res: '--desktop';
  }

  @return $breakpoint-res;
}

// Constructor de breakpoints independientes para clases
@mixin build-breakpoints($class-name, $class-property, $class-value) {
  @each $breakpoint in $map-breakpoints {
    @media (breakpoint-name($breakpoint)) {
      .#{$breakpoint}\:#{$class-name} {
        #{$class-property}: $class-value;
      }
    }
  }
}

@mixin build-class($class-name, $class-property, $class-value) {
  .#{$class-name} {
    #{$class-property}: $class-value;
  }

  @include build-breakpoints($class-name, $class-property, $class-value);
}
