/******* Brand colors *******/
$color-primary: #f7c600;
$color-secondary: #000;
/*-----------------------*/

/******* Other colors *******/
$color-link: #524cff;
$color-white: #ffffff;
$color-error: #ff0000;
$color-info: #bbd3e0;
$color-blue: #45619d;
$color-lightblue1: #00acee;
$color-red: #dc4e41;
$color-green: #4dc247;

/*-----------------------*/

/******* Grayscale *******/
$color-black: #000000;
$color-dark: #1f1f1f;
$color-gray: #333;
$color-silver: #a5a9a9;
$color-soft: #e7ebed;
/*-----------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-dark;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-dark;
$nav-color-2: $color-soft;
/*-----------------------*/

/******* Footer colors *******/
$footer-background: #333;
$footer-text-color: $color-white;
/*-----------------------*/