/* Iconos generados como fuentes */
$img: e905 !default;
$video: e906 !default;
$menu: e904 !default;
$marca: e903 !default;
$add: e900 !default;
$ribbon: e901 !default;
$facebook: ea90 !default;
$twitter: ea96 !default;
$linkedin: eaca !default;
$home: e902 !default;
$user: e971 !default;
$search: e986 !default;
$close: ea0f !default;
