/** ----------------------------*
*      FUENTES DE ICONOS        *
*-------------------------------*/
$img: e905 !default;
$menu: e904 !default;
$marca: e903 !default;
$add: e900 !default;
$close-circle: e907 !default;
$add-circle: e901 !default;
$back: e908 !default;
$ribbon: e90a !default;
$linkedin-circle: e90b !default;
$user: e90c !default;
$video: e906 !default;
$facebook: ea90 !default;
$twitter: ea96 !default;
$linkedin: eaca !default;
$home: e902 !default;
$search: e986 !default;
$close: ea0f !default;
$hamburguer: e909 !default;
$zoom: e90d !default;
$link: e90e !default;
$message: e90f !default;
$print: e910 !default;
$left: e912 !default;
$right: e913 !default;
$twitter-circle: e914 !default;
$facebook-circle: e915 !default;
$whatsapp: e916 !default;
$loading: e917 !default;
$share: ea82 !default;
