/******* Sizes  Paragraph*******/
$font-xs: 11px !default;
$font-sm: 13px !default;
$font-md: 14px !default;
$font-default: 16px !default;

/******* Sizes  Headers *******/

$header-xs: 13px !default;
$header-sm: 15px !default;
$header-md: 17px !default;
$header-lg: 20px !default;
$header-xl: 25px !default;
$header-default: 30px !default;
