/** ----------------------------*
*          DIMENSIONES          *
*-------------------------------*/

/******* Grid dimensions *******/
$height-row: 374px;
$row-parts: 6;
$gap: 20px;
/*-----------------------*/

/******* Spacing *******/
// Deprecate
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
/*-----------------------*/

/******* Nav dimensions *******/
$nav-height: 46px;
$nav-height-mobile: 58px;
/*-----------------------*/

/******* Header dimensions *******/
$header-logo-height: 34px;
/*-----------------------*/

/******* Amp Footer dimensions *******/
$footer-logo-padding: 13px 0 13px 85px;
$footer-logo-background: 14px;
$footer-logo-background2: 30px 8px;
/*-----------------------*/

// LEGACY
