/** ----------------------------*
*          DIMENSIONES          *
*-------------------------------*/

/******* Grid dimensions *******/
$row-height: 374px;
// $row-parts: 6;
$gap: 20px;
/*-----------------------*/

/******* Nav dimensions *******/
$nav-height: 46px;
$nav-height-mobile: 58px;
/*-----------------------*/

/******* Header dimensions *******/
$header-inverted-height: 70px;
$header-logo-height: 34px;
/*-----------------------*/

/******* Amp Footer dimensions *******/
$footer-logo-padding: 13px 0 13px 85px;
$footer-logo-background: 14px;
$footer-logo-background2: 30px 8px;
/*-----------------------*/
