/******* Grid dimensions *******/
$height-row: 374px;
$row-parts: 6;
$gap: 20px;
/*-----------------------*/

/******* Spacing *******/
$spacing-small: 10px;
$spacing-normal: 20px;
$spacing-large: 30px;
$spacing-xlarge: 40px;
/*-----------------------*/

/******* Nav dimensions *******/
$nav-height: 46px;
/*-----------------------*/

/******* Header dimensions *******/
$header-logo-height: 34px;
/*-----------------------*/