/** ----------------------------*
*         FONT FAMILIES         *
*-------------------------------*/
$primary-font: 'Noto Serif',
system-ui,
sans-serif !default;
$secondary-font: 'Exo',
system-ui,
serif !default;

/******* Signwall fonts *******/
$signwall-header-title: $font-base * 1.5;