/******* Families *******/
$primary-font: 'Noto Serif',
'system-ui',
sans-serif !default;

$secondary-font: 'Georgia',
'system-ui',
serif !default;

$newsletter-suscription-font: 'Open Sans',
arial,
sans serif;
$newsletter-description-font: 'Georgia',
Times New Roman,
serif;
/*-----------------------*/

/******* Sizes *******/
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
/*-----------------------*/