.story {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $tertiary-font;
  }

  /* Titulo de la nota */
  &-header__title {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 25px;
    color: $color-gray-300;
    line-height: 1.1666666667;
  }

  /* Bajada de la nota */
  &-header__summary {
    font-size: 18px;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.3333333333;
  }
  /* iconos redes sociales en la nota */
  &-header__share {
    border-top-color: $color-gray-200;
    border-bottom-style: dashed;
    border-bottom-color: $color-gray-200;
    padding: 20px;
    margin-bottom: 20px;
  }
  &-header__title-section {
    font-family: $primary-font;
    font-size: 18px;
  }
  &-header__list {
    display: none;
  }
  /* Leyenda de imagen */
  &-content__caption {
    border-bottom: 1px dashed $color-gray-200;
    padding-bottom: 10px;
    font-size: 13px;
    font-family: $secondary-font;
    color: #888888;
  }

  &-content__author {
    flex-direction: row;
  }
}
