.story {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fifth-font;
  }
  .related-content__title,
  .related-internal__title-link,
  .story-header__news-title {
    font-family: $fourth-font;
  }
  .nav {
    height: 46px;
    &.active {
      .nav__story-social-network {
        right: 0;
        position: relative;
        @media (--desktop) {
          position: absolute;
        }
        .story-header__icon {
          background-color: transparent;
          color: $color-gray-300;
        }
      }
      .nav__btn--section {
        span {
          color: $color-gray-300;
        }
      }
      .btn {
        @media (--desktop) {
          color: $color-gray-300;
        }
      }
      .nav__icon-menu,
      .nav__icon-search,
      .story-header__share-icon {
        color: $color-gray-300;
      }
      .nav__wrapper {
        justify-content: flex-start;
      }
      .nav__container-menu {
        border-color: $color-gray-300;
      }
      .nav__search-box {
        display: none;
      }
      .nav__logo {
        height: 50px;
        padding: 10px 0;
      }
    }
  }
  &.opinion {
    .story-header__title-section {
      display: flex;
      align-items: center;
    }
    .story-content__author {
      display: flex;
      align-items: center;
      @media (--only-mobile) {
        width: 100%;
        border-top: 1px dashed $color-gray-100;
        border-bottom: 1px dashed $color-gray-100;
        padding: 15px 0;
        margin: 15px 0;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
    .story-content__author-img {
      & img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        @media (--desktop) {
          width: 86px;
          height: 86px;
        }
      }
    }
    .story-header__share {
      border-top: 0;
      @media (--only-mobile) {
        flex-direction: column;
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
    .story-header__list {
      @media (--only-mobile) {
        display: none;
      }
    }
    .story-header__title-section {
      @media (--only-mobile) {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
      }
    }
    .story-header__news-title {
      border-bottom: 1px dashed $color-gray-100;
    }
    .story-special-title {
      padding-bottom: 20px;
      border-bottom: 1px dashed $color-gray-200;
      margin-bottom: 20px;
    }

    .story-content__icon {
      background-color: $color-white;
      color: $color-gray-200;
      border-radius: 50%;
    }
    .stories-l-header.bg-info {
      background-color: $color-white;
    }
    .most-read__title {
      background-color: $color-white;
    }
    .wrap-perured,
    .most-read,
    .most-read__title,
    .stories-l-header.bg-info,
    .stories-l-card,
    .stories-l-card__list {
      background-color: transparent;
    }
  }
  .story-header__share {
    border-bottom-style: dashed;
  }
  .story-gallery-social__link {
    color: $color-white;
  }
  .story-gallery-social__item {
    margin-bottom: 0;
  }

  &.opinion,
  &.special,
  &.special_basic {
    .story-content__font--secondary:first-child {
      &:first-letter {
        font-size: 80px;
        font-weight: 700;
        display: block;
        float: left;
        margin-right: 5px;
        line-height: 1;
        @media (--tablet) {
          font-size: 90px;
          line-height: 0.8;
        }
        @media (--desktop) {
          font-size: 103px;
          line-height: 0.9;
        }
      }
    }
  }
  &.special_basic {
    .story-special-title_note {
      font-family: $fourth-font;
      @media (--only-mobile) {
        font-size: 16px;
      }
    }
    .story-header__news-title {
      font-family: $fourth-font;
      @media (--desktop) {
        font-size: 45px;
      }
    }
  }
  .header-inverted.active .nav__story-social-network .story-header__icon,
  .header-inverted.active .nav__story-social-network .story-header__share-icon {
    color: $color-white;
  }
  &.special
    .header-inverted.active
    .nav__story-social-network
    .story-header__icon {
    color: $color-base-100;
  }
}
