.s-multimedia {
  letter-spacing: 0;
  font-family: $primary-font;
  font-size: 0.9rem;
  padding: 0 20px 0;

  &__caption {
    font-family: $fifth-font;
    font-size: 12px;
    color: #000;
    padding-top: 10px;
    a {
      color: #306d95;
    }
  }
  &__audio {
    padding-top: 10px;
  }
  &__embed {
    @media (--desktop) {
      padding: 0 20px 0 20px;
    }
  }
  &__image {
    min-height: 157px;

    @media (--tablet) {
      min-height: 330px;
    }

    &--big {
      @media (--desktop) {
        height: 528px;
      }
    }
  }
  &__lL-video,
  &__p-default {
    background-color: #000;
    height: 157px;
    @media (--desktop) {
      height: 345px;
    }
  }
  .paper-nav {
    img {
      height: auto;
    }
  }
}
