.custom-title {
  font-weight: 700;
  color: $color-gray-300;
  padding-top: 10px;
  padding-bottom: 10px;
  @media (--only-mobile) {
    font-size: 20px;
  }
  &.custom-border {
    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-top: solid 1px $color-gray-300;
    }
  }
  &.dark-bg {
    color: $color-white;
    padding: 10px;
    &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /*  border: solid 10px $color-base-100; */
    }
  }
  &__button {
    font-size: 12px;
    line-height: 15px;
    color: #888888;
    font-family: $secondary-font;
    right: 10px;
  }
}
