@charset "UTF-8";

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/roboto-v20-latin-regular.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/roboto-v20-latin-regular.woff")
      format("woff");
  font-display: swap;
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/roboto-v20-latin-500.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/roboto-v20-latin-500.woff")
      format("woff");
  font-display: swap;
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/roboto-v20-latin-700.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/roboto-v20-latin-700.woff")
      format("woff");
  font-display: swap;
}

/* georgia-regular - latin */
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), local("Georgia-Regular"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/georgia-latin-regular.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/georgia-latin-regular.woff")
      format("woff");
  font-display: swap;
}
