.stories-l-header {
  &.bg-info {
    background-color: $color-base-300;
  }
  &__see-more {
    color: $color-gray-300;
    font-weight: 700;
    font-family: $secondary-font;
    display: none;
  }
  &__icon {
    display: initial;
    font-size: 18px;
  }
  &__title {
    h4 {
      font-weight: 700;
      font-family: $primary-font;
    }
  }
}
