.stories-l-item {
  &__link {
    font-size: 15px;
    max-height: calc(15px * 1.33 * 3);
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
