.amp-footer {
  background-color: $footer-background;

  &__info {
    background: url(https://assets.elcomercio.pe/images/elcomercio/arrow-right-3.png)
      100% 0% no-repeat;
  }

  &__text {
    color: $footer-text-color;
  }
}
