.amp-footer {
  background-color: $amp-footer-background;

  @media (--desktop) {
    max-width: 980px;
  }

  &__info {
    background: url(https://img.elcomercio.pe/images/elcomercio/arrow-right-3.png)
      100% 0% no-repeat;
  }

  &__text {
    color: $footer-text-color;
  }

  &__next-page-separator {
    background-color: #eaf2f6;
    height: 30px;
  }

  &__next-page-separator-text {
    line-height: 32px;
  }
}
