.footer {
  display: grid;
  grid-template: 'info' auto 'contact' auto 'sites' auto;

  @media (--tablet) {
    grid-template: 'info contact' auto 'sites sites ' auto / 1fr 1fr;
  }

  @media (--desktop) {
    grid-template: 'info sections contact' auto 'sites sites sites' auto / 1fr 1fr 1fr;
  }

  &__info {
    grid-area: info;
  }

  &__sections {
    grid-area: sections;

    display: none;

    @media (--desktop) {
      display: block;
    }
  }

  &__info,
  &__sections {
    &::after {
      display: none;

      @media (--tablet) {
        content: '';
        display: block;
        width: 1px;
        height: 78%;
        position: absolute;
        right: 0;
        background-color: $border-color-base;
        top: 12%;
      }
    }
  }

  &__contact {
    grid-area: contact;
    // padding: 10px;
  }

  &__sites {
    grid-area: sites;
    // padding: 10px;
  }

  &__sites-list {
    max-width: 950px;
  }

  &__sites-item {
    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background-color: $color-gray-200;
      border-radius: 50%;
      margin-left: 10px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  // &__sites-link {}

  &__logo-container {
    width: 90%;
    max-width: 190px;
  }

  &__social-title {
    &::after {
      content: '';
      display: block;
      width: 35px;
      height: 1px;
      background-color: $border-color-base;
      margin-top: 10px;
    }
  }

  &__social-link {
    &:hover {
      text-decoration: none;
    }
  }

  &__social-icon {
    font-size: 22px;
  }

  /* &__list-link {
    &:nth-child(2) {
      font-weight: bold;
    }
  } */

  // &__legal-list {}
  &__legal-item {
    &:nth-child(4) {
      padding-right: 10px;
      line-height: 1.5;
    }
  }

  &__legal-links {
    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      background-color: $color-white;
      width: 1px;
      height: 13px;
      margin: 0 5px;
    }
  }

  // &__list {}
  // &__list-item {}
  // &__list-title {}
}

.footer-secondary {
}
