$footer-background: #333;

$sites-link-color: #999;
$legal-text-color: #c8c8c8;
$footer-list-tex-color: #7f7f7f;

$footer-legal-text-size: 12px;
$footer-list-text-size: 14px;

$desktop-media: 'min-width: 1024px';

.footer {
  grid-template: 'info' auto 'contact' auto 'sites' auto;

  @media (--tablet) {
    grid-template: 'info contact' auto 'sites sites ' auto / 1fr 1fr;
  }

  @media (--desktop) {
    grid-template: 'info sections contact' auto 'sites sites sites' auto / 1fr 1fr 1fr;
  }

  &__footer-background-color {
    background-color: $footer-background;
  }

  &__info {
    grid-area: info;
  }

  &__sections {
    grid-area: sections;
    // padding: 10px;
  }

  &__contact {
    grid-area: contact;
    // padding: 10px;
  }

  &__sites {
    grid-area: sites;
    // padding: 10px;
  }

  &__sites-list {
    max-width: 950px;
  }

  &__sites-item {
    font-size: 15px;
    line-height: 120%;
    border-color: $sites-link-color;
    color: $sites-link-color;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__sites-link {
    color: $sites-link-color;
  }

  &__logo-container {
    width: 95%;
    max-width: 235px;
  }

  &__legal-item {
    font-size: $footer-legal-text-size;
    color: $legal-text-color;
    line-height: 17px;
  }

  &__list-link {
    color: $footer-list-tex-color;
  }

  &__list-item {
    font-size: $footer-list-text-size;
    border-color: $footer-list-tex-color;

    &--title {
      color: $footer-list-tex-color;
    }
  }
}
