.footer-secction {
  &__item {
    font-size: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__item-border {
    border-right: 1px solid #ccc;
  }
  &__content-column {
    @media (--desktop) {
      width: 15.4%;
      margin-right: 1.5%;
      padding: 25px 0 40px;
      min-height: 150px;
      //   background-color: $color-base-200;
    }
  }
}
