.header-full {
  height: 46px;
  &.active {
    .nav__loader-bar {
      background-color: #42c64c;
    }
  }
  &__link-nav {
    font-family: $primary-font;
  }
  &__btn-result {
    font-family: $primary-font;
  }
  &__box-logo {
    background-color: transparent;
  }
  &__box-logo,
  &__logo {
    transform: none;
  }
  &__logo {
    max-width: 170px;
    @media (--tablet) {
      max-width: 170px;
    }
    height: 46px;
  }
  &__megamenu {
    top: 46px;
  }
  &__call-img {
    @media (--desktop) {
      display: block;
    }
  }
  &__wrapper-menu {
    background-color: $color-white;
  }
  &__item {
    &:nth-last-child(1) {
      border-bottom: 0;
    }
  }
  &__item,
  &__submenu-list {
    border-top: 1px solid #ccc;
  }

  &__submenu-item {
    border-bottom: 1px solid #ccc;
    .header-full__link {
      color: $color-base-300;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}
