.header-full {
  height: 46px;
  &.active {
    .nav__loader-bar {
      background-color: #42c64c;
    }
  }
  &__link-nav {
    font-family: $primary-font;
  }
  &__btn-result {
    font-family: $primary-font;
  }
  &__box-logo {
    background-color: transparent;
  }
  &__box-logo,
  &__logo {
    transform: none;
  }
  &__logo {
    max-width: 170px;
    @media (--tablet) {
      max-width: 170px;
    }
    height: 46px;
  }
  &__megamenu {
    top: 46px;
  }
  &__call-img {
    @media (--desktop) {
      display: block;
    }
  }
}
