@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;800&display=swap');


$nav-height-active: 45px;
$hi-font-primary: 'Encode Sans Condensed';
$hi-font-secondary: 'Fira Sans';
$hi-gray: #BFBFBF;
$hi-dark: #666;

.header-inverted-featured {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(224, 100, 55, 1) 50%, rgba(224, 100, 55, 1) 100%);
  height: 48px;

  @media (--desktop) {
    height: 64px;

    &.active {
      // position: static;
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(224, 100, 55, 1) 50%, rgba(224, 100, 55, 1) 100%);
    }
  }

  &__btn-menu {
    font-family: $hi-font-primary;
    color: $hi-gray;
    font-size: 14px;
  }

  &__icon-search {
    color: $hi-gray;
  }

  &__band {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 1em;
  }

  &__tags {
    font-size: 14px;
    font-family: $hi-font-secondary;
  }

  &__features-link {
    font-family: $hi-font-secondary;
    font-size: 14px;
    color: #333;
  }



  .nav {
    &__mobile-logo {

      @media(--tablet) {
        .active {
          left: initial;
          padding-right: 0;
          border: 0;
        }
      }

      img {
        height: 49px !important;

        @media(--tablet) {
          .active {
            height: 49px;
          }
        }

        @media (--desktop) {
          top: -32px;
          height: 64px !important;
        }
      }
    }
  }

  .nav-sidebar {
    background-color: #000;
    top: 48px;
    height: calc(100vh - 48px);

    @media (--desktop) {
      top: 64px;
    }

    &__link,
    &__text {
      font-family: $hi-font-primary;
    }

  }

  .story-header__icon {
    color: #fff;
    font-size: 13px !important;
    padding: 11px;
    margin-left: 20px;
    border-radius: 50%;


  }

  &__btn-search {
    border-color: $hi-gray;
  }

  // estilos para scrolled status
  &.active {
    background: white;

    .nav {
      &__mobile-logo {
        display: none !important;

        @media(--desktop) {
          display: block !important;
          left: initial !important;
          padding-right: 0 !important;
          border: 0 !important;
        }


        img {
          height: 49px !important;
        }
      }
    }


    .header-inverted-featured__socials {
      display: flex;

      @media (--desktop) {
        display: none !important;
      }

      a.share-btn {
        width: 30px;
        height: 30px;
        margin-left: 16px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          height: 14px;
          fill: #fff;
        }

        &.s-fb {
          background-color: #21589B;
        }

        &.s-tw {
          background-color: #00AEF0;
        }

        &.s-lk {
          background-color: #0088E7;
        }

        &--ws {
          background-color: #24D165;

          svg {
            fill: transparent;
            stroke: #fff;
            stroke-width: 2px;
          }
        }

        &--gnews {
          border: 1px solid #333;

          svg {
            fill: #333;
            height: 22px;
          }
        }
      }
    }



    .header-inverted-featured__btn-menu {
      color: $hi-dark !important;
    }
  }

}