.newsletter--landing {
  display: flex;
  flex-direction: column;
  background-color: white;
  &__container1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 500px;
    margin-top: 50px;
    &__box1 {
      display: flex;
      flex-direction: row;
      align-self: center;
      align-items: center;

      &__title {
        font-weight: 700;
        font-size: 32px;
        font-family: $secondary-font;
        color: #333;
      }

      &__logo {
        margin-left: 5px;
        max-width: 41px;
        max-height: 24px;
      }
    }
    &__text {
      line-height: 17px;
      margin-top: 16px;
      margin-bottom: 40px;
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      font-family: $secondary-font;
      color: #333;
    }
  }
  &__container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__sec-container {
      display: flex;
      &__marginl10 {
        margin-left: 32px;
      }
      &__box2 {
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 320px;
        border-radius: 10px;
        background-color: whitesmoke;
        &__left-svg {
          align-self: center;
          max-width: 128px;
          max-height: 128px;
          border: 1px solid #017b31;
          border-radius: 60px;
        }
        &__right-svg {
          align-self: center;
          max-width: 128px;
          max-height: 128px;
          border: 1px solid #e2b084;
          border-radius: 60px;
        }
        &__box-checkbox1 {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
          &__input-term {
            margin-left: 30px;
            width: 18px;
            height: 18px;
          }
          &__sub-title1 {
            margin-left: 5px;
            max-width: 250px;
            height: 20px;
            font-weight: 700;
            justify-content: left;
            text-decoration: underline;
            font-size: 17px;
            font-family: $secondary-font;
            color: #006328;
          }
          &__sub-title2 {
            margin-left: 5px;
            max-width: 250px;
            height: 20px;
            font-weight: 700;
            text-decoration: underline;
            font-size: 17px;
            font-family: $secondary-font;
            color: #162b46;
          }
        }
        &__sec-text {
          line-height: 20px;
          font-size: 15px;
          justify-content: left;
          margin-left: 30px;
          max-width: 250px;
          max-height: 150px;
          color: #444;
          // border: 1px solid #ce6b32;
        }
      }
    }
  }
  &__container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    &__text-box {
      width: 320px;
      height: 44px;
      align-self: center;
      margin-bottom: 10px;
    }
    &__button-receive {
      font-size: 14px;
      font-weight: 700;
      color: rgb(243, 245, 243);
      width: 320px;
      height: 44px;
      align-self: center;
      background-color: #f15a23;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    &__box-checkbox2 {
      display: flex;
      flex-direction: row;
      align-self: center;
      margin-bottom: 10px;
      &__input-term2 {
        margin-left: 10px;
        width: 18px;
        height: 18px;
      }
      &__text-term {
        // font-weight: 300;
        margin-left: 11px;
        font-size: 13px;
        font-family: $secondary-font;
        color: #666;
        justify-content: left;
        max-width: 250px;
        line-height: 15px;
      }
    }
  }
}
