.back-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
  z-index: 20;
  top: 0;
  left: 0;
}

.cont-loader-logo {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -100px;
  text-align: center;
  svg {
    margin: 0px 5px;
  }
  svg:nth-child(1) {
    animation: identifier 700ms infinite linear;
  }
  svg:nth-child(2) {
    animation: identifier 700ms infinite linear;
    animation-delay: calc(350ms);
  }
  svg:nth-child(3) {
    animation: identifier 700ms infinite linear;
    animation-delay: calc(350ms * 2);
  }
}

.cont-loader-default {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
  text-align: center;
  img {
    width: auto;
    max-width: 80px;
    max-height: 30px;
    animation: identifier 700ms infinite linear;
    margin-top: 42%;
  }
}

@keyframes identifier {
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
