.apertura-extraordinaria {
    border-style: solid;
    border-width: 5px 7px;
    border-color: #adadad;
    padding: 5px;
    display: grid;
    //grid-gap: 10px;
    grid-template-columns: 1fr 1fr;

    a {
        text-decoration: none;
        color: #000000
    }
    &.ae-multimedia-bottom {
        grid-template-areas: 
        "ae-section ae-section"
        "ae-content ae-content"
        "ae-multimedia ae-multimedia";
    }
    &.ae-multimedia-top {
        grid-template-areas: 
        "ae-multimedia ae-multimedia"
        "ae-section ae-section"
        "ae-content ae-content";
    }
    &.ae-multimedia-left {
        grid-template-areas: 
        "ae-multimedia ae-section"
        "ae-multimedia ae-content";
        grid-template-rows: auto 1fr;

        img{
            height: 100%;
        }
    }
    &.ae-multimedia-right {
        grid-template-areas: 
        "ae-section ae-multimedia"
        "ae-content ae-multimedia";
        grid-template-rows: auto 1fr;

        img{
            height: 100%;
        }
    }
    .ae-section {
        background-color: #c51f1f;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 8px;
        grid-area: ae-section;
        //height: 15px;
    }
    .ae-content {
        padding: 20px 20px 0px 20px;
        grid-area: ae-content;
        //vertical center
        display: inline-grid;
        align-content: space-evenly;
        //align-items: center;

        div {
            margin-bottom: 15px;
        }
        .ae-title {
            font-size: 3em;
            font-weight: bold;
        }
        .ae-subtitle {
            color: #adadad;
        }
        .ae-author {
            text-transform: uppercase;
            font-size: 0.7em;
            color: #adadad;
        }
    }
    .ae-multimedia {
        grid-area: ae-multimedia;

        img{
            width: 100%;
        }
    }
    &.ae-text-center {
        text-align: center;
    }
    &.ae-text-left {
        text-align: left;
    }
    &.ae-text-right {
        text-align: right;
    }
}