.separator {
  border-top-color: $color-primary;
  background-color: $color-primary;
  &__title {
    font-size: 13px;
  }
  &__item {
    @media (--tablet) {
      flex-basis: 24.5%;
    }
    &::before {
      background: linear-gradient(
        180deg,
        rgba(14, 33, 13, 0.1) 30%,
        rgba(14, 33, 13, 0.8) 80%,
        #0e210d
      );
    }
  }

  &__header-link {
    color: $color-white;
    font-weight: 400;
  }
}
