.story-separator {
  height: auto;

  @media print {
    display: none;
  }

  &__body {
    height: auto;
  }

  &__item {
    border-right-width: 1px;

    &:first-child {
      .story-separator__detail {
        padding-left: 0;
      }
    }
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
  }

  &__img {
    height: 90px;
    width: 75px;
  }

  &__title {
    display: -webkit-box;
    max-height: 48.7px;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    font-family: $primary-font;
    -webkit-line-clamp: 3;
  }

  &__category {
    word-wrap: break-word;
  }
}
