.link-site {
  content-visibility: auto;
  contain-intrinsic-size: 512px;
  &__image {
    object-fit: cover;
  }

  &__header {
    border-bottom: 2px solid #8a8a8a;
  }
  &__h-text {
    color: #111;
    font-weight: 700;
    font-family: $secondary-font;
  }
  &__subtitle {
    font-family: $secondary-font;
  }
  &__site {
    font-weight: 700;
  }

  &__title-link {
    color: #000;
    font-family: $secondary-font;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-left: 5px;
  }
  &__item {
    border-bottom: 2px solid #e1e1e1;
  }
}
