.story-content {
  &__tag-title {
    color: #4aa8fa;
    font: 700 12px/1 $primary-font;
  }

  &__tag-item {
    display: inline-block;
    font-family: $primary-font;

    & a {
      color: $color-silver;
    }
  }

  .pquote {
    background: none;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;

    /*     &__pull {
      background: url('../images/openquote.svg') top left no-repeat;
    } */

    & p:first-letter {
      font-size: 39px;
      font-weight: bold;
    }
  }

  & table {
    width: 100%;
    height: auto;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    margin: 15px 0;

    & td {
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      padding: 2px 4px 1px 4px;
      font-size: 13px;
      line-height: 140%;
      color: #000;
      font-family: sans-serif;
    }

    & tr:nth-child(even) td {
      background-color: #e6e6e6;
    }
  }

  /* Esto es importante definirlo por los scripts de Opta */
  &__content {
    & > section {
      width: 100%;
    }
  }

  /* ----------------------------------------------------- */

  &__font--secondary {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 18px;
    margin-bottom: 25px;
    word-wrap: break-word;
  }

  &__news-media-description {
    color: $colorTextDescription;
    font-family: $primary-font;
    font-size: 13px;
    margin: 0;
    padding-top: 5px;
  }

  &__visual--image {
    width: 100%;
    height: 100%;
  }

  &__image {
    margin: 0px;

    & figcaption {
      padding: 14px 0px;
      font-size: 13px;
      color: #999;
    }
  }

  /* Para arreglar estilos en o-embed */

  &__embed {
    .twitter-tweet {
      width: 100% !important;
    }

    .instagram-media {
      min-width: 0 !important;
      max-width: 500px !important;
    }

    [src*='youtube'] {
      width: 100% !important;
    }

    .fb-post {
      width: 100% !important;
      max-width: 500px;

      & > span {
        width: 100% !important;

        & > [src*='facebook'] {
          width: 100% !important;

          & > [data-testid*='newsFeedStream'] {
            width: 100% !important;
          }
        }
      }
    }
  }

  /******* Autor *******/
  &__author {
    margin-bottom: 20px;
    padding-top: 30px;
  }

  &__author-email {
    font-size: $font-sm;
  }

  &__author-date {
    font-size: 12px;
  }

  &__icon-list {
    display: none;
    margin-right: -49px;
    @media (--tablet) {
      display: block;
      padding: 20px 0 20px 20px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    color: $color-silver;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    font-size: 30px;
  }
}
