.story-header-amp {
  background-color: $color-white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px auto;

  &__title {
    font-size: 24px;
    color: #333;
    line-height: 29px;
    font-weight: 700;
    font-family: $primary-font;
  }

  &__datetime {
    font-size: 16px;
    margin: 15px 0;
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    color: #666;
  }
  &__description {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #323232;
  }

  &__list {
    margin: 20px -7px;
    height: 32px;
    line-height: 32px;
    width: 180px;
  }

  &__item {
    width: 25%;
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__more {
    width: 45px;
    background-color: #ccc;
  }

  &__button {
    color: #fff;
    width: 100%;
    height: 100%;
  }

  &__share {
    font-size: 12px;
    fill: #fff;
    margin-left: 10px;
  }

  .story-gallery {
    margin-left: -20px;
    margin-right: -20px;
  }
}
