// Variables
$colorTextTitle: #444;
$colorTextDescription: #999;

.story-header {
  &__news-title {
    clear: both;
    color: $colorTextTitle;
    font: 48px/1.15 $primary-font;
  }

  &__news-summary {
    color: $colorTextTitle;
    font: 22px/1.3 $secondary-font;
    word-wrap: break-word;
  }

  &__link {
    color: $color-gray-light;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    font-size: 30px;
  }

  &__list {
    width: 150px;
  }

  &__share {
    border-bottom: 1px solid $color-silver;
    border-top: 1px solid $color-silver;
    padding: 20px;
  }
}
