.story {
  &-header__title,
  &-header__summary {
    margin-bottom: 20px;
  }
  &-header__title,
  &-header__summary,
  &-content {
    padding: 0 20px;
  }
  &-header__share {
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
  }
  &-header__title-section {
    text-transform: uppercase;
  }
  &-content {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &-content__caption {
    padding-top: 10px;
  }
  &-content__author {
    padding-top: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
  }
}
