.presidential-election-pages {
  font-family: $primary-font;
  max-width: 100%;
  margin: 0 auto;
  color: #000;
  text-align: center;
  margin-top: 10px;
  @media (--tablet) {
    max-width: 360px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }
  &__box-url {
    font-size: 16px;
    font-weight: 500;
    line-height: 53px;
  }
  &__input--radio {
    margin-left: 15px;
    margin-right: 5px;
  }
  &__label {
    padding: 0 8px;
  }
  .presidential-election-pages__input--radio {
    display: none;
    + .presidential-election-pages__label {
      .presidential-election-pages__radio-fake {
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 7px;
        margin-left: 20px;
        margin-bottom: 7px;
        vertical-align: middle;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        &::before {
          content: "";
          border: 1px solid #707070;
          display: flex;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          top: -3px;
          left: -3px;
          position: relative;
        }
      }
    }
    &:checked + .presidential-election-pages {
      &__label .presidential-election-pages__radio-fake {
        background-color: #f00;
        border-radius: 50%;
      }
    }
  }
  &__ec-data {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 5px;
    svg {
      height: 19px;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  &__cls-1 {
    fill: #0a0a0b;
  }
  &__cls-2 {
    fill: #fff;
  }
  &__cls-3 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
  &__link {
    font: 700 21px/18px $primary-font;
    background-color: #d9000f;
    border-radius: 6px 0 0 6px;
    color: #fff;
    height: 49px;
    width: 116px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 9px;
  }

  &.second {
    .presidential-election-pages__link {
      font: 700 12px/10px $primary-font;
      width: 118px;
      height: 23px;
    }
    .presidential-election-pages__ec-data {
      margin-top: 22px;
      margin-bottom: 33px;
    }
  }
}
