.presidential-election-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  max-width: 360px;
  margin: 0 auto;
  color: #000;
  padding-bottom: 11px;
  &__prev,
  &__next {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 8px;
    outline: 0;
    &:hover {
      path {
        fill: #8b8b8b;
      }
    }
  }
  &__title {
    font-weight: 500;
    font-size: 22px;
    min-width: 230px;
    text-align: center;
  }
}
