.presidential-election-pages {
  font-family: $primary-font;
  max-width: 360px;
  margin: 0 auto;
  color: #000;
  text-align: center;
  margin-top: 10px;
  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }
  &__box-url {
    font-size: 16px;
    font-weight: 500;
    line-height: 53px;
  }
  &__input--radio {
    margin-left: 15px;
    margin-right: 5px;
  }
  &__label {
    padding: 0 8px;
  }
  .presidential-election-pages__input--radio {
    display: none;
    + .presidential-election-pages__label {
      .presidential-election-pages__radio-fake {
        display: inline-block;
        width: 9px;
        height: 9px;
        margin-right: 7px;
        margin-left: 20px;
        margin-bottom: 7px;
        vertical-align: middle;
        cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
        &::before {
          content: "";
          border: 1px solid #707070;
          display: flex;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          top: -3px;
          left: -3px;
          position: relative;
        }
      }
    }
    &:checked + .presidential-election-pages {
      &__label .presidential-election-pages__radio-fake {
        background-color: #f00;
        border-radius: 50%;
      }
    }
  }
  &__ec-data svg {
    height: 20px;
  }
  &__cls-1 {
    fill: #0a0a0b;
  }
  &__cls-2 {
    fill: #fff;
  }
  &__cls-3 {
    fill: none;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
}
