.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;

  &__box {
    flex: 1;
  }
  &__line {
    border-top: 2px solid #42c64c;
  }

  &__link {
    background: #eaeaea 0% 0% no-repeat padding-box;
    border-radius: 3px;
    color: #222;
    &:hover {
      background: #42c64c 0% 0% no-repeat padding-box;
      border: 1px solid #ccc;
      color: #fff;
      text-decoration: none;
    }
  }
}
