.most-read {
  content-visibility: auto;
  contain-intrinsic-size: 320px;

  @media (--desktop) {
    margin: 0;
  }

  &__title {
    font: 400 15px/1 $primary-font;
    background-color: $color-gray-300;
    text-transform: capitalize;
    height: 35px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    font-weight: 700;
  }
  &__link {
    color: $color-white;
  }
  &__icon {
    background-image: url($assets_url+"/resources/dist/diariocorreo/images/logo.png");
    height: 20px;
    width: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__item {
    border-bottom: 1px solid #4ca675;
    margin: 0 20px;
    padding: 15px 0;
    &:last-child {
      border-width: 0;
    }
  }
  &__multimedia {
    height: 72px;
    margin-right: 15px;
  }
  &__img {
    width: 110px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__txt {
    font: 400 13px/1.3333 $primary-font;
    opacity: 1;
    color: #333;
    max-height: 69px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
