/******* Brand colors *******/
$color-primary: #007c31;
$color-secondary: #d4d63c;
$color-tertiary: #f35910;
/*-----------------------*/
$color-base-400: #016023;
$color-base-300: #2aa55b;
$color-base-200: #85dfa9;
$color-base-100: #c5f6d9;
/*-----------------------*/

/******* Other colors *******/
$color-link: #006097;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/
/******** border colors *********/
$border-color-base: $color-primary;

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-white;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Footer Amp colors *******/
$footer-background: $color-primary;
$footer-text-color: $color-black;
/*-----------------------*/
