/******* Header dimensions *******/
$header-logo-height: 50px;
/*-----------------------*/

/******* Amp Footer dimensions *******/
$footer-logo-padding: 15px 41px 2px 92px;
$footer-logo-background: 3px;
$footer-logo-background2: 66px 0px;
/*-----------------------*/
