.s-multimedia {
  &__caption {
    display: none;
    color: #454545;
    font: 700 14px/16px $secondary-font;
    letter-spacing: -0.14px;
    margin-top: 7px;
    @media (--only-mobile) {
      padding: 0 5px;
    }
  }
  .jw-icon.jw-icon-display {
    background-color: #000;
    border-radius: 50%;
    border: 2px solid #ffcb05;
  }
  .jw-display-container {
    text-align: left;
    margin-top: auto;
  }
  .jw-display-icon-container {
    margin: 0 5px;
  }
  .jw-icon {
    width: 60px !important;
    height: 60px !important;
  }
  .jw-svg-icon {
    width: 40px !important;
    height: 40px !important;
    color: #ffcb05;
  }
}
