.author-details {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  &__blog-title {
    color: $color-black;
  }
  &__description {
    color: $color-gray-300;
  }
}
