.author-details {
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  &__blog-title {
    color: $color-gray-300;
    font-size: 15px;
  }
  &__description {
    color: $color-gray-300;
    font-family: Georgia;
    font-size: 15px;
  }
  &__body {
    color: $color-gray-300;
  }
}
