.search-filter {
  background-color: #e8f2f7;

  @media (--desktop) {
    flex-direction: row;
    height: 152px;
  }

  &__select {
    height: 40px;
    background-color: #d5e5ed;

    &.active {
      background-color: $color-white;
    }

    @media (--desktop) {
      height: auto;
      padding: 0;
    }
  }

  &__select-name {
    font-size: 13px;

    @media (--desktop) {
      display: none;
    }
  }

  &__list {
    top: 40px;
    background-color: $color-white;
    z-index: 10;

    &.active {
      display: flex;
    }

    @media (--desktop) {
      background-color: transparent;
      display: flex;
      position: relative;
      flex-direction: row;
      top: initial;
    }
  }

  &__item {
    &.active {
      background-color: $color-primary;

      .filter-search__link {
        font-weight: bold;
      }

      @media (--desktop) {
        background-color: $color-white;

        .filter-search__link {
          background-color: #bbd3e0;
          font-weight: bold;
        }
      }
    }

    &.selected {
      text-transform: uppercase;

      @media (--desktop) {
        .filter-search__link {
          background-color: $color-primary;
          font-weight: bold;
          border: 0;
          outline: 0;
        }
      }
    }

    @media (--desktop) {
      background-color: $color-white;
      padding: 0;
      padding-right: 2px;
      position: initial;

      &:nth-last-child(1) {
        padding-right: 0;
      }
    }
  }

  &__link {
    color: $color-dark;
    font-size: 13px;

    @media (--desktop) {
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 110px;
      height: 90px;
      padding: 10px;
      background-color: #d5e5ed;
      font-weight: 300;
    }
  }

  &__sublist {
    &.active {
      display: flex;
    }

    @media (--desktop) {
      flex-direction: row;
      position: absolute;
      margin-top: 10px;
      left: 0;
    }
  }

  &__subitem {
    @media (--desktop) {
      padding: 0;
      margin-right: 15px;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      &:before {
        content: '|';
        position: absolute;
        right: -7px;
        color: #a1a1a1;
        font-size: 9px;
      }
    }
  }

  &__sublink {
    font-size: 11px;
    color: #a1a1a1;
    padding: 7px;
  }

  &__box-search {
    @media (--desktop) {
      margin-bottom: 0;
      align-items: flex-start;
    }
  }

  &__search-button {
    z-index: 1;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    &:active {
      background-color: $color-primary;
    }

    @media (--desktop) {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      right: 0;
      border-left: solid 1px #e8f2f7;
      font-size: 24px;
    }
  }

  &__search-input {
    height: 40px;
    line-height: 50px;
    font-size: 13px;

    @media (--desktop) {
      height: 90px;
      font-size: 20px;
      font-weight: 700;
      line-height: 90px;
      padding-right: 95px;
      border: 0;
    }
  }
}
