.search-filter {
  @media (--desktop) {
    height: 152px;
  }

  // &__box-list {}

  &__select {
    height: 40px;
  }

  //&__select-name {}

  &__list {
    top: 40px;
    z-index: 1;

    @media (--desktop) {
      background-color: transparent;
      position: relative;
      top: initial;
    }
  }

  &__item {
    @media (--desktop) {
      background-color: $color-white;
      margin-right: 2px;
      position: relative;
    }

    &.selected {
      text-transform: uppercase;

      .search-filter__link {
        background-color: $color-primary;
        font-weight: bold;
        border: 0;
      }

      &:before {
        @media (--desktop) {
          border-color: $color-primary transparent transparent;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          bottom: -10px;
          content: ' ';
          height: 0;
          left: 50%;
          margin-left: -10px;
          position: absolute;
          width: 0;
        }
      }
    }

    &.active {
      background-color: $color-primary;

      .search-filter__link {
        font-weight: bold;

        @media (--desktop) {
          background-color: $color-primary;
          font-family: $primary-font;
        }
      }
    }

    &:nth-child(3) {
      @media (--desktop) {
        margin-right: 20px;
      }
    }

    &:last-child {
      @media (--desktop) {
        margin-right: 10px;
      }
    }
  }

  &__link {
    @media (--desktop) {
      width: 200px;
      height: 76px;
      background-color: $color-gray-100;
    }

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      text-decoration: none;
    }
  }

  &__sublist {
    @media (--desktop) {
      position: absolute;
    }
  }

  &__subitem {
    @media (--desktop) {
      &:nth-last-child(1) {
        margin-right: 0;
      }

      &:before {
        content: '|';
        position: absolute;
        right: -7px;
        color: $color-gray-200;
        font-size: 9px;
      }
    }
  }

  &__sublink {
    padding: 7px;
    width: max-content;
  }

  // &__search {}
}