
@font-face
  font-family: 'icomoon-custom'
  src: url('https://jab.pe/polla/fonts/icomoon-polla.eot')
  src: url('https://jab.pe/polla/fonts/icomoon-polla.eot#iefix') format("embedded-opentype"), url('https://jab.pe/polla/fonts/icomoon-polla.ttf') format('truetype'), url('https://jab.pe/polla/fonts/icomoon-polla.svg') format('svg')
  font-weight: normal
  font-style: normal
