
//- @media screen and (max-width: 1366px)

@media screen and (max-width: 1260px)

  body
    &.polla
      .ads-zocalo1
        margin-left: 0
        width: 150px
        img
          width: 100%
      .ads-zocalo2
        margin-left: 1100px
        width: 150px
        img
          width: 100%



@media screen and (max-width: 1024px)
  body
    &.login
      .ads-zocalo1, .ads-zocalo2
        width: 300px
        img
          width: 100%
      .ads-zocalo2
        margin-left: 725px
    &.polla
      .ads-zocalo1, .ads-zocalo2
        display: none



        

