@media screen and (max-width: 1023px)
  a:hover
    text-decoration: none

  .column-flows
    max-width: 636px
    
  .flows-grid
    width: 650px
    &.box-primary
      padding-bottom: 100px

  .flow-3x1
    width: 636px
    .frm-score
      width: 100%
      .ui-row
        width: 290px
        &:nth-child(1) .team-txt
          strong
            margin-top: 0
        .team-txt strong
          top: 0
      &.ui-validate
        .team-vs
          margin-top: 22px
        .input_default
          width: 45px
          -webkit-appearance: none
          -moz-appearance: textfield
        .input_default::-webkit-inner-spin-button,
        .input_default::-webkit-outer-spin-button
          -webkit-appearance: none
          margin: 0
    .flow-match .team-txt
      font-size: 20px

      img
        margin: 0 5px
        height: 25px
    .match-teams .team-txt strong
      max-width: 175px
      overflow: hidden
      height: 29px

  .box-separator
    width: 636px

  .match-tabs .flow-match-small
    width: initial
  .flow-match-small
    .match-teams-small
      .team-txt
        font-size: 13px
      img
        max-width: 26px
        max-height: 15px

  .flow-1-5x1
    width: 300px

  .frm-partidos .btn_link
    padding-left: 5px
    padding-right: 5px
    span
      display: none
    .icon-camp
      display: inline-block
      transform: rotate(-90deg)

  .frm-partidos
    select.input_date
      width: 135px
      margin-left: 5px
      margin-right: 5px
    .ui-dropdown
      width: 135px
      .ui-caption
        text-transform: capitalize
        font-size: 13px
    .btn_link
      top: -1px
      position: relative

  .site-header .box-content
    width: 636px

  .site-menu
    width: 435px
    .main-menu
      margin-left: 0
      position: absolute
      right: 0
      top: 50px

  .mod-ranking
    position: fixed
    //- bottom: 0
    bottom: 60px
    left: 0
    top: inherit
    right: inherit
    z-index: 9
    width: 100%
    text-align: center
    background: $white
    padding: 0 0 10px 0
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.4)
    .ranking-content
      width: 636px
      margin: 0 auto
      position: relative

    .ui-tab-content
      width: 636px
      margin: 0 auto
    
    .my-ranking
      width: 236px
    .my-last-game
      width: 380px
      padding-left: 4px
      border-left: 1px solid #949494

    .title-ranking
      color: #949494
      padding-bottom: 5px 
      display: block
      border-bottom: 0
      font-size: 12px
      margin-bottom: 0
      margin-left: 0
      text-align: center

    &.hidden
      -webkit-transform: translate(0, 100%)
      -ms-transform: translate(0, 100%)
      transform: translate(0, 100%)
    
    #panel-lastgame
      border-radius: 0
      padding-left: 0
      padding-right: 0
      width: 100%
      margin-left: 0
      border-left: 0
    #panel-ranking
      padding-left: 0
      padding-right: 0
      width: 100%
    .btn-collapse
      
      box-shadow: 0px -3px 4px 1px rgba(0,0,0,0.4)
      display: block
      top: -15px
    .ui-tab li
      a
        &:hover
          //- padding-top: 0
          //- padding-bottom: 0
          background: transparent
          color: $black
          line-height: normal
      &.ui-active a
        background: $yellow2
        color: $black
        font-weight: 700
    .ui-panel
      padding-left: 0 
      padding-right: 0 
      &.ranking-inner
        display: none !important
        &.ui-active
          display: block !important


  .match-header .match-hashtag
    display: none

  .box-title
    font-size: 30px

  .site-options .box-content
    width: 636px

  .zocalos
    display: none
  
  .site-footer .box-content
    width: 636px

  .box_login
    width: 100%

  .site-paginator
    margin-bottom: 100px



//@media screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2)

//@media screen and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape)

//@media screen and (min-width: 1024px) and (max-width: 1366px)
