
body.tc
  .search-options
    display: none
  .search-results
    width: 100%
  #eplAdDivTicker
    width: 100%
    min-width: 981px
  &.deporplay .site-submenu .box-content
    width: 980px
    
@media screen and (max-width: 1023px)
  body.tc
    .flow-3x1
      width: 954px

@media screen and (min-width: 940px)
  body.tc
    //- .wrapper
      //- margin: 0 auto
      //- width: 954px
      //- width: 980px
      //- width: $tc-d
      //- :background #fff

    .zocalos
      //- width: 960px
      width: $tc-d
    .ads-zocalo2
      //- margin-left: 970px
      margin-left: $tc-d

    .ads-top
      margin-left: 0

    .ads-middle [id^="eplAd"], .ads-middle [id*=" eplAd"]
      margin-left: 0

    .site-options .box-content
      width: 954px
      margin: 0 auto
    .box-separator, .site-footer .box-content, .content-columns, .banner-topic .box-content
      //- width: 936px
      width: 954px

    .site-header .site-logo .logo
      margin-top: 10px

    .content-trends
      width: 830px

    .flows-grid
      margin: 0 auto
      width: 954px

    .column-flows
      width: 618px
      padding-right: 20px
      padding-left: 20px

    .section-flow
      padding-left: 0
      .flow-image-detail
        width: 267px
      .flow-detail
        padding-left: 315px
      .flow-category
        position: relative
        top: auto
        left: auto
        width: auto
      .share-flow
        left: 315px

@media screen and (max-width: 940px)
  body.tc
    .column-flows
      width: 706px

    .flows-grid
      width: 636px