// PALETA DE COLORES
$black: #000
$white: #fff
$red: #e21a06
$blue: #28b1e2
$yellow: #FFC100


$yellow2: #fae100

$verde1: #ffff3e

$gray2: #3f3f3f
$gray3: #7f7f7f
$gray4: #ccc

$green1: #006132

$fb: #43609c
$tw: #1da1f2
$gp: #dd4d42
$wa: #47c252
$pin: #d01d15
$ins: #a96300
$mail: #595959
$print: #4c4c4c

// TIPOGRAFIAS
$f-main: 'Barlow', sans-serif
$f-titles: 'Muli'
$f-flows: 'Noticia Text'
$f-header: 'Roboto Condensed'
$f-sectitle: 'OstrichSans'
$f-other: 'arial'

// TIPOGRAFIAS

$f-primary: 'Roboto', sans-serif

// COLOR DE FONDO POR DEFECTO
$bg-site-color: #eae9e5

// COLOR DE FUENTE POR DEFECTO
$f-color: #000
// TAMAniO DE FUENTE PRINCIPAL
$fz-main: 14px

$color-error: #ffff3e

// CONTENT WIDTH
$cnt-w: 1274px

$cnt-wd: 1254px

$cnt-w3c: 954px


//- CONTENT TOMA DE CANAL
$tc-d: 1024px
$tc-d2: 954px
$tc-d3: 936px

$tc-t: 768px
$tc-t2: 636px
$tc-t3: 618px

$tc-m: 375px

// SPRITE ICONOS
// $icons: url("../img/polla-depor/spt_icons.png")

//- 640px CONTENT WIDTH
$w640: 375px