.nav-sidebar {
  height: calc(100vh - 46px);
  left: 0;
  max-width: 330px;
  top: 46px;
  z-index: 999;
  background-color: #000;
  font-family: $secondary-font;
  font-size: 0.9rem;

  &.active {
    display: block;
  }

  &__header {
    display: none;
  }
  &__search {
    padding: 15px 30px 0 30px;
    @media (--tablet) {
      display: block;
    }
    @media (--desktop) {
      display: none;
    }
  }
  &__box-search {
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
  &__input {
    height: 40px;
    border-radius: 4px;
    padding: 10px 15px;
  }
  &__item {
    padding-left: 20px;
  }
  &__link {
    padding: 15px 15px 15px 11px;
    width: 100%;
    color: #fff;
  }
  &__footer {
    padding: 0 30px 20px 30px;
  }
  &__text {
    display: block;
    color: #fff;
    padding: 5px 0;
  }
}
