.blog-item {
  &__blog {
    color: $color-primary;
  }
  &__blog,
  &__author {
    font-size: 13px;
    font-weight: 700;
    @media (--desktop) {
      font-size: 16px;
    }
  }

  &__post {
    font-size: 14.4px;
    font-weight: 700;
    @media (--desktop) {
      font-size: 20px;
    }
  }
  &__date {
    display: none;
  }
}
