.featured-story {
  &__author {
    order: 2;
    border-bottom: 1px solid #f5e9de;
    padding-bottom: 10px;
    text-transform: capitalize;
  }

  &__category {
    order: 3;
    padding: 10px 0px;
    border: 0px;

    &::after {
      border: 0px;
      width: 0px;
      height: 0px;
    }
  }

  &__category-link {
    text-transform: uppercase;
    color: $color-base-300;
  }

  &__detail {
    padding-bottom: 0px !important;
  }

  &__title {
    order: 1;
  }
  &__title-link {
    font-weight: 700;
    @media (--tablet) {
      font-size: 24px;
      line-height: 1.2;
    }
  }
  &.img-complete {
    .featured-story__detail {
      padding-bottom: 20px !important;
    }
    &.featured-story--no-expanded {
      &.featured-story--live {
        .featured-story__headband-link {
          @media (--tablet) {
            width: 110px;
          }
        }
      }
    }
    &.featured-story--live {
      .featured-story__headband {
        position: relative;
        left: -20px;
        .featured-story__headband-link {
          height: 28px;
        }
      }
    }
  }
  &.featured-story--live {
    .featured-story__headband {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      left: 0;
      .featured-story__headband-link {
        left: 0;
        width: 100%;
        background-color: $color-gray-200;
        height: 40px;
      }
    }
    &.featured-story--no-expanded {
      .featured-story__detail {
        padding-top: 40px;
      }
    }
    &.featured-story--no-expanded {
      &.featured-story--reverse {
        .featured-story__detail {
          padding-top: 10px;
        }
      }
    }
  }
}
