.most-read {
  background-color: $color-base-200;
  &__title {
    background-color: $color-gray-200;
  }
  &__icon {
    color: $color-primary;
    background-color: $color-secondary;
    font-size: 12px;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  &__link {
    color: $color-white;
  }
}
