.post-item {
  background-color: transparent;
  border-top-color: $color-gray-200;
  // margin-bottom: 20px;
  &__date {
    display: none;
  }
  &__title {
    font-size: 14.4px;
    font-weight: 700;
    font-family: $primary-font;
    @media (--desktop) {
      font-size: 20px;
    }
  }
  &__author {
    font-family: $primary-font;
    font-size: 13px;
    visibility: visible;
    @media (--desktop) {
      font-size: 16px;
    }
  }
  &__image {
    @media (--tablet) {
      font-size: 20px;
      width: 150px;
      height: 150px;
    }
  }
  &__description {
    padding-right: 20px;
    @media (--tablet) {
      padding-left: 20px;
      padding-right: 0;
    }
  }
}
