.related-content {
  &__item {
    display: flex;
    @media (--tablet) {
      justify-content: end;
    }
    border-bottom: 1px solid #c1c1c1;
    border-top: 0;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__information {
    margin-left: 15px;
    width: calc(100% - 95px);
    @media (--tablet) {
      max-width: none;
    }
  }
  &__title {
    color: #9e0620;
    font-weight: 700;
    border-top: 2px solid #9e0620;

    @media (--tablet) {
      font-size: 19px;
    }
  }
  &__multimedia {
    order: -1;
    width: 80px;
    @media (--tablet) {
      width: 80px;
      height: 95px;
    }
  }
  &__item-title {
    letter-spacing: 0px;
    line-height: 22px;
    font-size: 16px;
    @media (--tablet) {
      font-size: 19px;
    }
    @media (--desktop) {
      font-size: 22px;
    }
  }
  &__icon {
    top: 5px;
    left: auto;
    right: 5px;
    margin: 0;
  }
}
