.search-filter {
  background-color: $color-base-200;

  &__item {
    &.selected {
      .search-filter__link {
        background-color: $color-base-300;
        color: $color-white;
        @media (--desktop) {
        }
      }

      &:before {
        @media (--desktop) {
          border-color: $color-base-300 transparent transparent;
        }
      }
    }

    &.active {
      .search-filter__link {
        color: $color-white;
      }
    }
  }

  &__sublink {
    font-size: $font-sm;
    color: $color-primary;
  }
}
