.separator {
  border-top-color: $color-primary;
  background-color: transparent;
  @media (--tablet) {
    padding: 0;
  }
  &__body {
    @media (--tablet) {
      height: auto;
    }
  }
  &__detail {
    position: relative;
    padding: 12px 15px 0;
    @media (--desktop) {
      height: 127px;
    }
  }
  &__title {
    color: $color-gray-300;
    font-weight: 700;
    @media (--desktop) {
      font-size: 18px;
    }
  }
  &__twoline {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    @media (--desktop) {
      max-height: 68px;
    }
  }
  &__item {
    background-color: $color-white;
    &::before {
      /*  background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1) 30%,
        rgba(0, 0, 0, 0.8) 80%,
        #000000
      ); */
      display: none;
    }
  }
  &__icon {
    top: auto;
    @media (--tablet) {
      bottom: 74px;
    }
    @media (--desktop) {
      bottom: 135px;
    }
  }
  &__header-link {
    color: $color-primary;
  }
}
