.sec-col {
  &__title {
    color: $color-base-100;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
  }

  &__header {
    justify-content: center;
    margin: 0;
    &.bg-info {
      background-color: $color-gray-200;
    }
    &.bg-white {
      background-color: #e8e8e8;
      .sec-col__title {
        color: $color-white;
      }
    }
  }

  &__link {
    font-size: 19px;
    letter-spacing: 0;
    line-height: 18px;
    height: calc(18px * 3);
  }

  &__story {
    margin-top: 2px;
    &:first-of-type {
      .sec-col__link {
        letter-spacing: 0;
        line-height: 24px;
        font-size: 25px;
        -webkit-line-clamp: 4;
        height: calc(24px * 4);
      }
    }
  }

  &__author {
    font-size: 13px;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  &__icon {
    top: calc(50% - 25px);
    left: 20px;
    font-size: 48px;
    right: auto;
  }
}
