.story-header {
  &__news-title,
  &__news-summary {
    font-weight: 700;
  }
  &__news-summary {
    font-family: $primary-font;
  }
  &__share {
    border-bottom-style: dashed;
    border-bottom-color: $color-gray-200;
    border-top-color: $color-base-200;
  }
  &__title-section {
    font-weight: 700;
  }
}
