.story-content {
  &__caption {
    font-family: $tertiary-font;
    color: $color-gray-200;
  }
  &__author-link {
    font-family: $primary-font;
    font-weight: 700;
    @media (--tablet) {
      font-size: 19px;
    }
  }
  &__author-email {
    color: $color-gray-300;
  }
  &__author-link,
  &__author-email {
    font-weight: 700;
    font-family: $primary-font;
  }
  &__date {
    font-family: $tertiary-font;
  }
}
