/* 
hay estilos por defecto en 
src/general-styles/framework/core/_lite.scss
*/

.link-site {
  content-visibility: auto;
  contain-intrinsic-size: 512px;
  margin: 20px;
  // border-top: 1px solid #888;
  padding-top: 20px;
  &__image {
    width: 100%;
    height: 84px;
    // height: 100px;
    // width: 130px;
    object-fit: cover;

    @media (--tablet) {
      // width: 100%;
      height: 135px;
    }
  }
  &__pic {
    display: block;
    margin-right: 10px;
    @media (--tablet) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  &__header {
    border-bottom: 2px solid #8a8a8a;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  &__h-text {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-family: $primary-font;
    letter-spacing: 0;
    text-transform: none;
    opacity: 1;
  }
  &__subtitle {
    font-family: $primary-font;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.33px;
    color: #b2b2b2;
    opacity: 1;
  }
  &__site {
    font-weight: 700;
  }
  &__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    /* @media (--tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    } */
  }
  &__title-link {
    font-size: 14px;
    color: #333;
    font-family: $primary-font;
    letter-spacing: 0.14px;
    line-height: 17px;
    font-weight: 700;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: calc(20px * 4);
    margin: 10px 0;
    opacity: 1;
    @media (--tablet) {
      font-size: 1rem;
      -webkit-line-clamp: 3;
      max-height: calc(20px * 3);
    }
  }
  &__item {
    margin-bottom: 15px;
    max-width: calc((100% / 2) - 10px);
    flex-direction: column;

    @media (--tablet) {
      max-width: calc((100% / 3) - 10px);
      flex-direction: column;
      padding-bottom: 0;
      border-bottom: 0;
      padding-top: 0;
    }
  }
  &__sitename {
    font-size: 11px;
    font-weight: normal;
    line-height: 17px;
    font-family: $primary-font;
    letter-spacing: 0.11px;
    color: #7c7c7c;
    opacity: 1;
  }
}
