/* 
hay estilos por defecto en 
src/general-styles/framework/core/_lite.scss
*/

.link-site {
  content-visibility: auto;
  contain-intrinsic-size: 512px;
  &__image {
    object-fit: cover;

    @media (--tablet) {
      height: 135px;
    }
  }
  &__pic {
    display: block;
    @media (--tablet) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
  &__header {
    border-bottom: 2px solid #8a8a8a;
  }
  &__h-text {
    color: #000;
    font-family: $primary-font;
    letter-spacing: 0;
    text-transform: none;
    opacity: 1;
  }
  &__subtitle {
    color: #b2b2b2;
    opacity: 1;
    @media (--tablet) {
      font: 700 11px/18px $primary-font;
      letter-spacing: 0.33px;
    }
  }
  &__title-link {
    color: #333;
    font-family: $primary-font;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    opacity: 1;
    @media (--tablet) {
      font-size: 1rem;
      -webkit-line-clamp: 3;
      max-height: calc(20px * 3);
    }
  }
  &__item {
    @media (--tablet) {
      max-width: calc((100% / 3) - 10px);
      flex-direction: column;
      padding-bottom: 0;
      border-bottom: 0;
      padding-top: 0;
    }
  }
  &__sitename {
    font-weight: normal;
    font-family: $primary-font;
    color: #7c7c7c;
    opacity: 1;
  }
}
