.tournament-result {
  &__box {
    @media (--tablet) {
      width: calc(100% - 315px);
    }
  }
  &__content {
    @media (--tablet) {
      width: 49%;
    }
  }
  &__card {
    border-top-width: 5px;
    border-color: #aaa;
    height: 195px;
    overflow-x: hidden;
    &-league,
    &-sponsor {
      font-size: 14px;
      @media (--desktop) {
        font-size: 20px;
      }
    }
  }
  &__item {
    max-width: 350px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__name {
    width: 70px;
    font-size: 16px;
  }
  /*   &__details {
    width: 50px;
  } */
  &__figure {
    width: 30px;
    height: 30px;
    background-color: red;
  }
  &__score {
    width: 50px;
    &-live {
      color: red;
      font-size: 13px;
    }
  }
  &__date,
  &__time {
    font-size: 13px;
  }
  &__add {
    width: 300px;
    height: 250px;
    background-color: blue;
  }
}
