@font-face {
  font-family: 'TitilliumWeb';
  src: url('../../fonts/TitilliumWeb-Regular.eot');
  src: url('../../fonts/TitilliumWeb-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/TitilliumWeb-Regular.svg#TitilliumWeb-Regular')
      format('svg'),
    url('../../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
    url('../../fonts/TitilliumWeb-Regular.woff') format('woff'),
    url('../../fonts/TitilliumWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../../fonts/TitilliumWeb-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold')
      format('svg'),
    url('../../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
    url('../../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
    url('../../fonts/TitilliumWeb-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumWeb';
  src: url('../../fonts/TitilliumWeb-Black.eot');
  src: url('../../fonts/TitilliumWeb-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/TitilliumWeb-Black.svg#TitilliumWeb-Black') format('svg'),
    url('../../fonts/TitilliumWeb-Black.ttf') format('truetype'),
    url('../../fonts/TitilliumWeb-Black.woff') format('woff'),
    url('../../fonts/TitilliumWeb-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab';
  src: url('../../fonts/RobotoSlab-Regular.eot');
  src: url('../../fonts/RobotoSlab-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
    url('../../fonts/RobotoSlab-Regular.ttf') format('truetype'),
    url('../../fonts/RobotoSlab-Regular.woff') format('woff'),
    url('../../fonts/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab';
  src: url('../../fonts/RobotoSlab-Bold.eot');
  src: url('../../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg'),
    url('../../fonts/RobotoSlab-Bold.ttf') format('truetype'),
    url('../../fonts/RobotoSlab-Bold.woff') format('woff'),
    url('../../fonts/RobotoSlab-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
