@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.woff?3r19g5') format('woff'),
    url('../../icons/fonts/default.svg?3r19g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/gestion.woff?o05x3b') format('woff'),
    url('../../icons/fonts/gestion.svg?o05x3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
