@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.eot');
  src: url('../../icons/fonts/default.eot?m4ngjf#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/default.ttf?m4ngjf') format('truetype'),
    url('../../icons/fonts/default.woff?m4ngjf') format('woff'),
    url('../../icons/fonts/default.svg?m4ngjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/gestion.eot');
  src: url('../../icons/fonts/gestion.eot?o05x3b#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/gestion.ttf?o05x3b') format('truetype'),
    url('../../icons/fonts/gestion.woff?o05x3b') format('woff'),
    url('../../icons/fonts/gestion.svg?o05x3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
