@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/Roboto-Slab.woff2)
      format("woff2"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/Roboto-Slab.woff)
      format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/Roboto-Slab.woff2)
      format("woff2"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/Roboto-Slab.woff)
      format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-Regular.woff2)
      format("woff2"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-Regular.woff)
      format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Titillium Web SemiBold"), local("TitilliumWeb-SemiBold"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-SemiBold.woff2)
      format("woff2"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-SemiBold.woff)
      format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Titillium Web Bold"), local("TitilliumWeb-Bold"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-Bold.woff2)
      format("woff2"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-Bold.woff)
      format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Titillium Web Black"), local("TitilliumWeb-Black"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-Black.woff2)
      format("woff2"),
    url(https://cdna.elbocon.pe/resources/dist/elbocon/fonts/TitilliumWeb-Black.woff)
      format("woff");
}
