.extraordinary-story {
  &.extraordinary-story--top {
    .extraordinary-story__section {
      transform: translateY(-100%);
      z-index: 1;
      position: absolute;
    }
    .extraordinary-story__title {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  &__group-content {
    position: relative;
  }
  &__section {
    background-color: $color-secondary;
    padding: 5px 10px;
    font-family: $fourth-font;
    font-size: 11px;
  }
  &__section-link {
    color: $color-white;
  }
  &__multimedia {
    & .embed-multimedia-image {
      display: block;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    @media (--tablet) {
      font-size: 28px;
    }
  }
  &__title-link {
    color: $color-black;
  }
  &__author-link {
    display: none;
  }
  &__subtitle {
    font-size: 14px;
  }
  &__link {
    color: $color-black;
  }
}
