/* .m-icon,
.multimedia__icon {
  background-color: $color-white;
  border-radius: 50%;
  bottom: 10px;
  color: $color-fourth;
  display: block;
  left: 10px;
  pointer-events: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 36px;
  position: absolute;
  @media (--tablet) {
    width: 72px;
    height: 72px;
    font-size: 74px;
    line-height: 75px;
  }
} */
