.nav {

    position: sticky;
    top: 0;
    height: 46px;
    padding: 0 15px;
    z-index: 20;
    font-family: 'open_sansregular';
    font-size: .8em;
    font-weight: 600;

    &__button {

        background-color: #373737;
        border-radius: 4px;

        color: white;
        padding: 8px 16px;
        margin-right: 8px;
        text-decoration: none;

        &__container {
            height: inherit;
        }

        &--featured {
            color: #FBD03C;
            padding: 0 5px;
            height: inherit;
            text-decoration: none;    
        }
    }

    &__list {
        color: white;
        padding: 0 5px;
        height: inherit;

        & li {
            margin: 0 8px;
        }
    }   
}

.icon {

    width: 16px;
    height: 16px;
    background-size: cover;

    &--search {
        background-image: url('../images/icon-search.svg');
        margin-right: 8px;
    }

    &--menu {
        background-image: url('../images/icon-menu.svg');
        margin-right: 8px;
    }
}