.most-read-homologated-header {
  background-color: $color-secondary;
  justify-content: space-between;
  border: 0;
  &__title {
    font-family: $primary-font;
    font-weight: 700;
    color: $color-white;
    font-size: 15px;
  }
  &__see-more {
    display: none;
  }
  &__icon {
    display: block;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(/pf/resources/dist/peru21/images/logo-sm.png?d=380);
      background-size: cover;
    }
  }
}
