.ranking_trome__header {
  &__container {
    width: 100%;
    height: 340px;
    @media (--desktop) {
      margin: auto;
      height: 400px;
      width: 920px;
    }
  }
  // &__buttton {
  //   padding: 9px 28px;
  //   text-decoration: none;
  //   display: inline-block;
  //   background: #fff;
  //   color: #333333;
  //   border-radius: 5px;
  //   font-size: 12px;
  //   line-height: 14px;
  //   letter-spacing: 0.36px;
  //   font-family: $secondary-font;
  //   font-weight: $bold;
  // }

  &__box {
    width: 920px;
    height: 320px;
    margin: auto;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdna.trome.pe/resources/dist/trome/ranking-trome/head_desktop.jpeg");
    display: flex;
    flex-direction: column;
  }

  &__boxMob {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdna.trome.pe/resources/dist/trome/ranking-trome/head_mobile.jpeg");
    width: auto;

    display: flex;
    flex-direction: column;
  }

  &__heightNormal {
    height: 170px;

    @media (--tablet) {
      height: 200px;
    }
  }
  &__heightClose {
    height: 220px;
    @media (--tablet) {
      height: 255px;
    }
  }

  &__color {
    background-color: #000000;
  }
  &__cont {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;

    @media (--only-mobile) {
      padding-top: 13px;
      height: 37px;
    }

    &__contLeft {
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      min-width: 100px;
      align-items: center;

      @media (--only-mobile) {
        margin-left: 14px;
        min-width: 80px;
      }
      &__flecha {
        margin-right: 14px;
        width: 26px;
        height: 26px;
        cursor: pointer;

        @media (--only-mobile) {
          width: 20px;
          height: 20px;
        }
      }
      &__logo {
        svg {
          width: 112px;
          height: 32px;

          @media (--only-mobile) {
            width: 83.5px;
            height: 24px;
          }
        }
      }
    }
    &__contRight {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-right: 16px;
      min-width: 350px;

      @media (--only-mobile) {
        margin-right: 19px;
        min-width: 20px;
      }
      &__terminos {
        span {
          font-size: 13px;
          font-family: $secondary-font;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0.39px;
          color: #fff;
          margin-right: 20px;
        }
        a {
          text-decoration: none;
        }
      }

      &__button--after2 {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px 30px;
        font: 900 18px/14px $primary-font;
        letter-spacing: 0.36px;
        color: #222;
        display: inline-block;
      }
    }
  }

  &__logoTrome {
    margin: auto;
    width: 380px;
    height: 330px;

    // @media (--tablet) {
    //   width: 330px;
    //   height: 280px;
    // }
    @media (--only-mobile) {
      width: 300px;
      height: 250px;
    }
  }
  &__marginTopClose {
    margin-top: -15px;
    @media (--tablet) {
      margin-top: -15px;
    }
  }
  &__marginTopNormal {
    margin-top: 60px;
  }

  &__ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  &__lista {
    display: flex;
    width: 100%;
    height: 50px;

    &:first-child {
      border-bottom: 1px solid white;
    }
  }

  &__contOpen {
    width: 100%;
    height: 160px;
    background-color: black;
    @media (--tablet) {
      height: 200px;
    }
  }
  &__contLista {
    align-self: center;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: $semi-bold;
    font-family: $primary-font;
  }
  &__buttonMenu {
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (--tablet) {
      margin-right: 25px;
    }
  }
  &__buttonMenuClosed {
    background-color: transparent;
    width: 27px;
    height: 27px;
    margin-left: 320px;
    align-self: center;
    display: flex;

    @media (--tablet) {
      margin-left: 590px;
    }
    svg {
      width: 27px;
      height: 27px;
    }
  }

  &__raya {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 20%;
  }
}
