.most-read-item {
  &:last-child {
    border-width: 0;
  }

  // &__article {}

  &__figure {
    max-height: 72px;
    max-width: 118px;
  }

  &__icon {
    top: initial;
    left: initial;
    bottom: 5px;
    right: 5px;
    font-size: 25px;
    width: 23px;
    height: 23px;
  }

  &__detail {
    font-size: 12px;
    max-height: calc(12px * 1.33 * 4);
  }
}