.most-read {
  // &__title {}

  @media print {
    display: none;
  }

  &__icon::before {
    background-color: $color-primary;
    color: $color-white;
    padding: 5px;
    border-radius: 50px;
    font-size: 17px;
  }
}