.most-read {
  // &__title {}

  @media print {
    display: none;
  }

  &__icon {
    font-size: 18px;
  }
  &__title {
    height: 35px;
    font-size: 15px;
  }
  &__link {
    color: $color-primary;
  }
}
