$colorIconMasLeidas: rgba(255, 255, 255, 0.8);

.most-read-item {
  &:last-child {
    border: none;
  }

  &__figure {
    height: 72px;
    width: 118px;

    &--icon::before {
      position: absolute;
      bottom: 5px;
      right: 5px;
      z-index: 1;
      font-size: 25px;
      color: $colorIconMasLeidas;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  &__detail {
    max-height: 72px;
  }
}
