.most-read-item {
  &:last-child {
    border-width: 0;
  }
  // &__article {}
  &__figure {
    max-height: 72px;
    max-width: 118px;
  }
  &__icon {
    transform: translate(0, 0);
    top: initial;
    left: initial;
    bottom: 5px;
    right: 5px;
    font-size: 25px;
    width: 25px;
    height: 25px;
  }
  &__detail {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .three-lines {
    max-height: calc(13px * 1.33 * 3);
    -webkit-line-clamp: 3;
  }
  .four-lines {
    max-height: calc(13px * 1.33 * 4);
    -webkit-line-clamp: 4;
  }
}
