/******* Base *******/
@import "../../general-styles/framework/variables/index";
@import "./scss/lite-components/framework/core/lite";

/******* Variables Lite *******/
@import "./scss/variables/index";
@import "../../general-styles/framework/core/reset";

$primary-font: "Lato";
$secondary-font: "Exo", sans-serif;
$tertiary-font: $secondary-font;

/******* Components *******/

// No van en Mag

// @import "../../general-styles/components/features/layout/header/header";
// @import "./scss/components/layout/header/header";
// @import "./scss/lite-components/features/header/basic/h-basic";
// @import "./scss/lite-components/features/story/author/story-author"; //utilizan en la plantilla elcomerciomag-noticia-fotogaleria, pero no tiene resolver
// @import "./scss/lite-components/features/premium/premium";

// Completados - en curso

@import "./scss/lite-components/layouts/story-sidebar/st-sidebar";
@import "./scss/lite-components/features/story/title/title";
@import "./scss/lite-components/features/header/standard/header";
@import "./scss/lite-components/features/navbar/standard-basic/nav";
@import "./scss/lite-components/features/header/continuous/h-continuous";
@import "./scss/lite-components/features/widgets/breaking-news/b-news";
@import "./scss/lite-components/features/story/multimedia/multimedia";
@import "./scss/lite-components/features/story/social/st-social";
@import "./scss/lite-components/global-components/share/share";

// TODO

@import "./scss/lite-components/global-components/ads/ad-lateral";
@import "./scss/lite-components/features/story/special-title/st-special-t";
@import "./scss/lite-components/features/header/links-band/links-band";
@import "./scss/lite-components/features/story/gallery/gallery-img";
