/******* Fonts *******/
@import "./scss/partials/import-fonts";

/******* Variables Lite *******/
@import "../../general-styles/framework/variables/index";
@import "./scss/variables/index";

$primary-font: "Lato";
$secondary-font: "Exo", sans-serif;
$tertiary-font: $secondary-font;

/******* Components *******/

// No van en Mag

// @import "./scss/lite-components/features/header/basic/menu";
// @import "./scss/lite-components/features/story/google-news/google-news";

// Completados - en curso

@import "./scss/lite-components/features/cards/most-read/most-read"; // Hecho
@import "./scss/lite-components/features/story/gallery/gallery";
@import "./scss/lite-components/features/story/gallery/gallery-vertical";

// TODO

@import "./scss/lite-components/features/story/contents/contents";
@import "./scss/lite-components/features/story/contents/table";
@import "./scss/lite-components/features/story/related/st-rel";
@import "./scss/lite-components/features/story/tags/st-tags";
@import "./scss/lite-components/features/stories-lists/linked-by-site/link-site";
@import "./scss/lite-components/features/story/continue/st-continue";
@import "./scss/lite-components/features/footer/story/st-foot";
@import "./scss/lite-components/global-components/multimedia-icon/m-icon";
@import "./scss/lite-components/features/story/taboola/taboola";
