.sht {
  padding-right: 20px;
  padding-left: 20px;
  color: $color-black;

  &__title {
    font: 900 24px/1.166 $primary-font;
    padding-bottom: 20px;
    @media (--tablet) {
      font-size: 44px;
    }
    @media (--desktop) {
      font-size: 47px;
    }
  }

  &__summary {
    font: 300 22px/1.33 $primary-font;
    padding-bottom: 20px;
  }

  &__list {
    list-style-type: disc;
    padding: 0 0 30px 20px;
    & li {
      font-size: 19px;
      line-height: 26px;
      color: #000;
      margin-bottom: 10px;
      & a {
        text-decoration: underline;
        font-weight: 700;
      }
      @media (--desktop) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  &__link:hover {
    text-decoration: none;
  }
}
