.story-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    font-family: $primary-font;
  }
  .pquote__text {
    color: $color-link;
  }
  &__icon {
    color: $color-gray-200;
  }
  &__font--secondary {
    font-size: 18px;
    font-family: $primary-font;
    a {
      color: $color-link;
    }
  }
  &__caption {
    color: $color-base-300;
    font-family: $primary-font;
    background-color: transparent;
    margin-top: -2px;
    min-height: 54px;
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
    padding: 12px 10px;
    border-bottom: 1px solid $color-gray-300;
  }
  &__taboola {
    .thumbnails-a {
      width: 100% !important;
    }
  }
  &__date {
    color: $color-base-200;
    font-family: $primary-font;
    font-size: 14px;
  }
  &__author {
    @media (--tablet) {
      flex-direction: column;
    }
  }
  &__author-link {
    font-family: $primary-font;
    font-size: 14px;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 900;
  }
  &__author-email {
    font-family: $primary-font;
    display: none;
  }
  &__more-link {
    .icon-linkedin-circle {
      color: #0e76a8;
    }
  }
  &__list-more {
    width: 110px;
  }
  .powa-shot-play-icon,
  .powa-shot-loading-icon {
    background-color: transparent;
    color: #f16e20;
    &:hover {
      color: #f16e20;
    }
  }
  .powa-shot-play-icon {
    &:before {
      content: '\e901';
    }
  }
  .powa-shot-play-btn {
    background-color: transparent;
    box-shadow: none;
  }
  &__embed {
    table {
      margin-bottom: 25px;
      width: 100%;
      height: auto;
      border: 1px solid #e0efa5;
      font-size: 16px;
      @media (--only-mobile) {
        font-size: 11px;
      }
      tr {
        &:nth-child(2n) {
          td {
            background-color: #e0efa5;
          }
        }
      }
      td {
        font-family: $primary-font;
        padding: 5px;
        border-right: 1px solid #e0efa5;
      }
    }
  }
}

.opinion .content-sidebar {
  background-color: $color-tertiary;
  padding-left: 10px;
  padding-right: 10px;
}

@media (--only-mobile) {
  .basic_gallery {
    .story-header__header-title {
      background-color: #2b2b2b;

      .story-header__news-title {
        color: $color-white;
      }
      .story-header__news-summary {
        color: $color-white;
      }
    }
    .story-header__header-social {
      background-color: #2b2b2b;
      .story-header__title-section {
        display: none;
      }
      .story-header__icon {
        color: $color-white;
      }
      .story-header__share {
        justify-content: center;
      }
      .story-header__list {
        display: flex;
      }
    }
  }

  .story-header__header-social {
    .story-header__title-section {
      display: none;
    }
    .story-header__share {
      justify-content: center;
    }
    .story-header__list {
      display: flex;
    }
  }
}
