/** ----------------------------*
*             FONTS             *
* ----------------------------- */

@charset "UTF-8";

@font-face {
  font-family: "Guardian Egyp";
  src: url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Light.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Guardian Egyp";
  src: url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Regular.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Guardian Egyp";
  src: url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Medium.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Guardian Egyp";
  src: url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Bold.woff2")
      format("woff2"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/GuardianEgyp-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/** ----------------------------*
*           VARIABLES           *
* ----------------------------- */
@import "../../general-styles/framework/variables/declare-sizes";
@import "../../general-styles/framework/variables/breakpoints";

$assets_url: "https://cdna.elcomercio.pe";

/******* Color Variables *******/
$color-black: hsl(0, 0%, 0%);
$color-dark: hsl(0, 0%, 3%);
$color-dark-text: hsl(0, 0%, 10%);
$color-text: $color-dark-text;
$color-grey: hsl(0, 0%, 53%);
$color-gray: $color-grey;

$color-silver: hsla(0, 0%, 89%, 1);
$color-soft: hsla(0, 0%, 96%, 1);
$color-white: hsl(0, 0%, 100%);

$color-red: hsla(0, 72%, 49%, 1);
$color-green: hsla(129, 69%, 49%, 1);
$color-gold: hsla(48, 100%, 51%, 1);

/******* Font Variables *******/
$primary-font: "Guardian Egyp", serif, system-ui;
// Falta que nos pasen esta fuente, se usa solo en las fechas "Chronicle Text G4, Bold"
// $secondary-font: "Chronicle Text G4", sans, system-ui;
$secondary-font: serif, system-ui;

/* ---------------------------- */

/** ----------------------------*
*           NORMALIZE           *
* ----------------------------- */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: $color-dark-text;
  font-family: $primary-font;
  font-size: 13px;

  @media (--tablet) {
    font-size: 14px;
  }

  @media (--desktop) {
    font-size: 16px;
  }
}

html,
body,
button,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
small,
strong,
b,
u,
i,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
menu,
nav,
section,
summary,
time,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a,
button,
[type="button"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
  border-style: none;
  color: $color-dark-text;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/** ----------------------------*
*              BASE             *
* ----------------------------- */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}

/** ----------------------------*
*               ADS             *
* ----------------------------- */
#gpt_top {
  z-index: 1;
}
#top_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 50px;
}
@media (--tablet) {
  #top_wrap {
    min-height: 120px;
  }
}
#top_wrap::before {
  content: "PUBLICIDAD";
  position: absolute;
  font-size: x-small;
  border: 1px solid #ccc;
  color: #888;
  padding: 4px 6px 2px;
  border-radius: 4px;
}

.ads__zocalo {
  display: none;
  position: sticky;
  width: 160px;
  top: 0;
}
@media (--desktop) {
  .ads__zocalo {
    display: block;
  }
}
.ads__zocalo--l {
  left: 0;
}
.ads__zocalo--r {
  right: 0;
}

/** ----------------------------*
*             STYLES            *
* ----------------------------- */
@import "./scss/components/header/simple";
@import "../elcomercio/scss/components/header/elecciones-2021";
@import "../elcomercio/scss/components/presidential-election/presidential-election-graph";
@import "../elcomercio/scss/components/presidential-election/presidential-election-paginator";
@import "../elcomercio/scss/components/presidential-election/presidential-election-pages";
@import "../elcomercio/scss/components/presidential-election/navigation-menu";
@import "../elcomercio/scss/components/presidential-election/option-congresal";
@import "../elcomercio/scss/components/presidential-election/projection-graph";

.election {
  &__updated-date {
    width: 100%;
    max-width: 312px;
    margin: 0 auto;
    font: 400 11px/1 $primary-font;
    color: #000;
    text-align: center;
    padding: 8px 20px 15px;
  }
  &__bottom-text {
    width: 100%;
    max-width: 312px;
    margin: 0 auto;
    font: 400 11px/14px $primary-font;
    color: #000;
    text-align: center;
    padding: 16px 20px 25px;
  }
  &__subtitle {
    font: 500 22px/1 $primary-font;
    color: #000;
    text-align: center;
    padding: 5px 20px 10px;
  }
}
