.polla-guide {
  padding: 32px 0 24px;
  position: relative;
  &__title-cont {
    display: flex;
    padding: 0 20px 18px;
    align-items: flex-end;
    position: relative;
    h2 {
      font: 800 22px/26px $primary-font;
      letter-spacing: 0.7px;
      color: #004b91;
    }
    span {
      font: 500 16px/19px $primary-font;
      letter-spacing: 0.51px;
      color: #004b91;
      margin-left: 8px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 96px;
      bottom: -1px;
      left: 10px;
      height: 4px;
      background-color: #002c6b;
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 20px);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: #002c6b;
    }
  }
  &__results {
    margin-top: 17px;
    text-align: center;
    padding: 12px 18px;
    background-color: #83f73d;
    border-radius: 1px;
    font: 400 12px/14px $primary-font;
    letter-spacing: -0.24px;
    color: #222;
    @media (--desktop) {
      border-radius: 50px;
      font: 400 14px/16px $primary-font;
      letter-spacing: 0.14px;
      position: absolute;
      top: 11px;
      right: 0;
    }
    &.with_social {
      background-color: transparent;
      padding: 0 20px 14px;
    }
  }
  &__results-b {
    font-weight: 700;
    margin-left: 3px;
  }
  &__results-s {
    color: #fff;
    margin: 0 7px;
  }
  &__share-btn {
    display: flex;
    background-color: #385c8e;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 32px;
    color: #fff;
    span {
      font: 500 14px/16px $primary-font;
    }
    svg {
      margin-right: 10px;
    }
  }

  &.with_social {
    .polla-guide__title-cont h2 {
      font-family: $primary-font;
    }
  }
}
