// .content-layout-container {
//   background-color: #fff !important;
// }

.section-video {
  // ? specifity issues with padding
  padding: 10px !important;

  @media (--desktop) {
    // ? specifity issues with padding
    padding: 16px !important;
  }

  .section-video__top {
    @media (--desktop) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // padding-bottom: 32px;
    }
  }

  &__wrapper {
    padding-bottom: 0;

    &.fixed {
      @media (--desktop) {
        width: 1200px;
      }
    }
  }

  &__frame {
    margin-bottom: 16px;

    @media (--desktop) {
      margin-bottom: 0;
    }

    height: auto;

    // @media (--desktop) {
    //   height: 350px;
    // }
  }

  &__left {
    padding: 0;
    height: 100%;
  }

  &__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;

    @media (--desktop) {
      padding-left: 32px;
      padding-right: 0;
      width: 70%;
    }
  }

  &__section {
    color: #b1b1b1;
    font-size: 14px;
  }

  &__mobile-duration {
    display: none;
  }

  &__box-section {
    justify-content: flex-start;
    margin-bottom: 10px;

    a {
      font-weight: 700;
      line-height: 20px;
    }
  }

  &__box-section-top {
    display: none;

    a {
      font-family: $fira-s;
      font-size: 22px;
      color: #fff;
    }
  }

  &__box-section-bottom {
    a {
      font-family: $encode-c;
      font-size: 16px;
      letter-spacing: 1.08px;
      color: #e06437;
      text-transform: uppercase;

      @media (--desktop) {
        font-size: 18px;
        letter-spacing: 0.96px;
      }
    }
  }

  &__box-section-bottom-mobile {
    display: none;

    @media (--desktop) {
      display: flex;
    }
  }

  &__box-section-top-mobile {
    display: flex;

    @media (--desktop) {
      display: none;
    }
  }

  &__title {
    font-family: $encode-c;
    font-size: 26px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0.32px;
    color: #eaeaea;

    @media (--desktop) {
      font-size: 32px;
    }
  }

  &__title,
  &__subtitle {
    text-align: left;
    width: 100%;
  }

  &__subtitle {
    font-family: $encode-c !important;
    margin: 16px 0;
    line-height: 28px;
    font-size: 18px;
    color: #bbb;

    @media (--desktop) {
      font-size: 22px;
    }
  }

  &__bottom {
    display: none;
  }

  &__detail {
    padding: 0;
    align-items: center;
    justify-content: flex-start !important;

    @media (--desktop) {
      flex-direction: row;
    }
  }

  &__text {
    font-size: 14px;
    color: #999;
    font-family: $secondary-font;
  }

  &::after {
    background-color: #999 !important;
  }

  .powa-button.powa-shot-play-btn {
    outline: none;
  }

  &__caption {
    color: #666;
    font-size: 14px;
    font-family: $fira-s !important;
    margin-bottom: 24px;
    display: none;

    @media (--desktop) {
      display: block;
    }
  }

  &__content-share {
    border: 0;
    padding: 0;
    margin-bottom: 32px;
  }

  &__share {
    margin: 0;
    justify-content: flex-start;
  }

  &__btn {
    background-color: #222;
    color: #ccc;
    width: 32px;
    height: 32px;
  }

  &__list-text {
    padding: 0;
  }
}
