.nav {
    background-color: $color-gray-100;

    &__btn {
        @media (--desktop) {
            color: $color-gray-200;
        }
    }

    &__icon-search {
        color: $color-gray-200;
    }

    &.active {
        .nav__container-menu {
            border-color: $color-white;
        }
    }
}