.link-site {
  content-visibility: auto;
  contain-intrinsic-size: 512px;
  font-family: $primary-font;
  &__image {
    object-fit: cover;
  }
  &__pic {
    display: block;
  }
  &__header {
    border-bottom: 2px solid #000;
  }
  &__h-text {
    color: #111;
    font-size: 1.3rem;
    font-weight: 700;
  }
  &__subtitle {
    color: #111;
    font-size: 0.9rem;
  }
  &__site {
    font-weight: 700;
  }

  &__title-link {
    color: #111;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: calc(1.3rem * 1.3333 * 4);
    font-weight: 700;
    line-height: 1.3333333333;
    @media (--tablet) {
      -webkit-line-clamp: 3;
      font-size: 1rem;
      max-height: calc(1rem * 1.3333 * 3);
    }
  }
  &__item {
    border-bottom: 2px solid #e1e1e1;

    @media (--tablet) {
      border-bottom: 0;
    }
  }
}
