/******* Brand colors *******/
$color-primary: #e06437;
$color-secondary: #f15a24;
$color-tertiary: #d4145a;
$color-fourth: #d53e5a;
$color-fifth: #ed1c26;

/*-----------------------*/
$color-base-400: #aaaaaa;
$color-base-300: #999999;
$color-base-200: #666666;
$color-base-100: #4c4c4c;

/*-----------------------*/

/******* Other colors *******/
$color-link: $color-secondary;
$footer-text: #7f7f7f;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/
/******** border colors *********/
$border-color-base: $color-primary;

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-white;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Footer Amp colors *******/
$footer-background: $color-primary;
$footer-text-color: $color-black;
/*-----------------------*/
