// --------------------------------------
// Main Colors Home
$main-color-orange: #ff8303;
$main-color-black: #000;
$main-color-white: #fff;
$main-color-grey: #a1a1a1;

// --------------------------------------
// Sub Colors Home
$sub-color-opinion: #85d4eb;
$sub-color-celebrities: #db58ad;
$sub-color-deportes: #11c111;
$sub-color-historias: #e5240d;
$sub-color-virales: #ffe803;

$sub-color-linear-1: rgba(0, 0, 0, 0);
$sub-color-linear-2: rgba(0, 0, 0, 0.7);
