// --------------------------------------
// Fonts Size Home!
$fs-custom-title: 20px;

$fs-feat-story-title-col1: 28px;
$fs-feat-story-title-col2: 40px;
$fs-feat-story-title-col2-span: 28px;
$fs-feat-story-author: 14px;

$fs-triplet-information: 18px;
$fs-triplet-author: 14px;

$fs-doublet-information: 21px;
$fs-doublet-author: 14px;

$fs-breaking-news-text: 22px;
$fs-breaking-news-tag: 20px;

// --------------------------------------
// Fonts Size Mobile Home!
$fs-mobile-large: 28px;
$fs-mobile-medium: 22px;
$fs-mobile-small: 15px;
