.header-full {
  height: 52px;
  &.active {
    .nav__loader-bar {
      background-color: #42c64c;
    }
  }

  /* &__box-btnmenu {
    width: 60px;
  }
  */
  &__submenu-list {
    border-top: solid 1px #ccc;
  }
  &__box-search {
    padding-top: 10px;
  }
  &__top-menu {
    height: 52px;
  }
  &__link-nav {
    font-family: $secondary-font;
  }
  &__link {
    text-align: left;
    font: normal normal bold 13px/17px $secondary-font;
    letter-spacing: 0.21px;
    color: #eee;
  }

  &__btn-result {
    font-family: $secondary-font;
    background: #8116d5 0% 0% no-repeat padding-box;
    border: 1px solid #ffffffa3;
    color: #fff;
    @media (--tablet) {
      background: #8116d5 0% 0% no-repeat padding-box;
      color: #fff;
    }
  }
  &__megamenu {
    background-color: $color-gray-300;
    max-width: 330px;
    top: 50px;
    height: calc(100vh - 50px);
    left: 0;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: left;
    transform: translateX(-100vw);
    z-index: 1;
    &.active {
      transform: translateX(0);
    }
    @media (--tablet) {
      transform: scaleX(0);
      &.active {
        transform: scaleX(1);
      }
    }
  }
  .nav-sidebar__wrapper {
    box-sizing: content-box;
    overflow-x: hidden;
    opacity: 0;

    &.active {
      will-change: opacity;
      transition: opacity 0.5s cubic-bezier(0.56, 1.3, 0.76, 0.88) 0.3s;
      opacity: 1;
      width: calc(100% + 17px);
    }
  }
  .nav-sidebar__link {
    font-family: $secondary-font;
    &:hover {
      text-decoration: none;
    }
  }
  .nav-sidebar__parent-item::after {
    color: $color-white;
  }
  .nav-sidebar__text {
    font-family: $secondary-font;
    &:first-child {
      text-transform: lowercase;
    }
  }
  &__edicion {
    background: #006328 0% 0% no-repeat padding-box;
    border-left: 1px solid #008a37;
    padding: 8px 3px 5px 14px;
    width: 72px;
    margin-left: 15px;

    @media (--only-mobile) {
      display: none;
    }
  }
  &__e-title {
    color: #fff9;
    font: normal normal normal 10px/17px $tertiary-font;
  }
  &__e-link {
    font: normal normal normal 14px/17px $tertiary-font;
    color: $color-white;
    display: flex;

    & svg {
      fill: $color-white;
      margin-top: -2px;
    }
  }
  &__e-mx {
    margin-top: 2px;
  }
  &__e-content {
    position: absolute;
    top: 70px;
    right: 10px;
  }
  &__e-body {
    background: #f8f8f8 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    font-size: 13px;
    font-weight: 500;
    font-family: $secondary-font;
    border: 1px solid #ccc;
    width: 220px;
  }
  &__e-name {
    font: normal normal bold 10px/17px $tertiary-font;
    color: #333;
    border: 1px solid #ededed;
  }

  &__e-pais,
  .nav-sidebar__e-pais {
    border: 1px solid #ededed;
    display: block;
    & .cls-1 {
      fill: $color-white;
    }
    & .cls-2 {
      fill: #006847;
    }
    & .cls-4 {
      fill: #bfc2a3;
    }
    & .cls-3 {
      fill: #db161d;
    }
    &:hover,
    &.active {
      background: #444 0% 0% no-repeat padding-box;
      color: #ccc;
      text-decoration: none;
    }
  }
  .paisBody {
    .nav-sidebar__e-pais {
      color: #999;
      padding: 10px 0 7px 0;
      margin-left: 10px;
      border: none;
      &:hover,
      & .active {
        border-bottom: 2px solid #fff;
        background: none;
      }
    }
    .nav-sidebar__e-name {
      padding: 10px 0 0 15px;
      color: #ccc;
      font: normal normal normal 10px/17px $tertiary-font;
    }
  }

  &__e-arrow {
    width: 18px;
    height: 18px;
    background: #f8f8f8;
    top: -9px;
    position: absolute;
    transform: translate(182.47px) rotate(45deg);
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  &__wrapper-menu {
    background: #222 0% 0% no-repeat padding-box;
  }
  &__item {
    border: 1px solid #333;
  }
  &__submenu-item {
    border-bottom: 1px solid #333;
  }
  &__input-search {
    background: #333 0% 0% no-repeat padding-box;
    border: 1px solid #555 !important;
    border-right: none !important;
    width: 73%;
  }
  &__btn-search {
    background: #333 0% 0% no-repeat padding-box;
    color: #888;
    border: 1px solid #555 !important;
    border-left: none !important;
  }

  .nav-sidebar__e-body {
    margin-top: 10px;
  }
}
