/******* Cintillo urgente *******/
.cintillo-u {
  &--bgcolor-1 {
    background-color: $color-default-1;
  }
}
/*-----------------------*/

/******* Apertura extraordinaria *******/
.extraordinary-story {
  &__content{
    display: block;
    padding-left: 0
  }
  &__section {
    padding-left: 0;
    background-color: transparent;
    color: $color-primary;
    text-align: left;
    text-transform: capitalize;
}
&__title{
    color: $color-primary;
    font-size: 30px;
    line-height: 34px;
      
  }
}

/*-----------------------*/
