/******* Cintillo urgente *******/
.cintillo-u {
  &--bgcolor-1 {
    background-color: $color-default-1;
  }
}
/*-----------------------*/

/******* Apertura extraordinaria *******/
.extraordinary-story {
  &__section {
    background-color: transparent;
    color: $color-primary;
    text-align: left;
    text-transform: capitalize;
}
&__title{
    color: $color-primary;
      
  }
}

/*-----------------------*/
