div#gpt_zocalo {
  position: fixed;
  bottom: 4px;
  z-index: 9;
  left: 50%;
  top: auto;
  transform: translateX(-50%);
}

div#gpt_top {
  position: absolute;
  top: 0;
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  @media (--desktop) {
    display: none;
  }
}
