.bar {
  display: flex;
  position: sticky;
  background-color: $color-gold;
  padding: 20px 30px;

  &__text {
    // font-weight: normal;
    // margin: 0;
  }

  &__btn {
    // appearance: none;
    // border: none;
    // background: transparent;
    padding-left: 40px;
  }
}
