.extraordinary-story {
  &__section-link {
    text-transform: uppercase;
    color: $color-primary;
    font-weight: 700;
  }

  &__title {
    color: $color-base-300;
    line-height: 1.1666666667;
  }

  &__title-link {
    font-weight: 700;
  }
  &__link,
  &__author-link {
    font-family: $secondary-font;
    font-weight: 500;
  }

  &--twoline {
    -webkit-line-clamp: 4;
    max-height: 145px;
  }
  &--right,
  &--left {
    .extraordinary-story__group-content {
      @media (--desktop) {
        min-width: 40%;
      }
    }
  }
}
