.story-item {
  &__date {
    margin-left: 20px;
    font-weight: 700;
    @media (--tablet) {
      margin-left: 0;
    }
  }

  &__title {
    color: $color-gray-300;
    margin-bottom: 10px;
    font-weight: 700;
    @media (--tablet) {
      max-height: calc(20px * 1.28 * 2);
      line-height: 1.28;
    }
  }

  &__subtitle {
    color: $color-gray-300;
    font-family: $secondary-font;
  }
  &__section {
    color: $color-primary;
    font-weight: 700;
    padding-left: 0;
  }
  &__top {
    justify-content: space-between;
    @media (--tablet) {
      flex-direction: row;
    }
  }
  &__left {
    justify-content: flex-start;
  }
}
