.story-author-title {
  &__box-title {
    flex-basis: calc(100% - 90px);

    @media (--tablet) {
      flex-basis: 100%;
      height: 50px;
    }
  }

  &__section {
    flex-basis: 90px;

    @media (--tablet) {
      flex-basis: auto;
      background-color: $color-white;
      color: $color-gray-300;
    }

    @media (--desktop) {
      margin: 0 auto;
    }
  }

  &__url {
    color: #8f071f;
  }

  &__img {
    @media (--tablet) {
      height: 48px;
      bottom: 1px;
    }
  }
}

.content-sidebar__left .story-author-title {
  padding-left: 20px;
  padding-right: 20px;
}
