.story-contents {
  padding: 32px 16px 20px 16px;
  margin-bottom: 25px;

  @media (--desktop) {
    padding-right: 20px;
    padding-left: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fira-s;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    color: #333;
    position: relative;
    margin-top: 40px;

    &::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 6px;
      background-color: #d35b2c;
      top: -15px;
    }
  }

  a {
    color: #d35b2c;
    font-weight: 800;
    text-decoration: none;
    font-family: $encode-c;
  }

  a:hover {
    text-decoration: underline;
  }

  // ? Mark for 'Puedes Leer'
  .hl_purple {
    background: #000;
    color: #fff;
    padding: 3px 6px;
    font-family: $encode-c;
    font-weight: 800;
    font-size: 14px;

    @media (--desktop) {
      font-size: 22px;
    }
  }

  &__blockquote {
    padding: 19px 0;
    font-family: $encode-c;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #343434;

    @media (--desktop) {
      font-size: 24px;
      letter-spacing: -0.24px;
      line-height: 32px;
    }
  }

  &__time {
    display: block;
    line-height: 18px;
    width: 100%;
    text-align: right;
    color: #444;

    @media (--only-mobile) {
      text-align: left;
    }
  }

  &__author {
    font-family: $fira-s;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    color: #333;
    padding-bottom: 8px;

    & > .story-contents__author-link {
      font-family: inherit;
      font-weight: 400;
    }
  }

  // &__author-info {
  //   align-items: center;
  //   display: flex;
  //   @media (--only-mobile) {
  //     flex-direction: row;
  //   }
  // }
  &__author-link {
    color: #333 !important;
    text-decoration: none !important;
  }

  //   font-size: 15px !important;
  //   line-height: 18px;
  //   letter-spacing: 0;
  //   font-weight: 700;
  //   display: inline-block;
  //   margin-bottom: 5px;
  // }
  // &__author-image {
  //   width: 57px;
  //   height: 57px;
  //   margin-right: 10px;
  //   border-radius: 50%;
  // }
  // &__link {
  //   color: #747a84;
  // }
  // &__author-role {
  //   font-family: $encode-c;
  //   font-size: 12px;
  //   margin-bottom: 6px;
  //   color: #444;
  // }
  // &__author-email {
  //   font-family: $encode-c;
  //   font-size: 12px;
  //   color: #747a84;
  // }
  // &__author-date {
  //   line-height: 18px;
  //   font-size: 14px;
  //   letter-spacing: 0;
  //   flex-direction: column;
  //   color: #666;
  // }

  // &__author-top {
  //   justify-content: flex-end;
  // }

  // &__font-paragraph {
  //   color: #343434;
  //   & a {
  //     text-decoration: underline;
  //   }

  //   & b {
  //     font-family: $encode-c;
  //   }
  // }

  &__author-date {
    margin-top: 8px;
    font-family: $fira-s;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    color: #444;
  }

  &__font-paragraph {
    font-family: $fira-s;
    color: #343434;
    font-size: 22px;
    letter-spacing: -0.44px;
    line-height: 32px;
    padding: 19px 0;

    @media (--desktop) {
      font-size: 23px;
      letter-spacing: -0.46px;
    }

    a {
      color: #306d95;
      font-family: $fira-s;
      font-weight: inherit;
      text-decoration: underline;
    }
  }

  &__content {
    padding-top: 16px;

    @media (--desktop) {
      padding-top: 3px;
    }
  }

  &__tag-link {
    color: $color-gray-200;
  }

  &__visual--image {
    @media print {
      width: 815px;
    }
  }

  &__p-default {
    background-color: #000;
    height: 157px;

    @media (--desktop) {
      height: 345px;
    }
  }

  &__lL-video,
  &__lL-iframe {
    padding-top: 20px;
  }

  & * iframe {
    width: 100%;
  }

  .pquote {
    background: none;
    padding: 19px 0;
    font-family: $encode-c;
    line-height: 40px;

    &__text {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.32px;
      line-height: 40px;
      padding: 0;
      color: #343434;

      br {
        content: "";
        display: block;
        margin-bottom: 20px;
      }

      br + p {
        font-size: 16px;
        letter-spacing: -0.16px;
        line-height: 16px;
        font-weight: 800;
        color: #444444f8;
      }
    }
  }

  /* Esto es importante definirlo por los scripts de Opta */
  &__content > section {
    width: 100%;

    & > h1 {
      font-size: 2em;
    }

    & > h2 {
      font-size: 1.81em;
      margin: 36px 0 16px 0;
      padding: 0;
    }

    & > h3 {
      font-size: 1.601em;
    }

    & > h4 {
      font-size: 1.379em;
    }

    & > h5 {
      font-size: 1.25em;
    }

    & > h6 {
      font-size: 1.188em;
    }

    & > h1,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      margin: 20px 0;
      line-height: 1.3;
    }
  }

  /* ----------------------------------------------------- */
  &__content {
    content-visibility: auto;
    contain-intrinsic-size: 2000px;
  }

  &__font-paragraph,
  &__content {
    word-wrap: break-word;
  }

  &__image {
    & figcaption {
      padding: 14px 0;
      font-size: 13px;
      color: $color-gray-200;
    }
  }

  &__icon-list {
    margin-right: -49px;
  }

  & > figure {
    padding-top: 20px;
  }

  &__caption {
    font-family: $fira-s;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 18px;
    padding: 10px 0;
    color: #494949;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;

    @media (--desktop) {
      line-height: 16px;
      letter-spacing: 0;
      padding: 8px 0;
    }

    & > span {
      display: none;
    }
  }

  /* Para arreglar estilos en o-embed */

  &__embed {
    padding-bottom: 20px;

    .twitter-tweet {
      width: 100% !important;
    }

    .instagram-media {
      min-width: 0 !important;
      max-width: 500px !important;
    }

    [src*="youtube"] {
      width: 100% !important;
      margin: 20px 0;
    }

    .fb-post {
      width: 100% !important;
      max-width: 500px;

      & > span {
        width: 100% !important;

        & > [src*="facebook"] {
          width: 100% !important;

          & > [data-testid*="newsFeedStream"] {
            width: 100% !important;
          }
        }
      }
    }

    & img {
      width: 100%;
    }
  }

  &__link:hover {
    text-decoration: none;
  }

  &__list-more {
    width: 80px;
    right: 50px;
    box-shadow: 2px 6px 7px rgba(25, 57, 22, 0.2);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      border: 0;
      box-shadow: 4px -1px 3px rgba(25, 57, 22, 0.2);
      background-color: $color-white;
      transform: rotate(45deg);
      z-index: -1;
      right: -6px;
      top: calc(50% - 8px);
    }

    .story-contents__item {
      margin-bottom: 0;
    }
  }

  &__tags-link {
    font-size: 14px;
  }

  &__more-link {
    &:hover {
      text-decoration: none;
    }

    .icon-facebook-circle {
      color: #3b5998;
    }

    .icon-twitter-circle {
      color: #00acee;
    }
  }

  & li {
    font-family: $encode-c;
    font-size: 22px;
    letter-spacing: -0.44px;
    margin-bottom: 20px;
    line-height: 1.5;

    & a {
      b {
        font-family: $fira-s;
      }
    }

    // @media (--tablet) {
    //   font-size: 23px;
    // }

    @media (--desktop) {
      font-size: 23px;
      letter-spacing: -0.46px;
    }
  }

  &__paragraph-list {
    padding-left: 30px;

    & li a {
      font-family: $fira-s;
      color: #306d95;
      font-size: 22px;
      font-weight: 700;
      text-decoration: underline;

      @media (--desktop) {
        font-size: 23px;
      }
    }
  }

  & ul.story-contents__paragraph-list {
    list-style-type: disc;
  }

  & ol.story-contents__paragraph-list {
    list-style-type: decimal;
  }

  &__alignment-center {
    text-align: center;
  }

  &__alignment-left {
    text-align: left;
  }

  &__alignment-right {
    text-align: right;
  }

  &__social {
    padding: 30px 0 0 0;

    .share-btn {
      height: 32px;
      width: 32px;
      border-color: #888;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
    }

    .s-fb {
      background-color: #fff;
      // border: none;

      svg {
        fill: #000;
      }
    }

    .s-tw {
      background-color: #fff;
      // border: none;

      svg {
        fill: #333;
      }
    }

    .s-lk {
      background-color: #fff;

      svg {
        fill: #030303;
      }
    }

    .share-btn--ws {
      background-color: #fff;
      // border: none;
      margin-right: 0;
    }
  }

  &__customblock {
    &__backstory {
      font-size: 18px;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;

      &__title {
        display: inline-block;
        background-color: #000;
        font-size: 24px;
        color: #fff;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }
}

.bbc-head {
  padding-top: 1em;

  & img {
    width: 100%;
  }
}

.story-content {
  &__caption {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    border-bottom: 3px solid #aaa;
    margin-bottom: 38px;

    @media (--desktop) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__embed {
    padding-bottom: 20px;

    & table {
      margin-bottom: 25px;
      width: 100%;
      height: auto;
      border: 1px solid #e0efa5;
      font-size: 16px;

      @media (--only-mobile) {
        font-size: 11px;
      }

      td {
        font-family: $fira-s;
        padding: 5px;
        border-right: 1px solid #e0efa5;
      }

      tr {
        &:nth-child(2n) {
          td {
            background-color: #e0efa5;
          }
        }
      }
    }
  }

  &__interstitial-link {
    color: #4a88b1;
    font-size: $font-md;
    line-height: 1.5;
    font-weight: 700;
    text-decoration: underline;
    display: block;
    font-family: "Libre Franklin", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;

    &::before {
      color: #000;
      content: "[";
      margin-right: 4px;
    }

    &::after {
      color: #000;
      content: "]";
      margin-left: 4px;
    }
  }

  &__correction {
    font-size: 0.8rem;
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    font-style: italic;
    padding: 10px 0;
    margin: 10px 0;

    &__title {
      font-weight: 700;
      font-size: 0.9rem;
    }
  }

  &__stamp-trust {
    background: #f3f3f3;
    margin: 20px auto;
    text-align: right;
    width: 100%;

    @media (--only-mobile) {
      text-align: center;
    }

    &__box-left {
      display: inline-block;
      float: left;
      height: 55px;
      vertical-align: middle;

      @media (--only-mobile) {
        float: none;
        height: auto;
        margin-bottom: 10px;
      }

      & p {
        display: inline-block;
        margin: 20px 5px;
        vertical-align: middle;
      }

      & img {
        display: inline-block;
        margin: 0 5px;
        max-width: 150px;
        vertical-align: middle;
      }
    }

    &__link {
      background: #ededed;
      color: #2e6d9d;
      display: inline-block;
      font: 14px/15px;
      padding: 20px;
      vertical-align: middle;

      @media (--only-mobile) {
        width: 100%;
      }
    }
  }

  &__link-list {
    background: none;
    border: none;
    position: relative;
    margin: 38px 0;
    padding: 0;

    &-single {
      display: flex;

      .story-content__link-list-item,
      .story-content__link-list-title {
        margin-bottom: 0 !important;
      }

      .story-content__link-list-item {
        margin-left: 1em;
      }
    }

    &-item {
      // display: flex;
      margin-bottom: 24px;
    }

    &-figure {
      display: none;
    }

    &-title {
      font-family: $encode-c;
      font-size: 14px;
      font-weight: 800;
      margin-bottom: 10px;
      color: #fff;
      background-color: #000;
      padding: 5px 6px 3px 6px;
      display: inline-block;

      @media (--desktop) {
        font-size: 22px;
        padding: 5px 6px;
      }

      &-link {
        font-weight: 800;
        text-decoration: none;
        overflow: hidden;
        font-family: $encode-c;
        font-size: 20px;
        line-height: 24px;

        @media (--desktop) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      &-link::before {
        content: "> ";
        color: #d35b2c;
      }
    }

    &-information {
      padding: 0;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.story-content__link-list-title + .story-content__link-list-item {
  margin-top: 0;
}
