.story-table {
  border-collapse: collapse;
  margin: 20px 0;
  font-family: $encode-c;
  border-bottom: 4px solid #434343;

  &__cell {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #434343;

    &:last-child {
      border-right: none;
    }
  }

  thead {
    border-top: 4px solid #434343;
    background-color: #D35B2C;
    color: $color-white;

    th {
      padding: 10px 0;
      border-right: 1px solid #fff;
      font-weight: 800;
      font-size: 20px;
      text-align: center;

      &:last-child {
        border-right: 0;
      }
    }
  }

}