.polla-banner {
  &__logo-container {
    background-image: url(https://cdna.depor.com/resources/dist/depor/images-polla/polla-inicio/Background.jpg);
    background-repeat: initial;
    background-size: auto;
    text-align: center;
    padding: 20px;
  }
  &__logo-img {
    width: 100%;
    max-width: 220px;
    @media (--desktop) {
      max-width: 280px;
    }
  }
  &__logo-title {
    font: 700 18px/21px $secondary-font;
    letter-spacing: 0.18px;
    color: #fff;
    margin-top: 10px;
  }
  &__text {
    text-align: center;
    font: 700 20px/28px $primary-font;
    color: #333;
    margin: 0 auto;
    max-width: 720px;
    padding: 26px 40px 24px;
    @media (--tablet) {
      font-size: 24px;
    }
  }
}
