.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;
  font-family: $primary-font;
  &__title {
    color: $color-primary;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1px;
    @media (--tablet) {
      font-size: 19px;
    }
  }

  &__tag {
    display: inline-block;
  }

  &__box {
    flex: 1;
  }

  &__link {
    background-color: initial;
    color: #333;
    font-style: italic;
    font-weight: 700;
    padding-left: 0;
    text-decoration: underline;
    padding-right: 10px;
    font-size: 0.9rem;
    @media (--tablet) {
      font-size: 18px;
    }
  }
}
