.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;

  &__title {
    @media (--desktop) {
      font: 700 14px/18px $primary-font;
    }
  }

  &__tag {
    display: inline-block;
  }

  &__box {
    flex: 1;
  }

  &__link {
    @media (--desktop) {
      font: 400 16px/28px $primary-font;
    }
  }
}
