.post-header {
  background-color: $color-white;

  &__title {
    line-height: 1.2;

    @media (--tablet) {
      font-size: 40px;
    }

    @media (--desktop) {
      font-size: 50px;
    }
  }

  &__list {
    height: 45px;
  }

  &__item {
    flex-basis: 0;
    background-color: #eee;
    margin-right: 2px;
  }

  &__more {
    width: 45px;
    background-color: #ccc;
  }

  &__share {
    color: #666;

    @media (--tablet) {
      display: inline-block;
    }
  }
}
