.st-social {
  margin: 0 0 20px 0;
  padding: 20px;
  border-bottom: 1px solid #000;
  align-items: center;
  &__txt {
    font: 700 1.1rem/1 $primary-font;
    text-transform: capitalize;
  }

  &__link {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__tooltdiv {
    display: flex;
    @media (--only-mobile) {
      display: block;
    }
  }

  // &__tooltip {
  //   font-family: $secondary-font;
  //   font-size: 18px;
  //   position: relative;
  //   color: #6d6d66;
  //   display: inline;
  //   margin: 6px;
  //   @media (--only-mobile) {
  //     margin: 0;
  //   }
  //   & span {
  //     display: none;
  //   }
  //   &:hover span {
  //     position: absolute;
  //     top: 30px;
  //     font-size: 15px;
  //     left: 0;
  //     display: block;
  //     width: 315px;
  //     color: #404040;
  //     background-color: #fff;
  //     border: 1px solid #d7d7d7;
  //     padding: 15px;
  //     text-transform: none;
  //     line-height: 22px;
  //     @media (--only-mobile) {
  //       width: 215px;
  //     }
  //   }
  // }

  &__share {
    display: flex;
    margin-right: -15px;
    // Este margen es para contraarrestar el margin-right que tienen los .share-btn
  }
  // &__special {
  //   margin-right: -15px;
  //   padding-bottom: 25px;
  // }
}
