.st-interest {
  padding: 20px;
  &__title {
    font: 700 18px/1 $primary-font;
    padding: 20px 0 10px;
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  &__detail {
    padding-right: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  &__detail-section {
    font: 400 11px/1 $primary-font;
    margin-bottom: 5px;
  }
  &__item-title {
    font: 700 20px/22px $primary-font;
    max-height: 88px;
    overflow: hidden;
    margin: 10px 0 20px 0;
    display: -webkit-box;
  }
  &__link-img {
    width: 100%;
  }
}
