//error 404
.error-bg
    background: $color_blanco
    .contenedor
        min-height: 618px
        width: 1274px
        .title
            margin-top: 10%
            text-align: center
            p
                color: #363535
                font-size: 18px
                line-height: 26px
                margin-bottom: 20px
                margin-top: 20px
                margin: 0 auto
                width: 584px
            h1
                color: $color_rojo
                font-family: 'GothamMedium_0'
                font-size: 140pt
            h2
                color: $color_rojo
                font-family: 'GothamMedium_0'
                font-size: 15px
                text-transform: uppercase
                margin: 70px 0 15px 0
.no
    .txt-rpta
        color: #868484 !important
        padding-bottom: 30px !important
.no-encontrado
    .suggestion
        color: #9f9f9f
        font-size: 19px
        font-weight: 100 !important
        text-align: center
    .title
        margin-top: 0 !important
        h2
            font-size: 20px !important
            margin-top: 5px !important
            margin-bottom: 25px !important

