.custom-title {
  font-family: $primary-font;
  color: $color-primary;
  &.large {
    font-size: 24px;
    @media (--tablet) {
      font-size: 30px;
    }
    @media (--desktop) {
      font-size: 46px;
    }
  }
}
