.covid-question-list {
  &__container {
    font-family: $primary-font;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 20px;
    align-self: center;
    font-size: 25px;
    @media (--desktop) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
  &__box {
    border-top: 1px solid #d8dbdd;
    @media (--desktop) {
      width: 466px;
      align-self: center;
      border-top: unset;
    }
  }
  &__item {
    border-bottom: 1px solid #d8dbdd;
    padding: 10px 0;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    @media (--desktop) {
      justify-content: left;
    }
  }
  &__question {
    width: calc(100% - 145px);
    font: normal normal normal 14px/16px $primary-font;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
    &:hover {
      font-weight: 700;
      text-decoration: none;
    }
    @media (--desktop) {
      width: 100%;
    }
  }
  &__icon {
    &--right {
      @media (--desktop) {
        display: none;
      }
    }
  }
  &__btn {
    &--home {
      background-color: #7c7c7c;
      border-radius: 6px;
      opacity: 1;
      text-decoration: none;
      padding: 5px 15px;
      color: #fff;
      text-align: center;
      align-self: center;
      margin: 20px 0;
      font: normal normal normal 20px/21px $primary-font;
      letter-spacing: -0.4px;
      &:hover {
        background-color: #000;
        text-decoration: none;
      }
      @media (--desktop) {
        margin: 40px 0;
      }
    }
  }
}
