.story-gallery-slider {
  background-color: $color-gray-300;
  &__quantity {
    background-color: $color-tertiary;
    font-weight: 700;
  }
  &__caption-image {
    font-family: $primary-font;
    font-size: 13px;
  }
}
