.zocalo__container {
    display: flex;
    width: 100%;
}

.zocalo {
    width: 160px;
    height: 600px;
    margin: 10px;
    background-color: grey;
    position: sticky;
    top: 56px;
    z-index: 10;

    &__left {
        justify-content: flex-end;
    }
    &__right {
        justify-content: flex-start;
    }
}