.stories-l-card {
  border: 0;
  @media (--only-mobile) {
    background-color: #ebebeb;
    padding: 10px;
  }
  &__list {
    padding: 10px;
    @media (--only-mobile) {
      background-color: #ebebeb;
    }
  }
}
.stories-l-item {
  background-color: transparent;
  border-color: #ccc;

  &:last-child {
    border-bottom: 0;
  }

  &__time {
    color: $color-secondary;
    font-weight: 700;
    font-size: 12px;
  }
  &__link {
    @media (--only-mobile) {
      font-size: 15px;
    }
    color: $color-base-100;
    font-size: 21.4px;
    font-weight: 700;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
  }
}
