.podcast-extraordinary {
  &__icon {
    background-color: $color-white;
    border-radius: 50%;
    color: $color-fourth;
    display: block;
    pointer-events: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 36px;

    @media (--tablet) {
      top: 38%;
    }
    @media (--desktop) {
      width: 72px;
      height: 72px;
      font-size: 73px;
      line-height: 73px;
      top: 50%;
    }
  }
}
