.stories-list-card {
  // &__header {}

  &__title {
    min-width: 10%;
    max-width: 60%;
  }

  // &__see-more {}

  &__item {
    max-height: 395px;
  }

  &__story {
    & .multimedia__icon {
      height: 15px;
      width: 15px;
      right: 25px;
      top: 28px;
      transform: scale(3.5);
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__link-box {
    margin: 2px 0px;
  }

  // &__time {}
  // &__link-box {}
  // &__link {}
}