.stories-list-card {
  &__title {
    min-width: 10%;
    max-width: 60%;
  }

  &__see-more {
    background-color: $color-white;
  }

  &__list-item {
    max-height: 395px;
  }

  &__story {
    background-color: $color-white;
    border-color: #d5e1e1;

    & .multimedia__icon {
      height: 15px;
      width: 15px;
      right: 25px;
      top: 28px;
      transform: scale(3.5);
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__time {
    line-height: 19.2px;
  }

  &__page-link-container {
    margin: 2px 0px;
  }
}
