.most-read-homologated-footer {
  background-color: #ccc;
  &__link {
    border-color: $color-base-200;
    color: $color-base-200;
    font-weight: 700;
  }
  &__html {
    display: flex;
    padding-top: 9px;
  }
}
