/* stylelint-disable no-descending-specificity */
// * THIS RULE MAKES NO SENSE HERE!!!

// --------------------------------------
// Section Opinion
.section-opinion {
  // ? For all featured-stories, border top
  .featured-story {
    border-top: 1px solid $sub-color-opinion;

    @media (--tablet) {
      border-top: none;
    }

    &__icon {
      background-color: $sub-color-opinion;
    }
  }

  // ? For Col 2 featured-stories
  .featured-story.img-complete {
    .featured-story__detail {
      background-color: $sub-color-opinion;

      @media (--tablet) {
        background-color: transparent;
      }

      .featured-story__header {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__title {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__author {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }
    }

    .featured-story__img-link {
      background-color: $sub-color-opinion;
    }
  }

  // ? For Col 1 featured-stories
  .featured-story:not(.img-complete) {
    .featured-story__detail {
      background-color: $main-color-white;

      .featured-story__header {
        color: $sub-color-opinion;
      }

      .featured-story__author {
        color: $main-color-black;
      }
    }

    .featured-story__img-link {
      background-color: $main-color-white;
    }

    // ? For Col 1 inverted featured-stories
    &.featured-story--inverted {
      .featured-story__detail {
        background-color: $sub-color-opinion;

        .featured-story__header {
          color: $main-color-black;
        }

        .featured-story__title {
          color: $main-color-black;
        }

        .featured-story__author {
          color: $main-color-black;
        }
      }

      .featured-story__img-link {
        background-color: $sub-color-opinion;
      }
    }
  }

  .triplet-doblete__item {
    border-top: 1px solid $sub-color-opinion;

    .triplet-doblete__header {
      color: $sub-color-opinion;
    }

    .triplet-doblete__author {
      color: $main-color-black;
    }

    .triplet-doblete__icon {
      background-color: $sub-color-opinion;
    }

    &.triplet-doblete__item--inverted {
      .triplet-doblete__information {
        background-color: $sub-color-opinion;

        .triplet-doblete__header {
          color: $main-color-black;
        }

        .triplet-doblete__title {
          color: $main-color-black;
        }

        .triplet-doblete__author {
          color: $main-color-black;
        }
      }

      .triplet-doblete__multimedia {
        background-color: $sub-color-opinion;
      }
    }
  }

  .triplet-doblete__item-doblete {
    border-top: 1px solid $sub-color-opinion;

    .triplet-doblete__header {
      color: $sub-color-opinion;
    }

    &.doublet__item--inverted {
      .triplet-doblete__information-doblete {
        background-color: $sub-color-opinion;

        .triplet-doblete__header {
          color: $main-color-black;
        }
      }

      .triplet-doblete__multimedia-doblete {
        background-color: $sub-color-opinion;
      }
    }
  }
}

// --------------------------------------
// Section Celebrities
.section-celebrities {
  // ? For all featured-stories, border top
  .featured-story {
    border-top: 1px solid $sub-color-celebrities;

    @media (--tablet) {
      border-top: none;
    }

    &__icon {
      background-color: $sub-color-celebrities;
    }
  }

  // ? For Col 2 featured-stories
  .featured-story.img-complete {
    .featured-story__detail {
      background-color: $sub-color-celebrities;

      @media (--tablet) {
        background-color: transparent;
      }

      .featured-story__header {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__title {
        color: $main-color-white;
      }

      .featured-story__author {
        color: $main-color-white;
      }
    }

    .featured-story__img-link {
      background-color: $sub-color-celebrities;
    }
  }

  // ? For Col 1 featured-stories
  .featured-story:not(.img-complete) {
    .featured-story__detail {
      background-color: $main-color-white;

      .featured-story__header {
        color: $sub-color-celebrities;
      }

      .featured-story__author {
        color: $main-color-black;
      }
    }

    .featured-story__img-link {
      background-color: $main-color-white;
    }

    // ? For Col 1 inverted featured-stories
    &.featured-story--inverted {
      .featured-story__detail {
        background-color: $sub-color-celebrities;

        .featured-story__header {
          color: $main-color-black;
        }

        .featured-story__author {
          color: $main-color-white;
        }
      }

      .featured-story__img-link {
        background-color: $sub-color-celebrities;
      }
    }
  }

  .triplet-doblete__item {
    border-top: 1px solid $sub-color-celebrities;

    .triplet-doblete__header {
      color: $sub-color-celebrities;
    }

    .triplet-doblete__author {
      color: $main-color-black;
    }

    .triplet-doblete__icon {
      background-color: $sub-color-celebrities;
    }

    &.triplet-doblete__item--inverted {
      .triplet-doblete__information {
        background-color: $sub-color-celebrities;

        .triplet-doblete__header {
          color: $main-color-black;
        }

        .triplet-doblete__author {
          color: $main-color-white;
        }
      }

      .triplet-doblete__multimedia {
        background-color: $sub-color-celebrities;
      }
    }
  }

  .triplet-doblete__item-doblete {
    border-top: 1px solid $sub-color-celebrities;

    .triplet-doblete__header {
      color: $sub-color-celebrities;
    }

    &.doublet__item--inverted {
      .triplet-doblete__information-doblete {
        background-color: $sub-color-celebrities;

        .triplet-doblete__header {
          color: $main-color-black;
        }
      }

      .triplet-doblete__multimedia-doblete {
        background-color: $sub-color-celebrities;
      }
    }
  }
}

// --------------------------------------
// Section Deportes
.section-deportes {
  // ? For all featured-stories, border top
  .featured-story {
    border-top: 1px solid $sub-color-deportes;

    @media (--tablet) {
      border-top: none;
    }

    &__icon {
      background-color: $sub-color-deportes;
    }
  }

  // ? For Col 2 featured-stories
  .featured-story.img-complete {
    .featured-story__detail {
      background-color: $sub-color-deportes;

      @media (--tablet) {
        background-color: transparent;
      }

      .featured-story__header {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__title {
        color: $main-color-white;
      }

      .featured-story__author {
        color: $main-color-white;
      }
    }

    .featured-story__img-link {
      background-color: $sub-color-deportes;
    }
  }

  // ? For Col 1 featured-stories
  .featured-story:not(.img-complete) {
    .featured-story__detail {
      background-color: $main-color-white;

      .featured-story__header {
        color: $sub-color-deportes;
      }

      .featured-story__author {
        color: $main-color-black;
      }
    }

    .featured-story__img-link {
      background-color: $main-color-white;
    }

    // ? For Col 1 inverted featured-stories
    &.featured-story--inverted {
      .featured-story__detail {
        background-color: $sub-color-deportes;

        .featured-story__header {
          color: $main-color-black;
        }

        .featured-story__author {
          color: $main-color-white;
        }
      }

      .featured-story__img-link {
        background-color: $sub-color-deportes;
      }
    }
  }

  .triplet-doblete__item {
    border-top: 1px solid $sub-color-deportes;

    .triplet-doblete__header {
      color: $sub-color-deportes;
    }

    .triplet-doblete__author {
      color: $main-color-black;
    }

    .triplet-doblete__icon {
      background-color: $sub-color-deportes;
    }

    &.triplet-doblete__item--inverted {
      .triplet-doblete__information {
        background-color: $sub-color-deportes;

        .triplet-doblete__header {
          color: $main-color-black;
        }

        .triplet-doblete__author {
          color: $main-color-white;
        }
      }

      .triplet-doblete__multimedia {
        background-color: $sub-color-deportes;
      }
    }
  }

  .triplet-doblete__item-doblete {
    border-top: 1px solid $sub-color-deportes;

    .triplet-doblete__header {
      color: $sub-color-deportes;
    }

    &.doublet__item--inverted {
      .triplet-doblete__information-doblete {
        background-color: $sub-color-deportes;

        .triplet-doblete__header {
          color: $main-color-black;
        }
      }

      .triplet-doblete__multimedia-doblete {
        background-color: $sub-color-deportes;
      }
    }
  }
}

// --------------------------------------
// Section Historias
.section-historias {
  // ? For all featured-stories, border top
  .featured-story {
    border-top: 1px solid $sub-color-historias;

    @media (--tablet) {
      border-top: none;
    }

    &__icon {
      background-color: $sub-color-historias;
    }
  }

  // ? For Col 2 featured-stories
  .featured-story.img-complete {
    .featured-story__detail {
      background-color: $sub-color-historias;

      @media (--tablet) {
        background-color: transparent;
      }

      .featured-story__header {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__title {
        color: $main-color-white;
      }

      .featured-story__author {
        color: $main-color-white;
      }
    }

    .featured-story__img-link {
      background-color: $sub-color-historias;
    }
  }

  // ? For Col 1 featured-stories
  .featured-story:not(.img-complete) {
    .featured-story__detail {
      background-color: $main-color-white;

      .featured-story__header {
        color: $sub-color-historias;
      }

      .featured-story__author {
        color: $main-color-black;
      }
    }

    .featured-story__img-link {
      background-color: $main-color-white;
    }

    // ? For Col 1 inverted featured-stories
    &.featured-story--inverted {
      .featured-story__detail {
        background-color: $sub-color-historias;

        .featured-story__header {
          color: $main-color-black;
        }

        .featured-story__author {
          color: $main-color-white;
        }
      }

      .featured-story__img-link {
        background-color: $sub-color-historias;
      }
    }
  }

  .triplet-doblete__item {
    border-top: 1px solid $sub-color-historias;

    .triplet-doblete__header {
      color: $sub-color-historias;
    }

    .triplet-doblete__author {
      color: $main-color-black;
    }

    .triplet-doblete__icon {
      background-color: $sub-color-historias;
    }

    &.triplet-doblete__item--inverted {
      .triplet-doblete__information {
        background-color: $sub-color-historias;

        .triplet-doblete__header {
          color: $main-color-black;
        }

        .triplet-doblete__author {
          color: $main-color-white;
        }
      }

      .triplet-doblete__multimedia {
        background-color: $sub-color-historias;
      }
    }
  }

  .triplet-doblete__item-doblete {
    border-top: 1px solid $sub-color-historias;

    .triplet-doblete__header {
      color: $sub-color-historias;
    }

    &.doublet__item--inverted {
      .triplet-doblete__information-doblete {
        background-color: $sub-color-historias;

        .triplet-doblete__header {
          color: $main-color-black;
        }
      }

      .triplet-doblete__multimedia-doblete {
        background-color: $sub-color-historias;
      }
    }
  }
}

// --------------------------------------
// Section Virales
.section-virales {
  // ? For all featured-stories, border top
  .featured-story {
    border-top: 1px solid $sub-color-virales;

    @media (--tablet) {
      border-top: none;
    }

    &__icon {
      background-color: $sub-color-virales;
    }
  }

  // ? For Col 2 featured-stories
  .featured-story.img-complete {
    .featured-story__detail {
      background-color: $sub-color-virales;

      @media (--tablet) {
        background-color: transparent;
      }

      .featured-story__header {
        color: $main-color-orange;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__title {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }

      .featured-story__author {
        color: $main-color-black;

        @media (--tablet) {
          color: $main-color-white;
        }
      }
    }

    .featured-story__img-link {
      background-color: $sub-color-virales;
    }
  }

  // ? For Col 1 featured-stories
  .featured-story:not(.img-complete) {
    .featured-story__detail {
      background-color: $main-color-white;

      .featured-story__header {
        color: $main-color-orange;
      }

      .featured-story__author {
        color: $main-color-black;
      }
    }

    .featured-story__img-link {
      background-color: $main-color-white;
    }

    // ? For Col 1 inverted featured-stories
    &.featured-story--inverted {
      .featured-story__detail {
        background-color: $sub-color-virales;

        .featured-story__header {
          color: $main-color-orange;
        }

        .featured-story__title {
          color: $main-color-black;
        }

        .featured-story__author {
          color: $main-color-black;
        }
      }

      .featured-story__img-link {
        background-color: $sub-color-virales;
      }
    }
  }

  .triplet-doblete__item {
    border-top: 1px solid $sub-color-virales;

    .triplet-doblete__header {
      color: $main-color-orange;
    }

    .triplet-doblete__author {
      color: $main-color-black;
    }

    .triplet-doblete__icon {
      background-color: $sub-color-virales;
    }

    &.triplet-doblete__item--inverted {
      .triplet-doblete__information {
        background-color: $sub-color-virales;

        .triplet-doblete__title {
          color: $main-color-black;
        }

        .triplet-doblete__header {
          color: $main-color-orange;
        }

        .triplet-doblete__author {
          color: $main-color-black;
        }
      }

      .triplet-doblete__multimedia {
        background-color: $sub-color-virales;
      }
    }
  }

  .triplet-doblete__item-doblete {
    border-top: 1px solid $sub-color-virales;

    .triplet-doblete__header {
      color: $main-color-orange;
    }

    &.doublet__item--inverted {
      .triplet-doblete__information-doblete {
        background-color: $sub-color-virales;

        .triplet-doblete__header {
          color: $main-color-orange;
        }
      }

      .triplet-doblete__multimedia-doblete {
        background-color: $sub-color-virales;
      }
    }
  }
}
