.author-description {
  &__container {
    font-family: $tertiary-font;
    margin-bottom: 20px;
    @media (--only-mobile) {
      font-size: 16px;
    }
  }
  &__title {
    font-weight: 700;
    font-family: $primary-font;
    font-size: 1.7rem !important;
    margin-bottom: 20px;
    @media (--only-mobile) {
      margin-bottom: 15px;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__box {
    margin-top: 10px;
    margin-bottom: 10px;
    @media (--only-mobile) {
      width: calc(100% - 75px);
    }
  }
  &__image {
    margin-bottom: 20px;
  }
}
