.br-stories-grid {
  @media (--desktop) {
    display: inline-block;
    background-color: $color-white;

    &__title {
      background-color: transparent;
      color: #666;
      line-height: 55px;
      padding: 0 20px;
    }

    &__container {
      grid-template-columns: 1fr 1fr;
      padding: 0 20px 20px 20px;
    }

    &__card {
      height: 236px;
    }

    &__category-container {
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    &__category-link {
      color: #999;
    }

    &__detail {
      padding-top: 10px;
    }

    &__image-container {
      height: 148px;
    }

    &__image-link {
      color: #333;
    }

    &__detail-title {
      line-height: 1.3;
      max-height: 36.4px;
    }

    &__detail-title-link {
      color: #666;
    }
  }
}
