.react-calendar {
  &__box {
    background-color: $color-white;
  }
  &__header {
    background-color: $color-gray-300;
  }
  &__title {
    color: $color-white;
    font-size: 16px;
    font-weight: 900;
    font-family: $secondary-font;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url(/pf/resources/dist/elbocon/images/loader.png);
      background-size: cover;
    }
  }
  &__brand {
    display: none;
  }
  &__tile--active {
    background-color: transparent;
  }
  &__month-view__weekdays,
  &__month-view__days__day {
    border: 0;
  }
  &__month-view__days__day {
    &:disabled {
      abbr {
        color: #bbbbbb;
      }
    }
  }
  &__month-view__weekdays__weekday abbr {
    color: #bbbbbb;
    font-weight: 900;
    font-family: $secondary-font;
    font-size: 13px;
  }
  &__tile--active {
    background-color: $color-gray-300;
    font-weight: 700;
  }
}
