$author-main-font: "Encode Sans Condensed", sans-serif;

.author-description {
  &__container {
    font-family: $author-main-font;
    color: #000;
    font-size: 14px;
    background: #f5f5f5;
    top: -20px;
    position: relative;
    display: flex;
    justify-content: center;

    @media (--desktop) {
      font-size: 23px;

      // solo porque el tamaño del main es otro y tons se tuvo que forzar con lo siguiente
      width: 5000px;
      left: -2000px;
    }
    @media (--tablet) {
      // solo porque el tamaño del main es otro y tons se tuvo que forzar con lo siguiente
      width: 1024px;
      left: -200px;
    }
  }

  // &__svg-container {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 80px;

  //   @media (--desktop) {
  //     width: 171px;
  //   }
  // }

  &__text-box {
    margin-bottom: 33px;
    margin-top: 32px;
    width: 600px;
  }

  &__title {
    font-family: $author-main-font;
    font-weight: bold;
    margin-bottom: 4px;
    letter-spacing: -0.4px;
    color: #000;
    height: 50px;

    @media (--desktop) {
      font-size: 40px;
    }
  }

  &__subtitle {
    font-family: $author-main-font;
    margin-bottom: 12px;
    color: #000;
    letter-spacing: -0.2px;
    font-weight: 500;
    height: 16px;

    @media (--desktop) {
      font-size: 13px;
      margin-bottom: 14px;
    }
  }

  &__content {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 5px;
    color: #666666;

    strong {
      color: #000;
      font-weight: 500;
    }
  }

  &__bio {
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: #000;
  }

  &__social {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    padding-bottom: 0px !important;

    &::before {
      color: #000;
      font-size: 22px;
      margin-right: 6px;
    }
  }

  &__box {
    margin-bottom: 15px;
  }

  &__image {
    border-radius: 50%;
    width: 191px;
    height: 191px;
    top: 41px;

    @media (--desktop) {
      border-width: 13px;
      margin-right: 30px;
    }
  }

  &__link {
    color: #000;
  }
}
