.score {
  background-color: $color-white;
  height: 100px;
  &__wrapper {
    max-width: 700px;
  }
  &__box {
    width: 50%;
  }
  &__end-text {
    width: 50px;
    height: 50px;
    border: 5px solid $color-gray-100;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: $color-gray-100;
      position: absolute;
      left: 50%;
    }
    &:before {
      top: -100%;
    }
    &:after {
      bottom: -100%;
    }
  }
  &__team {
    &-name {
      font-size: 22px;
      margin-right: 25px;
    }
    &-logo {
      width: 40px;
      height: 40px;
      background-color: red;
      margin-right: 25px;
    }
    &-number {
      font-size: 40px;
    }
  }
  &__gol {
    &-list {
    }
    &-name {
    }
    &-img {
      width: 20px;
      height: 20px;
      background-color: red;
    }
  }
}
