.score {
  background-color: $color-white;
  &__wrapper {
    max-width: 700px;
  }

  &__end-text {
    width: 50px;
    height: 50px;
    border: 5px solid $color-gray-100;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: $color-gray-100;
      position: absolute;
      left: 50%;
    }
    &:before {
      top: -100%;
    }
    &:after {
      bottom: -100%;
    }
  }
  &__team {
    width: 50%;
    &:last-child {
      .score__team-number {
        margin-right: 25px;
      }
      .score__team-name {
        margin-right: 0;
      }
    }
    &-name {
      font-size: 22px;
      margin-right: 25px;
    }
    &-logo {
      width: 40px;
      height: 40px;
      background-color: red;
      margin-right: 25px;
    }
    &-number {
      font-size: 40px;
    }
  }
  &__gol {
    &-wrapper {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
    &-list {
      width: 48%;
      &:first-child {
        justify-content: flex-end;
      }
      @media (--only-mobile) {
        flex-direction: column;
      }
    }
    &-name {
    }
    &-img {
      width: 20px;
      height: 20px;
      background-color: red;
    }
  }
}
