.score {
  background-color: $color-white;

  &__end-text {
    width: 50px;
    height: 50px;
    border: 5px solid $color-gray-100;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: $color-gray-100;
      position: absolute;
      left: 50%;
    }
    &:before {
      top: -100%;
    }
    &:after {
      bottom: -100%;
    }
  }
  &__team {
    width: 50%;
    @media (--only-mobile) {
      align-items: flex-start;
    }
    &:first-child {
      justify-content: flex-end;
    }
    &:last-child {
      .score__team-details {
        @media (--tablet) {
          flex-direction: row-reverse;
        }
      }
      .score__team-number {
        margin-right: 25px;
      }
      .score__team-name {
        margin-right: 0;
      }
    }
    &-name {
      font-size: 22px;
      @media (--only-mobile) {
        font-size: 16px;
        margin-top: 15px;
      }
      @media (--tablet) {
        margin-right: 25px;
      }
    }
    &-logo {
      width: 40px;
      height: 40px;
      background-color: red;
      margin-right: 25px;
    }
    &-number {
      font-size: 40px;
    }
    &-details {
      @media (--only-mobile) {
        flex-direction: column-reverse;
      }
    }
  }
  &__gol {
    &-wrapper {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
    &-box {
      width: 50%;
      &:last-child {
        justify-content: flex-end;
        @media (--only-mobile) {
          padding-right: 0;
        }
      }
      &:first-child {
        @media (--only-mobile) {
          padding-left: 0;
        }
      }
    }
    &-list {
      width: calc(100% - 20px);
      @media (max-width: 1023px) {
        flex-direction: column;
        justify-content: flex-start;
      }
      &:first-child {
        @media (max-width: 1023px) {
          align-items: flex-end;
        }
        @media (--desktop) {
          justify-content: flex-start;
        }
      }
      @media (--only-mobile) {
        flex-direction: column;
      }
    }
    &-item {
      margin-bottom: 5px;
    }
    &-name,
    &-time {
      font-size: 13px;
    }
    &-img {
      width: 20px;
      height: 20px;
      background-color: red;
    }
  }
}
