.podcast-separator {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-title {
    max-height: 66px;
  }
  &_item-t-link {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.3;
    max-height: 86px;
  }
}
