.amp-story-interest {
  &__titleList {
    font-family: "Lato", sans-serif;
    background-color: #ddd;
  }
  &__titleListFullImagen {
    font-family: "Lato", sans-serif;
    border-top: solid;
    padding-left: 0;
    text-align: left;
  }
  &__item_full_imagen {
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px;
  }
  &__list {
    flex-wrap: wrap;
  }
  &__img {
    max-height: 72px;
    max-width: 118px;
  }
  &__link {
    width: 152px;
  }
  &__title-link {
    color: #36b;
  }
  & .caption {
    & div {
      overflow: hidden;
      height: 53px;
    }
  }
}
