.section-videos {
  background-color: #222;

  .section-video {
    padding: 20px;
  }
  .header__item::before {
    background-color: $color-white;
  }
  @media (--desktop) {
    .nav__wrapper {
      background-color: $color-white;
    }
    .nav.active .nav__wrapper {
      background-color: initial;
    }
  }

  &.story {
    & .nav__loader {
      display: none;
    }
    & .nav.active {
      & .nav__wrapper {
        background-color: $color-black;
      }
      & .nav__mobile-logo {
        display: block;
      }
      & .nav__container-menu {
        border-right-color: $color-white;
      }
      & .btn {
        color: $color-white;
      }
    }
  }

  .section-video,
  .play-list,
  .video-list,
  .bg-container,
  .section-video__wrapper {
    background-color: #222;
  }
  .play-list__name {
    text-align: left;
    color: #ddd;
    font-size: 16px;
    @media (--desktop) {
      font-size: 19px;
    }
  }
  .play-list__title a {
    color: #ddd;
  }
  .play-list {
    @media (--tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .play-list__title {
    line-height: 20px;
    @media (--only-mobile) {
      font-size: 16px;
      padding: 5px 0;
    }
  }
  .video-list__new {
    font-size: 16px;
    line-height: 22px;
    color: #ddd;
  }
  .play-list__image,
  .video-list__image {
    background-color: #aaa;
  }
  .video-navbar {
    background-color: #111;
    border: 0;
    height: 48px;
    &.fixed {
      @media (--desktop) {
        top: 296px;
      }
    }
  }
  .video-navbar__list {
    justify-content: space-between;
    height: 100%;
    align-items: center;
    @media (--desktop) {
      justify-content: center;
    }
  }
  .video-navbar__link {
    color: #777;
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
    @media (--desktop) {
      padding: 0 20px;
    }
  }
  .video-navbar__item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      height: 3px;
      width: 50%;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      transform: translate(50%);
    }
    &:hover {
      &::after {
        background-color: $color-primary;
      }
      .video-navbar__link {
        color: $color-white;
      }
    }
  }
  .video-list {
    padding: 0 20px;
    @media (--only-mobile) {
      margin-top: 0;
    }
  }
  .video-list__item {
    @media (--only-mobile) {
      width: 100%;
    }
  }
  .video-list__section {
    display: none;
  }
  .video-list__link {
    position: relative;
  }
  .video-list__duration,
  .play-list__duration {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 64px;
    height: 24px;
    background-color: rgba($color-black, 0.8);
    font-size: 12px;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $secondary-font;
    &::before {
      display: none;
    }
    @media (--desktop) {
      bottom: 2px;
    }
  }
  .section-video__text {
    margin-right: 10px;
    margin-bottom: 10px;
    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #aaa;
      display: block;
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 0;
      &::after {
        display: none;
      }
    }
    @media (--desktop) {
      margin-bottom: 0;
    }
  }
  .section-video__detail {
    justify-content: flex-end;
  }
  .section-video__list-text {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (--only-mobile) {
      padding: 0 20px;
    }
    @media (--tablet) {
      padding: 0 30px;
    }
    @media (--desktop) {
      width: auto;
      padding: 0;
      flex-direction: row;
    }
  }
  .section-video__section {
    color: #999;
    font-weight: 500;
  }
  .play-list__wrapper {
    @media (--tablet) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .play-list__item {
    @media (--only-mobile) {
      margin-bottom: 20px;
    }
  }
  .play-list__item,
  .video-list__item {
    @media (--tablet) and (max-width: 1023px) {
      width: 48%;
    }
  }
  .section-video__title {
    color: #eaeaea;
    letter-spacing: 0.23px;
  }
  .footer__sites-visit,
  .footer__sites-item a {
    color: #666;
  }
}
