.columnist-premium {
  @media (--only-mobile) {
    height: auto;
  }
  &__profile {
    width: 90px;
  }
  &__name {
    width: 60%;
    font-size: 20px;
  }
  &__section {
    font-size: 11px;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: $color-gray-300;
      left: 50%;
      transform: translateX(-50%);
      bottom: -7px;
    }
  }
  &__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: calc(16px * 1.33333 * 5);
    font-size: 16px;
  }
  &__logo {
    max-width: 70px;
  }
}
