@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.woff?3r19g5') format('woff'),
    url('../../icons/fonts/default.ttf?3r19g5') format('truetype'),
    url('../../icons/fonts/default.svg?3r19g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/ojo.woff?yb9233') format('woff'),
    url('../../icons/fonts/ojo.ttf?yb9233') format('truetype'),
    url('../../icons/fonts/ojo.svg?yb9233#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
