@font-face {
  font-family: "icomoon";
  src: url("https://cdna.ojo.pe/resources/dist/ojo/fonts/default.woff")
      format("woff"),
    url("https://cdna.ojo.pe/resources/dist/ojo/images/default.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("https://cdna.ojo.pe/resources/dist/ojo/fonts/ojo.woff")
      format("woff"),
    url("https://cdna.ojo.pe/resources/dist/ojo/images/ojo.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
