.polla-results {
  &__main {
    min-height: 550px;
    margin-top: 45.5px;
    @media (--tablet) {
      min-height: 680px;
      margin-top: 40px;
    }
    @media (--desktop) {
      min-height: 702px;
      margin-top: 32.5px;
    }
  }
  &__container-mid {
    display: flex;
    flex-direction: column;
  }
  &__button-resumen-mob {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-left: 1px solid #ddd;

    & a {
      font-family: $primary-font;
      font-size: 13px;
      color: #0072d8;
      font-weight: medium;
      border: 1px solid #0072d8;
      border-radius: 32px;
      background: #fff;
      height: 32px;
      width: 128px;
      // margin-top: 20px;
      // margin-right: 20px;
      // margin-left: 20px;
      margin-top: 24px;
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8 37px;
      // @media (--desktop) {
      //   padding: 0 20px;
      // }
      // @media (--tablet) {
      //   padding: 0 20px;
      // }
    }
  }
  &__button-resumen {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ddd;

    & a {
      font-family: $primary-font;
      font-size: 13px;
      color: #0072d8;
      font-weight: medium;
      border: 1px solid #0072d8;
      border-radius: 32px;
      background: #fff;
      height: 32px;
      width: 128px;
      // margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 24px;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8 37px;
      // @media (--desktop) {
      //   padding: 0 20px;
      // }
      // @media (--tablet) {
      //   padding: 0 20px;
      // }
    }
  }
  &__title {
    padding: 0 20px;
    font: 400 16px/1 $primary-font;
    color: #222;
  }
  &__slider-btn {
    background-color: #f91362;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child {
      position: relative;
      right: -8px;
    }
    &:last-child {
      position: relative;
      left: -8px;
    }
  }
  &__slider-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 34px;
  }
  &__dates {
    display: flex;
    flex: 1;
    border-radius: 5px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (--desktop) {
      max-width: 462px;
    }
  }

  &__dates-text {
    font: 400 10px/11px $primary-font;
    color: #999;
  }
  &__dates-number {
    font: 700 18px/1 $primary-font;
    color: #999;
  }
  &__dates-item {
    background-color: #f0f0f0;
    min-width: 42px;
    height: 40px;
    margin: 0 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (--desktop) {
      min-width: 64px;
    }
    &.active {
      border-bottom: 2px solid #dc532e;
      .polla-results__dates-number {
        color: #dc532e;
      }
    }
    &.available {
      .polla-results__dates-text,
      .polla-results__dates-number {
        color: #333;
      }
    }
  }
  &__cont-est {
    display: flex;
    flex-direction: row;
  }

  &__list-stadium {
    // display: inline-block;
    font: 400 14px/1 $primary-font;
    color: #222;
    margin-bottom: 4px;
    @media (--desktop) {
      display: inline-block;
      margin-bottom: 12px;
    }
  }
  &__list-ub {
    font: 400 14px/1 $primary-font;
    color: #999;
    margin-bottom: 12px;
    margin-left: 10px;
    @media (--desktop) {
      display: inline-block;
    }
  }
  &__list-cont {
    border: 1px solid #ddd;
    border-radius: 5px;
    // padding: 0px 24px 0px;
  }

  &__score-cont {
    display: flex;
    justify-content: center;
    @media (--tablet) {
      justify-content: space-evenly;
    }
    @media (--desktop) {
      justify-content: space-between;
    }
  }
  &__score-text {
    font: 400 12px/14px $primary-font;
    color: #666;
    text-align: center;
    margin-top: 4px;
  }
  &__score-item {
    margin-top: 11px;
  }
  &__country {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    // @media (--tablet) {
    //   margin-top: 0px;
    //   margin-left: 0px;
    //   margin-right: 0px;
    // }
    @media (--desktop) {
      margin-top: 13px;
      margin-left: 30px;
      margin-right: 0;
      display: flex;
      align-items: center;
      flex: 1;
      // &:first-child {
      //   margin-left: 30px;
      // }
      &:last-child {
        justify-content: flex-start;
        flex-direction: row-reverse;
        margin-right: 98px;
      }
    }
    img {
      width: 48px;
      height: 48px;
      @media (--desktop) {
        width: 40px;
        height: 40px;
      }
      @media (--tablet) {
        width: 40px;
        height: 40px;
      }
    }
    span {
      display: block;
      font: 500 17px/20px $primary-font;
      color: #222;
      max-width: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;

      // min-width: 180px;
      @media (--desktop) {
        text-align: right;
        max-width: none;
        min-width: 180px;
        margin: 0 18px;
      }
      @media (--tablet) {
        text-align: center;
      }
    }
  }
  &__country-right {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    // margin-right: 24px;
    // @media (--tablet) {
    //   margin-top: 0px;
    //   margin-left: 0px;
    //   margin-right: 0px;
    // }
    @media (--desktop) {
      margin-top: 13px;
      margin-left: 44px;
      margin-right: 0;
      display: flex;
      align-items: center;
      flex: 1;
      // &:first-child {
      //   margin-left: 30px;
      // }
      &:last-child {
        justify-content: flex-start;
        flex-direction: row-reverse;
        margin-right: 98px;
      }
    }
    img {
      width: 48px;
      height: 48px;
      @media (--desktop) {
        width: 40px;
        height: 40px;
      }
      @media (--tablet) {
        width: 40px;
        height: 40px;
      }
    }
    span {
      display: block;
      font: 500 17px/20px $primary-font;
      color: #222;
      max-width: 48px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      // min-width: 180px;
      @media (--desktop) {
        text-align: left;
        max-width: none;
        min-width: 180px;
        margin: 0 18px;
      }
      @media (--tablet) {
        text-align: center;
      }
    }
  }
  &__score-numbers {
    // background-color: #333;
    justify-content: center;
    color: #fff;
    font: 700 20px/24px $primary-font;
    display: flex;
    border-radius: 6px;
    span {
      background-color: #333;
      width: 48px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #666;
      &:first-child {
        border-radius: 6px 0 0 6px;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
      }
    }
  }
  &__score-link {
    // display: flex;
    display: none;
    width: 128px;
    height: 32px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0;
    font: 500 13px/1 $primary-font;
    border: 1px solid #ccc;
    color: #bbb;
  }
  &__score-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 700 14px/16px $primary-font;
    color: #004b91;
    margin-top: 13px;
  }
  &__score-live {
    font: 500 12px/1 $primary-font;
    color: #ed1c24;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
  }
  &__live-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ed1c24;
    display: block;
    margin-right: 4px;
  }

  &__list {
    padding: 0 20px;
    margin-bottom: 32px;

    &.Played,
    &.Playing {
      .polla-results__score-link {
        border: 1px solid #0072d8;
        color: #0072d8;
      }
    }
    &.Playing {
      .polla-results__score-numbers {
        background-color: transparent;
        color: #222;
        span {
          border: 1px solid #ccc;
        }
      }
    }
  }
}
