.story-taboola {
  content-visibility: auto;
  contain-intrinsic-size: 645px;
  margin: 20px 20px 0 20px;
  padding-top: 20px;
  border-top: 1px solid #333;
  .thumbnails-a {
    width: 100% !important;
  }
}
