<!doctype html>
<html lang="es" prefix="op: http://media.facebook.com/op#">

<head>
    <meta charset="utf-8" />
    <link rel="canonical" href="http://elcomercio.pe/mundo/latinoamerica/colombia-deroga-norma-obligaba-presentar-esposa-amigos-vecinos-noticia-646213" />
    <meta property="op:markup_version" content="v1.0" />
    <meta property="fb:article_style" content="LogoElcomercio" /> </head>

<body>
    <article>
        <figure class="op-tracker">
            <iframe>
                <script>
                    (function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                    ga('create', 'UA-3055636-11', 'elcomercio.pe');
                    ga('require', 'displayfeatures');
                    ga('set', 'campaignSource', 'm.facebook.com');
                    ga('set', 'campaignMedium', 'referral');
                    ga('set', 'campaignName', 'FbIA');
                    ga('set', 'dimension6', 'FbIA');
                    ga('send', 'pageview', '/instant-articles/elcomercio/mundo/latinoamerica/colombia-deroga-norma-obligaba-presentar-esposa-amigos-vecinos-noticia-646213');
                </script>
                <script type='text/javascript'>
                    var _sf_async_config = {}; /** CONFIGURATION START **/
                    _sf_async_config.uid = 57773;
                    _sf_async_config.domain = 'elcomercio.pe';
                    _sf_async_config.title = 'Colombia deroga norma que obligaba a presentar la esposa a los amigos y vecinos';
                    _sf_async_config.sections = 'mundo', 'latinoamerica', 'colombia-1';
                    _sf_async_config.authors = 'El Tiempo | GDA';
                    _sf_async_config.type = 'Articulo Nota Simple';
                    _sf_async_config.useCanonical = true; /** CONFIGURATION END **/
                    window._sf_endpt = (new Date()).getTime();
                </script>
                <script defer src="//static.chartbeat.com/js/chartbeat_fia.js"></script>
                <!-- Begin comScore Tag -->
                <script>
                    var _comscore = _comscore || [];
                    _comscore.push({
                        c1: "2",
                        c2: "8429002",
                        options: {
                            url_append: "comscorekw=fbia"
                        }
                    });
                    (function() {
                        var s = document.createElement("script"),
                            el = document.getElementsByTagName("script")[0];
                        s.async = true;
                        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
                        el.parentNode.insertBefore(s, el);
                    })();
                </script>
                <noscript> <img src="http://b.scorecardresearch.com/p?c1=2&c2=8429002&cv=2.0&cj=1&comscorekw=fbia" /> </noscript>
                <!-- End comScore Tag -->
            </iframe>
        </figure>
        <header>
            <h1> Colombia deroga norma que obligaba a presentar la esposa a los amigos y vecinos </h1>
            <h2> Colombia | La ley de hace 132 años establecía que, para probar estado civil, la mujer debía ser &quot;recibida por amigos del esposo y por el vecindario de su domicilio en general&quot; </h2>
            <h3 class="op-kicker"> Latinoamérica </h3> <address> Redacción elcomercio </address>
            <time class="op-published" datetime="2019-06-17T15:10:42-05:00"> 2019-06-17T15:10:42-05:00 </time>
        </header>
        <figure> <img src="https://img.elcomercio.pe/uploads/2019/06/17/5d07f349a527c.jpeg" />
            <figcaption>Colombia deroga norma que obligaba a presentar la esposa a los amigos y vecinos. (AFP).</figcaption>
        </figure>
        <p>Por: El Tiempo | GDA</p>
        <figure class="op-interactive">
            <iframe frameborder="0"></iframe>
        </figure>
        <p>El Código Civil de <b><a href="https://elcomercio.pe/noticias/colombia-1" target="_blank">Colombia</a></b>, que fue expedido hace 132 años, aún tenía viva una norma que la Corte Constitucional acaba de tumbar y que establecía los requisitos para acreditar el estado civil en la sociedad.</p>
        <p>El artículo ordena que para probar la existencia del vínculo matrimonial debe acreditarse que los cónyuges se tratan como "<i>marido y mujer</i>" en sus relaciones domésticas sociales. Esa norma opera desde el punto de vista práctico cuando desaparecen, por ejemplo, las actas de matrimonio, y un juez requiere pruebas para acreditar que la unión existió.</p>
        <figure class="op-ad">
            <iframe width="300" height="250" style="border:0; margin:0;" src="https://img.elcomercio.pe/ads-fia/28253241/eco_ia_interna1/300x250/div-gpt-ad-8599377-16"></iframe>
        </figure>
        <p>Pero la norma, además, establecía que la acreditación se daba cuando la mujer era <i>"recibida en este carácter por los deudos y amigos de su marido, y por el vecindario de su domicilio en general"</i>.</p>
        <p>El polémico artículo del Código Civil fue demandado por un ciudadano que consideró que violaba la dignidad humana pues establecía un trato diferente e injustificado entre hombres y mujeres. Así, dijo, exigir que la mujer sea aceptada por los deudos, amigos y vecinos del hombre <i>"es un acto de discriminación contra la mujer puesto que ella no debe ser aceptada por nadie y mucho menos por los amigos del marido".</i></p>
        <p>Para el demandante, esa norma ponía a las mujeres en una desventaja en el matrimonio, pues la obligaba a cumplir <i>"con requisitos absurdos"</i>, y además mantenía los estereotipos de subordinación. El demandante aseguró, además, que la existencia del matrimonio debe ser demostrada solo con la voluntad de quienes lo contraen, y no puede depender de la aceptación de terceros.</p>
        <p>Al ser consultados por la Corte Constitucional, diferentes instituciones dieron su opinión sobre la polémica ley. La Procuraduría, por ejemplo, afirmó que dicha ley perpetúa estereotipos patriarcales que vulneran el derecho a la igualdad y dignidad de la mujer.</p>
        <p>Al estudiar el caso, el alto tribunal tumbó la norma que fue demandada y recordó que el Código Civil (expedido en 1887) tiene un contenido preponderadamente patriarcal en el que "<i>la mujer se ubica en una situación de subordinación al marido y a su entorno familiar</i>". Por eso, dice el alto tribunal, <i>"es imperativo eliminar aquellas disposiciones que tratan a la mujer como un individuo marginado de las relaciones sociales y familiares"</i>.</p>
        <figure class="op-ad">
            <iframe width="300" height="250" style="border:0; margin:0;" src="https://img.elcomercio.pe/ads-fia/28253241/eco_ia_interna2/300x250/div-gpt-ad-8599377-17"></iframe>
        </figure>
        <p>Así, la misma Corte se ha encargado de tumbar o transformar esos preceptos que eran del siglo antepasado y que deben ser armonizados con las normas actuales y con la Constitución del 91. Frente al Código Civil, la Corte ha emitido en los últimos 20 años por lo menos 11 fallos actualizando disposiciones que no mantenían la igualdad de derechos y deberes en la pareja, y que imponían cargas adicionales para las mujeres.</p>
        <p>Con todo esto, la Corte Constitucional le dio la razón al ciudadano que demandó la norma del Código Civil y dijo "<i>la pertenencia al sexo masculino o al femenino tampoco debe implicar, por sí mima, una razón para obtener beneficios de la ley o para hallarse ante sus normas en inferioridad de condiciones"</i>.</p>
        <p>Así, la Corte asegura que, si bien es válido que para poder probar el matrimonio, cada uno de los miembros de la pareja sea reconocido como tal en el núcleo familiar y en el ámbito social de su cónyuge, no hay ninguna razón para hacer una distinción entre hombres y mujeres en dicha norma.</p>
        <p>La Corte dice que exigir que la mujer "<i>sea recibida</i>" por vecinos, amigos y la familia del esposo es discriminatorio porque, "<i>a diferencia de la mujer, el marido no tiene que demostrar ante el juez que él ha sido recibido como tal en el ámbito social de la mujer</i>".</p>
        <p>El alto tribunal dijo que "<i>en los tiempos actuales no tiene sentido alguno mantener una distinción normativa que parte de un prejuicio social de inferioridad y sumisión de la mujer en las relaciones matrimoniales, toda vez que esta situación es abiertamente contraria a lo establecido en la Constitución"</i>.</p>
        <figure class="op-ad">
            <iframe width="300" height="250" style="border:0; margin:0;" src="https://img.elcomercio.pe/ads-fia/28253241/eco_ia_interna3/300x250/div-gpt-ad-8599377-18"></iframe>
        </figure>
        <p>Fuente: "El Tiempo" de Colombia, GDA</p>
        <footer> <small>Copyright © elcomercio - Grupo El Comercio - Todos los derechos reservados.</small> </footer>
    </article>
</body>

</html>