.st-tags {
  margin: 25px 0;
  padding: 0 20px;
  position: relative;

  &__title {
    display: inline-block;
    font: 400 11px/1 $primary-font;
    padding-bottom: 10px;
    position: absolute;
    top: 15px;
  }

  &__tag {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    &:first-child {
      @media (--tablet) {
        margin-left: 206px;
      }
    }
  }

  &__box {
    flex: 1;
    margin-top: 40px;
    @media (--tablet) {
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    letter-spacing: 0.28px;
    padding: 10px 30px;
    border: 1px solid #333;
    border-radius: 50px;
    & span {
      display: none;
    }
  }
}
