.triplet {
  border-width: 0;
  border-top-width: 1px;
  background-color: $color-gray-300;

  &__title-link,
  &__link {
    color: $color-white;
  }

  &__link {
    font-family: $primary-font;
  }
}
