.stories-l-header {
  border-bottom: 1px solid $color-primary;
  &__title {
    color: #333;
    font-size: 13px;
  }
  & h4 {
    font-weight: 700;
  }
  &__see-more {
    font-family: $secondary-font;
    background-color: transparent;
    color: #333;
    font-weight: 700;
  }

  &.bg-info {
    background-color: $color-base-200;
  }
  &.bg-white {
    background-color: $color-gray-100;
  }
}
