.stories-l-item {
  background-color: transparent;
  border-color: $color-secondary;
  font-family: $primary-font;

  &:last-child {
    border-bottom: 0;
  }

  &__time {
    color: $color-primary;
    display: block;
    font-weight: 400;
    margin-bottom: 5px;
  }
  &__link {
    font-size: 15px;
    font-weight: 700;
    color:#000;
  }
}
