//Triplete
.triplet {
  &__item {
    /*    grid-template-rows: 80px 1fr; */
    border-color: $border-color-base;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0;
    }
    &--right {
      .triplet__information {
        padding-right: 10px;
      }
    }
    &--left {
      flex-direction: row-reverse;
      .triplet__information {
        padding-left: 10px;
      }
    }
  }

  &__title {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &--oneline {
    max-height: 15px;
    -webkit-line-clamp: 1;
  }

  &--twoline {
    max-height: 43px;
    -webkit-line-clamp: 2;
    @media (--desktop) {
      max-height: 47px;
    }
  }

  &--threeline {
    max-height: 60px;
    -webkit-line-clamp: 3;
    @media (--desktop) {
      max-height: 76px;
    }
  }

  &__multimedia {
    width: 75px;
    height: 90px;
  }

  &__icon {
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;

    @media (--tablet) {
      width: 24px;
      height: 24px;
    }
  }
  &__information {
    max-width: calc(100% - 75px);
  }
}
