//Triplete
.triplet {
  border-color: $color-gray-200;
  //background-color: $color-white;

  &__link {
    color: inherit;
  }

  &__item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    border-color: $color-gray-200;

    &:last-child {
      border-bottom: 0px;
    }

    &--right {
      grid-template-areas:
        'triplete__title triplete__multimedia'
        'triplete__author triplete__author';

      & figure {
        margin-left: 10%;
      }
    }

    &--left {
      grid-template-areas:
        'triplete__multimedia triplete__title'
        'triplete__author triplete__author';

      & figure {
        margin-right: 10%;
      }
    }
  }

  &__title {
    grid-area: triplete__title;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &--oneline {
    max-height: 15px;
    -webkit-line-clamp: 1;
  }

  &--twoline {
    max-height: 30px;
    -webkit-line-clamp: 2;
  }

  &--threeline {
    max-height: 45px;
    -webkit-line-clamp: 3;
  }

  &__multimedia {
    grid-area: triplete__multimedia;
  }

  &__icon {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;

    @media (--tablet) {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }

  &__author {
    grid-area: triplete__author;
  }

  &__box-icon {
    background-color: $color-white;
    opacity: 0.5;
    filter: alpha(opacity=50);
    pointer-events: none;
    top: 20px;
    z-index: 1;
    right: 5px;

    .triplete__icon {
      display: table-cell;
      height: 40px;
      vertical-align: middle;
      width: 40px;

      &--play:before {
        content: '\2023';
      }

      &--gallery:before {
        content: '\1F4F7';
      }
    }
  }
}
