$triplet-img-width: 75px;
$triplet-icon-size: 25px;

.triplet {
  &__item {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0;
    }

    &--right {
      .triplet__information {
        padding-right: 10px;
      }
    }

    &--left {
      flex-direction: row-reverse;

      .triplet__information {
        padding-left: 10px;
      }
    }
  }

  &__title {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &--oneline {
    max-height: 21px;
    -webkit-line-clamp: 1;
  }

  &--twoline {
    max-height: 35px;
    -webkit-line-clamp: 2;

    @media (--desktop) {
      max-height: 42px;
    }
  }

  &--threeline {
    max-height: 53px;
    -webkit-line-clamp: 3;

    @media (--desktop) {
      max-height: 63px;
    }
  }

  &__multimedia {
    width: $triplet-img-width;
    height: 90px;
  }

  &__icon {
    font-size: $triplet-icon-size;
    width: $triplet-icon-size;
    height: $triplet-icon-size;
  }

  &__information {
    max-width: calc(100% - #{$triplet-img-width});
  }
}
