.header {
  @media (--tablet) {
    justify-content: flex-start;
  }
  &__logo {
    @media (--desktop) {
      margin-left: 7px;
    }
  }
  &__link {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    &:hover {
      color: $color-base-400;
    }
  }
  &__tags,
  &__link,
  &__date {
    color: $color-base-400;
  }
  &__item {
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 80%;
      background-color: #ebebeb;
      margin-right: 20px;
      margin-left: 20px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__featured {
    justify-content: center;
    @media (--tablet) {
      justify-content: flex-start;
    }
  }
  &__logo-secondary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 54px;
    @media (--desktop) {
      right: 12px;
    }
  }
}
