.featured-story {
  background-color: #eaeaea;
  @media (--only-mobile) {
    height: 132px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;

    .featured-story__headband {
      margin-bottom: 0;
    }
  }
  &__category::after {
    border-bottom: 1px solid $color-base-400;
  }
  &__category-link {
    color: $color-primary;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 10px;
    @media (--only-mobile) {
      margin-bottom: 0;
    }
  }

  &__title-link {
    font-weight: 700;
    color: $color-gray-300;
    -webkit-line-clamp: 4;
    max-height: calc(1.3rem * 1.333 * 4);
  }

  &.img-complete {
    @media (--tablet) {
      .featured-story__img-box {
        &::before {
          height: 100%;
          background: linear-gradient(
            to top,
            #445e76 0%,
            rgba(134, 174, 204, 0) 76%
          );
        }
      }
    }

    .featured-story__author-link {
      color: $color-white;
    }
  }

  &.expand {
    background-color: #eaeaea;

    .featured-story__category-link {
      color: $color-primary;
    }

    .featured-story__title {
      margin-top: 10px;
    }

    .featured-story__title-link {
      -webkit-line-clamp: 4;
      max-height: calc(1.3rem * 1.333 * 4);
    }

    &.img-complete {
      .featured-story__category {
        border: 0;
        display: block;

        &::after {
          display: none;
        }
      }
      .featured-story__category-link {
        border: 1px solid $color-white;
        padding: 5px 5px 7px;
      }
      .featured-story__img-box {
        &::before {
          height: 100%;
          background: linear-gradient(
            to top,
            #445e76 0%,
            rgba(134, 174, 204, 0) 76%
          );
        }
      }
      .featured-story__detail {
        background-color: transparent;
      }
    }
    .featured-story__detail {
      background-color: #eaeaea;
    }
  }

  &.featured-story--live {
    .featured-story__headband-link {
      background-color: $color-tertiary;
      color: $color-white;
      font-family: $secondary-font;
    }
  }

  &--no-expanded {
    &.img-complete {
      @media (--only-mobile) {
        background-color: transparent;
        .featured-story__author-link {
          color: $color-gray-200;
        }
      }
      .featured-story__detail {
        background-color: transparent;
      }
      .featured-story__category {
        &::after {
          display: none;
        }
      }
      .featured-story__category-link {
        border: 1px solid $color-white;
        padding: 5px 5px 7px;
      }
    }

    .featured-story__title-link {
      @media (--only-mobile) {
        -webkit-line-clamp: 3;
        max-height: calc(1.3rem * 1.333 * 3);
      }
    }
  }
  &__detail {
    background-color: $color-white;
    @media (--tablet) {
      background-color: #eaeaea;
    }
  }
}
