@font-face {
  font-family: "open_sansregular";
  src: url("https://cdna.peru21.pe/resources/dist/peru21g21/fonts/OpenSans-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
