@font-face {
  font-family: "icomoon";
  src: url("https://cdna.peru21.pe/resources/dist/peru21g21/fonts/default.woff?o217b7")
      format("woff"),
    url("https://cdna.peru21.pe/resources/dist/peru21g21/fonts/default.svg?o217b7#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
