.most-read-homologated-item {
  &__icon {
    font-size: 50px;
    top: calc(50% - 25px);
    right: calc(50% - 25px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
  &__image {
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__link-box {
    margin: 2px 0px;
  }
}
