.most-read-homologated-card {
  height: $row-height;
  max-height: $row-height;
  background-color: $color-base-200;
  // &__list {}
  &__image {
    max-height: 157px;
    // Esta altura está relacionada a la altura de "landscape_md"
  }

  &__list {
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
  }

  &__container-list {
    height: calc(100% - 60px);
    max-height: calc(100% - 60px);
  }
}
