.st-rel {
  content-visibility: auto;
  contain-intrinsic-size: 512px;
  margin: 0 20px 14px 20px;
  padding-top: 20px;
  color: #333;
  &__title {
    font: 700 1rem/1 $primary-font;
    color: #222;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__item {
    padding-bottom: 15px;
    border-top: 1px solid #e2d5c8;
    padding-top: 15px;
    flex-direction: column;
  }

  &__logo {
    width: 29px;
    height: 29px;
    margin-right: 10px;
  }

  &__author {
    letter-spacing: 0;
    color: #888;
    font: 700 11px/15px $primary-font;
    text-transform: uppercase;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__txt {
    font: 700 0.9rem/1.5 $primary-font;
    margin-bottom: 15px;
    padding: 0 30px 5px 0;
  }

  &__box {
    width: 100%;
  }
}
