body {
  overflow-x: hidden;
  background: $color-base-100;
}

.story {
  /* TODO: se agrega para la salida del 30 de julio*/
  background: $color-white;

  .bg-container {
    background: $color-white;
  }
}
