@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), local("sans-serif"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/Roboto-Regular.woff2)
      format("woff2"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/Roboto-Regular.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Judson";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Judson Regular"), local("Judson-Regular"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/Judson-Regular.woff2)
      format("woff2"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/Judson-Regular.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Judson";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Judson Bold"), local("Judson-Bold"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/Judson-Bold.woff2)
      format("woff2"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/Judson-Bold.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Libre Franklin Medium"), local("LibreFranklin-Medium"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/LibreFranklin-Medium.woff2)
      format("woff2"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/LibreFranklin-Medium.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Libre Franklin Bold"), local("LibreFranklin-Bold"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/LibreFranklin-Bold.woff2)
      format("woff2"),
    url(https://cdna.gestion.pe/resources/dist/gestion/fonts/LibreFranklin-Bold.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
