@font-face {
  font-family: "icomoon";
  src: url("https://cdna.gestion.pe/resources/dist/gestion/fonts/default.woff")
      format("woff"),
    url("https://cdna.gestion.pe/resources/dist/gestion/images/default.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "icomoon";
  src: url("https://cdna.gestion.pe/resources/dist/gestion/fonts/gestion.woff")
      format("woff"),
    url("https://cdna.gestion.pe/resources/dist/gestion/images/gestion.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
