/*.share-news .share-item {
    font-size: 12px;
    line-height: 45px;
    margin-right: 2px;
    width: 295px;
}

.share-news .share-item {
    float: left;
}*/
/*.share-news .share-link {
    color: #FFF;
    display: block;
    padding-left: 15px;
}*/
/*.share-news .share-items {
    position: relative;
}*/

/*.share-news .other-share-items {
    left: 0;
    position: absolute;
    top: 0;
    width: 891px;
}*/

/*.share-news .other-share-items {
    display: none;
}
.share-news .share-item {
    float: left;
}
.share-news .item-wa {
    display: none;
}
.share-news {
    margin-bottom: 20px;
}*/
/*.share-news .show-more {
    font-size: 24px;
    font-weight: 700;
    margin-right: 0;
    width: 35px;
}
 .share-news .show-more a {
    background-color: #ccc;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: blink;
}

.share-news .show-more a:hover {
    text-decoration: none;
}*/

/*.share-news {
    margin-bottom: 25px;
    padding-bottom: 28px;
}*/
.share-news .show-more a .less {
    display: none;
}

/*.share-item.item-fb {
    background-color: #43609c;
}
.share-item.item-gp{
    background-color: #dd4d42;
}
.share-item.item-in  {
    background-color: #1da1f2;
}*/
.news-text-content>p, p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.news-title{
    clear: both;
    color: #444;
    font: 48px/1.15 "ChronicleDisplayBold",Times New Roman,serif;
    margin-bottom: 20px;
}

 .news-summary {
    color: #444;
    font: 22px/1.3 "ChronicleDisplaySemibold",Times New Roman,serif;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.visual__image img{
    width: 100%
}
.news-media-description {
    color: #999;
    font-family: "Open Sans",arial,sans serif;
    font-size: 13px;
    margin: 0;
    padding-top: 5px;
    text-align: left;
}
.visual__image {
    margin: 0px;
    width: 100%
}

.tabla th {
    background-color: #CCC;
    padding: 5px;
    height: 30px;
}

.news-author-date {
    margin-top: 26px;
}
.font--secondary {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 18px;
    margin-bottom: 25px;
    word-wrap: break-word;
}