.news-text-content>p, p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
    word-wrap: break-word;
}

.visual__image img{
    width: 100%
}
.news-media-description {
    color: #999;
    font-family: "Open Sans",arial,sans serif;
    font-size: 13px;
    margin: 0;
    padding-top: 5px;
    text-align: left;
}
.visual__image {
    margin: 0px;
    width: 100%
}

.tabla th {
    background-color: #CCC;
    padding: 5px;
    height: 30px;
}

.news-author-date {
    margin-top: 26px;
}
.font--secondary {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 18px;
    margin-bottom: 25px;
    word-wrap: break-word;
}