.amp-sh {
  max-width: 600px;

  &__list {
    margin: 20px -7px;
    height: 32px;
    width: 180px;
  }

  &__item {
    width: 25%;
  }

  &__share {
    fill: $color-white;
  }
  &__description {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #323232;
  }

  &__rounded {
    border-radius: 50%;
    margin: 9px 10px 6px 0;
    &.mesaje {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='15' fill='%231F8EEF'/%3E%3Cpath d='M18.6 20.9l-4-4.3 -7.8 4.3 8.6-9.1 4.1 4.3 7.7-4.3L18.6 20.9z' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
  }
  .story-gallery {
    margin-left: -20px;
    margin-right: -20px;
  }
}
