.amp-story-header {
  max-width: 600px;

  &__list {
    margin: 20px -7px;
    height: 32px;
    width: 180px;
  }

  &__item {
    width: 25%;
  }

  &__share {
    fill: $color-white;
  }
  &__description {
    margin-top: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #323232;
  }

  .story-gallery {
    margin-left: -20px;
    margin-right: -20px;
  }
}
