.story-header-amp {
  background-color: $color-white;
  max-width: 600px;

  &__title {
    color: #333;
    line-height: 29px;
  }

  &__datetime {
    color: #666;
  }

  &__description {
    color: #323232;
  }

  &__list {
    margin: 20px -7px;
    height: 32px;
    line-height: 32px;
    width: 180px;
  }

  &__item {
    width: 25%;
  }

  &__share {
    fill: $color-white;
  }

  .story-gallery {
    margin-left: -20px;
    margin-right: -20px;
  }
}
