.story-header {
  &__news-title {
    clear: both;

    @media print {
      font-size: 35px;
    }
  }

  &__news-summary {
    word-wrap: break-word;
  }

  &__link:hover {
    text-decoration: none;
  }

  &__list {
    width: 140px;
  }

  // &__share {}
}
