.story-gallery {
  &__number {
    width: 45px;
    height: 45px;
    background: $color-gray-300;
    color: $color-white;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 44px;
    font-family: $tertiary-font;
  }
  &__caption-image {
    width: calc(100% - 45px - 70px);
  }
  &-social__list {
    width: 70px;
  }
  &-social__item {
    margin-bottom: 0;
  }
  &-social__link {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #999999;
    color: $color-white;
  }
}
