.story-gallery {
  &__number {
    width: 72px;
    height: 32px;
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #aaa;
    opacity: 1;
    color: #888;
    font-size: 12px;
    & strong {
      color: #000;
      margin-right: 4px;
    }
  }
  &__caption-image {
    text-align: left;
    letter-spacing: 0;
    color: #333;
    opacity: 1;
    font: normal normal normal 16px/24px $primary-font;
  }
  &__title {
    font: normal normal 900 20px/25px $primary-font;
  }
  &-social__list {
    border-left: 1px solid #d6d6d6;
    padding-left: 8px;
    width: 75px;
  }
  &__credit {
    color: #999;
  }
  &-social__link {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #999;
  }
  .itemv {
    width: 530px;
    margin: auto;
    @media (--only-mobile) {
      width: 100%;
    }
  }
  & .story-content__list-more {
    position: absolute;
    right: 0;
    top: 27px;
    z-index: 9;
    background-color: #fff;
    width: 65px;
    & .story-content__item {
      margin-bottom: 12px;
      a {
        text-decoration: none;
      }
    }
  }
  & .icon-compartir {
    right: 0;
    position: absolute;
    top: 30px;
    cursor: pointer;
  }
}
.gv {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
}

.gvi {
  .story-content__gallery-img {
    height: auto;
  }
}
