// Variables
$colorTextTitle: #444;

.story-header {
  &__news-title {
    clear: both;
    color: $colorTextTitle;
  }

  &__news-summary {
    color: $colorTextTitle;
    word-wrap: break-word;
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &__list {
    width: 150px;
  }

  &__share {
    border-color: $color-gray-200;
  }
}
