.video-list {
  background-color: #222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0 20px;
  content-visibility: auto;
  contain-intrinsic-size: 1000px;

  @media (--tablet) {
    justify-content: space-between;
    margin-top: 50px;
  }

  &__item {
    width: 100%;
    margin-bottom: 10px;

    @media (--tablet) {
      width: 48%;
    }

    @media (--desktop) {
      width: calc(25% - 10px);
    }
  }

  &__link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__image {
    height: 100%;
    min-height: 127px;
    background-color: #aaa;

    @media (--tablet) {
      max-height: 186px;
    }

    @media (--desktop) {
      max-height: 150px;
    }
  }

  &__duration {
    font-size: 12px;
    text-align: center;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 5px;
    width: 64px;
    height: 24px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 10px;
    bottom: 1px;

    @media (--desktop) {
      bottom: 2px;
    }
  }

  &__new {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #ddd;
  }

  &__btn-container {
    display: flex;
    justify-content: center;
    padding: 35px 0 50px;
    width: 100%;

    button {
      border: 1px solid #fff;
      border-radius: 5px;
      color: #fff;
      overflow: hidden;
      padding: 10px 20px;
      width: 100%;

      @media (--tablet) {
        width: 225px;
      }
    }

    .spinner {
      content-visibility: auto;
      contain-intrinsic-size: 100px;
      padding: 0;
    }

    .spinner__svg {
      -webkit-animation: b 1.4s linear infinite;
      stroke: #fff;
      animation: b 1.4s linear infinite;
      height: 19px;
    }

    .spinner__circle {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      -webkit-animation: c 1.4s ease-in-out infinite,
        colors 5.6s ease-in-out infinite;
      animation: c 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
      transform-origin: center;
    }
  }
}

@-webkit-keyframes b {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@keyframes b {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(270deg);
  }
}

@-webkit-keyframes c {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  to {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes c {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  to {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
