.videos {
  background-color: #222;

  & .st-sidebar__container {
    background-color: #222;
  }

  & .st-sidebar__content {
    background-color: #222;
  }

  & .header-full.active {
    background-color: #333;
    z-index: 6;

    .header-full__btn-menu svg {
      fill: #fff;
    }

    .header-full__box-logo {
      background-color: #fff;
    }

    .nav__story-title {
      color: #fff;
    }

    .story-header__list .share-btn--gnews {
      color: #fff;
      border-color: #fff;
    }

    .story-header__list svg,
    .story-header__list path {
      fill: #fff;
    }

    .header-full__edicion {
      margin-bottom: 5px;
    }

    .nav__load-bg {
      display: none;
    }

    .nav__loader-bar {
      display: none;
    }
  }
}
