.tabloid {
  &__header {
    height: 40px;
  }

  &__date {
    height: 40px;
    bottom: 16px;
  }

  &__face {
    /*
      si se hacen cambios en estas dimensiones, 
      verificar el tamano de la imagen en 
      feature/cards/tabloid/default.jsx
    */
    height: 266px;
  }
}
