.tabloide {
  background-color: #c5e2f7;

  &__header {
    background-color: #26567f;
    height: 60px;

    & a {
      color: #fff;
    }
  }

  &__date {
    height: 40px;

    & a {
      color: #000;
    }
  }

  &__face {
    height: 242px;
    width: 242px;
  }
}
