.header {
  background-image: url(/pf/resources/dist/elbocon/images/bc-tramado-nav.png);
  background-color: $color-gray-300;

  &__link {
    text-transform: capitalize;
    color: $color-gray-300;
  }
  &__logo {
    position: relative;
    z-index: 1;
    @media (--desktop) {
      height: 58px;
    }
  }
}
