// @import "../base/responsive";
.profile-header {
  &__wrapper {
    background: gray;
    color: white;
    position: relative;
    width: 100%;
    &.border-trome {
      box-shadow: 0 0 0 5px black;
    }
  }
  &__back {
    background: transparent;
    border: 0;
    color: white;
    width: 25%;
    cursor: pointer;
    height: 50px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 15px;
    margin: 0;
    text-align: left;

    @media (--subs-desktop) {
      padding: 0;
    }
    & > span {
      text-decoration: underline;
      margin-left: 20px;
      font-size: 14px;
      display: none;
      @media (--subs-tabletl) {
        display: inline-block;
      }
    }
  }
  &__content {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    box-sizing: border-box;
  }
  &__close {
    color: #eee;
    width: 35px;
    cursor: pointer;
    height: 35px;
    line-height: 20px;
    vertical-align: top;
    float: right;
    margin: 10px 10px 0 0;
  }
  &__logo {
    width: 50%;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 65px;

    & > .cont {
      height: 50px;
      padding: 5px 10px;
      margin: 0 auto;
      & > img {
        max-width: 160px;
        height: auto;
      }
    }

    & > .cont_left {
      position: absolute;
      left: 0;
    }

    & > .cont_depor {
      background-color: #d5d745;
      -webkit-transform: skew(-13deg);
      transform: skew(-13deg);
      max-width: 120px;
      & > img {
        -webkit-transform: skew(13deg);
        transform: skew(13deg);
      }
    }

    & > .cont_elcomercio {
      display: inline;
    }

    & > .cont_gestion {
      display: inline;
      & > img {
        max-width: 140px;
      }
    }

    & > .cont_trome {
      padding: 0 0;
      & > img {
        max-width: 180px;
      }
    }

    & > .cont_elbocon {
      padding: 0 0;
      & > img {
        max-width: 138px;
      }
    }

    & > .cont_peru21 {
      display: inline;
      & > img {
        max-width: 120px;
      }
    }

    & > .cont_peru21g21 {
      & > img {
        max-width: 58px;
      }
    }

    & > .cont_diariocorreo {
      padding: 0 0;
      & > img {
        max-width: 43px;
      }
    }

    & > .cont_elcomerciomag {
      & > img {
        max-width: 86px;
      }
    }

    & > .cont_ojo {
      display: inline;
      & > img {
        max-width: 68px;
      }
    }
  }
}
