.profile-menu {
  background: transparent;
  position: relative;
  padding: 10px 20px 0 20px;
  margin-top: -80px;
  z-index: 0;

  @media (--subs-tabletl) {
    border-radius: 4px;
    box-shadow: 0 0 0.3rem #dadada;
    background: white;
    padding: 80px 20px 20px 20px;
    margin-top: -60px;
  }

  @media (--subs-desktop) {
    padding: 80px 40px 20px 40px;
  }

  &__hello {
    color: #000;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: capitalize;
  }
  &__welcome {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__body {
    position: relative;
    overflow: hidden;

    @media (--subs-mobile) {
      background: #fbfbfb;
      margin-left: -20px;
      margin-right: -20px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1em;
        height: 100%;
        top: 0;
        z-index: 1;
      }
      &::before {
        left: 0;
        background: linear-gradient(
          to right,
          #bbb 5%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &::after {
        right: 0;
        background: linear-gradient(
          to left,
          #bbb 5%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      & > ul {
        overflow-x: scroll;
        white-space: nowrap;
      }
    }

    & > ul > li {
      display: inline-block;
      vertical-align: top;
      padding: 16px 15px;
      border-top: 1px solid #e8e8e8;
      @media (--subs-mobile) {
        &:first-child {
          padding-left: 40px;
        }
        &:last-child {
          padding-right: 40px;
        }
      }

      @media (--subs-tabletl) {
        padding: 16px 0;
        display: block;
      }
    }

    & > ul > li > a,
    & > ul > li > button {
      color: steelblue;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }

    & .close-sesion {
      color: #bbb;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
