.separator {
  border: 0;
  padding: 0;
  margin: 0;
  &__article {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  &__body {
    @media (--tablet) {
      height: 220px;
    }
  }
  &__item {
    background-color: $color-base-300;
    &:before {
      display: none;
    }
  }
  &__detail {
    position: relative;
    @media (--only-mobile) {
      padding-top: 10px;
    }
  }
  &__header-title {
    display: none;
  }
  &__title {
    color: $color-gray-300;
    font-weight: 700;
  }
  &__img {
    max-height: 130px;
  }
}
