.extraordinary-story {
  margin-top: 10px;
  &__title {
    font-size: 1.625rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    @media (--tablet) {
      font-size: 2rem;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
  }
  &__section {
    background-color: $color-base-100;
    padding-top: 10px;
    text-align: center;
  }
  &__section-link {
    color: #fff;
  }
  &__author-link {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
}
