.featured-story {
  @media (--tablet) {
    padding: 10px;
  }
  &__detail {
    @media (--tablet) {
      padding: 10px 0;
    }
  }
  &__category-link,
  &__title-link {
    font-weight: 700;
  }
  &__category::before {
    content: '';
    border-bottom: 1px solid $color-gray-300;
    display: block;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 25px;
    top: -2px;
  }
  &.img-complete {
    .featured-story__category {
      &::before {
        border-color: $color-white;
      }
    }
    .featured-story__icon {
      @media (--tablet) {
        left: auto;
        right: 20px;
      }
    }
  }
  &.expand {
    padding: 10px;
    .featured-story__detail {
      padding: 10px 0;
    }
  }
}
