.featured-story {
  @media (--tablet) {
    padding: 10px;
  }
  &__detail {
    @media (--tablet) {
      padding: 10px 0;
    }
  }
  &__category-link {
    font-size: 16px;
    text-transform: capitalize;
  }

  &__category-link,
  &__title-link {
    font-weight: 700;
  }
  &__category::before {
    content: '';
    border-bottom: 1px solid $color-gray-300;
    display: block;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 25px;
    top: -2px;
  }
  &__author-link {
    font-size: 11px;
  }
  &.img-complete {
    .featured-story__category {
      &::before {
        border-color: $color-white;
      }
    }
    .featured-story__icon {
      @media (--tablet) {
        left: auto;
        right: 20px;
      }
    }
    .featured-story__title-link {
      font-size: 26px;
      @media (--tablet) {
        line-height: 30px;
      }
    }
  }
  &.expand {
    padding: 10px;
    .featured-story__detail {
      padding: 10px 0;
    }
  }
  &--live {
    .featured-story__headband-link {
      background-color: $color-primary;
      max-width: 160px;
      width: 100%;
      @media (max-width: 345px) {
        font-size: 10px;
      }
      &:after {
        content: '';
        position: absolute;
        border-top: 13px solid transparent;
        border-left: 14px solid $color-primary;
        border-bottom: 15px solid transparent;
        top: 0;
        left: 100%;
      }
    }
  }
}
