.featured-story {
  @media (--tablet) {
    padding: 10px;
  }
  &__detail {
    @media (--tablet) {
      padding: 10px 0;
    }
  }
  &__category-link {
    font-size: 1rem;
    text-transform: none;
  }

  &__category-link,
  &__title-link,
  &__author-link {
    font-family: $primary-font;
  }
  &__title-link {
    font-size: 1.4rem;
    font-weight: 700;
    @media (--tablet) {
      font-size: 1.25rem;
    }
  }
  &__category::before {
    content: '';
    border-bottom: 1px solid $color-gray-300;
    display: block;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 25px;
    top: -5px;
  }
  &__author-link {
    font-size: 11px;
  }
  &__icon {
    background-color: transparent;
  }
  &.img-complete {
    .featured-story__category {
      &::before {
        border-color: $color-white;
      }
    }
    .featured-story__icon {
      @media (--tablet) {
        left: auto;
        right: 20px;
      }
    }
    .featured-story__title-link {
      font-size: 1.4rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      @media (--only-mobile) {
        max-height: calc(1.4rem * 1.333 * 4);
      }
      @media (--tablet) {
        font-size: 1.25rem;
      }
    }
    &.expand {
      .featured-story__title-link {
        font-size: 1.4rem;
        max-height: calc(1.4rem * 1.333 * 4);
        @media (--tablet) {
          font-size: 1.4rem;
          max-height: calc(1.625rem * 1.333 * 4);
        }
      }

      .featured-story__detail {
        height: auto;
      }
      .featured-story__title {
        max-width: 260px;
      }
    }
  }
  &.expand {
    padding: 10px;
    .featured-story__detail {
      padding: 10px 0;
    }
    .featured-story__title {
      @media (--only-mobile) {
        max-width: 100%;
      }
    }
  }
  &--live {
    .featured-story__headband-link {
      background-color: #f15a24;
      max-width: 160px;
      width: 100%;
      @media (max-width: 345px) {
        font-size: 10px;
      }
      &:after {
        content: '';
        position: absolute;
        border-top: 13px solid transparent;
        border-left: 14px solid #f15a24;
        border-bottom: 15px solid transparent;
        top: 0;
        left: 100%;
      }
    }
    &.featured-story--no-expanded {
      .featured-story__title-link {
        @media (--only-mobile) {
          -webkit-line-clamp: 3;
          max-height: 68px;
        }
      }
    }
  }
  &--no-expanded {
    .featured-story__title-link {
      @media (--only-mobile) {
        font-size: 1.1rem;
        max-height: calc(1.1rem * 1.333 * 4);
      }
    }
    .featured-story__img-link {
      @media (--only-mobile) {
        min-width: 110px;
        width: 110px;
        height: 115px;
      }
    }
    .featured-story__detail {
      @media (--only-mobile) {
        padding: 0;
      }
    }
  }
}
