.story-item {
  border-top: 1px solid $color-gray-200;
  border-bottom: 0;
  padding-top: 20px;
  max-width: 800px;
  margin: auto;

  @media (--only-mobile) {
    width: calc(100% - 40px);
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media (--desktop) {
    padding-top: 20px;
  }

  &__left {
    flex-direction: row;
    position: relative;
  }
  &__top {
    &::before {
      content: '';
      display: block;
      background-color: $color-white;
      width: 96px;
      position: absolute;
      height: 2px;
      top: -22px;
      @media (--tablet) {
        width: 112px;
      }
    }
  }
  &__section {
    display: none;
    color: #777777;
    padding-left: 0;
    font-size: 11px;
    text-transform: uppercase;
    @media (--tablet) {
      font-size: 11px;
      margin-bottom: 0;
    }
    &.story-item__section--desktop {
      display: block;
    }
  }
  &__date {
    color: $color-yellow;
    border-top: 1px dashed $color-yellow;
    padding-top: 32px;
    position: absolute;
    top: -26px;
    width: 88px;
    font-size: 17px;
    @media (--only-mobile) {
      margin-top: 5px;
      width: 74px;
      font-size: 14px;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: #666666;

    font-family: $fifth-font;
    @media (--tablet) {
      display: block;
    }
  }
  &__content-title,
  &__subtitle,
  &__section--desktop {
    padding-left: 111px;
    @media (--only-mobile) {
      padding-left: 96px;
    }
  }
  &__bottom {
    margin: 0 auto;
  }
  &__icon {
    z-index: 1;
    font-size: 50px;
    height: 50px;
    @media (--tablet) {
      font-size: 50px;
      height: 50px;
    }
  }
  &__title {
    @media (--desktop) {
      font-size: 24px;
      line-height: 28px;
    }
    font-family: $fourth-font;
    line-height: 22px;
    letter-spacing: 0px;
    color: $color-gray-300;
    font-weight: 700;
  }
  &__right {
    @media (--tablet) {
      width: 225px;
      height: 128px;
    }
  }
  &--row {
    .story-item__bottom {
      @media (--tablet) {
        flex-direction: row;
        max-width: 100%;
      }
    }
    .story-item__top {
      &::before {
        left: 0;
      }
    }
    .story-item__left {
      padding-left: 0;
    }
  }
}
