.st-interest {
  &__item {
    margin-bottom: 40px;
    @media (--tablet) {
      width: 50%;
      display: inline-flex;
      &:nth-child(even) {
        padding-left: 5px;
      }
      &:nth-child(odd) {
        padding-right: 5px;
      }
    }
  }
  &__detail-section {
    color: #aaa;
    text-transform: uppercase;
  }
  &__item-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }
  &__link-img {
    object-fit: cover;
  }
}
