.bp-content {
  background-color: $color-white;

  &__author {
    color: #8f071f;
  }

  &__date {
    color: #999;
  }

  &__header {
    font-size: 11px;
    vertical-align: middle;
  }

  // Origen de etiquetas externo, se tienen que definir asi los estilos

  &__story {
    font-size: 20px;
    line-height: 1.4;

    img {
      width: 100%;
      height: 100%;
    }

    p {
      margin: 0 0 30px;
    }
  }
}