.nav {
  &.active {
    .nav__wrapper {
      background-color: $color-base-400;

      @media (--tablet) {
        background-color: $color-base-400;
      }
    }

    .nav__container-right {
      @media (--only-mobile) {
        right: 10px;
      }
      // @media (--tablet) {
      //   display: none;
      // }
      @media (--desktop) {
        display: block;
      }
    }
  }

  &__btn-subs{
    background-color: $color-white;
    color: #444444;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
    border: 1px solid $color-white;
    padding: 8px 12px;
    &:hover{
      text-decoration: none;
    }
    @media (--only-mobile) {
      font-family: sans-serif;
      background-color: $color-secondary;
      color: $color-primary;
      height: auto;
      padding: 5px 7px;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: normal;
      border: 1px solid $color-secondary;
    }
  }
  
  &__btn,
  &__icon-search {
    @media (--desktop) {
      color: $color-white;
    }

    &--section {
      padding-left: 0;

      span {
        font-family: $tertiary-font;
      }
    }
  }

  &__btn {
    &.active {
      & .nav__icon-search {
        color: $color-base-400;
      }
    }
  }

  &__mobile-logo {
    @media (--only-mobile) {
      left: 35%;
    }
  }

  &__logo {
    padding: 10px 0;
  }

  &__container-right {
    background-color: transparent;
  }

  &__input-search {
    color: $color-white;
    font-family: $tertiary-font;
    font-weight: 700;

    &::placeholder {
      color: $color-white;
    }

    &.active {
      background-color: $color-white;
      color: $color-base-400;
      border-color: $color-white;
    }
  }

  &__container-menu,
  &__search-box {
    z-index: 1;
    @media (--desktop) {
      border-right-color: $color-white;
    }
  }

  &__list-link {
    font-weight: 700;
    font-family: $tertiary-font;
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }

  &__wrapper {
    &:first-child {
      background-color: $color-base-400;
    }
    @media (--tablet) {
      background-color: transparent;
      color: $color-gray-300;
      padding: 0 20px;
    }
  }

  /*   Estilos para nav loader en notas */
  &__loader {
    left: 0;
    top: 0;
    height: 100%;
    background-color: $color-gray-300;
  }
  &__loader-bar {
    background-color: #9f2321;
  }
}
