$color-gray-100: #ddd;

.st-foot {
  background-color: $color-white;
  font: 400 13px/20px $primary-font;
  padding: 20px 30px;
  flex-direction: column;
  @media (--desktop) {
    flex-direction: initial;
    align-items: flex-start;
    font: 400 11px/17px $primary-font;
  }

  &__img-box {
    padding: 10px 0;
    @media (--desktop) {
      padding: 10px 30px 10px 0;
    }
  }

  &__img {
    width: 180px;
    @media (--desktop) {
      width: 130px;
    }
  }

  &__content {
    flex: 1;
    flex-direction: column;
    text-align: center;

    @media (--desktop) {
      border-left: 1px solid $color-gray-100;
      flex: unset;
      flex-direction: initial;
      align-items: flex-start;
      text-align: initial;
    }
  }

  &__block {
    color: $color-gray-300;
    white-space: nowrap;
    padding: 15px;
    border-bottom: 1px solid $color-gray-100;
    @media (--desktop) {
      padding: 0 30px;
      border-right: 1px solid $color-gray-100;
      border-bottom: unset;
    }
    &:last-child {
      border-right: unset;
      border-bottom: unset;
    }
  }

  &__link {
    text-decoration: underline;
    @media (--desktop) {
      text-decoration: none;
    }
  }
}
