.video-list {
  &__section {
    font-family: $primary-font;
  }
  &__new {
    font-weight: 700;
    font-family: $primary-font;
    font-size: 1rem;
  }
}

.video-list__btn-container {
  button {
    color: #222;
    border: 1px solid #222;
    svg {
      stroke: #222;
    }
    &:hover {
      background-color: #5fbb46;
      color: #fff;
      svg {
        stroke: #fff;
      }
    }
  }
}
