.separator {
  &__opinion {
    background-color: #c9ccd1;
    position: relative;
    padding-top: 20px;
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-top: solid 32px $color-white;
      border-right: solid 40px transparent;
      top: 0;
      position: absolute;
      left: 30px;
    }
    &--body {
      flex-wrap: wrap;
    }
    &--item-details {
      @media (--only-mobile) {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &--item-image {
      width: 150px;
      height: 130px;

      @media (--only-mobile) {
        margin-bottom: 0;
      }
      img {
        border-radius: 0;
      }
    }
    &--item {
      background-color: transparent;
      @media (--only-mobile) {
        display: block;
        margin-bottom: 10px;
        width: 46%;
      }
    }
    &--item-twoline {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      height: 60px;
      a {
        font-family: $primary-font;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        color: #61656e;
      }
    }
    &-description {
      font-family: $primary-font;
      @media (--only-mobile) {
        position: relative;
        left: 90px;
        top: -18px;
        width: calc(100% - 80px);
      }
      a {
        font-size: 17px;
        @media (--tablet) {
          font-size: 16px;
        }
      }
    }
    &-name {
      font-family: $primary-font;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 30px;
      margin-bottom: 10px;
      @media (--only-mobile) {
        margin-top: 10px;
        margin-bottom: 0;
      }
      &::before,
      &::after {
        display: none;
      }
      a {
        font-size: 12px;
        line-height: 14px;
        color: $color-white;
        font-family: $fifth-font;
        text-transform: uppercase;
      }
    }
    &-title {
      a {
        color: $color-white;
        font-weight: 700;
        font-family: $primary-font;
        font-size: 24;
      }
    }
  }
}
