/******* Variables Lite *******/
$primary-font: "Fira Sans", sans-serif;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Exo";
$fourth-font: "Fira Sans", sans-serif;
$fifth-font: "Roboto", sans-serif;
