/******* Nav dimensions *******/
$nav-height: 45px;
$nav-height-mobile: 58px;
/*-----------------------*/

/******* Header dimensions *******/
$header-inverted-height: 45px;
$header-mobile-height: 60px;
$header-logo-height: 44px; // old 34px
/*-----------------------*/
