.story-content {
  &__date{
    font-family: $primary-font;
  }
  &__font--secondary{
    font-family: $primary-font;
  }
  &__font--secondary {
    a {
      color: $color-primary;
      font-weight: bold;
    }
  }
  &__caption {
    color: $color-primary;
  }
  &__taboola {
    .thumbnails-a {
      width: 100% !important;
      height: auto;
    }
  }
}
.story-content li span a{
  color:#2b7bb9;
}
