.story-contents {
  &__author {
    font-size: 16px;
    letter-spacing: 0.42px;
    color: #807e7e;
    font-family: $primary-font;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    @media (--only-mobile) {
      flex-direction: column-reverse;
    }
  }
  &__author-info {
    align-items: center;
    display: flex;
    @media (--only-mobile) {
      flex-direction: row;
    }
  }
  &__author-link {
    font-family: $primary-font !important;
    font-size: 16px !important;
    font-weight: 700;
    display: inline-block;
    color: #333;
    margin-bottom: 6px;
  }
  &__author-image {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    border-radius: 50%;
  }
  &__author-role {
    font-family: $primary-font;
    font-size: 12px;
    margin-bottom: 6px;
    color: #444;
  }
  &__author-email {
    font-family: $primary-font;
    font-size: 12px;
    color: #747a84;
  }
  &__author-date {
    line-height: 18px;
    color: #888;
    font-size: 12px;
    font-family: $primary-font;
    flex-direction: column;
    @media (--desktop) {
      font-size: 12px;
    }
    @media (--only-mobile) {
      margin-bottom: 15px;
    }
  }

  &__author-top {
    justify-content: flex-end;
  }
}
.gv {
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}
