.s-multimedia {
  letter-spacing: 0;
  font-family: $primary-font;
  font-size: 13px;
  padding: 0 20px 0;

  &__caption {
    font-family: $fira-s;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 18px;
    padding: 10px 0;
    color: rgba(68, 68, 68, 0.973);
    border-bottom: 1px solid #aaa;

    @media (--desktop) {
      line-height: 16px;
      letter-spacing: 0;
      padding: 8px 0;
    }

    a {
      color: #d35b2c;
    }
  }

  &__audio {
    padding-top: 10px;
  }

  &__embed {
    @media (--desktop) {
      padding: 0 20px 0 20px;
    }
  }

  &__image {
    min-height: 157px;

    @media (--tablet) {
      min-height: 330px;
    }

    &--big {
      @media (--desktop) {
        height: 528px;
      }
    }
  }

  &__lL-video,
  &__p-default {
    background-color: #000;
    height: 157px;

    @media (--desktop) {
      height: 345px;
    }
  }
}
