.confirmation-notice {
  justify-content: center;
  font-size: 12px;
  padding: 10px 15px;
  @media (--desktop) {
    padding: 15px;
  }
  & p {
    text-align: center;
    line-height: 16px;
    @media (--tablet) {
      text-align: left;
    }
  }
  &__counter {
    margin-top: 5px;
    margin-left: 5px;
    @media (--tablet) {
      margin-top: 0;
    }
  }
  &__link {
    font-weight: bold;
    margin-top: 5px;
    @media (--tablet) {
      margin-top: 0;
    }
  }
  &__btn-closed {
    top: 50%;
    transform: translateY(-50%);
  }
}
