.most-read-premium-footer {
  display: flex;
  padding-bottom: 10px;
  &__link {
    padding: 0;
    width: 90px;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: $color-base-100;
    color: $color-gray-300;
    font-size: 14px;
    line-height: 15px;
    font-family: $tertiary-font;
    font-weight: 700;
    text-transform: capitalize;
  }
}
