.st-continue {
  content-visibility: auto;
  contain-intrinsic-size: 100px;
  padding: 20px 0 50px 0;
  border-top: 1px solid #dadada;
  &__progress {
    height: 88px;
    width: 88px;
    background: #999;
    border-radius: 50%;
    // position: relative;
    transform: rotate(105deg);
    &::after {
      content: "";
      height: 78px;
      width: 78px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
    &::before {
      content: "";
      height: 100px;
      width: 67px;
      position: absolute;
      background: transparent
        linear-gradient(375deg, #fff 61%, rgba(255, 255, 255, 0) 90%) 0% 0%
        no-repeat padding-box;
      top: -9px;
      left: -9px;
    }
    &.loading {
      animation: spin 1s ease infinite;
    }
  }
  &__container {
    margin-left: 22px;
    flex-direction: column;
    max-width: 212px;
    @media (--tablet) {
      max-width: 400px;
    }
    span {
      font-size: 15px;
      font-style: italic;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
  }
}

.minuto_minuto {
  .st-continue__progress {
    &::after {
      background: #f4f4f4;
    }
    &::before {
      background: transparent
        linear-gradient(375deg, #f4f4f4 61%, rgba(255, 255, 255, 0) 90%) 0% 0%
        no-repeat padding-box;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
