.extraordinary-story {
  &__content {
    padding-left: 0
  }

  &__section {
    padding-left: 0;
    background-color: transparent;
    color: $color-primary;
  }

  &__title {
    color: $color-primary;
    line-height: 34px;
  }
}