.featured-story {
  &__category {
    @media (--tablet) {
      color: $color-primary;
      border: 1px solid $color-primary;
      padding: 7px 11px;
    }

    &::after {
      display: none;
    }
  }

  &__category-link {
    color: $color-primary;
  }

  &__title-link {
    color: $color-base-300;

    @media (--tablet) {
      padding-top: 10px;
    }
  }

  &__author-link {
    color: $color-gray-200;
    font-family: $font-regular;
  }

  &.img-complete {
    .featured-story__category {
      border-color: $color-white;
    }

    @media (--tablet) {
      .featured-story__image {
        &::before {
          height: 100%;
          background: linear-gradient(to bottom,
              rgba(0, 0, 0, 0.01) 58%,
              rgba(14, 33, 13, 0.65) 87%,
              #0e210d 100%);
        }
      }
    }
  }

  &.expand {
    .featured-story__category {
      // color: $color-primary;
      border: 1px solid $color-primary;
    }

    .featured-story__category-link {
      color: $color-primary;
    }

    .featured-story__title-link {
      padding-top: 10px;
    }

    &.img-complete {
      .featured-story__category {
        border: 1px solid $color-white;
      }

      .featured-story__image {
        &::before {
          height: 100%;
          background: linear-gradient(to bottom,
              rgba(0, 0, 0, 0.01) 58%,
              rgba(14, 33, 13, 0.65) 87%,
              #0e210d 100%);
        }
      }
    }
  }
}