.separator {
  border-top: 2px solid $color-primary;
  &__item {
    &::before {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.01) 58%,
        rgba(14, 33, 13, 0.65) 87%,
        #0e210d 100%
      );
    }
  }
  &__link {
    font-family: $font-regular;
  }
  &__title-link {
    font-family: $font-regular;
  }
  &__header-link {
    color: $color-primary;
  }
}
