.story-content {
  &__font--secondary {
    font-family: $secondary-font;
    a {
      color: $color-primary;
      font-weight: bold;
    }
  }
  &__caption {
    color: #000000;
  }

  &__author {
    font-family: $secondary-font;
  }
}
