/******* Brand colors *******/
$color-primary: #007C31;
$color-secondary: #D4D63C;
$color-tertiary: #F35910;
/*-----------------------*/
$color-base-400: #016023;
$color-base-300: #2AA55B;
$color-base-200: #85DFA9;
$color-base-100: #C5F6D9;
/*-----------------------*/

/******* Other colors *******/
$color-link: #006097;
/*-----------------------*/

/******* Grayscale *******/

/*-----------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-white;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Footer Amp colors *******/
$footer-background: $color-primary;
$footer-text-color: $color-black;
/*-----------------------*/

/******* Background-text contrast *******/
.bg-color--link {
  background-color: $color-link;
  color: $color-white;
}

.bg-color--white {
  background-color: $color-white;
  color: $color-gray-300;
}

.bg-color--error {
  background-color: $color-error;
  color: $color-white;
}

.bg-color--dark {
  background-color: $color-gray-300;
  color: $color-white;
}

/*-----------------------*/