/******* Brand colors *******/
$color-primary: #007c31;
$color-secondary: #9abf16;
$color-tertiary: #f15a24;
/*-----------------------*/

/******* Other colors *******/
$color-link: #524cff;
$color-white: #ffffff;
$color-error: #ff0000;
/*-----------------------*/

/******* Grayscale *******/
$color-black: #000000;
$color-dark: #1f1f1f;
$color-gray: #373737;
$color-silver: #a5a9a9;
$color-soft: #e7ebed;

$color-navy-blue: #006097;
/*-----------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-white;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-dark;
/*-----------------------*/

/******* Footer Amp colors *******/
$footer-background: #007c31;
$footer-text-color: $color-black;
/*-----------------------*/

/******* Background-text contrast *******/
.bg-color--link {
  background-color: $color-link;
  color: $color-white;
}

.bg-color--white {
  background-color: $color-white;
  color: $color-dark;
}

.bg-color--error {
  background-color: $color-error;
  color: $color-white;
}

.bg-color--dark {
  background-color: $color-dark;
  color: $color-white;
}

.bg-color--lightblue1 {
  background-color: $color-lightblue;
}

.bg-color--red {
  background-color: $color-error;
}

.bg-color--blue {
  background-color: $color-link;
}

.bg-color--green {
  background-color: $color-success;
}

.bg-color--navy-blue {
  background-color: $color-navy-blue;
}

/*-----------------------*/