/******* Brand colors *******/
$color-primary: #007C31;
$color-secondary: #D4D63C;
$color-tertiary: #F35910;
/*-----------------------*/
$color-base-400: #016023;
$color-base-300: #2AA55B;
$color-base-200: #85DFA9;
$color-base-100: #C5F6D9;
/*-----------------------*/

/******* Other colors *******/
$color-link: #006097;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/
/******** border colors *********/
$border-color-base: $color-primary;

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-white;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Footer Amp colors *******/
$footer-background: $color-primary;
$footer-text-color: $color-black;
/*-----------------------*/