/******* Row dimensions *******/
$height-row: 374px;
$row-parts: 6;
/*-----------------------*/

/******* Spacing *******/
$spacing-small: 10px;
$spacing-normal: 20px;
$spacing-large: 30px;
/*-----------------------*/

/******* Header dimensions *******/
$header-logo-height: 50px;
/*-----------------------*/