/******* Row dimensions *******/
$heightRow: 374px;
$rowParts: 6;
/*-----------------------*/

/******* Spacing *******/
$spacingSmall: 10px;
$spacingNormal: 20px;
$spacingLarge: 30px;
/*-----------------------*/

/******* Header dimensions *******/
$header-logo-height: 50px;
/*-----------------------*/