.custom-title {
  padding-left: 20px;
  @media (--desktop) {
    padding-left: 0px;
  }
  @media (--tablet) {
    padding-left: 0px;
  }
  &__button {
    top: 50%;
    transform: translateY(-50%);
  }
  &.large {
    font-size: 2rem;
  }
  &.medium {
    font-size: 1.5rem;
  }
}
