.extraordinary-l-score {
  &__img-link {
    @media (--desktop) {
      width: 65%;
    }
  }
  &__content {
    @media (--desktop) {
      width: 35%;
    }
  }
  &__team {
    background-color: #28b1e2;
  }
  &__live {
    font-size: 11px;
    font-family: $fourth-font;
    display: inline-flex;
    transform: translateY(-20%);
    @media (--tablet) {
      transform: translateY(-50%);
    }
  }
  &__live-icon {
    background-color: #ed1c26;
    height: 11px;
    width: 11px;
  }
}
