.newsletter {
  &__custom {
    @media (--desktop) {
      max-width: 650px;
      padding: 0 60px;
      align-items: inherit;
    }

    @media (--only-mobile) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (--desktop) {
      max-width: 1274px;
      align-items: inherit;
      min-height: auto;
      padding: 0;
    }

    .newsletter {
      &__button {
        font-size: 15px;
        background: #e52322;
        border: 3px solid #b72d2b;
        color: white;
        font-family: $fourth-font;
        height: 50px;
        max-width: 100%;
      }

      &__subtitle {
        color: #000;
        font-size: 16px;
        font-family: $fourth-font;
        font-weight: normal;
        text-align: center;
      }

      &__wrapper-logo {
        height: 40px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
      }

      &__tos {
        max-width: 83%;
        margin: 0 auto;
        font-size: 13px;
        color: #000;
      }

      &__logo {
        max-width: 160px;
        top: -70px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &__icon {
        height: 28px;
      }

      &__checkmark {
        width: 60px;
        height: 60px;
      }

      &__box-subscription {
        align-self: center;
        background-color: #f4f4f4;
        border-radius: 12px !important;
        border: 1px solid #e4e4e4;
        min-width: -webkit-fill-available;
        padding: 15px !important;
        position: relative;
        margin-top: 0;

        @media (--desktop) {
          max-width: 450px;
          border-radius: 12px !important;
        }
      }

      &__description {
        color: #666;
        margin-block-start: 1em;
        margin-block-end: 1em;
      }

      &__email {
        height: 50px;
        font-size: 16px;
        font-family: $fourth-font;
        font-weight: normal;
        border-color: #e8e8e8;
      }

      &__title {
        color: #666;

        &::after {
          background-color: $color-primary;
          bottom: 0;
          content: "";
          height: 5px;
          left: 0;
          overflow: hidden;
          position: absolute;
          width: 115px;
        }
      }

      &__strong {
        font-size: 55px;

        @media (--desktop) {
          font-size: 70px;
        }
      }

      &__policies {
        color: #333;
        font-size: 13px;
        font-family: $fourth-font;
      }

      &__page-link {
        color: #333;
        font-size: 13px;
        text-decoration: none;
      }

      &__input-checkbox {
        margin-top: 1px;
      }
    }
  }
}
