.story-author-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  &__img {
    height: 48px;
    width: auto;
    display: block;
  }
  &__url {
    font: 400 1.5rem/1.166 $primary-font;
    color: #8f071f;
    padding-left: 15px;
  }
}
