.author-description {
  &__image {
    border-radius: 50%;
    width: 59px;
    position: relative;
    top: 10px;
    vertical-align: top;
  }

  &__social {
    padding-bottom: 17px !important;
  }
}
