/******* Brand colors *******/
$color-primary: #c00000;
$color-secondary: #ed1c24;
$color-tertiary: #eb1c23;
/*-----------------------*/
$color-base-400: #1b2c3b;
$color-base-300: #444444;
$color-base-200: #7f7f7f;
$color-base-100: #a8a89b;
/*-----------------------*/

/******* Other colors *******/
$color-link: #524cff;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/
/******** border colors *********/
$border-color-base: $color-base-200;

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;

/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Colors Signwall *******/
$signwall-color-item-title: $color-tertiary;
$signwall-color-link: $color-primary;
$signwall-login-text: $color-base-100;
$signwall-login-bg: $color-primary;
/*----------------------------*/

/*-------------CALENDAR----------------*/
$calendar-background: #8f071f;
$calendar-title: #ffffff;
$calendar-bg-icon: #ffffff;
$calendar-icon: #8f071f;
/*-------------CALENDAR----------------*/
