@import "../../general-styles/framework/variables/index";
@import "./scss/variables/index";

@import "./scss/variables/lite/fonts";

@import "../../general-styles/framework/core/reset";
@import "./scss/parallax/core.scss";
@import "../../general-styles/framework/core/ads";

.l-parallax {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 0;
  &__p {
    padding-top: calc(100vh - 60px);
    z-index: 0;
  }
  &__content {
    background-color: #fff;
    z-index: 1;
    position: relative;
  }
  &__g {
    height: 163px;
    position: relative;
    background: transparent linear-gradient(180deg, #fff0 0%, #fff 100%) 0% 0%
      no-repeat padding-box;
    opacity: 1;
  }
}

// Estilos heredados
@import "./scss/lite-components/features/header/basic/h-basic";
@import "./scss/lite-components/features/header/basic/menu";
@import "./scss/lite-components/features/story/contents/contents-inline";
@import "./scss/lite-components/features/footer/story/st-foot";

// Custom styles
@import "./scss/parallax/features/header/h-basic.scss";
@import "./scss/parallax/features/story/featured-image/featured-img.scss";
@import "./scss/parallax/features/story/contents/story-contents.scss";
@import "./scss/parallax/features/story/subscription-call/story-subs-call.scss";

.parallax-image {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 128px 0;

  h3 {
    font: 700 24px/32px $primary-font;
    padding: 0 20px;
    letter-spacing: 0.77px;
    text-align: center;
    color: #fff;
    @media (--desktop) {
      font: 700 24px/52px $primary-font;
    }
  }

  &::after,
  &::before {
    content: "";
    height: 128px;
    display: block;
    width: 100%;
    opacity: 1;
    position: absolute;
  }
  &::after {
    top: 0;
    background: transparent linear-gradient(0deg, #fff0 0%, #fff 100%) 0% 0%
      no-repeat padding-box;
  }
  &::before {
    bottom: 0;
    background: transparent linear-gradient(180deg, #fff0 0%, #fff 100%) 0% 0%
      no-repeat padding-box;
  }
}

.st-foot {
  background-color: #161616;
  &__block,
  &__link {
    color: #777;
  }
  &__content,
  &__block {
    border-color: #333 !important;
  }
  @media (--desktop) {
    &__block {
      height: 68px;
    }
  }
}

// TODO: Eliminar clases no usadas
.par-gal {
  .section--large {
    width: 100vw;
    background-color: #e4002b;
    color: white;
  }
  .section--small {
    width: 46rem;
  }
  .section--dark {
    color: white;
    background-color: black;
  }

  .center-marker {
    position: fixed;
    width: 2px;
    height: 100vh;
    background: tomato;
    top: 0;
    left: calc(50vw - 1px);
  }

  section {
    font-weight: 900;
    transition: color 0.3s;
  }

  section.active {
    color: orange;
  }

  .d-flex {
    display: flex;
  }
  .flex-nowrap {
    flex-wrap: nowrap;
  }
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  .vw-100 {
    width: 100vw;
  }
  .vh-100 {
    height: 100vh;
  }
  .justify-content-center {
    justify-content: center;
  }
  .align-items-center {
    align-items: center;
  }
  .section-container {
    margin: 50px;
    // img {
    //   width: 320px;
    //   height: 428px;
    // }
    figure {
      display: table;
      margin: 0;
    }

    figure img {
      max-width: 100%;
      height: 50vh;
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
      padding: 10px;
    }
    &:first-child {
      margin-left: 50vw;
    }
    &:last-child {
      margin-right: 50vw;
    }
  }
}
