/******* Base *******/
@import "../../general-styles/framework/variables/index";
@import "./scss/variables/index";

/******* Variables Lite *******/
$primary-font: "Roboto", sans-serif;
$secondary-font: "PT Serif", serif;
$tertiary-font: "Roboto";

/******* Components *******/
@import "./scss/lite-components/features/header/basic/menu";
@import "./scss/lite-components/features/story/title/title";
@import "./scss/lite-components/features/story/multimedia/multimedia";
@import "./scss/lite-components/features/story/contents/contents";
@import "./scss/lite-components/features/story/contents/table";
@import "./scss/lite-components/features/story/tags/st-tags";
@import "./scss/lite-components/story/continue/st-continue.scss";
@import "./scss/lite-components/features/story/related/st-rel";
