.amp-header {
  background-color: #eaeaea;
  border-bottom: 1px solid #dadada;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  & a {
    color: #1e91ca;
    text-decoration: underline;
    display: block;
    height: 44px;
    padding: 10px;
  }

  &__noticia {
    float: left;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -11px;
      width: 1px;
      height: 22px;
      background-color: #999;
    }
  }
  &__viral {
    float: left;
    width: 50%;
    font-size: 18px;
    font-weight: bold;
    position: relative;

    & a {
      color: #ff0000;
    }
  }
}
