.amp-content {
  background-color: $color-white;
  padding-left: 20px;
  padding-right: 20px;

  &__news-text {
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 13px 0;
  }
  &__author {
    margin: 13px 0;
  }

  &__image {
    margin-left: -20px;
    margin-right: -20px;
  }

  & img {
    width: 100%;
  }
  .visual__image {
    margin-left: -20px;
    margin-right: -20px;
  }

  .pquote {
    background: none;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;

    &__pull {
      background: url('../images/openquote.svg') top left no-repeat;
    }

    & p:first-letter {
      font-size: 39px;
      font-weight: bold;
    }
  }

  & table {
    width: 100%;
    height: auto;
    border: 1px solid #e6e6e6;
    border-collapse: collapse;
    margin: 15px 0;

    & td {
      border-right: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      padding: 2px 4px 1px 4px;
      font-size: 13px;
      line-height: 140%;
      color: #000;
      font-family: sans-serif;
    }

    & tr:nth-child(even) td {
      background-color: #e6e6e6;
    }
  }
}
