.amp-content {
  background-color: $color-white;
  padding-left: 20px;
  padding-right: 20px;

  &__news-text {
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 13px 0;
  }
  &__author {
    margin: 13px 0;
  }

  &__image {
    margin-left: -20px;
    margin-right: -20px;
  }

  & img {
    width: 100%;
  }
  .visual__image {
    margin-left: -20px;
    margin-right: -20px;
  }
}
