// apertura-extraordinaria
@mixin topMultimedia() {
  grid-template-areas:
    'apertura-e-multimedia apertura-e-multimedia'
    'apertura-e-section apertura-e-section'
    'apertura-e-content apertura-e-content';
}

@mixin bottomMultimedia() {
  grid-template-areas:
    'apertura-e-section apertura-e-section'
    'apertura-e-content apertura-e-content'
    'apertura-e-multimedia apertura-e-multimedia';
}
.apertura-e {
  //border-style: solid;
  //border-width: 5px 7px;
  background-color: $color-white;
  border-color: $color-silver;
  display: grid;
  //grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

  a {
    color: inherit;
  }

  &--bottom {
    @include bottomMultimedia();
  }

  &--top {
    @include topMultimedia();
  }

  &--left {
    @include topMultimedia();
    @media (--desktop) {
      grid-template-areas:
        'apertura-e-multimedia apertura-e-section'
        'apertura-e-multimedia apertura-e-content';
      grid-template-rows: auto 1fr;
    }

    img {
      height: 100%;
    }
  }

  &--right {
    @include bottomMultimedia();
    @media (--desktop) {
      grid-template-areas:
        'apertura-e-section apertura-e-multimedia'
        'apertura-e-content apertura-e-multimedia';
      grid-template-rows: auto 1fr;
    }

    img {
      height: 100%;
    }
  }

  &__section {
    background-color: $color-error;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    grid-area: apertura-e-section;
    //height: 15px;
  }

  &__content {
    padding: 20px 20px 0px 20px;
    grid-area: apertura-e-content;
    //vertical center
    display: inline-grid;
    align-content: space-evenly;
    //align-items: center;

    div {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 3em;
    font-weight: bold;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
  }
  &-oneline {
    -webkit-line-clamp: 1;
    max-height: 45;
  }
  &-twoline {
    -webkit-line-clamp: 2;
    max-height: 95px;
  }
  &-threeline {
    -webkit-line-clamp: 3;
    max-height: 145px;
  }
  &__subtitle {
    color: $color-silver;
  }

  &__author {
    text-transform: uppercase;
    font-size: 0.7em;
    color: $color-silver;
  }

  &__multimedia {
    grid-area: apertura-e-multimedia;
    display: flex;
    background-color: #000;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 100%;
    }

    div {
      width: 100%;
    }

    iframe {
      min-height: 370px;
    }
  }

  &__icon-gallery-G {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
  }

  &__icon-gallery-container-G {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 50%;
    & i {
      font-size: 33px;
    }
  }
}
