// apertura-extraordinaria
.apertura-e {
  //border-style: solid;
  //border-width: 5px 7px;
  background-color: $color-white;
  border-color: $color-silver;
  display: grid;
  //grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

  a {
    color: inherit;
  }

  &--bottom {
    grid-template-areas:
      'apertura-e-section apertura-e-section'
      'apertura-e-content apertura-e-content'
      'apertura-e-multimedia apertura-e-multimedia';
  }

  &--top {
    grid-template-areas:
      'apertura-e-multimedia apertura-e-multimedia'
      'apertura-e-section apertura-e-section'
      'apertura-e-content apertura-e-content';
  }

  &--left {
    grid-template-areas:
      'apertura-e-multimedia apertura-e-section'
      'apertura-e-multimedia apertura-e-content';
    grid-template-rows: auto 1fr;

    img {
      height: 100%;
    }
  }

  &--right {
    grid-template-areas:
      'apertura-e-section apertura-e-multimedia'
      'apertura-e-content apertura-e-multimedia';
    grid-template-rows: auto 1fr;

    img {
      height: 100%;
    }
  }

  &__section {
    background-color: $color-error;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px;
    grid-area: apertura-e-section;
    //height: 15px;
  }

  &__content {
    padding: 20px 20px 0px 20px;
    grid-area: apertura-e-content;
    //vertical center
    display: inline-grid;
    align-content: space-evenly;
    //align-items: center;

    div {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 3em;
    font-weight: bold;
  }

  &__subtitle {
    color: $color-silver;
  }

  &__author {
    text-transform: uppercase;
    font-size: 0.7em;
    color: $color-silver;
  }

  &__multimedia {
    grid-area: apertura-e-multimedia;

    img {
      width: 100%;
    }
  }
}
