.author-title {
  background-color: #fff;
  padding: 15px 0;

  &__box-title {
    flex-direction: column;
    flex-basis: calc(100% - 90px);
    height: 100%;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0px 10px 15px;

    @media (--tablet) {
      flex-basis: 100%;
      height: 50px;
      flex-direction: row;
      align-items: center;
      padding: 0;
      padding-left: 15px;
    }
  }

  &__section {
    flex-basis: 90px;
    flex-shrink: 0;
    flex-grow: 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    @media (--tablet) {
      flex-basis: auto;
      flex-shrink: 1;
      flex-grow: 1;
      background-color: #fff;
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      //width: 375px;
      margin-top: 10px;
    }

    @media (--desktop) {
      font-size: 20px;
      //width: 954px;
      margin: 0 auto;
    }
  }

  &__url {
    color: #8f071f;
    margin-right: 15px;
    font-size: 18px;

    @media (--tablet) {
      font-size: 22px;
    }
  }

  &__img {
    bottom: 0;
    object-fit: contain;
    border: 0;
    font-size: 24px;
    right: 0;

    @media (--tablet) {
      width: auto;
      height: 48px;
      bottom: 1px;
    }
  }
}