.cintillo-u {
  color: $color-white;

  a {
    color: $color-white;
  }

  &--bgcolor-1 {
    background-color: $color-primary;
  }

  &--bgcolor-2 {
    background-color: $color-black;
  }

  &__btn-close {
    width: 50px;
    & button:focus{
      outline: 0;
    }
  }
  &__btn-icon {
    color: $color-white;

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.2em;
  }

  &__tag {
    margin-right: 5px;
  }

  &__link {
    margin-right: 5px;
  }
}
