$cinema-color-primary: #333;
$cinema-height: 89px;

.cinema-card {
  background-color: $color-white;

  &__category {
    font: 18px/1 $primary-font;
    margin-bottom: 0;
    padding: 0 0 15px;
    text-transform: uppercase;
  }

  &__link {
    color: $cinema-color-primary;
  }

  &__gradient {
    height: $cinema-height;
    background: linear-gradient(to bottom, rgba(68, 68, 68, 0) 20%, #444);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00444444', endColorstr='#444444', GradientType=0);
    left: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
  }

  &__figure {
    overflow: hidden;
    // Modificar la altura cuando se tenga el diseño definido
    height: 145px;
  }

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__detail {
    bottom: 0;
    position: absolute;
    padding: 0 15px 10px 15px;
    z-index: 5;
  }

  &__premiere {
    color: #f7c600;
    font-size: 17px;
    line-height: 1.2;
  }

  &__p-title {
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    color: #fff;
  }

  &__p-link {
    color: #fff;
    font-weight: 400;
    line-height: 1.1;
  }

  &__movies-list {
    background-color: #e8f2f7;
    padding: 10px;
  }

  &__title {
    text-transform: uppercase;
    font: 14px/1 $primary-font;
    margin-bottom: 10px;
    font-weight: 400;
  }

  &__select {
    appearance: none;
    background-color: #d1e6f0;
    // TODO: Cambiar por el icono respectivo
    background-image: url(https://elcomercio.pe/img/arrow_down.png);
    background-position: right 0;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 11px;
    font-family: $primary-font;
    height: 30px;
    margin-bottom: 4px;
    padding-left: 8px;
    width: 100%;
  }

  &__option {
    background-color: #fff;
  }

  &__form {
    text-align: right;
  }

  &__selects-container {
    margin-bottom: 10px;
  }

  &__button {
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    font-family: $primary-font;
    height: 34px;
    text-transform: uppercase;
    width: 100px;
  }
}