$text-primary: #333;
$text-secondary: #979797;

$image-height: 157px;

.featured-story {
  background-color: $color-white;

  @media (--tablet) {
    flex-direction: column;
    grid-row: span 1;
    height: 374px;
  }

  &__detail {
    height: calc(100% - #{$image-height});
    width: 60%;
    @media (--tablet) {
      width: unset;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__gradient {
    background: linear-gradient(to bottom, rgba(68, 68, 68, 0) 20%, #444);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00444444', endColorstr='#444444', GradientType=0);
    height: 306px;
    left: 0;
    pointer-events: none;
    z-index: 1;
  }

  &__image {
    width: 40%;
    height: 85px;
    @media (--tablet) {
      height: $image-height;
      width: unset;
    }
  }

  &__category {
    font-size: 16px;
    display: none;
    @media (--tablet) {
      display: block;
    }

    &::after {
      border-bottom: 1px solid $text-primary;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      overflow: hidden;
      position: relative;
      width: 25px;
      bottom: -5px;
    }
  }

  &__title {
    display: -webkit-box;
    margin-bottom: 8px;
    font-size: 21px;
    line-height: 1.2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &-oneline {
    -webkit-line-clamp: 1;
    max-height: 25px;
  }

  &-twoline {
    -webkit-line-clamp: 2;
    max-height: 50px;
  }

  &-threeline {
    -webkit-line-clamp: 3;
    max-height: 75px;
  }

  &__author {
    font-size: 10px;
    margin-top: auto;

    a {
      color: $text-secondary;
    }
  }

  &__link {
    color: black;
  }

  &__headband {
    font-size: 16px;
  }

  &__headband-link {
    color: $color-white;
    font-weight: bold;
  }

  &__multimedia-icon {
    height: 55px;
    width: 55px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #444;
  }

  &__multimedia-icon-span {
    font-size: 49px;
  }

  &__play-icon {
    &:before {
      content: '\2023';
    }
  }

  &__gallery-icon {
    &:before {
      content: '\1F4F7';
    }
  }

  &--live {
    .featured-story__headband-link {
      padding: 6px;
      background-color: red;
      display: inline-block;
    }
  }
  // Modificador de la vista mobile
  &--test {
    flex-direction: column;
    grid-row: span 1;
    height: 374px;
    .featured-story__image {
      height: $image-height;
      width: unset;
    }
    .featured-story__detail {
      width: unset;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .featured-story__category {
      display: block;
    }
  }
  //////////////////////////////////////
  &--img-complete {
    padding: 0;
    justify-content: flex-end;

    .featured-story__image {
      position: absolute;
      height: 100%;
    }

    .featured-story__detail {
      z-index: 10;
      padding: $spacing-normal;
    }

    .featured-story__link {
      color: $color-white;
    }

    .featured-story__category {
      &::after {
        border-bottom: 1px solid $color-white;
      }
    }

    .featured-story__author {
      margin-bottom: 0;
    }
  }
}
