.footer-top {
  padding: 60px 17px 65px;
  max-width: 1024px;
  width: 100%;

  &__col {
    padding-right: 15px;

    &:nth-child(1) {
      width: 30%;
    }

    &:nth-child(2) {
      width: calc(70% / 3);
    }

    &:nth-child(3) {
      width: calc(70% / 3);
    }

    &:nth-child(4) {
      width: calc(70% / 3);
      padding-right: 0;
    }

    &__ul {
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: start;

      li {
        margin-bottom: 3px;
        font-size: 15px;

        a {
          color: black;
          text-transform: capitalize;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__site-logo {
      margin-bottom: 15px;
      width: 180px;
      display: block;

      img {
        width: 100%;
      }
    }

    &__site-legal {
      li {
        font-size: 11px;
      }
    }

    &__menus {
      li {
        margin-bottom: 5px;
        line-height: 18px;
      }
    }
  }
}

.footer-bot {
  padding: 20px 20px 15px;

  ul {
    flex-wrap: wrap;
    padding: 0;
    max-width: 775px;
    width: 100%;

    li {
      font-size: 15px;
      line-height: 1;
      margin: 0 3px;
      padding-right: 8px;
      margin-bottom: 5px;
      border-right: 1px solid #333;
      &:last-child {
        border-right: unset;
      }

      a {
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Pie de página

$footer-background: #333;

$sites-link-color: #999;
$legal-text-color: #c8c8c8;
$footer-list-tex-color: #7f7f7f;

$footer-legal-text-size: 12px;
$footer-list-text-size: 14px;

$footer-logo-width-mobile: 130px;

$desktop-media: 'min-width: 1024px';

.footer-container {
  // height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'info contact'
    'sites sites ';
  @media screen and (#{$desktop-media}) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'info sections contact'
      'sites sites sites';
  }
  &__footer-bacground-color {
    background-color: $footer-background;
  }
  &__info {
    grid-area: info;
  }
  &__sections {
    grid-area: sections;
  }
  &__contact {
    grid-area: contact;
  }
  &__sites {
    grid-area: sites;
    margin-top: 15px;
  }
  &__sites-list {
    flex-wrap: wrap;
    padding: 0;
    max-width: 775px;
    width: 100%;
  }
  &__sites-list-element {
    font-size: 15px;
    line-height: 120%;
    margin: 0 3px;
    padding-right: 8px;
    margin-bottom: 5px;
    border-right: 1px solid $sites-link-color;
    color: $sites-link-color;
    &:first-child {
      font-weight: bold;
    }
  }
  &__sites-link {
    color: $sites-link-color;
  }
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__logo-container {
    margin-bottom: 15px;
    width: $footer-logo-width-mobile;
    display: block;
  }
  &__logo-img {
    width: 100%;
  }
  &__legal-list {
  }
  &__legal-item {
    font-size: $footer-legal-text-size;
    color: $legal-text-color;
    margin-bottom: 6px;
  }
  &__list-link {
    color: $footer-list-tex-color;
    text-transform: capitalize;
  }
  &__list {
  }
  &__list-item {
    font-size: $footer-list-text-size;
    padding: 8px 0;
    border-bottom: 1px solid $footer-list-tex-color;
    &--title {
      color: $footer-list-tex-color;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
