.footer-top {
  padding: 60px 17px 65px;
  max-width: 1024px;
  width: 100%;
  &__col {
    padding-right: 15px;
    &:nth-child(1) {
      width: 30%;
    }
    &:nth-child(2) {
      width: calc(70% / 3);
    }
    &:nth-child(3) {
      width: calc(70% / 3);
    }
    &:nth-child(4) {
      width: calc(70% / 3);
      padding-right: 0;
    }
    &__ul {
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: start;
      li {
        margin-bottom: 3px;
        font-size: 15px;
        a {
          text-decoration: none;
          color: black;
          text-transform: capitalize;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &__site-logo {
      margin-bottom: 15px;
      width: 180px;
      display: block;
      img {
        width: 100%;
      }
    }
    &__site-legal {
      li {
        font-size: 11px;
      }
    }
    &__menus {
      li {
        margin-bottom: 5px;
        line-height: 18px;
      }
    }
  }
}

.footer-bot {
  padding: 20px 20px 15px;
  ul {
    flex-wrap: wrap;
    padding: 0;
    max-width: 775px;
    width: 100%;
    li {
      font-size: 15px;
      line-height: 1;
      margin: 0 3px;
      padding-right: 8px;
      margin-bottom: 5px;
      border-right: 1px solid #333;
      &:last-child {
        border-right: unset;
      }
      a {
        text-decoration: none;
        color: black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Pie de página

$footer-background: #333;

.footer-container {
  // height: 500px;
  background-color: $footer-background;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'info contact'
    'sites sites';
  &__info {
    grid-area: info;
  }
  &__sections {
    display: none;
  }
  &__contact {
    grid-area: contact;
  }
  &__sites {
    background-color: #fff;
    grid-area: sites;
  }
  &__sites-list {
    flex-wrap: wrap;
    padding: 0;
    max-width: 775px;
    width: 100%;
  }
  &__sites-list-element {
    font-size: 15px;
    line-height: 1;
    margin: 0 3px;
    padding-right: 8px;
    margin-bottom: 5px;
    border-right: 1px solid #333;
  }
}
