$movie-size: 134px;

.movies-grid {
    background-color: $color-white;
    padding: $spacing-normal;

    &__headline {
        margin-bottom: $spacing-normal;
    }

    &__nav {
        display: none;

        @media (--tablet) {
            display: block;
        }
    }

    &__nav-list {
        margin-bottom: $spacing-small;
        flex-wrap: wrap;
    }

    &__nav-item {
        margin-bottom: $spacing-small;
    }

    &__nav-link {
        font-size: 14px;
        transition: 0.5s;
        padding: 8px;
        color: $color-silver;
        position: relative;

        &--active {
            font-weight: 900;
            color: $color-gray;
        }

        &:hover {
            color: $color-gray;
        }

        &::before {
            content: "·";
            font-weight: 900;
            position: absolute;
            left: -2px;
        }
    }

    &__form {
        margin-bottom: $spacing-normal;

        @media (--tablet) {
            display: none;
        }
    }

    &__info {
        color: $color-silver;
        font-size: 11px;
        margin-bottom: $spacing-normal;
    }

    &__select {
        appearance: none;
        background-color: $color-info;
        background-image: url(https://assets.elcomercio.pe/img/arrow_down.png);
        background-position: right center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 0;
        margin-right: 1%;
        padding: 0 32px 0 8px;
        line-height: 45px;
        width: 100%;
        color: $color-gray;
    }


    &__grid {
        display: grid;
        gap: $spacing-normal;
        grid-template-columns: repeat(2, 1fr);

        @media (--tablet) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (--desktop) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &__movie {
        margin: 0 auto;
        width: $movie-size;
    }

    &__img-box {
        margin-bottom: $spacing-small;
    }

    &__title {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: $spacing-xsmall;
        color: $color-silver;

        &:hover {
            text-decoration: underline;
        }
    }

    &__tag {
        font-size: 12px;
        font-weight: 600;
        color: $color-dark;
    }
}