.header-somos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ababab;
  border-top: 1px solid #ababab;
  @media (--desktop) {
    border-top: none;
    padding: 15px 10px;
  }
  &__img-wrapper {
    flex: 1;
  }
  &__img {
    width: 180px;
    display: block;
    margin: auto;
  }
  &__icon-wrapper {
    padding: 0 20px;
    @media (--desktop) {
      display: none;
    }
  }
  &__icon {
    font-size: 33px;
  }
  &__logo-wrapper {
    background-color: #000;
    border-radius: 50%;
    height: 50px;
    right: 0;
    text-align: center;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (--desktop) {
      display: none;
    }
    & i {
      color: #fff;
      font-size: 34px;
    }
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 0%;
  height: 100%;
  z-index: 1;
  transition: all 250ms ease 0s, background-color 100ms linear 0s;
  @media (--desktop) {
    position: relative;
    background-color: $color-white;
    height: auto;
    width: 100%;
  }
  &__content {
    background-color: rgba(0, 0, 0, 0.9);
    width: 0;
    height: 100%;
    overflow-y: scroll;
    @media (--desktop) {
      background-color: transparent;
      width: 100%;
      overflow-y: hidden;
      padding: 10px;
      text-align: center;
      max-width: 720px;
      margin: auto;
    }
  }
  &__search {
    position: relative;
    padding: 15px 10px 0;
    @media (--desktop) {
      display: none;
    }
  }
  &__search-input {
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    width: 100%;
    height: 32px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
  }
  &__search-icon {
    position: absolute;
    right: 17px;
    top: 25px;
    color: $color-white;
    font-size: 13px;
  }
  &__list {
    margin: 0;
    display: block;
    padding: 5px 15px;
    @media (--desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    padding: 15px 0;
  }
  &__item-link{
    display: none;
    @media (--desktop) {
      display: flex;
      align-items: center;
    }
  }
  &__link {
    color: $color-white;
    font-size: 25px;

    @media (--desktop) {
      color: #585858;
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    &:before {
      display: none;
      @media (--desktop) {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50px;
        background-color: #585858;
        margin-right: 15px;
      }
    }
  }
  &__link-icon {
    color: #585858;
    display: none;
    @media (--desktop) {
      display: block;
    }
  }
  &__login {
    width: 100%;
    padding: 20px 10px 0;
    @media (--desktop) {
      display: none;
    }
  }
  &__login-icon{
    color: $color-primary;
    margin-right: 10px;
  }
  &__login-text{
    color: $color-white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
  }
  &__close{
   width: 100%;
   height: 50px;
   text-align: right;
   padding: 15px 10px 0;
   @media (--desktop) {
    display: none;
  }
  }
  &__close-icon{
    color: $color-white;
    font-size: 15px;
  }
  &--active{
    width: 100%;
    .header-menu__content{
      width: 255px;
    }
  }
}
