.header {
  font-size: $font-sm;
  font-family: $primary-font;
  color: $color-dark;

  &__main {
    // height: 76px;
    height: 55px;
    padding: 0 15px;
    font-weight: bold;
    background-color: $header-bg-color;
    color: $header-text-color;
  }

  &__logo {
    height: $header-logo-height;
  }

  &__featured {
    height: 38px;
    font-weight: normal;
  }

  &__item {
    padding: 8px;
    height: inherit;
    a {
      text-decoration: none;
      color: $color-dark;
      font-size: 0.8rem;
      letter-spacing: 0.02rem;
      text-transform: uppercase;
    }
    :hover {
      color: $color-dark;
      text-decoration: underline;
    }

    /* &:first-child {
      color: $color-error;
      font-weight: bold;
    } */
  }
}
