.blog-title {
    background-color: #fff; 

    @media (--desktop) {
      
      padding-top:30px;
    }

    @media (--tablet) {
      
      padding-top:20px;
    }

  &__section-title {
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 12px 0;
    position: relative;
  
    @media (--desktop) {
      background-color: #fff;
      color: #333;
      font-size: 24px;
      font-weight: 700;
      line-height: 1;
      width: 954px;
      margin: 0 auto;
    }

    @media (--tablet) {
      background-color: #fff;
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 1;
      width: 375px;
      margin-top: 10px;
    }
  }
  &__url-description {
    color: #8f071f;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    font-size: 24px;
    padding-left:10px;
  }
  &__img-description {
    bottom: 0;
    position: absolute;
    width: 72px;
    border: 0;
    font-size: 24px;
    right: 0;
  }
}
