.header-somos {
  display: grid;
  grid-template-columns: auto 115px auto;
  justify-content: space-between;
  padding: 10px 10px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ababab;
  border-top: 1px solid #ababab;
  @media (--desktop) {
    border-top: none;
    padding: 30px 0px;
    position: relative;
    text-align: center;
  }

  &__logo-img {
    width: 100%;
    display: block;
  }

  &__content-menu {
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    width: 255px;
    min-height: 100%;
  }
  &__header-close {
    color: #fff;
    height: 50px;
    position: relative;
    text-align: center;
    padding-left: 50px;
  }
  &__btn-close {
    background-color: transparent;
    color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
  }
  &__mobile-search {
    padding: 20px 15px;
  }
  &__content-form {
    display: flex;
    flex-direction: row;
  }
  &__search-text {
    border-width: 1px 0 1px 1px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
    width: 194px;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    // float: left;
    height: 32px;
  }
  &__search-button {
    border-width: 1px 1px 1px 0;
    width: 31px;
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    float: left;
    height: 32px;
  }

  &__color-tmp {
    color: #fff;
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
  /* -ms-transform: translate(100%,0);
  -ms-transform: translate3d(100%,0,0);
  -webkit-transform: translate(100%,0);
  -webkit-transform: translate3d(100%,0,0);
  transform: translate(100%,0);
  transform: translate3d(100%,0,0); */
  transition: all 250ms ease 0s, background-color 100ms linear 0s;
  width: 100%;
  @media (--desktop) {
    position: relative;
    background-color: $color-white;
    height: auto;;
  }
  &__content {
    background-color: rgba(0, 0, 0, 0.9);
    width: 255px;
    height: 100%;
    overflow-y: scroll;
    padding: 15px;
    @media (--desktop) {
      background-color: transparent;
      width: 100%;
      overflow-y: hidden;
      padding: 10px;
      text-align: center;
      max-width: 720px;
      margin: auto;
    }
  }
  &__search {
    @media (--desktop) {
      display: none;
    }
  }
  &__search-input{
    background-color: transparent;
    border: 1px solid $color-white;
    color: $color-white;
    width: 194px;
    height: 32px;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
  }
  &__list {
    margin: 0;
    display: block;
    @media (--desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
   padding: 15px 0;
  }
  &__link {
    color: $color-white;
    font-size: 25px;
    
    @media (--desktop) {
      color: #585858;
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    &:before {
      display: none;
      @media (--desktop) {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50px;
        background-color: #585858;
        margin-right: 15px;
      }
    }
  }
}
