.headerblog {
    background-color: #fff;
    padding-top: 30px;

  &__sectiontitle {
    font-size: 24px;
    padding-left: 10px;
    width: 954px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 12px 0;
    position: relative;
    margin: 0 auto;
  }
  &__urldescription {
    color: #8f071f;
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    font-size: 24px;
    padding-left:10px;
  }
  &__imgdescription {
    bottom: 0;
    position: absolute;
    width: 72px;
    border: 0;
    font-size: 24px;
    right: 0;
  }
}
