.header {
    width: 100%;
    font-size: $font-sm;
    font-family: $main-font;
    color: $color-dark;

    &__main {
        width: inherit;
        height: 76px;
        padding: 0 15px;
        font-weight: bold;
        background-color: $header-bg-color;
        color: $header-text-color;

        &__btn-container {
            height: inherit;
        }
    }

    &__logo {
        height: $header-logo-height;
    }

    &__featured {
        width: 100%;
        height: 38px;
        font-weight: normal;
    
        &__item {
            padding: 8px;
            height: inherit;

            &:first-child {
                color: $color-error;
                font-weight: bold;
            }
            :hover{
                text-decoration: none;
            }
        }
        a {
            text-decoration: none;
            color: $color-dark;
        }
        :hover{
            color: $color-error;
        }
    }
}

