.stories-list-card {
  // FIXME: PLS
  height: 100%;

  &__header {
    width: auto;
  }

  &__title {
    height: 100%;
    min-width: 10%;
    max-width: 60%;
    color: $color-dark;
  }

  &__see-more {
    background-color: $color-white;
    padding: 5px 10px;
    color: $color-silver;

    &:hover {
      text-decoration: underline;
    }
  }

  &__list-item {
    max-height: 395px;
  }

  &__story {
    background-color: $color-white;
    width: auto;
    border-bottom: 1px solid #d5e1e1;

    & figure {
      position: relative;

      & span {
        position: absolute;
        height: 15px;
        width: 15px;
        right: 25px;
        top: 28px;
        margin: auto;
        transform: scale(3.5);
        z-index: 2;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        color: #444;
      }
    }
  }

  & img {
    width: 100%;
  }

  &__time {
    font-size: 16px;
    line-height: 19.2px;
    color: $color-dark;
  }

  &__page-link {
    margin: 2px 0px;

    & a:hover {
      text-decoration: underline;
    }
  }
  &__link-title {
    font-size: 14px;
    line-height: 1.2;
    color: #4c4c4c;
    margin: 0px;
  }
}
