.movie-details {
	&__box-img {
		max-width: 850px;
	}

	&__img {
		max-height: 240px;

		@media (--tablet) {
			max-height: 400px;
		}

		@media (--desktop) {
			max-height: 530px;
		}
	}

	&__box-icon {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, .7);
		pointer-events: none;

		@media (--tablet) {
			width: 70px;
			height: 70px;
		}
	}

	&__icon {
		color: $color-gray;
		font-size: $spacing-normal;
	}

	&__detail {
		max-width: 800px;

		@media (--tablet) {
			flex-direction: initial;
		}
	}

	&__left {
		@media (--tablet) {
			flex-basis: 55%;
			flex-shrink: 0;
			flex-flow: 0;
		}
	}

	&__right {
		@media (--tablet) {
			padding: $spacing-normal;
		}
	}

	&__title {
		font-size: 22px;
		color: $color-white;

		@media (--tablet) {
			font-size: 28px;
			margin-bottom: $spacing-large;
		}
	}

	&__where {
		color: $color-white;
		font-size: 13px;
		line-height: 1.5;
	}

	&__hours {
		max-height: 250px;
		border-right: solid 1px $color-white;
	}

	&__cinema {
		color: $color-white;
		font-size: 13px;
		line-height: 1.5;
	}

	&__text {
		color: rgba(255, 255, 255, .8);
		font-size: 13px;
		line-height: 1.5;
	}

	&__name {
		color: $color-white;
		font-size: 13px;
		line-height: 1.5;

		&--sinopsis {
			margin-bottom: $spacing-large;
		}
	}

	&__value {
		color: rgba(255, 255, 255, .8);
	}

	&__more {
		max-width: 160px;
		border: solid 1px rgba(255, 255, 255, .7);
		transition: all .15s ease;

		@media (--tablet) {
			margin: $spacing-normal 0 0 0;
		}

		&:hover {
			background-color: rgba(255, 255, 255, .2);
			transition: all .15s ease;
		}
	}

	&__btn {
		color: $color-white;
		font-size: 13px;
	}
}