.movie-item {
	padding-bottom: $spacing-normal;

	&:nth-last-child(1) {
		padding-bottom: 0;
	}

	@media(--tablet) {
		flex-direction: initial;
		padding-bottom: $spacing-xlarge;
	}

	&__left {
		flex-basis: 100%;
		flex-shrink: 0;
		flex-grow: 0;
		margin-bottom: 10px;

		@media (--tablet) {
			flex-basis: 35%;
			flex-shrink: 0;
			flex-grow: 0;
		}
	}

	&__right {
		margin-top: 5px;

		@media (--tablet) {
			margin-top: 0;
			margin-left: $spacing-normal;
			padding-left: $spacing-normal;
			border-left: solid 1px #d5e1e1;
		}
	}

	&__img {
		max-height: 240px;
		border: solid 1px #d5e1e1;
	}

	&__title {
		font-size: 18px;
		font-family: $primary-font;
		line-height: 1.8;
		color: $color-gray;

		&:hover {
			text-decoration: underline;
		}
	}

	&__function {
		font-size: 13px;
		font-weight: 300;
	}

	&__subtitle {
		font-size: 13px;
		font-weight: 600;
		line-height: 1.4;
		color: $color-gray;
		margin-bottom: $spacing-xsmall;

		&:first-child {
			margin-bottom: $spacing-normal;
		}
	}

	&__description {
		display: inline;
		font-weight: normal;
		color: #646464;
		margin-left: 5px;
	}
}