.movies-filter {
  padding: $spacing-normal;
  background-color: $color-gray;

  @media (--tablet) {
    padding: $spacing-xlarge;
  }

  &--font-config {
    font-size: 12px;
    line-height: 45px;
    font-weight: 600;
  }

  &__filter-box {
    @media (--desktop) {
      flex-direction: initial;
      border: 1px solid $color-silver;
      padding: 4px;
    }
  }

  &__title-box {
    margin-bottom: $spacing-normal;

    @media (--desktop) {
      flex-direction: initial;
    }
  }

  &__title {
    color: $color-white;
    line-height: 40px;

    @media (--tablet) {
      text-transform: uppercase;
    }

    &::before,
    &::after {
      border-bottom: 1px solid #fff;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      overflow: hidden;
      position: absolute;
      width: 25px;
    }

    &::before {
      top: 10%;
    }

    &::after {
      bottom: 10%;
    }
  }

  &__social {
    margin-bottom: $spacing-normal;
  }

  &__label {
    @media (--tablet) {
      color: $color-soft;
      padding: 0 8px;
      display: inline-block;
    }
  }

  &__form {
    @media (--desktop) {
      flex-direction: initial;
      width: initial;
    }

    :nth-child(2) {
      // NO MUESTRA SELECT DE GENERO EN MOBILE
      display: none;

      @media (--tablet) {
        display: block;
      }
    }
  }
  &__form-select {
    appearance: none;
    background-color: $color-white;
    background-image: url(https://assets.elcomercio.pe/img/arrow_down.png);
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 0;
    padding: 0 42px 0 16px;
    margin-bottom: 8px;
    color: $color-dark;
    line-height: 45px;

    @media (--desktop) {
      margin-bottom: 0;
      margin-right: 4px;
      width: fit-content;
      max-width: 200px;
    }
  }

  &__btn {
    background-color: $color-primary;
    color: $color-gray;

    @media (--desktop) {
      width: 100px;
    }
  }
}
