.nav {
    position: sticky;
    top: 0;
    height: 46px;
    z-index: 20;
    font-family: $main-font;
    font-size: $font-sm;
    font-weight: bold;
    background-color: $nav-color;
    color: $color-white;
    &__wrapper{
        padding: 0 15px;
    }
    &__btn {
        background-color: $color-gray; 
        color: $color-white;

        &__container {
            height: inherit;
        }

        &--featured {
            color: $color-primary;
            height: inherit; 
        }
      &--search{
        //transition: all .002s;
        &.active{
          //transition: all .002s;
          right: 4px;
          top: 50%;
          transform: translateY(-50%);
          padding: 5px 5px;
          background: transparent;
          position: absolute;
        }
      }
    }

    &__list {
        padding: 0 5px;
        height: inherit;
        display: none;

        @media screen and (min-width: 1024px) {
            display: inherit;
        }

        & li {
            margin: 0 8px;
        }
    }

    &__logo {
        height: 46px;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
    &__form{
      position: relative;
    }
    &__input-search{
      transition: width 0.25s cubic-bezier(0.49,0.37,0.445,0.715);
      border: 0;
      padding: 2px 0;
      outline: none;
      font-size: 14px;
      height: 32px;
      line-height: 20px;
      text-indent: 0;
      border-radius: 4px;
      background-color: #f0f0f0;
      display: initial;
      width: 0;
      &.active{
        transition: width 0.25s cubic-bezier(0.49,0.37,0.445,0.715);
        width: 200px;
        padding-right: 40px;
        padding-left: 5px;
      }
    }
}