.nav {
    position: sticky;
    top: 0;
    height: 46px;
    z-index: 20;
    font-family: $main-font;
    font-size: $font-sm;
    font-weight: bold;
    background-color: $nav-color;
    color: $color-white;

    &__wrapper {
        padding: 0 15px;
    }

    &__btn {
        background-color: $color-gray;
        color: $color-white;
    }

    &__list {
        padding: 0 5px;
        display: none;

        @media screen and (min-width: 1024px) {
            display: inherit;
        }
    }

    &__list-link {
        margin: 0 8px;
        color: $color-soft;
        transition: .3s;

        &:hover {
            color: $color-white;
        }
    }

    &__logo {
        height: 46px;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
}