.nav {
  position: sticky;
  height: $nav-height-mobile;
  z-index: 20;
  background-color: $nav-color;
  color: $color-white;

  @media (--desktop) {
    height: $nav-height;
  }

  &__wrapper {
    background-color: $color-primary;

    @media (--desktop) {
      background-color: transparent;
    }
  }

  &__container-menu {
    @media (--desktop) {
      border-right: solid 1px $color-silver;
      padding-right: 10px;
    }
  }

  &__btn {
    color: $color-white;

    &:hover {
      text-decoration: none;
    }

    @media (--desktop) {
      color: $color-primary;
    }

    &--featured {
      color: $color-primary;
      height: inherit;
    }

    &--search {
      display: none;
      color: $color-silver;
      padding: 0 0 0 13px;

      @media (--desktop) {
        display: flex;
      }

      //transition: all .002s;
      &.active {
        //transition: all .002s;
        right: 4px;
        top: 50%;
        padding: 5px 5px;
        background: transparent;
        position: absolute;
        transform: translateY(-50%);
      }
    }

    &--section {
      padding: 4px;

      & span {
        display: none;
        font-family: $secondary-font;

        @media (--desktop) {
          display: inline;
          margin-left: 8px;
        }
      }
    }
  }

  &__list {
    @media (--desktop) {
      &.active {
        display: flex;
      }
    }
  }

  &__list-link {
    color: $color-gray-light;
    transition: 0.3s;
    font-size: 12px; // TODO: revisar con diseño
    word-break: break-word;

    &:hover {
      color: $color-gray;
    }
  }

  &__logo {
    height: $nav-height;

    @media (--desktop) {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &__ads {
    // TODO: Temporal
    width: 100px;
    height: 30px;
    display: none;
    // --------------
  }

  &__header-sub {
    @media (--tablet) {
      display: inline-block;
    }
  }

  &__icon-search {
    color: $color-primary;
  }

  &__icon-menu {
    font-size: 22px;
  }

  &__input-search {
    border: 0;
    outline: none;
    height: 32px;
    line-height: 20px;
    text-indent: 0;
    border-radius: 4px;
    background-color: #f0f0f0;
    display: initial;
    transition: width 0.25s cubic-bezier(0.49, 0.37, 0.445, 0.715),
      padding-left 0.25s;
    width: 0;
    will-change: width;

    &.active {
      padding-right: 40px;
      padding-left: 8px;
      transition: width 0.25s cubic-bezier(0.49, 0.37, 0.445, 0.715);
      width: 200px;
      will-change: width;
    }
  }

  &.active {
    background-color: $color-primary;

    .nav__btn {
      color: $color-white;
    }

    .btn {
      border-color: $color-white;
      color: $color-white;
    }
  }
}