.opinion-grid {
  margin: 0 auto;
  border: solid 1px #333;
  grid-template-columns: 1fr;

  @media (--tablet) {
    max-width: 700px;
    grid-template-columns: repeat(2, 50%);
  }

  @media (--desktop) {
    max-width: 100%;
    grid-template-columns: repeat(3, 33.3%);
  }

  &--list {
    max-width: 100%;
    margin: 0 auto;
  }

  &--title {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

  &__box-title {
    border-bottom: solid 1px #333;
    padding: 15px 0;

    @media (--tablet) {
      padding: 25px 0;
    }
  }

  &__title {
    font-size: 18px;
    font-family: $secondary-font;

    @media (--tablet) {
      font-size: 20px;
    }
  }

  &__box-more {
    padding: 25px 0 15px 0;
  }

  &__more {
    font-size: 14px;
    color: #333;

    &:hover {
      text-decoration: underline;
    }
  }
}