.opiniontrome {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 10fr;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;

  &__head {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    border-top: 1px solid #d8d7d4;
  }
  &__title {
    text-align: center;
    color: #f15a24;
    font-size: 30px;
    margin: 0;
    /* el componente opinion trome debe mostrar 2 lineas como maximo en el titulo*/
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    // height: 450px;
  }
  &__item {
    display: grid;
    grid-template-columns: 8fr 4fr;
    border-top: 1px solid #d8d7d4;
    padding-top: 10px;
  }
  &__seccion {
    display: grid;
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 1fr;
    align-items: center;
    & a {
      color: #000;
      text-decoration: none;
    }
    & a:hover {
      color: #000;
      text-decoration: underline;
    }
  }
  &__nombreseccion {
    color: #f15a24;

    & a {
      color: #f15a24;
      text-decoration: none;
    }
    & a:hover {
      color: #f15a24;
      text-decoration: underline;
    }
  }
  &__titleNew {
    text-align: left;
    display: -webkit-box;
    overflow: hidden;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }
  &__oneline {
    max-height: 30px;
    -webkit-line-clamp: 1;
  }
  &__twoline {
    max-height: 60px;
    -webkit-line-clamp: 2;
  }
  &__icono {
    display: grid;
    grid-template-rows: 3fr;
    align-items: center;
    justify-content: center;

    & img {
      margin: 0 auto;
      height: 60px;
      width: 60px;
    }
  }
}
