.opiniontrome {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  &__head {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    border-top: 1px solid #d8d7d4;
    border-bottom: 1px solid #d8d7d4;
  }
  &__title {
    text-align: center;
    color: #f15a24;
    
    font-size:26px;
    padding: 10px 0px 10px 0px;
    
  }
  &__body{
      display: grid;
      grid-template-columns: 1fr;
    //   background-color: #fff;
      height: 350px;
  }
  &__item{
      height: 10px;
      border: 2px solid black;
      
  }
}
