.pagination-file {
	margin-bottom: 50px;

	&__list {
		text-align: center
	}

	&__item {
		margin: 0 5px;
		display: inline-block;
	}

	&__link {
		padding: 6px 4px;
		color: #7d7d7d;
		font-size: 10px;
		font-weight: 600;

		@media (--desktop) {
			padding: 6px 12px;
			font-size: 14px;
		}

		&:hover {
			text-decoration: underline;
		}

		&.active {
			cursor: initial;
			background-color: #383232;
			color: #FFF;
			text-decoration: none;
		}
	}
}