.story-item {
  width: 100%;
  padding: 0 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #a9a9a9;
  margin-bottom: 20px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &:nth-child(1) {
    margin-top: 10px;
  }

  @media (--tablet) {
    padding: 0 0 20px 0;
  }

  &__top {
    display: flex;
    align-items: center;

    @media (--tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__section {
    text-transform: uppercase;
    font-size: 10px;
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: 7px;

    @media (--tablet) {
      font-size: 13px;
      margin-bottom: 15px;
    }
  }

  &__date {
    font-weight: 300;
    color: #a9a9a9;
    font-size: 11px;
    @media (--tablet) {
      margin-bottom: 10px;
    }
  }

  &__bottom {
    display: flex;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 100% 1 1;
    padding-right: 10px;
  }

  &__title {
    color: #000;
    font-size: 14px;
    font-family: $primary-font;
    display: block;
    max-height: 42px;
    overflow: hidden;
    margin-top: 10px;

    @media (--tablet) {
      font-size: 20px;
      line-height: 1.1;
      max-height: 69px;
      margin-top: 0px;
    }
  }

  &__subtitle {
    display: none;
    font-family: $secondary-font;
    margin: 10px 0 20px 0;
    line-height: 1.2;
    color: #a9a9a9;

    @media (--tablet) {
      display: block;
    }
  }

  &__author {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 10px;
    font-weight: 300;
    color: $color-gray-light;
  }

  &__link {
    height: 100%;
  }

  &__icon {
    position: absolute;
    color: $color-white;
    z-index: 1;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    font-size: 20px;

    @media (--tablet) {
      font-size: 40px;
    }
  }

  &__figure {
    width: 160px;
    height: 100%;
    max-height: 160px;
    object-fit: cover;
    object-position: center;
    @media (--tablet) {
      width: 230px;
    }
  }

  &--row {
    @media (--tablet) {
      max-width: 800px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
    }

    .story-item__top {
      flex-direction: row;
      margin-top: 10px;
      flex-basis: 110px;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .story-item__section {
      display: none;
    }

    .story-item__date {
      margin-top: 0;
    }

    .story-item__bottom {
      flex-direction: row-reverse;
    }

    .story-item__left {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}
