//Triplete
.triplet {
  border-style: solid;
  border-width: 1px;
  //background-color: $color-white;
  border-color: $color-silver;

  a {
    color: inherit;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    padding: 15px;
    border-bottom: 1px solid $color-silver;

    img {
      height: 100%;
    }

    &:last-child {
      border-bottom: 0px;
    }

    &--right {
      grid-template-areas:
        'triplete__title triplete__multimedia'
        'triplete__author triplete__author';

      & figure {
        margin-left: 10%;
      }
    }

    &--left {
      grid-template-areas:
        'triplete__multimedia triplete__title'
        'triplete__author triplete__author';

      & figure {
        margin-right: 10%;
      }
    }
  }

  &__title {
    grid-area: triplete__title;
    //font-size: 1em;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }
  &--oneline {
    max-height: 15px;
    -webkit-line-clamp: 1;
  }
  &--twoline {
    max-height: 30px;
    -webkit-line-clamp: 2;
  }
  &--threeline {
    max-height: 45px;
    -webkit-line-clamp: 3;
  }

  &__multimedia {
    grid-area: triplete__multimedia;
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
    }
    img {
      width: 100%;
    }
  }
  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    z-index: 1;
    border-radius: 50%;

    @media (--tablet) {
      width: 40px;
      height: 40px;
      font-size: 14px;
    }
  }

  &__author {
    grid-area: triplete__author;
    text-transform: uppercase;
    font-size: 0.7em;
    color: $color-silver;
    padding-top: 10px;
  }

  &__box-icon {
    background-color: $color-white;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: 50%;
    color: #444;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 20px;
    z-index: 1;
    right: 5px;

    .triplete__icon {
      display: table-cell;
      height: 40px;
      vertical-align: middle;
      width: 40px;

      &--play {
        &:before {
          content: '\2023';
        }
      }

      &--gallery {
        &:before {
          content: '\1F4F7';
        }
      }
    }
  }
}
