.breaking-news {
    color: #ffffff;
    padding: 15px 15px;
    margin: 10px 0px;
  
    &.bn-color-1 {
      background-color: red;
    }
    &.bn-color-2 {
      background-color: green;
    }
    &.bn-color-3 {
      background-color: yellow;
    }
    &.bn-color-4 {
      background-color: gray;
    }
    &.bn-hidden {
      display: none;
    }
    h2 {
      margin: 0px;
      font-size: 1.1em;
      font-weight: 600;
    }
    .bn-tag {
      margin-right: 10px;
    }
    a{
      color: white;
      text-decoration: none;
    }
    .bn-close{
      background-color: #000000;
      opacity: 0.3;
      filter: alpha(opacity=30);
      text-align: center;
      width: 15px;
      display: inline-block;
      position: relative;
      float: right;
    }
    .bn-close:hover{
      opacity: 0.5;
      filter: alpha(opacity=50);
      cursor: default;
    }
  }