.breaking-news {
  color: #ffffff;
  padding: 15px 15px;
  margin: 10px 0px;
}

.breaking-news--bgcolor-1 {
  background-color: red;
}
.breaking-news--bgcolor-2 {
  background-color: green;
}
.breaking-news--bgcolor-3 {
  background-color: yellow;
}
.breaking-news--bgcolor-4 {
  background-color: gray;
}
.breaking-news--hidden {
  display: none;
}

.breaking-news__bn-close {
  background-color: #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  text-align: center;
  width: 15px;
  display: inline-block;
  float: right;
  &:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
  }
}

.breaking-news__h2 {
  margin: 0px;
  font-size: 1.1em;
  font-weight: 600;
}

.breaking-news__h2__tag {
  margin-right: 10px;
}

.breaking-news__h2__link {
  color: white;
  text-decoration: none;
}