.perured {
  &__header,
  &__footer,
  &__adsbox {
    max-width: 300px;
  }

  &__title {
    border-bottom: #084b9e 2px solid;
    color: #252525;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    //margin-bottom: 0px;
  }

  &__icon {
    width: 17px;
    height: 17px;
  }

  &__text {
    color: #4c4c4c;
    font: 12px 'Arial', sans-serif;
    height: 20px;
    letter-spacing: 0px;
  }
}

#cnt-perured-d header.an-native-headline,
#cnt-perured-m header.an-native-headline {
  background: none !important;
  width: 100% !important;
}

#cnt-perured-d .an-native-img,
#cnt-perured-m .an-native-img {
  width: 100%;
}
#cnt-perured-d .an-native-ad,
#cnt-perured-m .an-native-ad {
  max-width: 100% !important;
  height: auto;
  overflow: hidden;
}
