.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;
  margin: 25px 0;
  padding: 0 20px;

  &__title {
    display: inline-block;
    font: 700 11px/18px $primary-font;
    padding-bottom: 10px;
  }

  &__tag {
    display: inline-block;
  }

  &__box {
    flex: 1;
  }

  &__link {
    font-size: 0.9rem;
    background-color: #e8e8e8;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    display: block;
    & span {
      display: none;
    }
  }
}
