.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;
  margin: 25px 0;
  padding: 0 20px;

  &__title {
    display: inline-block;
    font: 700 11px/18px $primary-font;
    padding-bottom: 10px;
  }

  &__tag {
    display: inline-block;
  }

  &__box {
    flex: 1;
  }

  &__link {
    border: 1px solid #333;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.28px;
    margin: 0 10px 10px 0;
    padding: 8px 16px;
    & span {
      display: none;
    }
  }
}
