.nav {
  background-color: $color-gray-100;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    &:first-child {
      background-color: #555555;
    }
  }

  &__btn {
    &.btn--outline {
      color: $color-base-100;
    }
    @media (--desktop) {
      color: $color-white;
    }
  }

  &__icon-search {
    color: $color-white;
    font-size: 18px;
  }
  &__container-menu,
  &__search-box {
    border-color: $color-white;
  }
  &__input-search {
    &.active {
      background-color: $color-white;
      color: $color-base-100;
      font-weight: 600;
    }
  }
  &__btn--search {
    display: block;
    &.active {
      .nav__icon-search {
        color: $color-base-100;
      }
    }
  }
  &__list-link {
    color: $color-white;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    font-family: $tertiary-font;
    &:hover {
      color: $color-white;
    }
  }
  &__logo {
    display: none;
  }
  &__icon-menu {
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
    @media (--desktop) {
      margin-right: 0;
    }
  }
  &__search-box {
    @media (--tablet) {
      display: flex;
    }
  }
  &__btn--section span {
    display: block;
    font-family: $tertiary-font;
    text-transform: uppercase;
    font-size: 9px;
  }
  &__mobile-container {
    display: block;
    right: 15px;
    position: absolute;
    @media (--desktop) {
      display: none;
    }
  }
  &__container-menu {
    @media (--only-mobile) {
      border-color: transparent;
    }
  }
  &__container-menu,
  &__search-box {
    @media (--desktop) {
      border-color: $color-white;
    }
  }
  &__container-right {
    display: none;
    @media (--desktop) {
      display: block;
    }
    .btn {
      padding: 0px;
      font-family: $tertiary-font;
      font-size: 11px;
      letter-spacing: 0px;
      line-height: 14px;
      width: 80px;
      height: 25px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.active {
    height: 45px;
    .nav__mobile-logo {
      top: auto;
    }
    .nav__logo {
      display: block;
      width: 154px;
      height: 24px;
      @media (max-width: 360px) {
        width: 120px;
        height: 20px;
      }
      @media (--tablet) {
        width: 191px;
        height: 30px;
      }
    }
    .btn {
      color: $color-base-100;
    }

    .nav__container-menu {
      border-color: transparent;
      @media (--tablet) {
        border-color: $color-white;
      }
    }
    .nav__container-right {
      @media (--only-mobile) {
        right: 10px;
      }
      @media (--tablet) {
        display: block;
      }
      @media (--desktop) {
        display: block;
      }
    }
    .btn--outline {
      @media (--desktop) {
        color: $color-base-100;
      }
    }
    .nav__icon-menu {
      color: $color-white;
    }
    .nav__search-box {
      border-color: $color-white;
      @media (--desktop) {
        display: block;
      }
    }
    .nav__wrapper {
      @media (--only-mobile) {
        padding: 0 10px;
      }
      @media (--desktop) {
        justify-content: flex-start;
      }
    }
    .nav__btn--section span {
      display: block;
      color: $color-white;
    }

    .nav__btn--search {
      top: 2px;
      @media (--desktop) {
        top: -4px;
      }
    }
  }
}
