<!DOCTYPE html>
<html lang="es" class="gestion">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./dist/gestion/css/paywall.css">
    <link href="https://fonts.googleapis.com/css?family=Judson:400,700|Open+Sans:300,700&display=swap" rel="stylesheet">
    
    <script async src="./bundle.js"></script>
  </head>
  <body>
    <div id="root"></div>
    
  </body>

</html>
