/******* Brand colors *******/
$color-primary: #f7c83c;
/*-----------------------*/

$color-base-100: #444444;
/*-----------------------*/

/******* Other colors *******/
$color-link: #006097;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Footer colors *******/
$footer-background: $color-gray-300;
$footer-text-color: $color-white;
/*-----------------------*/

/******* Signwall colors *******/
$signwall-header-text-color: $color-secondary;
$signwall-color-item-title: #008eff;
$signwall-color-link: #0f8bf7;
$signwall-login-text: $color-primary;
$signwall-login-bg: $color-secondary;
/*----------------------------*/
