/******* Brand colors *******/
$color-primary: #FECD26;
$color-secondary: #000000;
$color-tertiary: #E8F2F7;
/*-----------------------*/
$color-base-400: #000000;
$color-base-300: #333333;
$color-base-200: #8A8A8A;
$color-base-100: #E8E8E8;
/*-----------------------*/

/******* Other colors *******/
$color-link: #006097;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-300;
/*-----------------------*/

/******* Footer colors *******/
$footer-background: $color-gray-300;
$footer-text-color: $color-white;
/*-----------------------*/