/** ----------------------------*
*          DIMENSIONES          *
*-------------------------------*/

/******* Nav dimensions *******/
$nav-height: 70px;
$nav-height-mobile: 58px;
/*-----------------------*/

/******* Header dimensions *******/
$header-logo-height: 44px;
/*-----------------------*/
