/** ----------------------------*
*          DIMENSIONES          *
* ----------------------------- */

/******* Nav dimensions *******/
$nav-height-mobile: 58px;

/* --------------------- */

/******* Header dimensions *******/
$header-inverted-height: 70px;
$header-mobile-height: 60px;
$header-logo-height: 44px; // old 34px

/* --------------------- */

/** ----------------------------*
*       DIMENSIONES LITE        *
* ----------------------------- */
$header-height-m: 48px;
$header-height: 60px;
$header-somos-height-m: 60px;
$header-somos-height: 80px;
