.linked-brand {
  &__image {
    height: 100px;
    width: 130px;
    @media (--tablet) {
      width: 100%;
      height: 100%;
    }
  }
  &__header {
    border-bottom-width: 2px;
  }
  &__title-link {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: calc(1.3rem * 1.3333 * 4);
    @media (--tablet) {
      font-size: 1rem;
      -webkit-line-clamp: 3;
      max-height: calc(1rem * 1.3333 * 3);
    }
  }
  &__item {
    @media (--tablet) {
      max-width: calc((100% / 3) - 10px);
    }
  }
}
