.share-btn {
  border: 1px solid $color-gray-300;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 15px;
  padding: 0;
  line-height: 0;
  fill: $color-gray-300;

  svg {
    @media (--tablet) {
      height: 17px;
      width: 17px;
    }
  }
  &--stroke {
    fill: transparent;
  }

  &--ws {
    display: none;
  }
  &--copy {
    height: 30px;
    line-height: 0;
    fill: $color-gray-300;
    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 5px 0 0;
    svg {
      margin-right: 5px;
    }
  }
}
