.breaking-news {
  &--bgcolor-1 {
    background-color: $color-tertiary;
    .breaking-news__text,
    .breaking-news__link,
    .breaking-news__btn-icon {
      color: $color-white;
      font-family: $primary-font;
      font-weight: 400;
    }
  }
}
