.premios_depor__header {
  &__box {
    width: 1366px;
    height: 320px;
    margin: auto;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://cdna.depor.com/resources/dist/depor/premios-depor/bg_desktop.jpg");
  }
  &__boxMob {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdna.depor.com/resources/dist/depor/premios-depor/bg_Mobile.jpg");
    @media (--tablet) {
      height: 850px;
    }

    width: auto;
    height: 520px;
  }

  &__opacity {
    background-color: rgba(0, 0, 0, 0.3);
    filter: initial;
  }
  &__cont {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;

    @media (--desktop) {
      padding-top: 18px;
    }
    @media (--tablet) {
      padding-top: 15px;
    }

    &__contLeft {
      margin-left: 14px;
      display: flex;
      flex-direction: row;
      min-width: 80px;
      align-items: center;
      @media (--tablet) {
        margin-left: 20px;
        min-width: 80px;
      }
      @media (--desktop) {
        margin-left: 24px;
        min-width: 100px;
      }
      &__flecha {
        margin-right: 14px;
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
      &__logo {
        svg {
          width: 55.35px;
          height: 24px;
          @media (--tablet) {
            width: 55.35px;
            height: 24px;
          }
          @media (--desktop) {
            width: 64px;
            height: 27.75px;
          }
        }
      }
    }
    &__contRight {
      align-items: center;
      margin-right: 19px;
      display: flex;
      flex-direction: row;
      min-width: 20px;
      @media (--tablet) {
        margin-right: 19px;
        min-width: 20px;
      }
      @media (--desktop) {
        margin-right: 16px;
        min-width: 350px;
      }
      &__terminos {
        span {
          font-size: 13px;
          font-family: $primary-font;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: 0.39px;
          color: #fff;
          margin-right: 20px;
        }
        a {
          text-decoration: none;
        }
      }
      &__button--before {
        background-color: #fff;
        border-radius: 5px;
        padding: 9px 34px;
        font: 900 12px/14px $primary-font;
        letter-spacing: 0.36px;
        color: #333;
        display: inline-block;
      }
      &__button--after {
        background-color: #bfd02c;
        border-radius: 5px;
        padding: 9px 34px;
        font: 900 12px/14px $primary-font;
        letter-spacing: 0.36px;
        color: #222;
        display: inline-block;
      }
      &__menuContainer {
        margin-right: 19px;
        width: 24px;
        height: 24px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &__box-btnmenu {
    width: 40px;

    @media (--tablet) {
      width: 55px;
    }
  }
  &__btn-menu {
    border: 1px solid #ada8f0;
    border-radius: 50%;
    display: block;
    height: 33px;
    padding: 8px;
    width: 36px;

    // @media (--tablet) {
    //   background-color: black;
    // }

    // button {
    //   background-color: transparent;
    //   border-style: none;
    //   color: #333;
    //   font-family: inherit;
    // }
  }
  &__icon-menu {
    // font-size: inherit; (OJO)
    font-size: 24px;
    color: white;

    @media (--tablet) {
      font-size: 28px;

      &.active {
        color: blue;
      }
    }
  }
  &__wrapper-menu {
    position: fixed;
    z-index: 100;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1d1a57;
    display: none;

    &.active {
      @media screen and(max-width: 1023px) {
        display: block;
      }
    }
  }
  &__top-menu {
    height: 70px;
  }
  &__top-left {
    width: 70px;
  }

  &__btn-close {
    background-color: transparent;
    border-style: none;
    color: #333;
    font-family: inherit;
  }
  &__icon-close {
    color: #fff;
    cursor: pointer;
  }
  &__img-menu {
    max-width: 100px;
  }

  &__submenu-list {
    flex: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: none;
    border-top: solid 1px black;

    &.active {
      display: block;
    }
  }

  &__submenu-item {
    border-bottom: solid 1px black;

    // &:nth-last-child(1) {
    //   border-bottom: 0;
    // }
  }
  &__link {
    text-transform: uppercase;
    flex: auto;
    color: #eee;
    font: normal normal 700 13px/17px Roboto, sans-serif;
    letter-spacing: 0.21px;
    text-align: left;
  }

  &__logo2 {
    transform: skew(13deg);
    max-width: 100px;
    width: 80px;
    height: 70px;

    @media (--tablet) {
      max-width: 150px;
    }
  }

  &__box-logo-play {
    display: flex;
    padding: 15px 25px;
  }
  // no hay estos estilos
  &__link-logo-play {
    display: flex;
    flex-direction: row;
    width: 110px;
    height: 70px;
    cursor: pointer;
    a {
      color: #333;
      text-decoration: none;
      svg {
        filter: invert(1);
        margin-right: 15px;
        transform: skewX(355deg);
        width: 15px;
      }
      img {
        height: 70px;
        width: 80px;
        transform: skew(355deg);
      }
    }
  }

  // &.active {
  //   background-color: white;

  //   .header-full__box-logo {
  //     background-color: white;
  //   }

  //   .header-full__icon-menu {
  //     color: black;
  //   }

  //   .nav__loader-bar {
  //     left: 0;
  //     top: 46px;
  //     height: 5px;
  //     background-color: $color-primary;
  //   }
  // }
}
