/* Bitter regular */
@font-face {
  font-family: "Bitter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Bitter Regular"), local("Bitter-Regular"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Regular.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Regular.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Bitter bold */
@font-face {
  font-family: "Bitter";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Bitter Bold"), local("Bitter-Bold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Bold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Titillium Web normal */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Titillium Web Regular"), local("TitilliumWeb-Regular"),
    url(https://cdna.diariocorreo.pe/resources/dist/elbocon/fonts/TitilliumWeb-Regular.woff2)
      format("woff2"),
    url(https://cdna.diariocorreo.pe/resources/dist/elbocon/fonts/TitilliumWeb-Regular.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Titillium Web bold */
@font-face {
  font-family: "Titillium Web";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Titillium Web Bold"), local("TitilliumWeb-Bold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/TitilliumWeb-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/TitilliumWeb-Bold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Exo regular */
@font-face {
  font-family: "Exo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Exo Regular"), local("ExoRegular"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Regular.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Regular.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Exo bold */
@font-face {
  font-family: "Exo";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Exo Bold"), local("ExoBold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Bold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* RobotoCondensed Regular */
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Regular.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Regular.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* RobotoCondensed Bold */
@font-face {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Bold.woff")
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
