/* Bitter regular */
@font-face {
  font-family: "Bitter";
  src: local("Bitter Regular"), local("Bitter-Regular"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Regular.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bitter bold */
@font-face {
  font-family: "Bitter";
  src: local("Bitter Bold"), local("Bitter-Bold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Bitter-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Titillium Web bold */
@font-face {
  font-family: "Titillium Web";
  src: local("Titillium Web Bold"), local("TitilliumWeb-Bold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/TitilliumWeb-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/TitilliumWeb-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Exo regular */
@font-face {
  font-family: "Exo";
  src: local("Exo Regular"), local("ExoRegular"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Regular.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Exo bold */
@font-face {
  font-family: "Exo";
  src: local("Exo Bold"), local("ExoBold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/Exo-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* RobotoCondensed Regular */
@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Regular.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* RobotoCondensed Bold */
@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Bold.woff2")
      format("woff2"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/RobotoCondensed-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
