@font-face {
  font-family: "icomoon";
  src: url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/default.woff")
      format("woff"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/images/default.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/fonts/correo.woff")
      format("woff"),
    url("https://cdna.diariocorreo.pe/resources/dist/diariocorreo/images/correo.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
