.story {
  .most-read-item {
    margin: 0;
    &:last-child {
      border-width: 0;
    }
    &__article {
      flex-direction: column;
      padding-top: 0;
    }
    &__figure {
      width: 100%;
      height: 169px;
      max-width: none;
      max-height: none;
    }
    &__detail {
      background-color: $color-white;
      padding: 10px;
      font-family: $primary-font;
      font-size: 22px;
      font-weight: 400;
      max-height: 132px;
    }
    &__icon {
      display: none;
    }
  }
}
