body {
  background: $color-gray-100;
  overflow-x: hidden;
}

.story {
  .content-layout-container {
    background: $color-white;
  }
}
@media screen and(max-width: 1023px) {
  .no-row-2-mobile {
    height: auto;
  }
}