@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.eot');
  src: url('../../icons/fonts/default.eot?bq78bg#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/default.ttf?bq78bg') format('truetype'),
    url('../../icons/fonts/default.woff?bq78bg') format('woff'),
    url('../../icons/fonts/default.svg?bq78bg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}