@font-face {
  font-family: "icomoon";
  src: url("https://cdna.depor.com/resources/dist/depor/fonts/default.woff")
      format("woff"),
    url("https://cdna.depor.com/resources/dist/depor/images/default.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("https://cdna.depor.com/resources/dist/depor/fonts/depor.woff")
      format("woff"),
    url("https://cdna.depor.com/resources/dist/depor/images/depor.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
