/* NoticiaText Regular */
@font-face {
  font-family: 'NoticiaText';
  src: url('../../fonts/NoticiaText-Regular.woff2') format('woff2'),
    url('../../fonts/NoticiaText-Regular.woff') format('woff'),
    url('../../fonts/NoticiaText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* NoticiaText Bold */
@font-face {
  font-family: 'NoticiaText';
  src: url('../../fonts/NoticiaText-Bold.woff2') format('woff2'),
    url('../../fonts/NoticiaText-Bold.woff') format('woff'),
    url('../../fonts/NoticiaText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto Regular */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../../fonts/Roboto-Regular.woff') format('woff'),
    url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../../fonts/Roboto-Bold.woff') format('woff'),
    url('../../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto Black */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Black.woff2') format('woff2'),
    url('../../fonts/Roboto-Black.woff') format('woff'),
    url('../../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* RobotoCondensed Regular */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../../fonts/RobotoCondensed-Regular.woff') format('woff'),
    url('../../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* RobotoCondensed Bold */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../../fonts/RobotoCondensed-Bold.woff') format('woff'),
    url('../../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* OstrichSans */
@font-face {
  font-family: 'OstrichSans';
  src: url('../../fonts/OstrichSans-Bold.woff2') format('woff2'),
    url('../../fonts/OstrichSans-Bold.woff') format('woff'),
    url('../../fonts/OstrichSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Saira Regular */
@font-face {
  font-family: 'Saira';
  src: url('../../fonts/Saira-Regular.woff2') format('woff2'),
    url('../../fonts/Saira-Regular.woff') format('woff'),
    url('../../fonts/Saira-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Saira Bold */
@font-face {
  font-family: 'Saira';
  src: url('../../fonts/Saira-Bold.woff2') format('woff2'),
    url('../../fonts/Saira-Bold.woff') format('woff'),
    url('../../fonts/Saira-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
