.movies-container {
    background-color: $color-gray-300;

    @media (--tablet) {
        margin-top: 0;
    }

    @media (--desktop) {
        margin-top: $spacing-normal;
    }

    &__title {
        font-size: 18px;

        @media (--tablet) {
            display: none;
        }
    }
}