.movies-filter {
  background-color: $color-gray-300;

  @media (--tablet) {
    padding: $spacing-xlarge;
  }

  &__title-box {
    &--font-config {
      font-size: 12px;
      line-height: 45px;
    }
  }

  &__filter-box {
    @media (--desktop) {
      flex-direction: initial;
      border: 1px solid $color-gray-200;
      padding: 4px;
    }
  }

  &__title-box {
    @media (--desktop) {
      flex-direction: initial;
    }
  }

  &::before {
    top: 10%;
  }

  &__label {
    @media (--tablet) {
      color: $color-gray-100;
      padding: 0 8px;
      display: inline-block;
    }
  }

  &__form {
    @media (--desktop) {
      flex-direction: initial;
      width: initial;
    }

    :nth-child(2) {
      // NO MUESTRA SELECT DE GENERO EN MOBILE
      display: none;

      @media (--tablet) {
        display: block;
      }
    }
  }

  &__select {
    background-color: $color-white;
    background-image: url(https://assets.elcomercio.pe/img/arrow_down.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding: 0 42px 0 16px;
    margin-bottom: 8px;
    color: $color-gray-300;
    line-height: 45px;

    @media (--desktop) {
      margin-bottom: 0;
      margin-right: 4px;
      width: fit-content;
      max-width: 200px;
    }
  }

  &__btn {
    background-color: $color-primary;
    color: $color-gray-300;

    @media (--desktop) {
      width: 100px;
    }
  }
}