.most-read {
  border-bottom: 2px solid #111;
  margin: 0 20px;

  @media (--desktop) {
    margin: 0;
  }

  &__title {
    font: 700 18px/26px $primary-font;
    letter-spacing: 0.29px;
    color: #222;
    text-transform: capitalize;
    padding-bottom: 20px;
    border-bottom: 2px solid #111;
  }

  &__item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  &__multimedia {
    height: 72px;
    margin-right: 9px;
  }
  &__img {
    width: 110px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  &__txt {
    font: Bold 15px/20px $primary-font;
    letter-spacing: 0;
    opacity: 1;
    color: #333;
    max-height: 74px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.3333333333;
    overflow: hidden;
  }
}
