.header {
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 40px;
    width: 100px;
    height: 50px;
    background-image: url(/pf/resources/dist/peru21/images/otorongo.png);
    background-size: cover;
  }
  &__link {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    &:hover {
      color: $color-base-600;
    }
  }
  &__tags,
  &__link,
  &__date {
    color: $color-base-600;
  }
  &__item {
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 80%;
      background-color: #ebebeb;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  &__featured {
    justify-content: center;
  }
}
