.header-d {
  background-color: #ffcb05;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px #00000029;
  @media (--desktop) {
    box-shadow: 0 3px 6px #00000029;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 15px;
    max-width: 980px;
    margin: 0 auto;
    @media (--desktop) {
      justify-content: flex-end;
      height: 56px;
    }
  }
  &__img-url {
    @media (--desktop) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__img {
    height: 100%;
    max-height: 27px;
    @media (--desktop) {
      max-height: 31px;
    }
  }
  &__sub {
    box-shadow: 0 2px 8px #00000029;
    border-radius: 8px;
    background-color: #fcec4f;
    padding: 4px 8px 5px 9px;
    font: 900 11px/1 $secondary-font;
    color: #4b4b4b;
    text-transform: uppercase;
    height: 25px;
    display: flex;
    align-items: center;
  }
}
