@import '../partials/_mixins.sass'

// =============================================================
// $_LIMPIAR FLOATS
// =============================================================

.clearfix
  &:before
    display: table
    content: ""
  &:after
    display: table
    content: ""
    clear: both

// =============================================================
// $_PAGINADOR
// =============================================================

.site-paginator
  margin-bottom: 30px
  padding-top: 20px
  clear: both
  .page-items
    text-align: center
  .page-item
    display: inline-block
    margin: 0 2px
    line-height: 30px
    a
      display: inline-block
      padding: 0 12px
      border-radius: 50%
      color: $white
      font-weight: bold
      &:hover
        text-decoration: none
        background-color: $yellow2
        color: $black
      &.active
        background-color: $yellow2
        text-decoration: none
        color: $black
      i
        display: inline-block
        line-height: 30px
      span
        display: inline-block
        line-height: 30px
        vertical-align: top
  .page-prev, .page-next
    a
      &:hover
        background: transparent
        color: inherit

.hidden
  display: none

.inline
  display: inline !important

.box-left
  float: left !important

.box-right
  float: right !important

.btn_link
  background-color: $yellow2
  border-radius: 5px
  border: 1px solid $black
  padding: 3px 11px
  span
    color: $black
    font: 700 12px $f-main
    display: inline-block
  .icon-camp
    display: none

.btn_close
  display: none !important
  border-radius: 50%
  height: 30px
  width: 30px
  position: absolute
  right: -9px
  top: -9px
  background: $white
  padding: 0 !important
  text-align: center
  line-height: 190% !important

.flows-grid
  margin: 0 auto
  //#background: #e11a07 url(../img/polla-depor/bg_polla.jpg) fixed center top no-repeat
  //- width: $cnt-w
  width: $cnt-w3c

body
  &.login
    //#background: #e11a07 url(../img/polla-depor/bg_polla.jpg) fixed center top no-repeat
    .site-footer
      background: transparent
      .site-info p
        text-align: center
        float: none
        color: $white
    .ads-zocalo1, .ads-zocalo2
      width: 370px
    .ads-zocalo1
      margin-left: 30px
    .ads-zocalo2
      margin-left: 864px
    .wrapper
      min-height: calc(100vh - 66px)
  &.polla
    //#background: #e11a07 url(../img/polla-depor/bg_polla.jpg) fixed center top no-repeat
    .wrapper
      min-height: calc(100vh - 33px)

.wrap_login
  position: fixed
  height: 100%
  top: 0
  width: 100%
  left: 0
  overflow: auto

.box_login
  width: 618px
  //- position: absolute
  //- left: 50%
  //- top: 50%
  //- transform: translate(-50%,-50%)
  margin: 0 auto
  form.ui-validate
    margin: 0 auto
    h3.error
      color: $color-error
      font-size: 16px
      margin-bottom: 20px
      text-align: center
      padding-left: 10px
      padding-right: 10px
  .btn_login-facebook
    width: 320px
  .btn.btn_login, .btn.btn_registro
    width: 150px
    display: inline-block
  .btn.btn_login
    margin-right: 10px

.login-top
  margin: 24px 0 14px 0
  padding-left: 10px
  padding-right: 10px
  text-align: center
  .logo
    margin-bottom: 25px
  h2
    color: $white
    font: 700 19px $f-main
    text-transform: uppercase
    margin-bottom: 15px
  p
    color: $white
    font: 14px/20px $f-main
    text-align: center
    margin: 13px auto 0 auto
    &.txt_title-small
      font-size: 25px
    &.txt_subtitle
      text-align: center
      max-width: 515px
      margin: 8px auto 0 auto
      font: normal 18px Arial
      color: #444444
      line-height: 24px

.ui-aside-menu
  //- display: none
.button-mobile-menu
  display: none

// =============================================================
// $_LOGIN
// =============================================================

html.pid-open-popup
  overflow: hidden
  .pid-popup
    display: block

@media (max-width: 414px)
  .pid-popup.window-reiterative
    background-color: initial

.pid-popup
  display: none
  position: fixed
  overflow: hidden
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 2147483647
  background-color: rgba(0, 0, 0, 0.7)
  //- nuevo
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  iframe
    height: 100%
    width: 100%
  &.pid-ios
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
  &:not(.pid-ios) iframe
    overflow: auto
  .loader
    position: absolute
    width: 40px
    height: 40px
    background-color: rgba(255, 255, 255, 0.9)
    border-radius: 100%
    -moz-border-radius: 100%
    -webkit-animation: scaleout 1s infinite ease-in-out
    animation: scaleout 1s infinite ease-in-out
    z-index: -1
    top: 50%
    left: 50%
    margin-left: -20px
    margin-top: -20px

@-webkit-keyframes scaleout
  0%
  -webkit-transform: scale(0)
  transform: scale(0)

  100%
  -webkit-transform: scale(1)
  transform: scale(1)
  opacity: 0
  filter: alpha(opacity = 0)

@keyframes scaleout
  0%
    -webkit-transform: scale(0)
    transform: scale(0)

  100%
    -webkit-transform: scale(1)
    transform: scale(1)
    opacity: 0
    filter: alpha(opacity = 0)

// =============================================================
// $_SHARE
// =============================================================

.share-item
  float: left

.share-link
  display: inline-block
  text-align: center
  i
    font-size: 12px
    line-height: 15px
  &:hover
    text-decoration: none

// =============================================================
// $_SEPARADOR GENERAL
// =============================================================

.box-separator
  //- background-color: $white
  margin-bottom: 18px
  margin: 0 auto 18px
  //- width: $cnt-wd
  width: $cnt-w3c
  padding: 0 0 14px 0
  .flow-1x1
    margin: 0 7px
    width: 296px
    height: 278px
    .flow-title
      font-size: 16px
      font-weight: 700
  .flow-image
    img
      width: 100%
  .flow-detail
    height: 112px
    padding-top: 5px

  .count-media
    color: $white
  .flow-match-small
    margin: 0 8px
    width: 221px

.section-title
  font: 70px/1 $f-sectitle
  margin-bottom: 12px
  padding-left: 7px
  a:hover
    text-decoration: none

.box-separator
  .note-flow  //- .flow-1x1
    .flow-image
      height: 165.6px
  .ui-content
    position: static
  .ui-arrows
    //- background-image: url("../img/polla-depor/nav_pipe.png")
    //- background-position: 91px 0
    //- background-repeat: repeat-y
    height: 42px
    padding-top: 9px
    position: absolute
    right: 7px
    top: -65px
    width: 190px
    a
      border-radius: 0 !important
      &.ui-prev i
        padding-right: 1px
        margin-right: 5px
      &.ui-next i
        padding-left: 1px
        margin-left: 5px
      span
        color: $gray3
        display: inline-block
        vertical-align: top
        line-height: 25px
    i
      border-radius: 50%
      height: 25px
      width: 25px
      color: $white
      background-color: $gray4
      font-size: 15px
      line-height: 25px
      display: inline-block

.box-title
  color: $white
  font: 800 40px/1 $f-main
  text-align: center
  text-transform: uppercase
  margin-bottom: 15px

.box-subtitle
  color: $white
  font: 800 30px/1 $f-main
  text-align: center
  text-transform: uppercase

// =============================================================
// $_SITE FOOTER
// =============================================================

.site-footer
  background-color: $white
  height: 33px
  .box-content
    width: $cnt-w3c
    margin: 0 auto

.site-info
  color: #727272
  p
    float: right
    font: 12px/14px $f-main
    margin: 7px 0 0 0

// =============================================================
// $_SECCION LEGAL
// =============================================================

.column-legal
  display: inline-block
  width: 100%
  background: rgba($black, 0.65)
  vertical-align: top
  padding: 60px 45px 50px 42px
  margin-top: 20px
  //- .news-text
    //- width: 94%
  .news-text .news-text-content
    width: 100%
    a
      color: $gray3
      font-style: italic
    p
      font-family: $f-main
      font-size: 12px
      line-height: 20px
      color: $white
    h2
      margin-bottom: 35px
      line-height: 24px
    h3
      line-height: 20px
  h2
    font-size: 30px !important
    text-align: center
    text-transform: uppercase
    color: $white
  h3
    font-size: 16px !important
    color: $white
      font-weight: 700
  ul
    margin-bottom: 25px
    li
      list-style-type: disc
  ol
    margin-bottom: 25px
    li
      list-style-type: decimal
  li
    color: $white
      list-style-type: disc
      font: 12px/20px $f-main
      margin: 0 0 0 25px
