.header-full {
  &__wrapper-menu {
    position: fixed;
    z-index: 100;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-base-400;
  }
  &__top-menu {
    height: 70px;
  }
  &__top-left {
    width: 70px;
  }
  &__top-right {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $color-primary;
  }
  &__box-search {
  }
  &__input-search {
    width: 90%;
    max-width: 230px;
    height: 35px;
    padding: 0 15px;
  }
  &__btn-search {
    height: 35px;
  }
  &__item {
    border-top: solid 1px $color-primary;
    &:nth-last-child(1) {
      border-bottom: solid 1px $color-primary;
    }
  }
  &__link {
    text-transform: uppercase;
  }
  &__follow {
    color: $color-secondary;
    font-family: $fourth-font;
  }
  &__media-item {
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
  &__media-icon {
    font-size: 22px;
    color: $color-secondary;
  }
}
