$nav-height-active: 46px;

.header-inverted {
  height: $header-inverted-height;
  z-index: 20;

  @media print {
    display: none;
  }

  a:hover {
    text-decoration: none;
  }

  .nav__mobile-logo {
    top: initial;
    left: initial;
    transform: translateX(0);
  }

  &__btn-search.active {
    color: $color-gray-300;
    border: none;
  }

  &__btn-menu {
    span {
      display: none;

      @media (--tablet) {
        display: inline-block;
      }
    }
  }

  &.active {
    position: fixed; // No borrar, si no reconce sticky deja fixed
    position: sticky;
    height: $nav-height-active;

    @supports (position: sticky) {
      width: 100%;
    }

    &.nav__loader {
      top: 0;
    }

    .header__logo {
      height: 44px;
    }

    .header-inverted__btn-subs {
      display: flex;
    }

    .btn {
      background-color: $color-white;
      color: $color-base-100;
    }

    .story-header__icon {
      font-size: 26px;
    }

    .nav-sidebar {
      top: $nav-height-active;
      height: calc(100vh - #{$nav-height-active});
    }
  }
}

.story {
  .header-inverted.active {
    .nav__mobile-logo {
      display: none;

      @media (--tablet) {
        display: block;
        left: 19%;
        padding-right: 20px;
        border-right: 1px solid #fff;
      }

      @media (--desktop) {
        left: 20%;
      }
    }

    .header__logo {
      @media (--tablet) {
        height: 20px;
      }
    }

    .nav__story-title {
      display: -webkit-box;
      width: 66%;

      @media (--tablet) {
        left: 41%;
        width: 240px;
        margin: 0;
      }

      @media (--desktop) {
        left: 35%;
        width: 460px;
      }
    }

    .nav__story-social-network {
      display: block;

      .story-header__list {
        @media (--only-mobile) {
          background-color: $color-white;
          width: auto;
          padding: 10px;
          flex-direction: column;
          top: 30px;
          position: absolute;
          right: -10px;
          z-index: 1;
          box-shadow: -1px 7px 11px rgba(0, 0, 0, 0.3);
        }

        width: 110px;
      }
      .story-header__item {
        @media (--only-mobile) {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .story-header__icon,
      .story-header__share-icon {
        font-size: 23px;
      }
      .story-header__icon {
        @media (--only-mobile) {
          color: $color-gray-300;
        }
      }
      .story-header__share-icon {
        @media (--tablet) {
          display: none;
        }
      }
    }
  }
}

.nav__btn--section {
  & span {
    @media (--tablet) {
      display: inline;
      margin-left: 8px;
    }
  }
}
