.nav__story-title {
  display: none;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 15px;
  max-height: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.nav__story-social-network {
  display: none;
}
.nav__loader-bar {
  display: none;
}
.nav__load-bg {
  display: none;
}
.story-header__item {
  margin-left: 10px;
  svg {
    width: 32px;
  }
  span {
    color: #666;
    font-size: 14px;
    align-items: center;
    height: 20px;
    border-right: 1px solid #cfcfcf;
    padding-right: 15px;
    margin-right: 8px;
    display: none;
    @media (--tablet) {
      display: flex;
    }
  }
}

.header-full {
  background-color: #d35b2c;
  height: 46px;
  z-index: 21;
  @media (--tablet) {
    height: 52px;
  }
  &__left {
    padding: 0 10px;
    overflow: hidden;
  }
  &__right {
    padding-right: 20px;
  }
  &__btn-menu {
    padding: 10px;
    svg {
      fill: #fff;
    }
  }
  &__box-logo {
    margin: 0 20px;
  }
  &__logo {
    height: 46px;
    @media (--tablet) {
      height: 52px;
    }
  }
  &__item-nav {
    margin-right: 24px;
  }
  &__link-nav {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.14px;
  }
  &__btn-result {
    display: block;
    background-color: #8116d5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.36px;
    border: 1px solid #ffffffa3;
    border-radius: 5px;
    font-size: 11px;
    padding: 9px 13px;
    @media (--tablet) {
      font-size: 12px;
      padding: 9px 25px;
    }
  }
  &__box-list {
    display: none;
    @media (--desktop) {
      display: block;
    }
  }
  &__megamenu {
    display: none;
  }
  &__is {
    fill: #fff;
    display: none;
    @media (--tablet) {
      display: block;
    }
  }
  &__l-w {
    display: none;
  }

  &.active {
    position: fixed;
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    height: 46px;
    .header-full {
      &__logo {
        height: 46px;
      }
      &__btn-menu {
        svg {
          fill: #666;
        }
      }
      &__box-logo {
        display: none;
        background-color: transparent;
        @media (--tablet) {
          display: block;
        }
      }
      &__link-logo {
        display: none;
      }
      &__l-w {
        display: block;
      }
      &__btn-container {
        display: none;
      }
      &__box-list {
        display: none;
      }
      &__is {
        display: none;
      }
    }
    .nav__story-social-network {
      display: block;
    }
    .nav__story-title {
      @media (--desktop) {
        display: block;
        display: -webkit-box;
      }
    }
  }
  &__ci {
    display: none;
    @media (--desktop) {
      display: block;
    }
  }
}
