.tv-menu {
    left:0px;
    right: auto;
    animation: tvMenuOpen 0.3s forwards 0s ease;
    &.close {
      animation: tvMenuClose 0.3s forwards 0s ease;
    }
}
  
@keyframes tvMenuOpen {
    0% {
        transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes tvMenuClose {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
  