.play-list {
  &__title a {
    @media (--desktop) {
      font-family: $tertiary-font;
    }
  }
  &__name {
    text-transform: capitalize;
  }
  &__image {
    object-fit: cover;
    max-height: 250px;
    @media (--tablet) {
      height: 154px;
    }
    @media (--desktop) {
      height: 127px;
    }
  }
}
