.story-continue {
  &__story-load-image {
    background-image: url($assets_url+"/resources/dist/elbocon/images/loader.png");
    width: 37px;
    height: 37px;
    background-size: cover;
  }
  &__counter {
    &::after {
      background: $color-white;
    }
  }
  &__story-load-text {
    font-family: $primary-font;
  }
}
