.tv-highlight {
  background-color: #333;

  @media (--tablet) {
    padding: 40px 0;
  }

  &__container {
    width: 90%;
    max-width: 800px;
  }

  &__title {
    color: $color-white;

    @media (--tablet) {
      font-size: 32px;
    }
  }

  &__section {
    color: $color-white;

    &:before {
      content: '';
      width: 30px;
      height: 1px;
      background-color: $color-white;
      position: absolute;
      top: -8px;
      left: 0;
    }

    &:after {
      content: '';
      width: 30px;
      height: 1px;
      background-color: $color-white;
      position: absolute;
      bottom: -8px;
      left: 0;
    }
  }

  &__icon {
    color: #333;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 10px;
    right: 10px;

    @media (--tablet) {
      width: 45px;
      height: 45px;
      top: 20px;
      right: 20px;
    }
  }

  &__related {
    color: #4aa8fa;
  }

  &__item {
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__link {
    color: #999;
  }
}
