.tv-highlight {
  padding: 20px 0;
  background-color: #333;

  @media (--tablet) {
    padding: 40px 0;
  }

  &__container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  &__box-title {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 24px;
    color: #fff;
    font-family: $secondary-font;

    @media (--tablet) {
      font-size: 32px;
    }
  }

  &__box-sub {
    padding: 15px 0;
    margin-bottom: 10px;
  }

  &__section {
    font-size: 13px;
    color: #fff;

    &:before {
      content: '';
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: -8px;
      left: 0;
    }

    &:after {
      content: '';
      width: 30px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: -8px;
      left: 0;
    }
  }

  &__icon {
    color: #333;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 10px;
    right: 10px;

    @media (--tablet) {
      width: 45px;
      height: 45px;
      top: 20px;
      right: 20px;
    }
  }

  &__tags {
    margin-top: 15px;
  }

  &__related {
    margin-bottom: 5px;
    font-size: 12px;
    color: #4aa8fa;
    font-weight: 600;
  }

  &__item {
    margin-right: 15px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 12px;
    color: #999;
  }
}