.triplet {
  background-color: transparent;
  &__item {
    border-color: $color-base-400;
  }
  &__title-link {
    font-size: 13px;
  }
  &__link {
    color: $color-base-200;
    font-family: $secondary-font;
    font-weight: 700;
    line-height: 1.33;
  }
  &__information {
    width: calc(100% - 114px);
  }
  &__author {
    margin-top: 15px;
    word-break: break-word;
  }
  &--threeline {
    -webkit-line-clamp: 3;
    @media (--desktop) {
      max-height: 63px;
    }
  }
}
