.amp-header {
  z-index: 20;

  &__wrap {
    background-color: $color-primary;
    height: 50px;
  }

  &__logo {
    float: left;
    margin-left: 18px;
    margin-top: 9px;
  }

  &__link-container {
    float: right;
    margin-top: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid $color-white;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    padding: 0 8px;
  }

  &__link {
    color: $color-white;
  }
}
.nav {
  height: 50px;
}
