.amp-header {
  z-index: 20;

  &__wrap {
    height: 50px;
  }

  &__logo {
    float: left;
    margin-left: 18px;
    margin-top: 9px;
  }

  &__link-container {
    float: right;
    margin-top: 7px;
    border-color: $color-white;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
  }
}
.nav {
  height: 50px;
}
