.amp-header {
  z-index: 20;

  &__wrap {
    height: 50px;
  }

  &__logo {
    float: left;
    margin-left: 18px;
    margin-top: 9px;
  }

  &__link-container {
    float: right;
    height: 34px;
  }
}

.nav {
  height: 50px;
}