.header-somos {
  @media (--desktop) {
    border-top: none;
    padding: 15px 10px;
  }

  &__img {
    width: 115px;

    @media (--desktop) {
      width: 180px;
    }
  }

  &__icon-wrapper {
    @media (--desktop) {
      display: none;
    }
  }

  &__logo-wrapper {
    height: 50px;
    width: 50px;
    // display: flex;

    @media (--desktop) {
      display: none;
    }
  }

  &__btn {
    &:focus {
      outline: 0;
    }
  }
}

.somos-menu {
  z-index: 1;

  @media (--desktop) {
    position: relative;
    background-color: $color-white;
    height: auto;
    width: 100%;
    transition: all 5ms;
  }

  &__content {
    width: 255px;
    transition: all 2ms;
    transform: translate3d(-100%, 0, 0);

    @media (--desktop) {
      background-color: transparent;
      width: 100%;
      overflow-y: hidden;
      padding: 10px;
      text-align: center;
      max-width: 720px;
      margin: auto;
      transition: all 10ms;
      transform: translate3d(0%, 0, 0);
    }
  }

  &__search {
    @media (--desktop) {
      display: none;
    }
  }

  &__search-input {
    height: 32px;
  }

  &__search-icon {
    right: 17px;
    top: 21px;
  }

  &__list {
    @media (--desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item-link {
    @media (--desktop) {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    @media (--desktop) {
      color: #585858;
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    &:before {
      display: none;

      @media (--desktop) {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50px;
        background-color: #585858;
        margin-right: 15px;
      }
    }
  }

  &__link-icon {
    @media (--desktop) {
      display: block;
    }
  }

  &__login {
    @media (--desktop) {
      display: none;
    }
  }

  &__close {
    height: 50px;

    @media (--desktop) {
      display: none;
    }
  }

  &--active {
    position: fixed;
    z-index: 20;

    .somos-menu__content {
      transform: translate3d(0%, 0, 0);
      transition: all 250ms;
    }
  }
}
