.header {
  height: 58px;
  color: $header-text-color;

  &__date {
    align-self: center;
    font-size: 9px;
    white-space: nowrap;
  }

  &__logo {
    height: $header-logo-height;
  }

  &__item {
    white-space: nowrap;

    :hover {
      color: $color-gray-300;
    }

    /* &:first-child {
      color: $color-error;
      font-weight: bold;
    } */
  }

  &__link {
    color: $color-primary;
    letter-spacing: 0.02rem;
  }

  &__tags {
    align-self: center;
    font-size: 9px;
    white-space: nowrap;
    font-weight: 700;
  }

  &__custom-item {
    padding: 0 5px;
    .header__link {
      padding: 5px;
    }
    &::before {
      content: none;
    }
  }
}
