.header {
  height: 58px;
  color: $header-text-color;

  &__date {
    min-width: 190px;
    align-self: center;
  }

  &__logo {
    height: $header-logo-height;
  }

  &__item {

    :hover {
      color: $color-gray-300;
    }

    /* &:first-child {
      color: $color-error;
      font-weight: bold;
    } */
    &:not(:last-child):after {
      content: " \B7 "
    }
  }

  &__link {
    color: $color-primary;
    letter-spacing: 0.02rem;
  }

  &__tags {
    align-self: center;
  }
}
