@import "../../../../../general-styles/framework/variables/index";

$color-primary: #f7c600;
$text-default-color: #000;

$primary-font: "Noto Serif KR", serif;
$secondary-font: "Noto Sans KR", sans-serif;
