.depor-play {
  /* Destaque*/
  .feature-fullimage__title {
    font-family: $sixth-font;
  }
  /*  Separadores */
  .separator.invested {
    .separator__header-link {
      text-transform: uppercase;
      @media (--only-mobile) {
        font-size: 16px;
      }
    }
    &.primary {
      @media (--only-mobile) {
        background-color: $color-secondary;
      }
      .separator__article {
        @media (--only-mobile) {
          background-color: $color-secondary;
        }
      }
    }
    &.secondary {
      .separator__article {
        @media (--only-mobile) {
          background-color: #cc6615;
        }
      }
    }
  }
  .separator__title {
    font-family: $sixth-font;
    font-size: 16px;
    @media (--tablet) {
      font-size: 19px;
    }
  }
}
