.blog-item {
  border-color: $color-gray-300;

  @media (--tablet) {
    flex-direction: column;
  }

  &__date {
    color: #999;

    @media (--tablet) {
      margin-bottom: 10px;
    }
  }

  &__container {
    @media (--tablet) {
      flex-direction: row;
      justify-content: start;
    }
  }

  &__container-avatar {
    width: 126px;
  }

  &__detail {
    min-height: 124px;
    width: 65%;

    @media (--tablet) {
      width: initial;
      padding-right: 0px;
      padding-left: 10px;
    }
  }

  &__blog {
    color: #8f071f;
  }

  &__author {
    color: #777;

    @media (--tablet) {
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__post {
    @media (--tablet) {
      font-size: 20px;
    }
  }
}
