.blog-item {
  /* &__date {} */

  //&__container { }

  &__container-avatar {
    width: 125px;
    height: 125px;
  }

  &__detail {
    min-height: 124px;
    width: 65%;

    @media (--tablet) {
      width: initial;
      max-width: 475px;
    }
  }

  &__blog {
    color: #8f071f;
  }

  /* &__author {} */

  /* &__post {} */
}