.extraordinary-story-grid {
  background-color: #1f1f1f;

  @media (--tablet) {
    flex-direction: row;
  }
}

.story-video-box {
  background: #2e2e2e;
  padding: 80px 12px 12px;

  @media (--tablet) {
    padding: 12px;
    max-width: 60%;
  }

  @media (--desktop) {
    width: 602px;
  }
}

.sections-grid {
  @media (--tablet) {
    padding-left: 30px;
    max-width: 40%;
  }

  @media (--desktop) {
    width: 400px;
  }

  &__text {
    color: #8d8d8d;
    top: 16px;

    @media (--tablet) {
      position: static;
    }
  }

  &__text-image {
    width: 90px;
    height: 60px;
  }

  &__title {
    color: #ffc90a;
  }
}

.sections-grid-item {
  width: 50%;

  &__title {
    color: $color-white;
  }

  &__image-container {
    max-height: 94px;
  }
}
