.extraordinary-story-grid {
  background-color: #1f1f1f;
}

.story-video-box {
  background: #2e2e2e;
  // padding: 80px 12px 12px;
  padding: 12px;
  min-height: 280px;
  margin-top: 80px;

  @media (--tablet) {
    /* max-width: 60%; */
  }

  @media (--desktop) {
    width: 602px;
    max-height: 364px;
  }
}

.sections-grid {
  @media (--tablet) {
    // max-width: 40%;
  }

  @media (--desktop) {
    width: 400px;
  }

  &__text {
    top: 16px;

    @media (--desktop) {
      position: static;
    }
  }

  &__text-image {
    width: 90px;
    height: 60px;
  }

  &__title {
    color: #ffc90a;
  }
}

.sections-grid-item {
  width: 50%;

  &__image-container {
    height: 85px;
    margin-bottom: 3px;
  }
}

.youtube-box {
  @media (--tablet) {
    flex-direction: column;
  }

  @media (--desktop) {
    flex-direction: row;
  }

  .story-video-box {
    // padding: 12px;
    // margin-top: 80px;
    align-self: center;
    min-height: initial;
    @media (--desktop) {
      margin-top: 0px;
      padding-bottom: 34.15%;
    }
  
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
  
    & iframe,
    & object,
    & embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .sections-grid {
    @media (--tablet) {
      max-width: 100%;
      padding-left: 0px;
    }
    @media (--desktop) {
      padding-left: 30px;
    }
    &__text {
      @media (--tablet) {
        position: absolute;
      }
  
      @media (--desktop) {
        position: static;
      }
    }
  }
}
