.most-read-item {
  font-family: $primary-font;
  &__icon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    left: inherit;
    right: 8px;
    bottom: 6px;
    top: inherit;
    transform: none;
    border-radius: 0;
  }
}
