.story-interest {
  &__titleList {
    border-top: 1px solid $border-gray;
    text-align: left;
    font-family: $fourth-font;
    @media (--only-mobile) {
      padding-left: 0;
      font-size: 16px;
    }
  }
  &__list {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  &__item {
    border-top: 1px solid $border-gray;
    padding-top: 10px;
    width: 100%;
    @media (--tablet) {
      width: 47%;
    }
  }
  &__figure {
    height: 190px;
    display: block;
  }
  &__category {
    display: block;
    font-weight: bold;
    word-break: break-word;
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    @media (--desktop) {
      text-align: left;
    }
  }
  &__category-link {
    font-family: $fourth-font;
    @media (--only-mobile) {
      font-size: 13px;
    }
  }
  &__title {
    @media (--desktop) {
      text-align: left;
    }
  }
  &__title-link {
    font-family: $fourth-font;
    color: $color-gray-300;
    @media (--only-mobile) {
      font-size: 13px;
    }
  }
}
