.card-price{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    justify-content: space-between;
    width: 100%;
    color: #bbbbbb;
    font-weight: 700;
}

.card-price__frecuency{
    font-size: 20px;
    justify-content: center;
    display: flex;
    margin: 24px 0 8px 0;
}

.card-price__amount{
    font-size: 60px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    line-height: 50px;
    padding: 24px 0;
}

.card-price__currency{
    font-size: 26px;
    line-height: 26px;
}

.card-price__description{
    font-size: 12px;
    justify-content: center;
    display: flex;
    font-weight: 300;
    padding: 8px 60px;
    text-align: center;
}

.card-price__buy{
    border: 0;
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: center;
    font-size: 16px;
    padding: 24px 0;
    background-color: #e8e8e8;
    color: #bbbbbb;
    font-weight: 300;
}

.card-price:hover{
    color: #444444;
}

.card-price:hover .card-price__buy{
    background-color: #0179af;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

.card-price:hover .card-price__buy:hover{
    background-color: #0071a5;
}