.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  margin: 0 0 32px 20px;
  &__title {
    font: 500 14px/24px $secondary-font;
    letter-spacing: 2.8px;
    color: #070606;
  }
  &__tag {
    display: inline-block;
  }
  &__box {
    flex: 1;
  }
  &__link {
    font: 500 16px/32px $secondary-font;
    text-transform: capitalize;
    color: #035a80;
    & span {
      padding: 7px 7px;
    }
  }
}
