.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  margin: 10px 15px 10px 35px;
  @media (--desktop) {
    margin: 10px 0;
  }
  &__title {
    display: inline-block;
    font: 500 14px/24px $secondary-font;
    text-align: left;
    letter-spacing: 2.8px;
    color: #070606;
  }
  &__tag {
    display: inline-block;
  }
  &__box {
    flex: 1;
  }
  &__link {
    font: 500 16px/32px $secondary-font;
    letter-spacing: 0;
    text-transform: capitalize;
    text-align: left;
    color: #AB8900;
    & span {
      padding: 7px 7px;
    }
    @media (--desktop) {
      color: #25597D;
    }
  }
}