.featured-story {
  &__category {
    height: 24px;
    padding: 2px 11px;
    background-color: $color-primary;
    @media (--tablet) {
      display: flex;
      align-items: center;
    }

    &::after {
      content: '';
      position: absolute;
      border-top: 12px solid transparent;
      border-left: 14px solid $color-primary;
      border-bottom: 11px solid transparent;
      top: 0px;
      left: 100%;
    }

    &.ojo-show {
      background-color: #ec008b;
      &::after {
        border-left: 14px solid #ec008b;
      }
    }
    &.deportes {
      background-color: #fe8032;
      &::after {
        border-left: 14px solid #fe8032;
      }
    }
  }

  &__category-link {
    color: $color-white;
  }

  &__author-link,
  &__category-link {
    font-family: $secondary-font;
  }
  &__title-link {
    color: $color-primary;

    @media (--tablet) {
      padding-top: 10px;
    }
  }

  &.img-complete {
    @media (--tablet) {
      .featured-story__img-box {
        &::before {
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(14, 33, 13, 0.1) 30%,
            rgba(14, 33, 13, 0.8) 80%,
            #0e210d
          );
        }
      }
    }
    .featured-story__category {
      &::after {
        @media (--tablet) {
          border-bottom: 11px solid transparent;
        }
      }
    }
    .featured-story__author-link {
      color: $color-white;
    }
  }

  &.expand {
    .featured-story__category {
      border: 1px solid $color-primary;
    }

    .featured-story__category-link {
      color: $color-primary;
    }

    .featured-story__title-link {
      padding-top: 10px;
    }

    &.img-complete {
      .featured-story__category {
        border: 1px solid $color-white;
      }

      .featured-story__img-box {
        &::before {
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(14, 33, 13, 0.1) 30%,
            rgba(14, 33, 13, 0.8) 80%,
            #0e210d
          );
        }
      }
    }
  }

  &.featured-story--live {
    .featured-story__headband-link {
      background-color: $color-tertiary;
      color: $color-white;
      font-family: $secondary-font;
    }
  }
}
