.story-item {
  &__date {
    margin-left: 15px;

    @media (--tablet) {
      margin-left: 0;
    }
  }

  &__title {
    color: $color-base-300;
  }

  &__subtitle {
    color: $color-gray-300;
  }
}
