.related-internal {
  background-color: #F8F8F8;
  border: 1px solid #F0F0F0;
  @media (--tablet) {
    width: 100%;
  }
  &__figure {
    width: 120px;
    height: 64px;
  }
  &__multimedia-icon {
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__title-link {
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px;
    height: 62px;
    @media (--only-mobile) {
      font-size: 15px;
    }
  }
}
