$border-gray: #c1c1c1;
.related-content {
  &__title {
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
    @media (--only-mobile) {
      font-size: 16px;
    }
  }
  &__link {
    font-family: $fourth-font;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 17px;
    line-height: 1.33;
    @media (--tablet) {
      font-size: 20px;
      max-height: calc(20px * 22px * 2);
    }
  }
  &__item {
    border-bottom: 1px dashed $border-gray;
    border-top: 0;
    @media (--only-mobile) {
      display: flex;
    }
    @media (--tablet) {
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &__information {
    @media (--only-mobile) {
      order: 1;
      padding: 10px 10px 0 10px;
      width: calc(100% - 80px);
    }
  }
  &__multimedia {
    order: -1;
    width: 80px;
    height: 90px;
  }
  &__icon {
    right: 10px;
    top: 10px;
    margin: 0;
  }
}
