$border-gray: #c1c1c1;
.related-content {
  &__title {
    border-top: 1px solid $border-gray;
    border-bottom: 1px solid $border-gray;
  }
  &__link {
    font-family: $fourth-font;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    @media (--tablet) {
      max-height: calc(20px * 22px * 2);
      font-size: 20px;
    }
  }
  &__item {
    border-bottom: 1px dashed $border-gray;
    border-top: 0;
    @media (--tablet) {
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  &__multimedia {
    margin-right: 20px;
    @media (--tablet) {
      width: 80px;
      height: 90px;
    }
  }
}
