.story-content {
  li {
    font-family: $primary-font;
  }
  .pquote__text {
    color: $color-link;
  }
  &__icon {
    color: $color-gray-200;
  }
  &__font--secondary {
    font-family: $primary-font;
  }
  &__caption {
    color: $color-gray-200;
    border-bottom: 1px dashed $color-gray-200;
    padding-bottom: 10px;
    font-size: 13px;
  }
  &__taboola {
    .thumbnails-a {
      width: 100% !important;
    }
  }
}

.opinion .content-sidebar {
  background-color: $color-tertiary;
  padding-left: 10px;
  padding-right: 10px;
}
