.story-content {
  &__font--secondary {
    font-family: $tertiary-font;
    font-size: 20px;
    @media (--only-mobile) {
      font-size: 21px;
    }
    b {
      font-family: $secondary-font;
      @media (--only-mobile) {
        font-size: 18px;
      }
    }
    a {
      color: #4a88b1;
      text-decoration: underline;
      b {
        font-family: $tertiary-font;
      }
    }
  }
  li {
    font-family: $tertiary-font;
    & a {
      color: #4a88b1;
      text-decoration: underline;
    }
  }
  .pquote__text {
    color: $color-link;
  }
  &__icon {
    color: $color-gray-200;
  }

  &__caption {
    /* color: $color-gray-200; */
    border-bottom: 1px dashed $color-gray-200;
    padding-bottom: 10px;
    font-size: 13px;
    font-family: $secondary-font;
    color: #888;
  }
  &__taboola {
    .thumbnails-a {
      width: 100% !important;
    }
  }
  &__date {
    color: #888;
    font-size: 12px;
    font-family: $secondary-font;
    justify-content: flex-end;
    flex-direction: column;
    @media (--only-mobile) {
      text-align: right;
      width: 134px;
      order: 1;
    }
  }
  &__time {
    display: block;
    line-height: 18px;
    width: 100%;
    text-align: right;
  }
  &__author {
    @media (--only-mobile) {
      flex-direction: row;
    }
  }
  &__author-info {
    align-items: center;
    @media (--only-mobile) {
      flex-direction: row;
    }
  }
  &__author-link {
    font-family: $secondary-font !important;
    font-size: 16px !important;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 5px;
  }
  &__author-image {
    width: 57px;
    height: 57px;
    margin-right: 10px;
  }
  &__author-role {
    font-family: $secondary-font;
    font-size: 12px;
    margin-bottom: 5px;
  }
  &__author-email {
    font-family: $secondary-font;
    font-size: 12px;
    color: #747a84;
  }
  &__more-link {
    .icon-linkedin-circle {
      color: #0e76a8;
    }
  }
  &__list-more {
    width: 110px;
  }
}

li.story-content__item a.story-content__link {
  text-decoration: none;
}

.opinion .content-sidebar {
  background-color: $color-tertiary;
  padding-left: 10px;
  padding-right: 10px;
}

.no_copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
