.story-tags {
  &__title {
    font-family: $primary-font;
    @media (--tablet) {
      font-size: 16px;
    }
  }
  &__link {
    background-color: transparent;
    color: #343434;
    text-decoration: underline;
    padding-left: 0;
    font-style: italic;
    font-family: $tertiary-font;
    font-size: 18px;
    @media (--tablet) {
      font-size: 20px;
    }
  }
}
