.story-content {
  li {
    font-family: $tertiary-font;
  }
  .pquote__text {
    color: $color-link;
  }
  &__icon {
    color: $color-gray-200;
  }
  &__font--secondary {
    font-family: $tertiary-font;
    font-size: 20px;
    @media (--only-mobile) {
      font-size: 21px;
    }
    a {
      color: #4a88b1;
      b {
        font-family: $tertiary-font;
      }
    }
    b {
      font-family: $secondary-font;
      @media (--only-mobile) {
        font-size: 18px;
      }
    }
  }
  &__caption {
    color: $color-gray-200;
    border-bottom: 1px dashed $color-gray-200;
    padding-bottom: 10px;
    font-size: 13px;
    font-family: $secondary-font;
    color: #888888;
  }
  &__taboola {
    .thumbnails-a {
      width: 100% !important;
    }
  }
  &__date {
    color: #888888;
    font-size: 10px;
    font-family: $secondary-font;
    @media (--only-mobile) {
      text-align: right;
      width: 134px;
      order: 1;
    }
  }
  &__author {
    @media (--only-mobile) {
      flex-direction: row;
    }
  }
  &__author-link {
    font-family: $primary-font;
    font-size: 18px;
  }
  &__author-email {
    font-family: $primary-font;
  }
  &__more-link {
    .icon-linkedin-circle {
      color: #0e76a8;
    }
  }
  &__list-more {
    width: 110px;
  }
}

.opinion .content-sidebar {
  background-color: $color-tertiary;
  padding-left: 10px;
  padding-right: 10px;
}
