.i-survey-item {
  min-height: 28px;

  &__text {
    z-index: 1;
  }

  &__percent {
    color: #4aa8fa;
  }

  &__bar {
    height: 28px;
  }

  &__progress {
    background-color: $color-white;
    height: 28px;
  }

  &__top {
    background-color: $color-base-100;
  }
}
