.i-survey-confirmation {
  background-color: #fcee21;
  z-index: 2;

  @media (--desktop) {
    height: 100%;
    padding: 80px 20px 0;
  }

  &__message {
    color: #646464;
  }

  &__button {
    color: #646464;
    border: 1px solid #646464;
    height: 45px;
    line-height: 43px;
    width: 116px;
  }
}
