.sht {
  color: $color-black;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.1667;
    padding-bottom: 20px;
    font-family: $tertiary-font;
    @media (--tablet) {
      font-size: 34px;
    }
    @media (--desktop) {
      font-size: 36px;
    }
  }

  &__summary {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 1.333;
    font-family: $secondary-font;
    @media (--desktop) {
      font-size: 18px;
    }
  }

  // TODO: Este listado se usa en mag?
  &__list {
    list-style-type: disc;
    padding: 0 0 30px 20px;
    & li {
      font-size: 19px;
      line-height: 26px;
      color: #000;
      margin-bottom: 10px;

      & a {
        text-decoration: underline;
        font-weight: 700;
      }

      @media (--desktop) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  &__link:hover {
    text-decoration: none;
  }
}
