.feature-fullimage {
  &__title {
    @media (--only-mobile) {
      font-size: 25px;
    }
  }
  &__title,
  &__section,
  &__author {
    font-family: $fourth-font;
  }
  &__icon {
    background-color: transparent;
  }
}
