.breaking-news {
  &--bgcolor-1 {
    background-color: $color-attention;
    .breaking-news__text,
    .breaking-news__link,
    .breaking-news__btn-icon {
      color: $color-base-400;
    }
  }
  &--bgcolor-2 {
    .breaking-news__tag {
      animation-name: example;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
  &__text,
  &__link {
    font-weight: 600;
  }
}

@keyframes example {
  from {
    color: $color-black;
  }
  to {
    color: $color-white;
  }
}
