.promotion {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  line-height: 1.1;

  @media (--only-mobile) {
    border-radius: 8px;
    width: 110px;
    margin-left: 15px;
    .promotion__movil-msg {
      display: block;
    }
  }

  &__msg {
    // padding: 20px 0px 10px;

    @media (--only-mobile) {
      padding: 10px 0px 5px;
    }
    &-banner {
      // border: 3.5px solid #fff;
      // background-color: #e1001c;
      width: 68%;
      padding: 0px 5px;
      font-size: 18px;
      font-weight: bold;
      margin: auto;
      color: black;
      border: "3.5px solid #fff";
      border-radius: 20px;

      @media (--only-mobile) {
        border: 1.8px solid #fff;
        font-size: 6px;
        color: white;
        padding: 5px;
        border-radius: 6px;
      }
    }
  }

  &__img-first {
    width: 180px;
    @media (--only-mobile) {
      width: 60px;
    }
  }
  &__img-second {
    width: 197px;
    padding-bottom: 5px;
    @media (--only-mobile) {
      width: 67px;
    }
  }
}

.promotion__movil {
  display: none;
  @media (--only-mobile) {
    display: flex;
    width: 70%;
  }

  &-msg {
    width: 80%;
    font-size: 15.7px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.8px;
    color: black;
  }
}
