.blog-separator {
  max-width: 50%;

  @media (--tablet) {
    width: 33%;
  }

  @media (--desktop) {
    width: 20%;
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }

  &__box-title {
    height: 130px;
  }

  &__box-middle {
    border-top-color: $color-gray-300;
    border-bottom-color: #ccc;
    height: 64px;
  }

  &__section {
    color: #ccc;
  }

  &__img {
    width: 126px;
    height: 126px;
  }
}
