.blog-separator {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  @media (--desktop) {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 0px;
    
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  @media (--tablet) {
    width: 33%;
    
  }



  &__header {
    @media (--desktop) {
      border-top: 1px dashed #8a8a8a;
    }
  }

  &__see-more-text {
    @media (--desktop) {
      background: white;
      font-size: 14px;
    }
  }

  &__box-title {
    min-height: 76px;
  }

  &__box-middle {
    border-top-color: $color-gray-300;
    border-bottom-color: #ccc;
    min-height: 85px;

    &:before {
      content: '';
      height: 2px;
      width: 25px;
      background-color: #000;
      margin-bottom: 10px;
    }
    &:after {
      content: '';
      height: 2px;
      width: 25px;
      background-color: #000;
      margin-top: 10px;
    }
  }

  &__section {
    color: #ccc;
  }
  &__author {
    font-size: 24px;
  }

  &__link {
    font-size: 19px;
  }
  &__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
