.featured-author {
  @media (--only-mobile) {
    height: auto;
  }
  &__img {
    @media (--tablet) {
      max-height: 157px;
    }
  }
  &__author-img {
    width: 42px;
    height: 42px;
  }
  &__title-link {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: calc(1.5rem * 1.16667 * 3);
  }

  &.second {
    .featured-author {
      &__img-link {
        @media (--tablet) {
          width: 50%;
        }
      }
      &__content {
        @media (--tablet) {
          width: 50%;
        }
      }
      &__img {
        max-height: 374px;
      }
    }
  }
  &.third {
    min-height: 374px;
    .featured-author {
      &__content {
        @media (--tablet) {
          width: 50%;
        }
      }
      &__img {
        max-height: 374px;
      }
      &__img-picture {
        &::before {
          content: '';
          position: absolute;
          pointer-events: none;
          width: 70%;
          height: 100%;
          bottom: 0;
          left: 0;
          background: linear-gradient(
            to left,
            rgba(68, 68, 68, 0) 0%,
            rgba(0, 0, 0, 0.5)
          );
        }
      }
    }
  }
}
