.story-header {
  &__title-section {
    font-family: $fourth-font;
    font-size: 18px;
    @media (--desktop) {
      font-size: 20px;
    }
  }
  &__news-title {
    font-family: $fourth-font;
    font-weight: 700;
    font-size: 25px;
    @media (--desktop) {
      font-size: 40px;
    }
  }
  &__icon {
    color: $color-gray-300;
  }
  &__news-summary {
    font-size: 18px;
  }
  &__list {
    @media (--only-mobile) {
      display: flex;
    }
  }
}
