.content-ranking-trome {
  background-color: #f2f2f2;

  &__form {
    text-align: center;
    width: 360px;

    @media (min-width: 730px) and (max-width: 1008px) {
      width: 721px;
      display: grid;
      grid-template-columns: repeat(2, 360px);
    }
    @media (--desktop) {
      width: 1092px;
      display: grid;
      grid-template-columns: repeat(3, 360px);
    }
  }
  &__container-title {
    text-align: center;
    margin: auto;
    width: 920px;

    @media (min-width: 701px) and (max-width: 1023px) {
      width: 700px;
    }
    @media (--desktop) {
      width: 920px;
    }
    @media (max-width: 700px) {
      width: 300px;
    }

    p {
      color: #333;
      font-family: $secondary-font;
      font-size: 24px;
      font-weight: $regular;
      letter-spacing: -0.38px;
      margin: 0;

      @media (--desktop) {
        width: 680px;
        margin: auto;
      }
      @media (--only-mobile) {
        font-size: 18px;
        color: #666;
      }
    }
  }
  &__title {
    color: #000;
    font-family: $primary-font;
    font-size: 36px;
    font-weight: $extra-bold;
    padding: 48px 0 16px;
    letter-spacing: -0.58px;
    margin: 0;

    @media (--only-mobile) {
      padding-top: 32px;
      font-size: 30px;
    }
  }
  &__instructions {
    background: #fb743a;
    border: 1px solid #cc9c14;
    border-radius: 10px;
    color: #fff;
    font-weight: $bold;
    font-family: $secondary-font;
    text-align: left;
    padding: 23px 32px 18px;
    margin-top: 24px;
    margin-bottom: 32px;

    @media (--desktop) {
      width: 706px;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 32px;
      font-size: 16px;
    }
    @media (--only-mobile) {
      font-size: 14px;
    }
  }
  &__wrapper-cards {
    display: flex;
    justify-content: center;
  }
  &__card {
    width: 340px;
    // height: 334px;
    border-radius: 10px;
    box-shadow: 0 3px 6px #00000029;
    display: inline-block;
    background: #fff;

    @media (--tablet) {
      margin: 26px 12px;
    }
    @media (--only-mobile) {
      margin: 26px 12px;

      &:last-child {
        margin: 0;
        margin-top: 26px;
      }
    }

    &:last-child {
      grid-column-start: 2;
    }
  }
  &__card-head {
    background-color: #252525;
    padding: 14px 0;
    border-radius: 10px 10px 0 0;
    position: relative;

    h3 {
      color: #d5b355;
      text-align: center;
      font-size: 16px;
      font-weight: $extra-bold;
      font-family: $primary-font;
      margin: 0;
    }
  }
  &__image {
    position: absolute;
    height: 72px;
    width: 72px;
    left: 0;
    top: -28px;
  }
  &__card-body {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  &__list {
    list-style: none;
    margin: 0;
    display: grid;
    gap: 12px;
    padding: 20px 16px;

    label {
      cursor: pointer;
    }
  }
  &__item {
    width: 244px;
    min-height: 64px;
    display: flex;
    justify-content: center;

    p {
      font-family: $secondary-font;
      font-size: 17px;
      font-weight: $bold;
      letter-spacing: 0.17px;
      text-align: center;
      padding: 12px 0px;
      margin: 0 14px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__adjust-p {
      p {
        text-align: left;
        font-size: 16px;
        letter-spacing: -0.16px;
      }
    }
  }
  &__wrapper-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 308px;
    display: flex;
    justify-content: space-between;
  }
  &__item-arrow {
    width: 0;
    height: 0;
    position: absolute;
  }
  &__item-arrow:checked {
    ~ .content-ranking-trome__wrapper-item {
      background: #cc9c14;
      color: #fff;
    }
  }
  &__wrapper-item-img {
    width: 64px;
    overflow: hidden;
  }
  &__item-img {
    // height: 64px;
    border-radius: 0 6px 6px 0;
    width: 100%;
    height: auto;
  }
  @supports (object-fit: cover) {
    &__item-img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  &__container-button {
    width: 100%;
    text-align: center;
    height: 116px;
    @media (--only-mobile) {
      height: 160px;
    }
  }
  &__button {
    background-color: #e8520c;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-family: $secondary-font;
    font-weight: 700;
    height: 52px;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 360px;

    @media (--only-mobile) {
      width: 320px;
      margin-top: 32px;
    }
  }
  &__error {
    font-family: $secondary-font;
    color: #ff3b30;
    font-size: 14px;
    letter-spacing: 0.14px;
    margin: auto;
    width: 386px;

    @media (--only-mobile) {
      width: 180px;
      font-size: 13px;
      font-weight: $regular;
    }
  }

  &__modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    width: 100%;
  }
  &__wrapper-modal {
    height: 480px;
    width: 480px;

    @media (--only-mobile) {
      height: 320px;
      width: 320px;
    }
  }
  &__wrapper-img {
    width: 480px;
    height: 480px;
    display: flex;
    justify-content: center;
    position: relative;

    @media (--only-mobile) {
      width: 320px;
      height: 320px;
    }
  }
  &__modal-button {
    border-radius: 6px;
    background: #ff8400;
    opacity: 1;
    text-align: center;
    font-family: $secondary-font;
    font-weight: $bold;
    letter-spacing: 0.32px;
    color: #fff;
    width: 140px;
    height: 42px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    bottom: 32px;
  }
}
