// Newsletter
.newsletter {
  @media (--desktop) {
    background-color: #f4f4f4;
    max-width: 1274px;
    padding: 0 60px;
    align-items: inherit;
  }
  &__custom {
    @media (--desktop) {
      max-width: 1274px;
      align-items: inherit;
    }
    @media (--only-mobile) {
      background-color: #fff;
      padding: 25px;
    }
  }

  //&__banner-image { }

  &__box-subscription {
    align-self: center;
    @media (--only-mobile) {
      background-color: #f4f4f4;
      border-radius: 12px;
      border: 1px solid #e4e4e4;
      min-width: -webkit-fill-available;
    }
    @media (orientation: landscape) {
      background-color: #f4f4f4;
      border-radius: 12px;
      border: 1px solid #e4e4e4;
      min-width: -webkit-fill-available;
    }
    @media (--desktop) {
      max-width: 450px;
      border-radius: 12px;
    }
  }
  &__divConfirmation {
    min-height: 300px;
    padding-top: 40px;
    width: 270px;
  }

  &__button {
    height: 50px;
  }

  &__description {
    color: #666;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  &__email {
    height: 50px;
  }

  &__error-message {
    color: $color-error;
  }

  &__image-container {
    border-bottom-width: 2px;
    height: 370px;

    @media (--desktop) {
      width: 380px;
      background-color: inherit;
      // overflow: inherit;
      border-bottom: inherit;
    }
  }

  &__image {
    width: 60%;
  }

  &__title {
    color: #666;

    &::after {
      background-color: $color-primary;
      bottom: 0;
      content: "";
      height: 5px;
      left: 0;
      overflow: hidden;
      position: absolute;
      width: 115px;
    }
  }

  &__strong {
    font-size: 55px;

    @media (--desktop) {
      font-size: 70px;
    }
  }

  &__page-link {
    text-decoration: underline;
  }

  &__input-checkbox {
    margin-top: 1px;
  }
}
.border-r-10 {
  border-radius: 10px;
}
