.doblete {
  height: calc(100% / 2 - 10px);
  padding-bottom: 0;
  &__title {
  }
  &__author {
  }
  &__box-icon {
  }
  &__section-small {
    color: $color-base-300;
  }
  &__box-icon {
    border-top: solid 1px $color-base-300;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -10px;
      width: 10px;
      height: 1px;
      background-color: $color-base-300;
    }
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      right: -10px;
      width: 10px;
      height: 1px;
      background-color: $color-base-300;
    }
  }
}
