#gpt {
  &_top {
    height: auto;
    min-height: 50px;
  }
  &_caja1 {
    @media (--desktop) {
      height: auto;
      min-height: 250px;
      margin-bottom: 20px;
    }
  }
  &_caja2 {
    @media (--desktop) {
      // position: sticky;
      top: 0;
      // height: 250px;
    }
  }
}
