.btn {
    border-radius: 4px;
    padding: 8px 16px;
    margin: 0 4px;
    line-height: 16px;
    font-family: $primary-font;
    cursor: pointer;

    &--small {
        font-size: 9px;
        padding: 4px 6px;
    }

    &--outline {
        border: 1px solid $color-primary;
        background-color: transparent;
        color: $color-primary;
    }
}