.content-layout {
  @media (--tablet) {
    min-width: 620px;
  }

  @media (--desktop) {
    min-width: 940px;
    //max-width: 1024px;
  }

  min-width: 320px;
  max-width: 100%;

  &-container {
    @media (--tablet) {
      width: 620px;
    }

    @media (--desktop) {
      width: 940px;
    }
  }
}
