.content-grid-base {
    display: grid;
    gap: $spacingNormal;
}

.content-layout {
    @media (--tablet) {
        min-width: 620px;
    }

    @media (--desktop) {
        min-width: 940px;
        //max-width: 1024px;
    }

    min-width: 320px;
    max-width: 100%;
}

.content-layout-container {
    //overflow: hidden;

    @media (--desktop) {
        width: 100%;
        max-width: 1024px;
        min-width: 940px;
    }
}

/* .content--box{
    @media (--desktop) {
        grid-template-rows: repeat(4, $heightRow);       
    }
    
    grid-auto-rows: $heightRow;    
} */

/* .content--rows-height {
    grid-auto-rows: minmax(calc(($heightRow - ($spacingNormal * ($rowParts - 1))) / $rowParts), auto);
} */
.content--1col {
    grid-template-columns: minmax(300px, 100vw);
}

.content--2col {
    @media (--tablet) {
        grid-template-columns: repeat(2, minmax(300px, calc((100vw - #{$gap}) / 2)));
    }
}

.content--3col {
    @media (--desktop) {
        grid-template-columns: repeat(3, minmax(300px, calc((1024px - (#{$gap} * 2)) / 3)));
    }
}

.q {
    overflow: hidden;
    background-color: gray;
}

/*-------------- Process to create the 1 col classes */

@for $i from 1 through 4 {
    .row-#{$i} {
        //grid-row: span $rowParts*$i;
        height: ($heightRow * $i)+($spacingNormal * ($i - 1));
    }
}

.col-1,
.col-2,
.col-3 {
    grid-column: span 1;
}

/*-------------- Process to create the 2 col classes */

@media (--tablet) {
    .col-1 {
        grid-column: span 1;
    }

    .col-2,
    .col-3 {
        grid-column: span 2;
    }
}

/*-------------- Process to create the 3 col classes */

@media (--desktop) {
    @for $i from 1 through 3 {
        .col-#{$i} {
            grid-column: span $i
        }
    }
}

/****************************************************/