.content-layout {
  min-width: 320px;
  max-width: 100%;

  @media (--tablet) {
    min-width: 620px;
  }

  @media (--desktop) {
    min-width: 980px;
    //max-width: 1024px;
  }

  &-container {
    @media (--tablet) {
      width: 620px;
    }

    @media (--desktop) {
      min-width: 980px;
    }
  }

  &-wide {
    @media (--tablet) {
      width: 620px;
    }

    @media (--desktop) {
      min-width: 1200px;
    }
  }
}