$primary-font: "Roboto", sans-serif;
$secondary-font: "PT Serif", serif;

.f {
  display: flex;
}

.just-center {
  justify-content: center;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.oflow-h {
  overflow: hidden;
}
