.f {
  display: flex;
}

.just-center {
  justify-content: center;
}

.f-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}
