/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  outline-color: $color-primary;
}

html {
  color: $text-default-color;
  font-family: $primary-font;
  font-size: 13px;

  @media (--tablet) {
    font-size: 14px;
  }

  @media (--desktop) {
    font-size: 16px;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
table,
tbody,
thead,
tfoot,
td,
tr,
th,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a,
button,
select,
[type='radio'],
[type='checkbox'],
[type='button'],
[type='submit'],
[role='button'] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $color-gray-300;
}

a:hover {
  text-decoration: underline;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[type='search'] {
  padding: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration,
input[type='search'] {
  -webkit-appearance: none;
  border: none;
}

button {
  font-family: inherit;
  border-style: none;
  color: $text-default-color;
  background-color: transparent;
}

address {
  font-style: normal;
}

select {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
