@function get-fixed-class($value) {
  @if $value==100% {
    $value: full;
  }

  @if $value==none {
    $value: hidden;
  }

  @return $value;
}

/** ----------------------------*
*          DIMENSIONS           *
*-------------------------------*/

$map-dimens: 100%, auto, inherit, 0;

@each $dimen-value in $map-dimens {
  $dimen-class: get-fixed-class($dimen-value);

  @include build-class(w-#{$dimen-class}, width, $dimen-value);
  @include build-class(h-#{$dimen-class}, height, $dimen-value);
}

/** ----------------------------*
*        OBJECT-FIT & POS       *
*-------------------------------*/

$map-objects: (
  cover: object-fit,
  contain: object-fit,
  center: object-position,
  top: object-position,
  bottom: object-position,
);

@each $object-val, $object-attr in $map-objects {
  @include build-class(object-#{$object-val}, $object-attr, $object-val);
}

/** ----------------------------*
*           DISPLAYS            *
*-------------------------------*/

$map-displays: block, flex, grid, inline, inline-block, table, none;
// inline-flex

@each $display in $map-displays {
  $display-class: get-fixed-class($display);

  @include build-class($display-class, display, $display);
}

// TODO:_Homologar las clases de no-<device>
.no-desktop,
[id*='ads-m'],
[id*='ads_m'] {
  @media (--tablet) {
    display: none;
  }
}

.no-mobile,
.non-mobile,
[id*='ads-d'],
[id*='ads_d'] {
  @media screen and (max-width: 639px) {
    display: none;
  }
}

[id*='ads-m'],
[id*='ads_m'],
[id*='ads-d'],
[id*='ads_d'] {
  text-align: center;

  @media print {
    display: none;
  }
}

.non-tablet {
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    display: none;
  }
}

.non-desktop {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.clearfix {
  display: table;
  content: '';
}

/** ----------------------------*
*           OVERFLOW            *
*-------------------------------*/

.overflow-y {
  overflow-y: scroll;
}

.overflow-x {
  overflow-x: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/** ----------------------------*
*           POSITION            *
*-------------------------------*/

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

$map-pos-0: top, right, bottom, left;

@each $pos-0 in $map-pos-0 {
  @include build-class(#{$pos-0}-0, $pos-0, 0);
}

/** ----------------------------*
*               TEXT            *
*-------------------------------*/

$map-text-pos: left, center, right;

@each $text-pos in $map-text-pos {
  @include build-class(text-#{$text-pos}, text-align, $text-pos);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/** ----------------------------*
*             FONTS             *
*-------------------------------*/

.primary-font {
  font-family: $primary-font; // TODO: !important retirado por amp
}

.secondary-font {
  font-family: $secondary-font; // TODO: !important retirado por amp
}

.tertiary-font {
  font-family: $tertiary-font;
}

$map-font-weight: (
  thin: 200,
  normal: 400,
  bold: 700,
  xbold: 900,
);

@each $font-weight, $font-weight-val in $map-font-weight {
  @include build-class(font-#{$font-weight}, font-weight, $font-weight-val);
}

/** ----------------------------*
*            RADIUS             *
*-------------------------------*/

$map-radius: (
  none: 0,
  sm: 4px,
  md: 16px,
  lg: 50px,
  '': 50%,
);

@each $radius-class, $radius in $map-radius {
  @if $radius-class== '' {
    @include build-class(rounded, border-radius, $radius);
  } @else {
    @include build-class(rounded-#{$radius-class}, border-radius, $radius);
  }
}

/******* Extra ********/

.cursor-pointer {
  cursor: pointer;
}

.no-selected {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lazy {
  filter: blur(10px);
}
