/******** DIMENSIONS **********/
.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-inherit {
  width: inherit;
}

.w-0 {
  width: 0;
}

.h-full {
  height: 100%;
}

.h-auto {
  height: auto;
}

.h-inherit {
  height: inherit;
}

.h-0 {
  height: 0;
}

// ----------------------------------------------

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}

.object-center {
  object-position: center;
}

.object-top {
  object-position: top;
}

.object-bottom {
  object-position: bottom;
}

/******** DISPLAYS **********/

.block {
  display: block;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-b {
  display: inline-block;
}

.table {
  display: table;
}

.no-desktop,
[id^='ads-m'],
[id^='ads_m'] {
  @media (--tablet) {
    display: none;
  }
}

.no-mobile,
[id^='ads-d'],
[id^='ads_d'] {
  @media screen and (max-width: 639px) {
    display: none;
  }
}

.clearfix {
  display: table;
  content: '';
}

/******** OVERFLOW **********/

.scroll-vertical {
  overflow-y: scroll;
}

.scroll-vertical-auto {
  overflow-y: auto;
}

.scroll-horizontal {
  overflow-x: scroll;
}

.scroll-horizontal-auto {
  overflow-x: auto;
}

.overflow-hidden {
  overflow: hidden;
}

/******** POSITION **********/

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

/******** TEXT **********/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/******** FONTS **********/

.primary-font {
  font-family: $primary-font !important;
}

.secondary-font {
  font-family: $secondary-font !important;
}

.font-thin {
  font-weight: 200;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-xbold {
  font-weight: 900;
}

/******* Extra ********/

.cursor-pointer {
  cursor: pointer;
}