/******** DIMENSIONS **********/

.full-width {
  width: 100%;
}

.height-inherit {
  height: inherit;
}

.margin-top {
  margin-top: $spacing-normal;
}

.padding-small {
  padding: $spacing-small;
}

.padding-normal {
  padding: $spacing-normal;
}

.padding-large {
  padding: $spacing-large;
}

.padding-xlarge {
  padding: $spacing-xlarge;
}

.padding-lateral-normal {
  padding-left: $spacing-normal;
  padding-right: $spacing-normal;
}

/******************************************/

/******** DISPLAYS **********/

.block {
  display: block;
}

.hide {
  display: none;
}

.no-desktop,
[id^='ads-m'],
[id^='ads_m'] {
  @media (--tablet) {
    display: none;
  }
}

.no-mobile,
[id^='ads-d'],
[id^='ads_d'] {
  @media screen and (max-width: 639px) {
    display: none;
  }
}

/******************************************/

/******** TEXT **********/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

/******************************************/

/******** OVERFLOW **********/

.scroll-vertical {
  overflow-y: scroll;
}

.scroll-vertical-auto {
  overflow-y: auto;
}

.scroll-horizontal {
  overflow-x: scroll;
}

.scroll-horizontal-auto {
  overflow-x: auto;
}

.overflow-hidden {
  overflow: hidden;
}

/******************************************/

/******* Background-text contrast *******/
.bg--white {
  background-color: $color-white;
}

.bg-color--link {
  background-color: $color-link;
  color: $color-white;
}

.bg-color--white {
  background-color: $color-white;
  color: $color-dark;
}

.bg-color--error {
  background-color: $color-error;
  color: $color-white;
}

.bg-color--dark {
  background-color: $color-dark;
  color: $color-white;
}

/******************************************/

/******** POSITION **********/

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/******************************************/

/********** BUTTON ***********/

.btn {
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 4px;
  line-height: 16px;
  cursor: pointer;
}

/*****************************************/
