.author-card {

  // border-bottom: solid 1px #333;
  // &:nth-child(even){
  // 	border-right: solid 1px #333;
  // }
  &__wrapper {
    background-color: gold;

    @media (--tablet) {
      flex-direction: row-reverse;
      height: 340px;
      //max-width: 310px;
    }

    @media (--desktop) {
      height: 380px;
    }
  }

  &__box-image {
    @media (--tablet) {
      padding: 0;
      width: 140px;
      height: 250px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;

    @media (--tablet) {
      width: 100%;
      height: 100%;
      border-radius: 0;
      background-color: transparent;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__name {
    font-size: 26px;
    line-height: 1.2;
    color: #333;

    @media (--tablet) {
      max-height: inherit;
    }
  }

  &__group {
    font-size: 11px;
  }

  &__title {
    color: #333;
    width: 90%;
    font-size: 20px;
    line-height: 1.2;

    @media (--tablet) {
      font-size: 18px;
      width: 70%;
    }
  }
}