.author-card {
  // border-bottom: solid 1px #333;
  // &:nth-child(even){
  // 	border-right: solid 1px #333;
  // }
  &__detail{
    width: 70%;
    @media (--tablet) {
      width: 70%;
    }
    @media (--desktop) {
      width: 70%;
    }
  }
  &__wrapper {
<<<<<<< HEAD
    // background-color: gold;
    background-color: $color-base-300;
=======
    background-color: $color-base-200;
>>>>>>> c9a8824a2515552ab523bc4ddbbc10d493109b63

    @media (--tablet) {
      height: 340px;
      //max-width: 310px;
    }

    @media (--desktop) {
      height: $row-height;
    }
  }

  &__box-image {
    @media (--tablet) {
      width: 140px;
      height: 140px;
      position: absolute;
    }
  }

  &__image {
    width: 100px;
    height: 110px;
    border-radius: 50%;

    @media (--tablet) {
      border-radius: 50%;
      background-color: transparent;
      object-fit: contain;
      object-position: bottom;
    }
    @media (--desktop) {
      width: 100px;
      height: 110px;
      border-radius: 50%;
    }
  }

  &__name {
    @media (--tablet) {
      max-height: inherit;
    }
  }
  &__icono{
    background-color: $color-base-200;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: 0px;
    
  }
  &__icon-img{
    width: 30px;
    height: 30px;
    padding: 2px 2px 2px 5px;
  }
}
