.author-card {
  // border-bottom: solid 1px #333;
  // &:nth-child(even){
  // 	border-right: solid 1px #333;
  // }
  &__detail {
    width: 70%;
    @media (--tablet) {
      width: 70%;
    }
    @media (--desktop) {
      width: 70%;
    }
  }
  &__wrapper {
    // background-color: gold;
    background-color: $color-base-300;

    @media (--tablet) {
      height: 340px;
      //max-width: 310px;
    }

    @media (--desktop) {
      height: $row-height;
    }
  }

  &__box-image {
    @media (--tablet) {
      width: 140px;
      height: 140px;
      position: absolute;
    }
  }
  &__image-default {
    width: 100px;
    height: 100px;
    font-size: 70px;
    border-radius: 50%;
    background-color: $color-base-200;
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $color-base-200;
    @media (--tablet) {
      border-radius: 50%;
      background-color: transparent;
      object-fit: contain;
      object-position: bottom;
      background-color: $color-base-200;
    }
  }

  &__name {
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 24px;
    @media (--tablet) {
      max-height: inherit;
    }
  }
  &__icono {
    background-color: $color-base-200;
    bottom: 20px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
  }
  &__group {
    font-size: 11px;
    line-height: 15px;
    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: $color-gray-300;
      margin: 10px auto 0;
    }
  }
  &__title {
    font-size: 16px;
    line-height: 20px;
  }
}
