.author-card {
  // border-bottom: solid 1px #333;
  // &:nth-child(even){
  // 	border-right: solid 1px #333;
  // }
  &__wrapper {
    background-color: $color-base-200;

    @media (--tablet) {
      height: 340px;
      //max-width: 310px;
    }

    @media (--desktop) {
      height: $row-height;
    }
  }

  &__box-image {
    @media (--tablet) {
      width: 140px;
      height: 140px;
      position: absolute;
    }
  }

  &__image {
    width: 60px;
    height: 60px;

    @media (--tablet) {
      border-radius: 0;
      background-color: transparent;
      object-fit: contain;
      object-position: bottom;
    }
  }

  &__name {
    @media (--tablet) {
      max-height: inherit;
    }
  }

  &__title {
    width: 90%;

    @media (--tablet) {
      width: 70%;
    }
  }
}
