.opinion-grid {
  grid-template-columns: 1fr;

  @media (--tablet) {
    max-width: 700px;
    grid-template-columns: repeat(2, 50%);
  }

  @media (--desktop) {
    max-width: 100%;
    grid-template-columns: repeat(3, 33.3%);
  }

  &--list {
    max-width: 100%;
    margin: 0 auto;
  }

  &--title {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

  &__box-title {
    border-bottom: solid 1px #333;

    @media (--tablet) {
      padding: 25px 0;
    }
  }

  &__title {
    @media (--tablet) {
      font-size: 20px;
    }
  }

  &__more {
    color: #333;
  }
}
