.story-contents {
  padding: 25px 20px 20px 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid $border-color-gray;
  &__content {
    padding: 5px 0 40px 0;
  }
  &__blockquote {
    font-size: 18px;
    padding: 20px 20px 20px 36px;
    margin: 40px 0 40px 15px;
    line-height: 22px;
  }

  &__font-paragraph {
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.5;
  }

  &__author-date {
    line-height: 18px;
    font-size: 13px;
    @media (--only-mobile) {
      margin-bottom: 20px;
    }
  }
  &__image {
    & figcaption {
      padding: 14px 0;
      font-size: 13px;
    }
  }
  &__caption {
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 1.3;
  }
  &__social {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    & .st-social__share {
      float: right;
    }
  }
}
