.tv-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  z-index: 20;
  background-color: $color-gray-300;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 1px $color-gray-200;
  }
  &__title {
    color: gold;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: $secondary-font;
  }
  &__icon {
    padding: 5px;
    margin-right: 10px;
    color: white;
    font-size: 13px;
  }
  &__list {
    margin-top: 10px;
  }
  &__item {
    margin-bottom: 5px;
  }
  &__link {
    display: block;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    font-family: $secondary-font;
  }
}
