.mr-view {
  &__header {
    background-color: #eee;
  }
  &__title {
    font-weight: 900;
  }
  &__item {
    border-bottom: solid 1px #ccc;
    padding: 6px 0;
    &:nth-child(3) {
      .mr-view__num {
        color: #f27c5c;
      }
    }
    &:last-child {
      .mr-view__num {
        color: #f29379;
      }
    }
  }
  &__num,
  &__link {
    font-family: $secondary-font;
  }
  &__num {
    color: $color-fourth;
    font-size: 30px;
    font-weight: 900;
  }
  &__link {
    font-size: 12px;
    line-height: 14px;
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__btn {
    width: 140px;
    height: 25px;
    padding: 0;
    background-color: $color-fourth;
    color: $color-white;
    font-weight: 400;
    font-family: $tertiary-font;
    font-size: 11px;
    line-height: 25px;
  }
  &__wrapper.hashtml {
    *.mr-view__body {
      max-height: none;
    }
  }
}
