.stories-l-section {
  .stories-l-header {
    height: 40px;
    &.bg-info {
      background-color: $color-base-200;
    }
  }
  .stories-l-item {
    &:first-child {
      padding-top: 0;
      .stories-l-item__link {
        font-size: 16px;
        font-weight: 700;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .stories-l-card__image {
    height: 169px;
    max-height: none;
  }
  .stories-l-item__link {
    font-size: 14px;
  }
  .stories-l-header__title {
    max-width: 100%;
  }
}
