.header {
  background-color: transparent;
  height: 80px;
  &__logo {
    height: auto;
  }

  &__item {
    &:not(:last-child):after {
      content: ' \B7 ';
    }
  }

  &__link {
    font-size: 1rem;
    color: $color-gray-300;
    text-transform: capitalize;
    &:hover {
      color: $color-gray-300;
      text-decoration: underline;
    }
  }
  &__tags {
    font-weight: 700;
  }
  &__date {
    font-weight: 500;
  }
  &__date,
  &__tags {
    font-family: $tertiary-font;
  }
  &__wrapper--dashed {
    @media (--tablet) {
      border-bottom: 1px dashed $color-gray-200;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  &__btn-container {
    .btn--outline {
      background-color: $color-white;
      border: 0;
      color: $color-gray-300;
      height: 34px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.header-inverted {
    height: $header-mobile-height;
    @media (--desktop) {
      height: $header-inverted-height;
    }
    &.active {
      height: 45px;
    }
  }
}
