.header {
  &__featured {
    justify-content: flex-start;
  }

  &__item {
    &:not(:last-child):after {
      content: ' \B7 ';
    }
  }

  &__link {
    font-size: 1rem;
    color: $color-gray-300;
    text-transform: capitalize;
    font-weight: 700;
  }
  &__tags {
    font-weight: 700;
  }
  &__date {
    font-weight: 500;
  }
  &__date,
  &__tags {
    font-family: $tertiary-font;
  }
}
