.st-sidebar {
  &__container {
    @media (--tablet) {
      width: 620px;
    }
    @media (--desktop) {
      min-width: 980px;
    }
  }

  &__content {
    background: $color-white;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    @media (--desktop) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__main {
    width: 100%;
    margin-bottom: 20px;
    @media (--desktop) {
      width: calc(100% - 313px);
      padding-right: 10px;
      margin-bottom: 0;
    }
  }

  &__side {
    width: 100%;
    @media (--desktop) {
      width: 313px;
      padding-left: 10px;
      & > [class] {
        margin-bottom: 20px;
      }
    }
  }
}
