.story-interest {
  &__titleList {
    text-align: left;
    font-family: $primary-font;
    padding: 20px 0 10px;
    border-bottom: 1px solid #ccc;
    font-weight: 900;
    font-size: 15px;
  }
  &__list {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  &__item {
    display: flex;
    flex-direction: row-reverse;
    @media (--tablet) {
      width: 49%;
    }
  }
  &__figure {
    height: 87px;
    display: block;
    width: 116px;
  }
  &__category {
    display: block;
    font-weight: bold;
    word-break: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    order: 1;
    margin-bottom: 5px;
    @media (--desktop) {
      text-align: left;
      display: flex;
    }
  }
  &__category-link {
    font-family: $primary-font;
    font-size: 10px;
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
  }
  &__title {
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @media (--desktop) {
      text-align: left;
    }
  }
  &__title-link {
    font-family: $primary-font;
    color: $color-black;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
  }
  &__detail {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100% - 87px);
    justify-content: flex-end;
    padding-top: 0;
  }
}
