.story-interest {
  &__titleList {
    text-align: left;
    font-family: $primary-font;
    padding: 20px 0 10px;
    @media (--only-mobile) {
      font-size: 16px;
    }
  }
  &__list {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  &__item {
    display: flex;
    flex-direction: row-reverse;
    @media (--tablet) {
      width: 47%;
    }
  }
  &__figure {
    height: 87px;
    display: block;
    width: 116px;
  }
  &__category {
    display: block;
    font-weight: bold;
    word-break: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    order: 1;
    @media (--desktop) {
      text-align: left;
    }
  }
  &__category-link {
    font-family: $primary-font;
    font-size: 11px;
    font-weight: 500;
  }
  &__title {
    overflow: hidden;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @media (--desktop) {
      text-align: left;
    }
  }
  &__title-link {
    font-family: $primary-font;
    color: $color-black;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
  }
  &__detail {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100% - 87px);
  }
}
