.__field{
    flex-wrap: wrap;
    width: 530px;
    display: flex;
    justify-content: space-between;
}

.__select{
    background-color: #FFF;
    border: 0
}

.__submit{
    flex: 1;
    background-color: #008eff;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 46px;
    border: 0;
    font-weight: 700;
    outline: 0;
}

.__submit:hover{
    background-color: #0289f7;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}