.amp-nav {
  position: sticky;
  height: $nav-height;
  z-index: 20;
  background-color: $amp-nav-color;

  &__hamburguer {
    width: 20px;
    height: 4px;
    left: 20px;
    right: 20px;
    top: 25px;

    &:before {
      content: '';
      top: -12px;
      width: 100%;
      height: 4px;
      background-color: $color-gray-300;
      left: 0;
    }

    &:after {
      content: '';
      top: -6px;
      width: 100%;
      height: 4px;
      background-color: $color-gray-300;
      left: 0;
    }
  }

  &__wrapper {
    padding: 0 14px;
    border-color: #dadada;
  }

  &__container-menu {
    @media (--desktop) {
      border-right: solid 1px $color-gray-200;
      padding-right: 10px;
    }
  }
}
