.amp-nav-sidebar {
  &.active {
    transition: all 0.5s cubic-bezier(0.56, 1.3, 0.76, 0.88);
    transform: scaleX(1);
  }

  &__list-item {
    float: left;
    width: 33.33%;
    line-height: 31px;
  }

  &__list {
    width: 80vw;
    padding: 44px 20px;
    background-color: #ebebeb;
  }

  &__item {
    border-color: #ccc;

    &:hover {
      transition: all 0.15s ease;
      background-color: rgba(139, 131, 131, 0.96);
      padding-left: 10px;
      color: $color-white;
    }
  }

  &__link {
    transition: all 0.15s ease;
  }

  &__footer {
    border-color: rgba(255, 255, 255, 0.2);
  }

  &__close {
    top: 15px;
    right: 15px;
  }
}

.i-amphtml-sidebar-mask {
  z-index: 1 !important;
}
