.nav {
  position: relative;
  height: $nav-height;
  z-index: 20;
  // max-width: 980px;

  @media print {
    display: none;
  }

  &__wrapper {
    @media (--desktop) {
      display: flex;
    }
  }

  &__container-menu,
  &__search-box {
    height: 20px;

    @media (--desktop) {
      border-right-color: $color-gray-200;
    }
  }

  &__container-right {
    // top: 50%;
    // transform: translateY(-50%);
    right: 15px;
  }

  &__btn {
    color: $color-white;
    outline: 0;

    &:hover {
      text-decoration: none;
    }

    @media (--desktop) {
      color: $color-primary;
    }

    &--featured {
      color: $color-primary;
      height: inherit;
    }

    &--search {
      //padding: 0 0 0 13px;

      //transition: all .002s;

      //transition: all .002s;

      position: absolute;
      right: 0;
      top: 0;
      padding: 6px;
    }

    &--section {
      //padding: 4px;
      & span {
        font-weight: bold;
        display: none;
        font-family: $secondary-font;

        @media (--desktop) {
          display: inline;
          margin-left: 8px;
        }
      }
    }

    &--login-m {
      width: 34px;
      height: 34px;
      padding: 6px;
      i {
        font-style: normal;
      }
    }
  }

  // &__list { }

  &__list-item {
    &:nth-last-child(1) {
      padding-right: 0;
    }
  }

  &__list-link {
    transition: 0.3s;
    word-break: break-word;

    &:hover {
      color: $color-gray-300;
    }
  }

  &__mobile-logo {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__logo {
    height: $nav-height;
  }

  &__ads {
    // TODO: Temporal
    width: 100px;
    height: 30px;
    // --------------
  }

  // &__header-sub {  }
  &__icon {
    width: 16px;
    height: 16px;
    background-size: cover;
  }

  // &__icon-menu {}
  // &__icon-search {}

  &__input-search {
    background-color: transparent;
    outline: none;
    padding-right: 40px;
    height: 30px;
    text-indent: 0;
    display: initial;
    transition: width 0.25s cubic-bezier(0.49, 0.37, 0.445, 0.715),
      padding-left 0.25s;
    will-change: width;

    &.active {
      padding-left: 8px;
      transition: width 0.25s cubic-bezier(0.49, 0.37, 0.445, 0.715);
      width: 200px;
      will-change: width;
      border: solid 1px $color-primary;
    }
  }

  .layer {
    position: absolute;
    top: 45px;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    display: none;
  }

  .nav__list,
  .nav__container-right {
    z-index: 1;
  }

  @media (--desktop) {
    .nav__list {
      width: 1000px;
    }
    .nav__list-container {
      max-width: 560px;
      overflow: hidden;
      height: 40px;
    }
  }

  &.active {
    position: fixed; // No borrar, si no reconce sticky deja fixed
    position: sticky;
    width: 980px;
    @supports (position: sticky) {
      width: 100%;
      max-width: 980px;
    }
    @media (--desktop) {
      background-color: $color-primary;

      .nav__btn {
        color: $color-white;
      }

      .btn {
        border-color: $color-white;
        color: $color-white;
      }

      .nav__wrapper {
        justify-content: space-between;
      }

      .nav__list,
      .nav__list-container,
      .nav__container-right {
        display: none;
      }

      .nav__logo {
        display: block;
      }

      .nav__search-box {
        display: none;
      }
      .nav__container-menu {
        border-right-color: $color-white;
      }
    }
  }

  /*   Estilos para nav loader en notas */
  &__loader {
    left: 0;
    top: 46px;
    height: 5px;
    background-color: #eaeaea;
  }

  &__loader-bar {
    width: 100%;
    will-change: transform;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s;
  }

  &__container-menu,
  &__mobile-logo {
    z-index: 1;
  }

  &__story-title {
    z-index: 1;
    width: 300px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 700;
    display: none;
  }
}
