.story {
  .nav.active {
    .nav__mobile-logo {
      display: none;
      @media (--desktop) {
        display: block;
        left: 20%;
      }
    }
    .nav__story-title {
      display: -webkit-box;
      margin: auto;
      @media (--desktop) {
        position: absolute;
        left: 30%;
        width: 460px;
        margin: 0;
      }
    }
    .nav__wrapper {
      background-color: $color-white;
    }
    .btn {
      color: $color-primary;
    }
    .nav__container-menu {
      border-color: $color-primary;
    }
    .nav__story-title {
      color: #444;
    }
  }
}
