.story {
  .nav.active {
    .nav__mobile-logo {
      display: none;

      @media (--desktop) {
        display: block;
        left: 20%;
      }
    }

    .nav__story-title {
      display: -webkit-box;
      padding: 0 15px;
      margin: auto;
      color: #444;

      @media (--desktop) {
        position: absolute;
        left: 30%;
        width: 460px;
        margin: 0;
      }
    }

    .nav__wrapper {
      background-color: $color-white;
    }

    .btn {
      color: $color-primary;
    }

    .nav__container-menu {
      border-right-color: $color-primary;
    }
  }
  .nav__story-social-network {
    .story-header__list {
      width: 110px;
    }
    .story-header__icon {
      font-size: 23px;
    }
  }
}
