.navbar-somos {
  background-color: #000;
  height: 45px;

  button:focus {
    outline: none;
  }

  &__logo-img {
    max-height: 30px;
  }

  &__icon {
    color: $color-white;
  }

  &__login-button {
    color: $color-white;
  }

  &__icon-user {
    color: #f8d002;
  }

  &__search-button {
    background-color: $color-white;
    width: 35px;
    height: 35px;
    border: 0;
  }

  &__close-button {
    height: 35px;
    width: 50px;
  }

  &__search-input {
    width: 185px;
    height: 35px;
    border: 0;
  }
}
