.story {
  .nav.active {
    background-color: red;
    .nav__mobile-logo {
      @media (--only-mobile) {
        position: relative;
        left: 50px;
      }
    }
    .nav__story-title {
      display: -webkit-box;
    }
  }
}
