.survey-result {
  &__graphic {
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 3;
  }

  &__title {
    color: #0e6dc1;
    font-size: 32px;
    line-height: 1;
  }

  &__count {
    color: #646464;
    font-size: 18px;
    margin: 5px 0 40px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    font-size: 16px;
    border-bottom: 0;
    margin-bottom: 20px;
    min-height: 28px;
    padding: 0;
    color: #4c4c4c;
  }

  &__text {
    color: #999;
    left: 0;
    padding: 4px 0 0 10px;
    top: 0;
    z-index: 1;
  }

  &__percent {
    color: #4aa8fa;
    padding-left: 8px;
  }

  &__bar {
    height: 28px;
  }

  &__progress {
    background-color: $color-white;
    height: 28px;
    left: 0;
    top: 0;
  }

  &__top {
    background-color: #d5e5ed;
  }

  &__share {
    float: left;
    margin-right: 20px;
  }
}
