body {
  overflow-x: hidden;
}

.story {
  background: $color-white;
}
body,
.bg-container {
  background: $color-white;
}
.grid {
  &--content {
    // border: solid 1px $color-gray-200;
    gap: 0;
    // background-color: $color-gray-200;
    & > div,
    & > section,
    & > article {
      margin: 10px;
      position: relative;
      width: auto;
      min-width: auto;
      &:before {
        content: '';
        position: absolute;
        pointer-events: none;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px $color-gray-100;
      }
    }
  }
}
