@charset "UTF-8";

/* libre-franklin-500 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
      url('../../fonts/LibreFranklin/libre-franklin-v4-latin-500.woff')
      format('woff');
  font-display: swap;
  /* Safari, Android, iOS */
  // url('../../fonts/LibreFranklin/libre-franklin-v4-latin-500.svg#LibreFranklin')
  // format('svg'); /* Legacy iOS */
}

/* libre-franklin-700 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
      url('../../fonts/LibreFranklin/libre-franklin-v4-latin-700.woff')
      format('woff');
  font-display: swap;
  /* Safari, Android, iOS */
  // url('../../fonts/LibreFranklin/libre-franklin-v4-latin-700.svg#LibreFranklin')
  // format('svg'); /* Legacy iOS */
}
/* noto-serif-sc-500 - latin */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Serif SC Medium'), local('NotoSerifSC-Medium'),
      url('../../fonts/NotoSerifSC/noto-serif-sc-v6-latin-500.woff')
      format('woff');
  font-display: swap;
  /* Safari, Android, iOS */
  // url('../../fonts/NotoSerifSC/noto-serif-sc-v6-latin-500.svg#NotoSerifSC')
  // format('svg'); /* Legacy iOS */
}

/* noto-serif-sc-700 - latin */
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif SC Bold'), local('NotoSerifSC-Bold'),
      url('../../fonts/NotoSerifSC/noto-serif-sc-v6-latin-700.woff')
      format('woff');
  font-display: swap;
  /* Safari, Android, iOS */
  // url('../../fonts/NotoSerifSC/noto-serif-sc-v6-latin-700.svg#NotoSerifSC')
  // format('svg'); /* Legacy iOS */
}
