@charset "UTF-8";

/* libre-franklin-500 - latin */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 500;
  src: local("Libre Franklin Medium"), local("LibreFranklin-Medium"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/libre-franklin-v4-latin-500.woff")
      format("woff");
  font-display: swap;
}

/* libre-franklin-700 - latin */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 700;
  src: local("Libre Franklin Bold"), local("LibreFranklin-Bold"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/libre-franklin-v4-latin-700.woff")
      format("woff");
  font-display: swap;
}

/* noto-serif-sc-500 - latin */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Serif SC Medium"), local("NotoSerifSC-Medium"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/noto-serif-sc-v6-latin-500.woff")
      format("woff");
  font-display: swap;
}

/* noto-serif-sc-700 - latin */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Serif SC Bold"), local("NotoSerifSC-Bold"),
    url("https://cdna.elcomercio.pe/resources/dist/elcomercio/fonts/noto-serif-sc-v6-latin-700.woff")
      format("woff");
  font-display: swap;
}
