@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.woff?3r19g5') format('woff'),
    url('../../icons/fonts/default.ttf?3r19g5') format('truetype'),
    url('../../icons/fonts/default.svg?3r19g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/comercio.woff?4r28om') format('woff'),
    url('../../icons/fonts/comercio.ttf?4r28om') format('truetype'),
    url('../../icons/fonts/comercio.svg?4r28om#comercio') format('svg');
  font-weight: normal;
  font-style: normal;
}
