@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/default.eot');
  src: url('../../icons/fonts/default.eot?wlp8g8#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/default.ttf?wlp8g8') format('truetype'),
    url('../../icons/fonts/default.woff?wlp8g8') format('woff'),
    url('../../icons/fonts/default.svg?wlp8g8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../../icons/fonts/comercio.eot');
  src: url('../../icons/fonts/comercio.eot?w4aspys#iefix')
      format('embedded-opentype'),
    url('../../icons/fonts/comercio.ttf?w4aspys') format('truetype'),
    url('../../icons/fonts/comercio.woff?w4aspys') format('woff'),
    url('../../icons/fonts/comercio.svg?w4aspys#comercio') format('svg');
  font-weight: normal;
  font-style: normal;
}
