.content-layout {
  max-width: 100%;
  min-width: 375px;

  @media (--tablet) {
    width: 630px;
  }

  @media (--desktop) {
    min-width: 960px;
    width: 960px;
  }
}

.content-layout-container {
  max-width: 100%;
  min-width: 375px;
  margin-top: 10px;

  @media (--tablet) {
    width: 630px;
    margin-top: 30px;
  }

  @media (--desktop) {
    min-width: 960px;
    width: 960px;
  }
}

.grid {
  &--col-1 {
    grid-template-columns: repeat(1, minmax(375px, 100vw));
  }

  &--col-2 {
    @media (--tablet) {
      grid-template-columns: repeat(2, minmax(285px, 328px));
    }
  }

  &--col-3 {
    @media (--desktop) {
      grid-template-columns: repeat(3, minmax(285px, 328px));
    }
  }

  &--content {
    gap: 10px;

    @media (--tablet) {
      gap: 30px;
    }
  }
}
