<!DOCTYPE html>
<html lang="es">

<head>

  <!-- Solo HOME PAGE - Averiguar sobre ARC IO -->
  <link rel="alternate" type="application/rss+xml" title="Nombre Sitio - Últimas noticias" href="/feed" />

  <!-- Solo HOME PAGE -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Website",
      "url": "https://sitio.pe/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://sitio.pe/buscar/{search_term}",
        "query-input": "required name=search_term"
      }
    }
  </script>

<body>

  <main class="container">Portada principal

  </main>
</body>

</html>