<script>
  ;
  (function (w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js',
    })
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : ''
    j.async = true
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, 'script', 'dataLayer', 'GTM-KKXTKGP')
</script>
<!-- End Google Tag Manager-->

<script type="text/javascript">
  var _sf_async_config = _sf_async_config || {}
  /** CONFIGURATION START **/
  _sf_async_config.uid = 57773 // ACCOUNT NUMBER
  _sf_async_config.domain = nombresitio.pe //DOMAIN TRACKED
  _sf_async_config.useCanonical = true
  var _sf_startpt = new Date().getTime()
  /** CONFIGURATION END **/
</script>
<!-- data: siteProperties > accountNumber// TODO: DAR NOMBRE AL SCRIPT -->


<head>
  ...
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="dns-prefetch" href="//ecoid.pe">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <script src="//static.chartbeat.com/js/chartbeat_mab.js"></script>

  <link rel="stylesheet" href="/pb/resources/dist/elcomercio/css/style.css?d=%24LATEST">

  <link rel="icon" type="image/x-icon" href="/pb/resources/dist/elcomercio/favicon.ico?d=%24LATEST">
  <link rel="shortcut icon" href="/pb/resources/dist/elcomercio/favicon.ico?d=%24LATEST">
  <link rel="apple-touch-icon" href="/pb/resources/dist/elcomercio/apple-touch-icon.png?d=%24LATEST">
  <link rel="apple-touch-icon" sizes="76x76"
    href="/pb/resources/dist/elcomercio/apple-touch-icon-76x76.png?d=%24LATEST">
  <link rel="apple-touch-icon" sizes="120x120"
    href="/pb/resources/dist/elcomercio/apple-touch-icon-120x120.png?d=%24LATEST">
  <link rel="apple-touch-icon" sizes="144x144"
    href="/pb/resources/dist/elcomercio/apple-touch-icon-144x144.png?d=%24LATEST">
  <link rel="apple-touch-icon" sizes="152x152"
    href="/pb/resources/dist/elcomercio/apple-touch-icon-152x152.png?d=%24LATEST">
  <link rel="apple-touch-icon" sizes="180x180"
    href="/pb/resources/dist/elcomercio/apple-touch-icon-180x180.png?d=%24LATEST">
  <link rel="canonical" href="https://elcomercio.pe/play/?_website=elcomercio">

  <meta name="theme-color" content="#f7c600">
  <meta name="msapplication-TileColor" content="#f7c600">
  <meta name="apple-mobile-web-app-title" content="El comercio">
  <meta name="application-name" content="El comercio">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "El comercio",
      "url": "https://elcomercio.pe/",
      "logo": "https://elcomercio.pe/resources/dist/elcomercio/images/logo-sitio.jpg",
      "sameAs": [
        "https://www.facebook.com/elcomercio.pe",
        "https://twitter.com/elcomercio_peru",
        "https://plus.google.com/u/0/+elcomerciope",
      ]
    }
  </script>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@elcomercio_peru">
  <meta name="twitter:title" content="title">
  <meta name="twitter:image" content="https://elcomercio.pe/resources/dist/elcomercio/images/logo-sitio.jpg">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="@elcomercio_peru">

  <meta property="fb:app_id" content="1667917060088448">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="https://elcomercio.pe/resources/dist/elcomercio/images/logo-sitio.jpg">
  <meta property="og:image:width" content="696">
  <meta property="og:image:height" content="418">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:url" content="https://elcomercio.pe/play/?_website=elcomercio">
  <meta property="og:site_name" content="El comercio">
  <meta property="og:type" content="article">

  <title>Play</title>

</head>