<script>
  ;(function(w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js',
    })
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : ''
    j.async = true
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, 'script', 'dataLayer', 'GTM-KKXTKGP')
</script>
<!-- End Google Tag Manager-->

<script type="text/javascript">
  var _sf_async_config = _sf_async_config || {}
  /** CONFIGURATION START **/
  _sf_async_config.uid = 57773 // ACCOUNT NUMBER
  _sf_async_config.domain = nombresitio.pe //DOMAIN TRACKED
  _sf_async_config.useCanonical = true
  var _sf_startpt = new Date().getTime()
  /** CONFIGURATION END **/
</script>
<!-- data: siteProperties > accountNumber// DAR NOMBRE AL SCRIPT -->

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Nombre Sitio", //----  data: siteProperties > siteName
    "url": "https://sitio.pe/", //---- data: siteProperties > domain
    "logo": "https://sitio.pe/[ruta_images]/logo-sitio.jpg", //---- data: siteProperties > domain
    "sameAs": [
      "https://www.facebook.com/nombresitio", //---- data: siteProperties > social
      "https://twitter.com/nombresitio", //---- data: siteProperties > social
      "https://www.youtube.com/user/nombresitio", //---- data: siteProperties > social
      "https://www.pinterest.es/nombresitio/" //---- data: siteProperties > social
    ]
  }
</script>
<!-- data: siteProperties > accountNumber// DAR NOMBRE AL SCRIPT -->

<!-- Dentro de BODY, al inicio -->
<!-- Google Tag Manager (noscript)-->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-KKXTKGP"
    height="0"
    width="0"
    style="display:none;visibility:hidden"
  ></iframe>
  <!-- data: siteProperties > tagManager id -->
</noscript>
<!-- End Google Tag Manager (noscript)-->
