<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KKXTKGP');
</script> <!-- data: siteProperties > tagManager id -->
<!-- End Google Tag Manager-->

<link rel="shortcut icon" href="https://sitio.pe/favicon.ico" /> <!-- data: siteProperties > link or domain -->
<link rel="apple-touch-icon" href="https://sitio.pe/apple-touch-icon.png" />
<!-- data: siteProperties > link or domain -->
<link rel="apple-touch-icon" sizes="76x76" href="https://sitio.pe/apple-touch-icon-76x76.png" />
<!-- data: siteProperties > link or domain -->
<link rel="apple-touch-icon" sizes="120x120" href="https://sitio.pe/apple-touch-icon-120x120.png" />
<!-- data: siteProperties > link or domain -->
<link rel="apple-touch-icon" sizes="144x144" href="https://sitio.pe/apple-touch-icon-144x144.png" />
<!-- data: siteProperties > link or domain -->
<link rel="apple-touch-icon" sizes="152x152" href="https://sitio.pe/apple-touch-icon-152x152.png" />
<!-- data: siteProperties > link or domain -->
<link rel="apple-touch-icon" sizes="180x180" href="https://sitio.pe/apple-touch-icon-180x180.png" />
<!-- data: siteProperties > link or domain -->

<meta name="theme-color" content="#f7c600" /> <!-- data: siteProperties > primaryColor -->
<meta name="msapplication-TileColor" content="#f7c600" /> <!-- data: siteProperties > primaryColor -->
<meta name="apple-mobile-web-app-title" content="Nombre Sitio" /> <!-- data: siteProperties > siteName -->
<meta name="application-name" content="Nombre Sitio" /> <!-- data: siteProperties > siteName -->

<script type="text/javascript">
    var _sf_async_config = _sf_async_config || {};
    /** CONFIGURATION START **/
    _sf_async_config.uid = 57773 // ACCOUNT NUMBER
    _sf_async_config.domain = nombresitio.pe; //DOMAIN TRACKED
    _sf_async_config.useCanonical = true;
    var
        _sf_startpt = (new Date()).getTime();
    /** CONFIGURATION END **/
</script> <!-- data: siteProperties > accountNumber// DAR NOMBRE AL SCRIPT -->

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Nombre Sitio", //----  data: siteProperties > siteName
        "url": "https://sitio.pe/", //---- data: siteProperties > domain
        "logo": "https://sitio.pe/[ruta_images]/logo-sitio.jpg", //---- data: siteProperties > domain
        "sameAs": [
            "https://www.facebook.com/nombresitio", //---- data: siteProperties > social
            "https://twitter.com/nombresitio", //---- data: siteProperties > social
            "https://www.youtube.com/user/nombresitio", //---- data: siteProperties > social
            "https://www.pinterest.es/nombresitio/" //---- data: siteProperties > social
        ]
    }
</script> <!-- data: siteProperties > accountNumber// DAR NOMBRE AL SCRIPT -->

<!-- Dentro de BODY, al inicio -->
<!-- Google Tag Manager (noscript)-->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKXTKGP" height="0" width="0"
        style="display:none;visibility:hidden"></iframe> <!-- data: siteProperties > tagManager id -->
</noscript>
<!-- End Google Tag Manager (noscript)-->