<title>Título de página</title> <!-- Nomenclatura especial por página -->
<link rel="canonical" href="https://sitio.pe/url-canonical-de-la-pagina" />
<meta name="description" content="Descripción de página" />
<meta name="keywords" content="keyword-1, keyword-2, keyword-3" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@nombresitio" />
<meta name="twitter:title" content="Título de la página" />
<meta name="twitter:image" content="https://sitio.pe/[ruta_images]/logo-sitio.jpg" />
<meta name="twitter:description" content="Descripción de la página" />
<meta name="twitter:creator" content="@nombresitio" /> <!-- Solo para hitorias -->

<!-- Facebook OG -->
<meta property="fb:app_id" content="1667917060088448" />
<meta property="og:title" content="Título de la página" />
<meta property="og:description" content="Descripción de la página" />
<meta property="og:image" content="https://sitio.pe/[ruta_images]/logo-sitio.jpg" />
<meta property="og:url" content="https://sitio.pe/url-canonical-de-la-pagina" />
<meta property="og:site_name" content="Nombre Sitio" />
<meta property="og:type" content="website" />
<!-- Solo para historias --- ?????????????????????? -->
<meta property="og:image:width" content="696" />
<meta property="og:image:height" content="418" />
<meta property="og:image:type" content="image/jpeg" />



<!-- En un contenedor main dentro de BODY - FAAALTAAA -->
<script type="text/javascript">
    var _sf_async_config = _sf_async_config || {};
    /** CONFIGURATION START **/
    _sf_async_config.sections = '[variables_sin_corchete]';
    /** CONFIGURATION END **/
    (function () {
        function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src', '//static.chartbeat.com/js/chartbeat_video.js');
            document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
            loadChartbeat : function () {
                oldonload();
                loadChartbeat();
            };
    })();
</script>