.navbar-nm {
  max-height: 36px;
  padding-left: 20px;
  background-color: #222;
  &__link {
    font-family: $secondary-font;
    font-size: 13px;
    color: #999;
  }
  &__box-search {
    background-color: #ced11f;
    right: -5px;
  }
  &__btn {
    border: 1px solid #7f7f7f;
    font-family: $tertiary-font;
    padding-left: 8px;
    padding-right: 8px;
    height: 25px;
    font-size: 11px;
  }
  &__input-search {
    padding: 0 8px;
  }
  &__btn-search {
    background-color: #ced11f;
    color: #006132;
    border: solid 1px $color-white;
    font-weight: 700;
    font-family: $tertiary-font;
    font-size: 14px;
  }
  &__n {
    padding: 0 5px;
    align-items:center;
    svg {
      fill: #DDDF45;
    }
    span {
      color: #dddf45;
      font: normal normal normal 13px/15px $secondary-font;
      margin-left: 10px;
    }
  }
  
}
