/******* Globals *******/
@import './global-components/icons';
@import './global-components/story-table';
/******* Features *******/
@import './features/layout/footer/amp-footer';
@import './features/layout/header/amp-header';
@import './features/layout/navbar/amp-nav-sidebar';
@import './features/layout/navbar/amp-nav';
@import './features/story/content/amp-story-content';
@import './features/story/content/amp-story-tags';
@import './features/story/header/amp-story-header';
@import './features/story/interest/amp-story-interest';
@import './features/layout/navbar/navbar-somos';
@import './features/story/content/related-content';
@import './features/story/header/story-gallery';