.zocalo__container {

    width: 0;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
        display: flex;
        height: fit-content;
        width: auto; 
        position: sticky;
        top: 0;
    }
}

.ad {
    width: 160px;
    height: 600px;
    margin: 20px;
    background-color: grey;
}