.zocalo__container {
    display: flex;
    width: auto;
}

.ad {
    width: 160px;
    height: 600px;
    margin: 20px 20px 0;
    background-color: grey;
    position: sticky;
    top: 66px;
    z-index: 10;

    &__left {
        justify-content: flex-end;
    }
    &__right {
        justify-content: flex-start;
    }
}