.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;

  &__title {
    color: #333;
    opacity: 1;
  }

  &__link {
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: #666;
  }
}
