.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;
  margin: 25px 0;
  padding: 0 20px;
  display: flex;
  align-items: baseline;

  &__title {
    display: inline-block;
    font: normal normal bold 14px/16px $primary-font;
    margin-right: 10px;
    letter-spacing: 0;
    color: #333;
    opacity: 1;
  }

  &__tag {
    display: inline-block;
    padding-bottom: 3px;
  }

  &__box {
    flex: 1;
  }
  &__line {
    display: none;
  }

  &__link {
    background: #FFF 0% 0% no-repeat padding-box;
    border: 1px solid #BBB;
    border-radius: 3px;
    opacity: 1;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    display: block;
    text-align: center;
    font: normal normal normal 14px/16px $primary-font;
    letter-spacing: 0;
    color: #666;
    /* &:hover {
      background: #42c64c 0% 0% no-repeat padding-box;
      border: 1px solid #ccc;
      color: #fff;
      text-decoration: none;
    } */
    & span {
      display: none;
    }
  }
}
