.st-tags {
  content-visibility: auto;
  contain-intrinsic-size: 80px;
  color: #333;
  display: block;
  padding: 0 16px;

  @media (--desktop) {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__title {
    font-family: $fira-s, sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #333;
    border-top: 4px solid #434343;
    opacity: 1;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
  }

  &__link {
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 0;
    opacity: 1;
    border-color: #a5a5a5;
    color: #333;
    padding: 3px 10px;
    margin-right: 8px;
  }
}
