.blog-post-item {
  border-top: 1px solid $color-gray-200;
  border-bottom: 0;
  padding-top: 20px;
  max-width: 800px;
  margin: auto;

  @media (--only-mobile) {
    width: calc(100% - 40px);
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  @media (--desktop) {
    padding-top: 20px;
  }

  &__left {
    @media (--only-mobile) {
      flex-wrap: wrap;
    }
    flex-direction: row;
    position: relative;
  }
  &__top {
    @media (--only-mobile) {
      width: 100%;
      order: 1;
      margin-left: 58px;
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      display: block;
      background-color: $color-white;
      width: 96px;
      position: absolute;
      height: 2px;
      top: -22px;
      @media (--tablet) {
        width: 112px;
      }
    }
  }
  &__title-post {
    color: #777777;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__date {
    color: $color-gray-100;
    margin-top: 5px;
    width: 74px;
    font-size: 14px;
    border-top: 0;

    @media (--tablet) {
      border-top: 1px dashed $color-gray-100;
      padding-top: 32px;
      position: absolute;
      top: -26px;
      width: 88px;
      font-size: 17px;
    }
  }
  &__subtitle {
    font-size: 16px;
    color: #666666;
  }
  &__content-title {
    position: relative;
    @media (--only-mobile) {
      margin-bottom: 10px;
    }
    &::before {
      content: '';
      border-bottom: 1px solid $color-black;
      width: 25px;
      position: absolute;
      top: 0px;
    }
    &::after {
      content: '';
      border-bottom: 1px solid $color-black;
      width: 25px;
      position: absolute;
      bottom: 0;
    }
  }
  &__content-title,
  &__subtitle,
  &__section--desktop {
    padding-left: 10px;
  }
  &__bottom {
    margin: 0 auto;
  }
  &__icon {
    z-index: 1;
    font-size: 50px;
    height: 50px;
    @media (--tablet) {
      font-size: 50px;
      height: 50px;
    }
  }
  &__title {
    @media (--desktop) {
      line-height: 28px;
      font-size: 24px;
      max-height: calc(24px * 27px * 2);
    }
    margin-top: 0;
    line-height: 22px;
    letter-spacing: 0px;
    color: $color-gray-300;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    max-height: calc(14px * 22px * 2);
  }

  &--row {
    .story-item__bottom {
      @media (--tablet) {
        flex-direction: row;
        max-width: 100%;
      }
    }
    .story-item__top {
      &::before {
        left: 0;
      }
    }
    .story-item__left {
      padding-left: 0;
    }
  }

  &__author-image-box {
    display: none;
    @media (--tablet) {
      display: block;
      padding-left: 111px;
    }
  }

  &__author-image {
    width: 55px;
    border-radius: 50%;
  }

  &__button-see-more {
    right: 50%;
    transform: translateX(-50%);
  }
}
