.nav-sidebar {
  &__body {
    padding-left: 0;
  }
  &__item {
    padding-left: 20px;
    transition: none;
    &:focus {
      outline: none;
    }
  }
  &__link {
    font-family: $primary-font;
    font-size: 1rem;
    color: #e0e0e0;
    padding: 16px;
  }
  &__item,
  &__link {
    &:hover {
      background-color: $color-primary;
    }
  }
}
