.__wrapHead{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    max-width: 1120px;
    height: 100%;
    background-color: #fecd26;
}

.__wrapLogin{
    background-color: #000;
    height: 100%;
    color: #FFF;
    align-items: center;
    display: flex
}

.__username{
    padding-left: 45px;
}

.__backHead{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    z-index: -1;
}

.__left, .__right{
    flex: 1
}

.__left{
    background-color: #fecd26;
}

.__right{
    background-color: #000
}