.story-tags {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: dotted 1px #999;
  border-bottom: dotted 1px #999;
  &__title {
    font-size: 16px;
    color: $color-white;
    width: auto;
    height: 20px;
    background: $color-tertiary;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    margin-right: 23px;
    margin-bottom: 5px;
    font-family: $primary-font;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    &::after {
      content: '';
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 9px solid $color-tertiary;
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      right: -9px;
    }
  }
  &__link {
    font-size: 12px;
    font-family: $primary-font;
    color: $color-gray-300;
    font-weight: 700;
    background-color: transparent;
  }
}
