.premium {
  &__wrapper {
    width: 144px;
    height: 24px;
    border-radius: 4px;
    background-color: #000;
    margin-left: 20px;
    color: white;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $secondary-font !important;
    &:before {
      color: $color-black;
      font-family: "icomoon";
      margin-right: 4px;
    }
  }
}
