.st-social {
  justify-content: space-between;
  margin: 0 20px 25px 20px;
  padding: 20px 0;
  border-top: 1px solid $border-color-gray;
  border-bottom: 2px solid $border-color-gray;

  @media (--tablet) {
    margin: 0 0 25px 0;
    padding: 20px 10px;
  }

  &__txt {
    font: 400 18px/29px $secondary-font;
    letter-spacing: 1px;
    color: #111;
  }

  &__link {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__share {
    display: flex;
    margin-right: -15px;
    // Este margen es para contraarrestar el margin-right que tienen los .share-btn
  }
}
