.st-social {
  justify-content: space-between;
  margin: 0 20px 25px 20px;
  padding: 20px 0;
  border-top: 1px solid $border-color-gray;
  border-bottom: 2px solid $border-color-gray;

  @media (--tablet) {
    margin: 0 20px 5px 20px;
    padding: 20px 10px;
  }

  &__txt {
    font: 400 18px/29px $secondary-font;
    letter-spacing: 1px;
    color: #111;
  }

  &__link {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__tooltdiv {
    display: flex;
    @media (--only-mobile) {
      display: block;
    }
  }

  &__tooltip {
    font-family: $secondary-font;
    font-size: 18px;
    position: relative;
    color: #6d6d66;
    display: inline;
    margin: 6px;
    @media (--only-mobile) {
      margin: 0;
    }
    & span {
      display: none;
    }
    &:hover span {
      position: absolute;
      top: 30px;
      font-size: 15px;
      left: 0;
      display: block;
      width: 315px;
      color: #404040;
      background-color: #fff;
      border: 1px solid #d7d7d7;
      padding: 15px;
      text-transform: none;
      line-height: 22px;
      @media (--only-mobile) {
        width: 215px;
      }
    }
  }

  &__share {
    display: flex;
    margin-right: -15px;
    // Este margen es para contraarrestar el margin-right que tienen los .share-btn
  }
}
