.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex--row {
    flex-direction: row;
}

.flex--justify-center {
    justify-content: center;
}

.flex--justify-between {
    justify-content: space-between;
}

.flex--align {
    align-items: center;
}

.flex-center-vertical {
    display: flex;
    align-items: center; 
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}