* {
    position: relative;
    box-sizing: border-box;
}

html {
    font-family: 'system-ui', sans-serif 
}

.margin-top {
    margin-top: $spacingNormal;
}

.no-desktop {
    @media screen and (min-width: 640px) {
        display: none;
    }
}

.block {
    display: block;
}

.full-width{
    width: 100%;
}

<<<<<<< HEAD:src/general-styles/partials/_utils.scss
.hide {
    display: none;
}
=======
.bold{
    font-weight: bold;
  }
>>>>>>> master:src/general-styles/layouts/partials/_general.scss
