* {
    position: relative;
    box-sizing: border-box;
}

html {
    font-family: 'system-ui', sans-serif 
}

.margin-top {
    margin-top: $spacingNormal;
}

.padding-normal {
    padding: $spacingNormal;
}

.no-desktop {
    @media screen and (min-width: 640px) {
        display: none;
    }
}

.block {
    display: block;
}

.full-width{
    width: 100%;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}