.header {
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  height: 60px;
  padding: 12px 0;
  position: sticky;
  top: 0;
  align-items: center;
  background: $headerActive;
  box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.55);
  color: $colorActive;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      background: $logoHeaderShop;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: $widthLogoShop 24px;
      width: $widthLogoShop;
      height: 24px;
      margin: 4px 0;
      margin-left: 5px;
    }

    &-call {
      display: none;
    }

    &-button {
      border: none;
      padding: 0.4em 0.4em 0.4em 2em;
      font-size: 14px;
      background: none;
      font-weight: bold;
      color: inherit;
      font-family: $secondaryFont;
      line-height: normal;
      outline: none;
      text-transform: capitalize;
      width: 180px;
      text-align: right;
      & span {
        font-weight: normal;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: $hoverLinkButon;
      }
    }
  }

  @include device(tabletp) {
    &.active {
      background: $headerActive;
      box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.55);
      transition: all 0.3s ease-in-out;
      color: $colorActive;
    }
  }

  @include device(tabletl) {
    padding: 0 0;
    &__content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      &-logo {
        margin-left: 0;
      }
      &.box-cont {
        padding: 12px 0;
      }
      &-call {
        background: $black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 60px;
        min-width: 585px;
        height: 60px;
        margin-left: 25px;

        & span {
          color: $white;
          font-weight: bold;
        }

        & button {
          border-radius: 8px;
          border: 0;
          padding: 10px 20px 10px 40px;
          font-size: 14px;
          outline: none;
          cursor: pointer;
        }
      }
      &-button {
        padding: 0.4em 0 0.4em 1em;
      }
    }
  }
}

.callin {
  display: none;

  @include device(tabletl) {
    background: $white;
    top: 60px;
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;
    z-index: 3;
    display: block;
    position: sticky;
    box-shadow: 0 3px 9px -2px rgba(0, 0, 0, 0.55);
    transition: all 0.3s ease-in-out;
    & .msg-confirmation {
      text-align: center;
      h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
      }
      & .note-schedule {
        font-size: 11px;
        color: #3d3d3d;
        margin-top: 7px;
      }
      & .loading-call {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 40px;
        & > div {
          position: absolute;
          top: 15px;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #6b6b6b;
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
          &:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
          }
          &:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          &:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          &:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
          }
        }
      }
    }
    & form {
      display: flex;
      margin: 0 auto;
      width: 60%;
      justify-content: space-between;
    }
    & input {
      border: 1px solid $black;
      border-radius: 4px;
      padding: 10px 20px;
      outline: none;
      font-size: 14px;
      margin: 0 10px;
      max-width: 260px;
    }
    & input:disabled {
      opacity: 0.5;
      border: 1px solid #6d6d6d;
    }
    & button {
      height: 38px;
      width: 40px;
      border: 1px solid $black;
      cursor: pointer;
      border-radius: 4px;
      margin: 0 10px;
      outline: none;
    }
    & .icon-send {
      background: #fff url("https://signwall.e3.pe/images/icon-send.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
    & .icon-loading {
      opacity: 0.5;
      background: #dedede;
      border: 1px solid #6d6d6d;
      color: $black;
    }
    & .input-error {
      border: 1px solid red;
    }
  }

  @include device(desktop) {
    & form {
      width: 48%;
    }
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
