.planes {
  padding: 2em 0 0.5em 0;
  background: $backgroundMain;

  &__title {
    @include title;

    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: 0.6em;
  }

  &__description {
    display: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 3em;
    color: $black;
    font-family: $secondaryFont;
    font-weight: 300;
    line-height: 24px;
  }

  &__grid,
  &__grid-three {
    display: grid;
    grid-row-gap: 0.7em;
  }

  &__item {
    border-radius: 0;
    background: $white;
    border: 1px solid $borderContent;
    &:hover {
      transition: all 0.5s ease-in-out;
      box-shadow: 0 0 6px 0 rgba(184, 184, 184, 1);
    }
  }

  &__content {
    padding: 1em 0.5em 0 0.5em;
    & .cont-left,
    .cont-right {
      width: 49%;
      display: inline-block;
      text-align: left;
    }

    &-title {
      @include title;

      font-size: 1.25em;
      font-weight: 400;
      min-height: $heightTitle;
      padding: 10px 5px 10px 5px;
      display: none;
    }

    &-title-mobile {
      @include title;

      font-size: $titleMobile;
      text-align: left;
    }

    &-discount {
      display: none;
    }
    &-discount-mobile {
      color: $resaltPlan;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    &-picture {
      max-width: 247px;
      width: 90%;
      display: block;
      margin: 0 auto;
    }
    &-price {
      font-size: 1em;
      display: block;
      color: $black;
      margin-top: 0.3em;
      & span {
        margin-left: 5px;
      }
    }
    &-duration {
      font-weight: bold;
      font-size: 0.875em;
      color: $black;
      margin-bottom: 0.2em;
    }
    &-after {
      font-size: 0.75em;
      color: $black;
      margin-bottom: 1em;
      display: block;
    }
    &-button {
      @include button;

      color: $white;
      background-color: $bluePrimary;
      &:hover {
        background-color: $hoverBluePrimary;
      }
      &:disabled {
        opacity: 0.7;
      }
    }

    &-benefits {
      font-size: 12px;
      padding: 0;
      padding-left: 20px;
      list-style: none;
      margin: 25px 0 0 0;
      font-family: $secondaryFont;
      li {
        line-height: 18px;
        margin-bottom: 10px;
        color: $black;
        opacity: 0.5;
        text-align: start;
        &::before {
          content: "";
          background: url($imgAssets) no-repeat;
          background-size: 135px 102px;
          background-position: -91px 0;
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-left: -20px;
          margin-right: 5px;
        }
        &.check {
          opacity: 1;
        }
        &.check::before {
          background: url($imgAssets) no-repeat;
          background-size: 135px 102px;
          background-position: -91px -11px;
          font-weight: bold;
        }
        & a {
          font-weight: bold;
          text-decoration: underline;
          color: $black;
        }
      }
    }
    &-accordion {
      position: relative;
      input[type="checkbox"],
      h4 {
        display: none;
      }
    }
  }

  &__banner {
    color: $white;
    padding: 40px 20px;
    background-image: url("https://cdna.elcomercio.pe/resources/dist/elcomercio/images/landing/banner_impreso.jpg");
    &-icon {
      width: 34px;
      height: 34px;
      display: block;
      background: url("https://cdna.elcomercio.pe/resources/dist/elcomercio/images/landing/logo_mini.png")
        no-repeat;
      background-size: contain;
    }

    &-title {
      @include title;

      font-weight: bold;
      text-align: left;
      font-size: 24px;
      color: $white;
      line-height: 27px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    &-description {
      margin-top: 24px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    &-button {
      @include button;

      color: $bluePrimary;
      background-color: $white;
      &:hover {
        color: $hoverBluePrimary;
      }
    }
  }

  @include device(mobile) {
    &__content {
      &-accordion {
        & h4 {
          user-select: none;
          display: block;
          cursor: pointer;
          line-height: 40px;
          text-align: center;
          color: $colorSeeMore;
          font-size: 12px;
          outline: none;
        }
        & .cont {
          position: relative;
          overflow: hidden;
          opacity: 1;
          transform: translate(0, 0);
          z-index: 2;
          transition: all 0.25s ease-in-out;
          margin-top: 10px;
          padding: 0 20px;
        }
        & i {
          position: absolute;
          margin-top: 17px;
          right: 37.5%;
          &::before,
          &::after {
            content: "";
            position: absolute;
            background-color: $colorSeeMore;
            width: 1px;
            height: 6px;
            transition: all 0.25s ease-in-out;
          }
          &::before {
            transform: translate(-2px, 0) rotate(45deg);
          }
          &::after {
            transform: translate(2px, 0) rotate(-45deg);
          }
        }

        input[type="checkbox"] {
          display: block;
          position: absolute;
          cursor: pointer;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          margin: 0;
          padding: 0;
          -webkit-tap-highlight-color: transparent;
          &:checked ~ .cont {
            max-height: 0;
            opacity: 0;
            transform: translate(0, 50%);
            margin-top: 0;
          }
          &:checked ~ i::before {
            transform: translate(2px, 0) rotate(45deg);
          }
          &:checked ~ i::after {
            transform: translate(-2px, 0) rotate(-45deg);
          }
        }
      }
    }
  }

  @include device(tabletp) {
    padding: 3em 0 0.5em 0;
    &__title {
      font-size: 2.1875em;
      margin-bottom: 1em;
    }
    &__description {
      display: block;
    }

    &__grid {
      grid-row-gap: 1em;
      grid-column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__grid-three {
      grid-column-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      border-radius: 0.25em;
      @include crapie() {
        margin: 5px;
      }
    }

    &__content {
      padding: 1em 1.6em;
      & .cont-left,
      .cont-right {
        width: 100%;
        display: inline-block;
        text-align: center;
        min-height: 97px;
        overflow: hidden;
      }
      &-title {
        display: block;
      }
      &-title-mobile,
      &-discount-mobile {
        display: none;
      }
      &-discount {
        display: block;
        background: $resaltPlan;
        color: $white;
        padding: 7px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
        max-width: 140px;
        margin: 0 auto;
        margin-top: -33px;
        line-height: 19px;
      }
      &-picture {
        width: 100%;
        height: 101px;
      }
      &-price {
        font-size: 1.875em;
        & span {
          font-size: 16px;
        }
      }
      &-duration {
        margin-top: 0.3em;
        margin-bottom: 0.5em;
      }
      &-after {
        color: $colorAfter;
      }
    }

    &__banner {
      padding: 78px 0;
    }
  }

  @include device(tabletl) {
    padding: 4em 0 0.5em 0;
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    &__grid-three {
      grid-template-columns: repeat(3, 1fr);
      & .planes__item {
        &:nth-child(2) {
          margin-top: -20px;
          & .planes__content-title {
            margin: 10px 0;
          }
        }
      }
    }
    &__banner {
      padding: 10px 0;
    }
  }

  @include device(desktop) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
    &__grid-three {
      grid-template-columns: repeat(3, 1fr);
    }
    &__banner {
      padding: 78px 0;
    }
  }
}
