.video-search {
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  height: 64px;

  @media (--desktop) {
    padding-right: 16px;
  }

  &__title {
    font-family: $encode-c;
    font-weight: 800;
    font-size: 32px;
    color: #333;
  }

  &__form {
    display: flex;
  }

  &__input {
    width: 173px;
    height: 34px;
    border: 1px solid #ccc !important;
    border-radius: 4px 0 0 4px;
    border-right: 0 !important;
    font-size: 15px;
    color: #777;
    padding-left: 12px;

    @media (--desktop) {
      width: 414px;
      min-width: 400px;
      padding-left: 34px;
    }
  }

  &__btn {
    width: 48px;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    background-color: #eaeaea;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (--desktop) {
      width: 72px;
    }
  }

  &__btn-icon {
    color: #666;
  }
}
