/******* Brand colors *******/
$color-primary: #265922;
$color-secondary: #000000;
$color-tertiary: #F3DA4A;
/*-----------------------*/
$color-base-400: #0E210D;
$color-base-300: #193916;
$color-base-200: #88A486;
$color-base-100: #C3D1C2;
/*-----------------------*/

/******* Other colors *******/
$color-link: #006097;
/*-----------------------*/

/** ----------------------------*
*        GENERAL CONFIG         *
*-------------------------------*/
/******** border colors *********/
$border-color-base: $color-base-100;

/******* Header colors *******/
$header-bg-color: $color-primary;
$header-text-color: $color-gray-300;
/*-----------------------*/

/******* Nav colors *******/
$nav-color: $color-gray-100;
/*-----------------------*/

/******* Footer colors *******/
$footer-background: $color-gray-300;
$footer-text-color: $color-white;
/*-----------------------*/