.st-social {
  margin: 0 0 0 0;
  padding: 10px 16px 17px 16px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #e1e1e1;
  gap: 18px;

  @media (--tablet) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: unset;
  }

  @media (--desktop) {
    margin: 20px 20px 0 20px;
    padding: 16px 0 34px 0;
    border-top: 1px solid #aaa;
  }

  &__tag {
    height: 35px;
    width: 90px;
  }

  &__txt {
    font: 700 15px/1 $primary-font;
    font-size: 22px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (--tablet) {
      font: 700 16px/1 $primary-font;
      padding-top: 8px;
      font-size: 32px;
    }
  }

  &__link {
    font-family: $encode-c;
    font-weight: 800;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #d35b2c;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.44px;
    margin-right: 15px;

    @media (--desktop) {
      letter-spacing: 0.64px;
    }
  }

  &__tooltdiv {
    display: flex;

    @media (--only-mobile) {
      display: block;
    }
  }

  // &__tooltip {
  //   font-family: $secondary-font;
  //   font-size: 18px;
  //   position: relative;
  //   color: #6d6d66;
  //   display: inline;
  //   margin: 6px;
  //   @media (--only-mobile) {
  //     margin: 0;
  //   }
  //   & span {
  //     display: none;
  //   }
  //   &:hover span {
  //     position: absolute;
  //     top: 30px;
  //     font-size: 15px;
  //     left: 0;
  //     display: block;
  //     width: 315px;
  //     color: #404040;
  //     background-color: #fff;
  //     border: 1px solid #d7d7d7;
  //     padding: 15px;
  //     text-transform: none;
  //     line-height: 22px;
  //     @media (--only-mobile) {
  //       width: 215px;
  //     }
  //   }
  // }

  &__share {
    display: flex;
    justify-content: flex-end;
    // margin-right: -15px;
    // Este margen es para contraarrestar el margin-right que tienen los .share-btn
    // ? Last of type removes margin-right of last icon

    @media (--tablet) {
      margin-top: 5px;
    }
  }

  .share-btn {
    border-color: #888;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.29);
    margin-right: 12px;

    svg {
      fill: #333;
    }

    &.s-fb {
      svg {
        fill: #000;
      }
    }

    &.s-lk {
      display: none;
    }
  }

  .share-btn:last-of-type {
    margin-right: 0;
  }

  .st-social__share {
    display: flex;
  }

  // &__special {
  //   margin-right: -15px;
  //   padding-bottom: 25px;
  // }
}
