.sht {
  color: $color-black;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  &__category {
    color: #42c64c;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__title {
    font: 700 26px/30px $primary-font;
    letter-spacing: -0.26px;
    padding-bottom: 20px;
    @media (--tablet) {
      font: 700 38px/42px $primary-font;
    }
    @media (--desktop) {
      font: 700 42px/48px $primary-font;
      letter-spacing: -0.42px;
    }
  }

  &__summary {
    font: 400 17px/24px $primary-font;
    letter-spacing: -0.17px;
    padding-bottom: 20px;
    @media (--tablet) {
      font: 400 20px/24px $primary-font;
      letter-spacing: -0.2px;
    }
  }

  // TODO: Este listado se usa en mag?
  &__list {
    list-style-type: disc;
    padding: 0 0 30px 20px;
    & li {
      font-size: 19px;
      line-height: 26px;
      color: #000;
      margin-bottom: 10px;

      & a {
        text-decoration: underline;
        font-weight: 700;
      }

      @media (--desktop) {
        font-size: 20px;
        line-height: 1.5;
      }
    }
  }
  &__link:hover {
    text-decoration: none;
  }
}
