.separator {
  &__title {
    display: -webkit-box;
    max-height: 57.63px;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &__body {
    @media (--tablet) {
      height: 161px;
    }
  }
  &__btn {
    background-color: $color-base-200;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: $secondary-font;
  }

  &__item {
    margin-right: 5px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    &:first-child {
      display: block;
    }

    @media (--tablet) {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 50%,
        rgba(50, 50, 50, 0.7) 100%
      );
    }
  }

  &__section {
    display: none;
  }

  &__icon {
    font-size: 25px;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    left: initial;
    transform: translate(0, 0);
  }

  &__img {
    max-height: 220px;
  }

  &__oneline {
    -webkit-line-clamp: 1;
    max-height: 16px;

    @media (--desktop) {
      max-height: 18px;
    }
  }

  &__twoline {
    -webkit-line-clamp: 2;
    max-height: 32px;

    @media (--desktop) {
      max-height: 36px;
    }
  }

  &__threeline {
    -webkit-line-clamp: 3;
    max-height: 48px;

    @media (--desktop) {
      max-height: 56px;
    }
  }
  &--video {
    & * .separator__header-link {
      color: $color-gray-300;
      text-transform: uppercase;
      font-size: 1.9rem;
      letter-spacing: 2px;
      line-height: 1.5rem;
      font-weight: 700;
    }
    & * .separator__item {
      background-color: transparent;
    }
    & * .separator__title {
      font-size: 1.1rem;
      letter-spacing: 0px;
      line-height: 1.2rem;
      color: $color-gray-300;
      font-weight: 700;
      height: 60px;
    }
    & * .separator__section {
      display: block;
      border-top: dashed 1px $color-base-200;
      color: $color-base-300;
      font-size: 0.8rem;
      line-height: 0.9rem;
      color: #ad8d76;
      font-weight: 400;
    }
    & * .separator__article {
      display: flex;
      flex-direction: column-reverse;
    }
    & * .separator__icon {
      top: calc((168px - 35px) / 2);
      left: 20px;
      font-size: 35px;
      width: 35px;
      height: 35px;
    }
  }
  &.invested {
    & * .separator__item {
      margin-right: 20px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    & * .separator__article {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
