.separator {
  &__title {
    display: -webkit-box;
    max-height: 57.63px;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
  }

  &__body {
    @media (--tablet) {
      height: 161px;
    }
  }

  &__item {
    &:first-child {
      display: block;
    }

    @media (--tablet) {
      display: block;
      flex-basis: 24.8%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 50%,
        rgba(50, 50, 50, 0.7) 100%
      );
    }
  }

  &__icon {
    font-size: 25px;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    left: initial;
    transform: translate(0, 0);
  }

  &__img {
    max-height: 220px;
  }

  &__oneline {
    -webkit-line-clamp: 1;
    max-height: 16px;

    @media (--desktop) {
      max-height: 18px;
    }
  }

  &__twoline {
    -webkit-line-clamp: 2;
    max-height: 32px;

    @media (--desktop) {
      max-height: 36px;
    }
  }

  &__threeline {
    -webkit-line-clamp: 3;
    max-height: 48px;

    @media (--desktop) {
      max-height: 56px;
    }
  }
}
