.story-gallery {
  &__number {
    border: 1px solid #aaa;
    color: #888;
    font-size: 12px;
    height: 32px;
    opacity: 1;
    width: 72px;
  }
  &__caption-image {
    width: calc(100% - 45px - 70px);
  }
}
