.story-header {
  &__title-section {
    font-size: 26px;
    @media (--desktop) {
      font-size: 36px;
    }
  }
  &__news-title {
    font-size: 27px;
    font-weight: 700;
    @media (--desktop) {
      font-size: 45px;
    }
  }

  &__icon {
    color: $color-gray-300;
  }
  &__news-title,
  &__news-summary,
  &__title-section {
    font-family: $primary-font;
  }
  &__news-summary {
    font-size: 14px;
    @media (--tablet) {
      font-size: 18px;
    }
  }
  &__share {
    border-color: $color-base-300;
  }
}
.opinionseno-maria {
  & .story-header__news-title {
    background-image: url(/pf/resources/dist/trome/images/bg_senomaria.jpg);
    background-image: mistyrose;
    background-color: #ffdab0;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    padding: 10px 20px 120px;
    background-size: contain;
  }
}
