.story-header {
  &__title-section {
    font-size: 26px;
    @media (--desktop) {
      font-size: 36px;
    }
  }
  &__news-title {
    font-size: 27px;
    font-weight: 700;
    @media (--desktop) {
      font-size: 45px;
    }
  }

  &__icon {
    color: $color-gray-300;
  }
  &__news-title,
  &__news-summary,
  &__title-section {
    font-family: $primary-font;
  }
  &__news-summary {
    font-size: 14px;
    @media (--tablet) {
      font-size: 18px;
    }
  }
  &__share {
    border-color: $color-base-300;
  }
}
.opinionseno-maria {
  & .story-header__news-title {
    background-image: url(/pf/resources/dist/trome/images/bg_senomaria.jpg);
    background-image: mistyrose;
    background-color: #ffdab0;
  }
}
.opinionel-buho {
  & .story-header__news-title {
    background-image: url(/pf/resources/dist/trome/images/bg_picotv.jpg);
    background-color: #ccf9ff;
  }
}
.opinionampay {
  & .story-header__news-title {
    background-image: url(/pf/resources/dist/trome/images/bg_ampay.jpg);
    background-color: #e8d9ee;
  }
}
.opinionel-bombardero {
  & .story-header__news-title {
    background-image: url(/pf/resources/dist/trome/images/bg_pisapelota.jpg);
    background-color: #bcebbf;
  }
}
.opinionseno-maria,
.opinionel-buho,
.opinionampay,
.opinionel-bombardero {
  & .story-header__news-title {
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: contain;
    padding: 10px 20px 65px;
    line-height: 29px;
    @media (min-width: 470px) and (max-width: 1023px) {
      padding: 10px 20px 90px;
    }
    @media (--desktop) {
      padding: 10px 20px 130px;
      line-height: 49px;
    }
  }
}
