.story-gallery-slider {
  background-color: #2b2b2b;
  &__quantity {
    background-color: #2b2b2b;
    color: #7f7f7f;
    font-size: 17px;
    font-weight: 400;
    justify-content: flex-start;
  }
  &__caption-image {
    color: #d9d9d9;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 700;
  }
  &__arrows {
    width: auto;
    &:before {
      color: $color-white;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(/pf/resources/dist/trome/images/rgba40.png);
      @media (--only-mobile) {
        width: 28px;
        height: 52px;
        background-color: $color-black;
      }
      @media (--tablet) {
        font-size: 36px;
        width: 100px;
        height: 181px;
      }
    }
    &--left {
      left: 0;
      &:before {
        @media (--only-mobile) {
          border-radius: 0 26px 26px 0;
        }
      }
    }
    &--right {
      right: 0;
      &:before {
        @media (--only-mobile) {
          border-radius: 26px 0 0 26px;
        }
      }
    }
  }
  &__figure {
    &:before,
    &:after {
      display: none;
    }
  }
}
