.story {
  &.depor-play {
    .story-header__news-title,
    .story-content__font--secondary {
      font-family: $sixth-font;
    }
    .story-content__font--secondary a {
      color: $color-link-depor;
    }
    .story-content__caption {
      background-color: #252256;
      color: $color-white;
    }
    .related-content__information {
      background-color: #1c1c1c;
    }
    .related-content__link {
      color: $color-white;
    }
  }
}
