.story-google-news {
  &__container {
    border: 1px solid #ddd;
    height: 90px;
    margin: 20px;
  }

  &__link {
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: $secondary-font;
    line-height: 18px;
  }

  &__letter {
    &-container {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
