.separator {
  &__opinion {
    &-title {
      letter-spacing: 2px;
    }

    &--body {
      display: grid;
      grid-template-columns: 1fr;
      min-height: 290px;

      @media (--tablet) {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
      }

      @media (--desktop) {
        grid-template-columns: repeat(5, 1fr);
      }
    }

    &--item {
      &:nth-child(1) {
        display: block;
      }

      @media (--tablet) {
        &:nth-child(-n + 3) {
          display: block;
        }
      }

      @media (--desktop) {
        display: block;
      }

      &-oneline {
        -webkit-line-clamp: 1;
        max-height: 35.63px;
      }

      &-twoline {
        -webkit-line-clamp: 2;
        max-height: 35.63px;
      }

      &-threeline {
        -webkit-line-clamp: 3;
        max-height: 60px;
      }

      &-image {
        width: 70px;
        height: 70px;
      }
    }

    /*    &-link {
      color: #0e6dc1;
      letter-spacing: 1px;
    } */
    &-description {
      display: -webkit-box;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      line-height: 1.2;
    }

    &-name {
      &::before,
      &::after {
        content: '';
        width: 30px;
        height: 1px;
        margin: 10px 0;
        background-color: $color-black;
        display: block;
      }
    }
  }
}
