.separator {
  &__opinion {
    &-title {
      background: #334a81;
      letter-spacing: 2px;
    }
    &--body {
      display: grid;
      grid-template-columns: 1fr;
      min-height: 290px;

      @media (--tablet) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3px;
      }
      @media (--desktop) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    }

    &--item {
      background: #c5ddf9;

      &-oneline {
        -webkit-line-clamp: 1;
        max-height: 35.63px;
      }

      &-twoline {
        -webkit-line-clamp: 2;
        max-height: 35.63px;
      }

      &-threeline {
        -webkit-line-clamp: 3;
        max-height: 50px;
      }

      &-image {
        right: 21px;
        bottom: 15px;
        width: 90px;
        height: 90px;

        img {
          max-width: 90px;
        }
      }
    }
    &-link {
      color: #0e6dc1;
      letter-spacing: 1px;
    }
    &-description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}
