/******* Base *******/
@import "../../general-styles/framework/variables/index";
@import "./scss/lite-components/framework/core/lite";

/******* Variables Lite *******/
@import "./scss/variables/index";

/******* Site Variables *******/
@import "../../general-styles/framework/core/index";

$primary-font: "Roboto", sans-serif;
$secondary-font: arial, helvetica, sans-serif;
$tertiary-font: $secondary-font;
@import "../../general-styles/framework/core/reset";

/******* Components *******/
@import "./scss/lite-components/features/layout/navbar-nomenu/navbar-nm";
@import "./scss/lite-components/features/header/header-full/header-full";
@import "./scss/lite-components/global-components/share/share";

@import "./scss/lite-components/layouts/story-sidebar/st-sidebar";

@import "../../general-styles/components/features/ads/ads-noticia";
@import "./scss/lite-components/global-components/ads/ad-lateral";

@import "./scss/lite-components/features/story/contents/contents-inline";
@import "./scss/lite-components/features/video/video-container";
@import "./scss/lite-components/features/video/section";
@import "./scss/lite-components/features/video/play-list";
@import "./scss/lite-components/features/video/video-navbar";
@import "./scss/lite-components/features/video/video-list";
