$color-check-selected: #494949;

.c-survey-choices {
  &__input:checked + .survey-question__check::after {
    background-color: $color-check-selected;
    border-radius: 50%;
    content: '';
    display: block;
    height: 14px;
    left: 50%;
    margin: -7px 0 0 -7px;
    position: absolute;
    top: 50%;
    width: 14px;
  }

  &__check {
    // TODO: check float and vertical-align
    background-color: $color-white;
    float: left;
    height: 26px;
    vertical-align: middle;
    width: 26px;

    &:before {
      a: 13px;
      bottom: 0;
      content: '';
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
