$color-light-blue: #c5e2f7;
$color-marine-blue: #26567f;
$color-button: #0e6dc1;

.survey-card {
  background: $color-light-blue;

  &__header {
    background-color: $color-marine-blue;
  }

  &__question {
    min-height: 280px;
    max-height: 280px;
  }

  &__title {
    line-height: 1.2;
    max-height: 127px;
  }

  &__results {
    letter-spacing: 1px;
  }

  &__submit {
    background: $color-button;
  }
}
