.c-survey-bar {
    height: 4px;
    border-radius: 50px;
    background-color: #f4f4f4;

    &__filler {
        background-color: #bababa;
        border-radius: inherit;

        &.active {
            background-color: #0e6dc1;
        }
    }
}