.story-gallery-slider {
  background-color: #2b2b2b;
  &__quantity {
    background-color: $color-gray-300;
    color: $color-white;
  }
  &__caption-image {
    color: $color-white;
    font-family: $fourth-font;
    font-size: 13px;
    font-weight: 700;
  }
  &__arrows {
    width: auto;
    &:before {
      color: $color-white;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (--only-mobile) {
        width: 28px;
        height: 52px;
        background-color: #000;
      }
      @media (--tablet) {
        font-size: 36px;
        width: 100px;
        height: 120px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    &--left {
      left: 0;
      &:before {
        @media (--only-mobile) {
          border-radius: 0 26px 26px 0;
        }
      }
    }
    &--right {
      right: 0;
      &:before {
        @media (--only-mobile) {
          border-radius: 26px 0 0 26px;
        }
      }
    }
  }
  &__figure {
    &:before,
    &:after {
      display: none;
    }
  }
}
