.story-contents {
  padding: 10px 20px 20px 20px;
  margin-bottom: 25px;
  &__blockquote {
    font: 400 18px/1.33 $fifth-font;
    padding: 20px 20px 20px 36px;
    margin: 40px 0 40px 15px;
  }
  &__author {
    font-size: 16px;
    padding: 8px 0 7px 0;
  }
  &__font-paragraph {
    font: 400 16px/26px $fifth-font;
    padding: 10px 0;
    @media (--desktop) {
      font: 400 18px/28px $fifth-font;
    }
  }
  & li {
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 16.9px;
  }
  &__caption {
    font-family: $fifth-font;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.story-content {
  &__link-list {
    &-figure {
      img {
        width: 96px;
        height: 64px;
      }
    }
  }
}
