.amp-header {
  position: absolute;
  top: 0;

  &__wrap {
    background: linear-gradient(
      90deg,
      black 0%,
      black 10%,
      #e06437 10%,
      #e06437 100%
    );
    height: 48px;
  }

  &__logo {
    padding-top: 3px;
  }

  &__link {
    font-family: $primary-font;
    color: $color-white;
    font-size: 12px;
    letter-spacing: -0.19px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__link-container {
    height: 34px;
    background: #02040e;
    text-align: center;
    padding: 10px 12px;
    border-radius: 5px;
    border: none;
  }
}
