.video-list {
  margin-top: 50px;
  @media (--desktop) {
    &.fixed {
      margin-top: 570px;
    }
  }
  &__item {
    width: 80%;
    margin-bottom: 10px;
    @media (--tablet) {
      width: calc(100% / 3 - 10px);
    }
    @media (--desktop) {
      width: calc(100% / 4 - 10px);
    }
  }
  &__image {
    height: 142px;
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
}
