.content--grid-base {
    display: grid;
    gap: $spacingNormal;
}

.content-layout{
    @media screen and (min-width: 640px) {
        min-width: 620px;
    }
    
    @media screen and (min-width: 1024px) {
        min-width: 940px;
        max-width: 1024px;
    }

    min-width: 320px;
    max-width: 100%; 
}

.content--box{
    @media screen and (min-width: 1024px) {
        grid-template-rows: repeat(4, $heightRow);       
    }
    
    grid-auto-rows: $heightRow;    
}

.content--infinite{
    grid-auto-rows: $heightRow;
}

.content--3col{
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);        
    }
}

.content--2col{
    @media screen and (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr); 
    }
}

.content--1col{
    grid-template-columns: 1fr;
}

.q {
    overflow: hidden;
    background-color: gray;
}

/*-------------- Process to create the 1 col classes */

@for $i from 1 through 4 {
    .row-#{$i} {
        //grid-row: span $i;
        height: ($heightRow * $i)+($spacingNormal * ($i - 1));
    }
}

.col-1, .col-2, .col-3 {
    grid-column: span 1;
}

/*-------------- Process to create the 2 col classes */

@media screen and (min-width: 640px) {
    .col-1 {
        grid-column: span 1;
    }
    .col-2, .col-3 {
        grid-column: span 2;
    }
}

/*-------------- Process to create the 3 col classes */

@media screen and (min-width: 1024px) {
    @for $i from 1 through 3 {
        .col-#{$i} {
            grid-column: span $i
        }
    }
}
/****************************************************/