.section-videos,
.section-play {
  background-color: $color-gray-300;
  .section-video {
    padding-top: 20px;
  }
  .section-video,
  .play-list,
  .video-list,
  .bg-container {
    background-color: $color-gray-300;
  }
  .play-list__name {
    text-align: left;
    font-size: 19px;
  }
  .play-list__name,
  .play-list__title a,
  .video-navbar__link,
  .video-list__new,
  .header__link,
  .header__tags {
    color: $color-white;
  }
  .play-list {
    @media (--tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .video-navbar {
    background-color: #111;
    border: 0;
    height: 48px;
  }
  .video-navbar__list {
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0;
  }
  .video-navbar__item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    &:after {
      content: '';
      height: 3px;
      width: 50%;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      transform: translate(50%);
    }
    &:hover {
      &:after {
        background-color: #00a9ff;
      }
    }
  }
  .video-navbar__link {
    &:hover {
      text-decoration: none;
    }
  }
  /*  .section-video__detail {
  } */
}
