.section-videos,
.section-play {
  background-color: $color-gray-300;
  .section-video {
    padding-top: 20px;
  }
  .section-video,
  .play-list,
  .video-list,
  .bg-container {
    background-color: $color-gray-300;
  }
  .play-list__name {
    text-align: left;
    font-size: 19px;
  }
  .play-list__name,
  .play-list__title a,
  .video-list__new,
  .header__link,
  .header__tags {
    color: $color-white;
  }
  .video-navbar__link {
    color: #b1b1b1;
    &:hover {
      text-decoration: none;
      color: $color-white;
    }
  }
  .play-list {
    @media (--tablet) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .play-list__title,
  .video-list__new {
    line-height: 1.4;
  }
  .play-list__image,
  .video-list__image {
    background-color: #aaa;
  }
  .video-navbar {
    background-color: #111;
    border: 0;
    height: 48px;
    &.fixed {
      @media (--desktop) {
        top: 296px;
      }
    }
  }
  .video-navbar__list {
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0;
    @media (--desktop) {
      justify-content: center;
    }
  }
  .video-navbar__item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    &:after {
      content: '';
      height: 3px;
      width: 50%;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      transform: translate(50%);
    }
    &:hover {
      &:after {
        background-color: $color-primary;
      }
    }
  }

  .video-list {
    @media (--desktop) {
      padding: 0 20px;
    }
  }
  .video-list__item {
    @media (--only-mobile) {
      width: 100%;
    }
  }
  .section-video__text {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: #aaa;
      display: block;
      margin-left: 10px;
    }
  }
  .section-video__detail {
    justify-content: flex-end;
  }
  .section-video__list-text {
    display: flex;
  }
  .play-list__wrapper {
    @media (--tablet) {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .play-list__item,
  .video-list__item {
    @media (--tablet) and (max-width: 1023px) {
      width: 48%;
    }
  }
}
