.section-videos,
.section-play {
  background-color: $color-gray-300;
  .section-video {
    padding-top: 20px;
  }
  .section-video,
  .play-list,
  .video-navbar,
  .video-list,
  .bg-container {
    background-color: $color-gray-300;
  }
  .play-list__name,
  .play-list__title a,
  .video-navbar__link,
  .video-list__new,
  .header__link,
  .header__tags {
    color: $color-white;
  }
}
