.story-content {
  &__content {
    display: flex !important;
  }
  &__font--secondary {
    a {
      color: $color-primary;
      font-weight: bold;
    }
  }
  &__caption {
    color: $color-primary;
    font-family: $primary-font;
    font-weight: 700;
    line-height: 1.3;
  }
  &__taboola {
    .thumbnails-a {
      width: 100% !important;
    }
  }
}
